In [2]:
import pymysql

In [9]:
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='6853', db='ecommerce', charset='utf8')

In [10]:
db

In [11]:
ecommerce = db.cursor()

In [12]:
cpudata

In [13]:
sql = '''
    CREATE TABLE product(
        PRODUCT_CODE VARCHAR(20) NOT NULL,
        TITLE VARCHAR(200) NOT NULL,
        ORI_PRICE INT,
        DISCOUNT_PRICE INT,
        DISCOUNT_PERCENT INT,
        DELIVERY VARCHAR(2),
        PRIMARY KEY(PRODUCT_CODE)
    );'''

In [14]:
ecommerce.execute(sql)

0

In [15]:
db.commit()

In [16]:
db.close()

In [19]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, user='root', passwd='6853', db='ecommerce', charset='utf8')
ecommerce = db.cursor()
sql = '''
    INSERT INTO product VALUES(
    '215673140', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');'''

ecommerce.execute(sql)
db.commit()
db.close()

In [3]:
import pymysql
db = pymysql.connect(host='localhost', port=3306, user='root', passwd='6853', db = 'ecommerce', charset='utf8')
ecommerce = db.cursor()
sql = '''
    SELECT * FROM product'''
ecommerce.execute(sql)

result = ecommerce.fetchall()
for record in result:
    print(record[0])
db.close()

215673140

In [4]:
import pymysql
db = pymysql.connect(host='localhost',port=3306, user='root', passwd='6853', db='ecommerce', charset='utf8')
db.cursor()

for x in range(10):
    product_code = 215673140 + x + 1
    sql = '''
    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');'''
    print(sql)

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

    INSERT INTO product VALUES(
    '"str(product_code)"', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔',23000,6900,70,'F');

In [5]:
import pymysql

db = pymysql.connect(host='localhost',port=3306, user='root', passwd='6853', db='ecommerce', charset='utf8')

ecommerce = db.cursor()

for x in range(10):
    product_code = 215673140 + x + 1
    sql = '''
        INSERT INTO product VALUES(
        "'''+str(product_code)+'''",'스위트바니 여름신상','23000','6900','70','F');'''
    ecommerce.execute(sql)

db.commit()
db.close()

In [6]:
import pymysql

db=pymysql.connect(host='localhost',port=3306, user='root', passwd='6853', db='ecommerce',charset='utf8')
ecommerce = db.cursor()
sql = 'SELECT * FROM product'
ecommerce.execute(sql)
result = ecommerce.fetchall()
for x in result:
    print(x)
db.close()

('215673140', '스위트바니 여름신상5900원-롱원피스티셔츠/긴팔.반팔', 23000, 6900, 70, 'F')
('215673141', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673142', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673143', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673144', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673145', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673146', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673147', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673148', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673149', '스위트바니 여름신상', 23000, 6900, 70, 'F')
('215673150', '스위트바니 여름신상', 23000, 6900, 70, 'F')

In [11]:
import pymysql

db = pymysql.connect(host='localhost',port=3306, user='root',passwd='6853',db='ecommerce',charset='utf8')
ecommerce = db.cursor()
sql ="""
    UPDATE product SET
        TITLE='달리샵 린넨 원피스',
        ORI_PRICE=33000,
        DISCOUNT_PRICE=9900,
        DISCOUNT_PERCENT=70
        WHERE PRODUCT_CODE = '215673148'
"""
ecommerce.execute(sql)
db.commit()
db.close()

In [12]:
import pymysql
import pandas as pd

In [13]:
db = pymysql.connect(host='localhost',port=3306, user='root',passwd='6853',db='student_mgmt',charset='utf8')

In [18]:
sql = 'SHOW TABLES'
sql2 = 'SELECT * FROM students'

In [23]:
df = pd.read_sql(sql2,db)
df

   id  NAME gender       birth  english  math  korean
0   1  andy  woman  1981-07-16       91    20      11
1   2  andy  woman  1981-07-16       91    20      11

In [25]:
df.to_csv('students.csv', sep=',', encoding='utf-8', index=False)

In [2]:
import pymysql
import pandas as pd

In [3]:
db = pymysql.connect(host='localhost',port=3306, user='root',passwd='6853',db='sqlDB',charset='utf8')

In [4]:
sql = 'SELECT * FROM userTBI'
df = pd.read_sql(sql,db)
df

  userID name  birthYear addr mobile1   mobile2  height       mDate
0    BBK  바비킴       1973   서울     010  00000000     176  2013-05-05
1    EJW  은지원       1972   경북     011  88888888     174  2014-03-03
2    JKW  조관우       1965   경기     016  99999999     172  2010-10-10
3    JYP  조용필       1950   경기     011  44444444     166  2009-04-04
4    KBS  김범수       1979   경남     011  22222222     173  2012-04-04
5    KKH  김경호       1971   전남     019  33333333     177  2007-07-07
6    LJB  임재범       1963   서울     016  66666666     182  2009-09-09
7    LSG  이승기       1987   서울     011  11111111     182  2008-08-08
8    SSK  성시경       1979   서울    None      None     186  2013-12-12
9    YJS  윤종신       1960   경남    None      None     170  2005-05-05

In [ ]:
CREATE TABLE ranking (
    num INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
    main_category VARCHAR(50) NOT NULL,
    sub_category VARCHAR(50) NOT NULL,
    item ranking TINYINT UNSIGNED NOT NULL,
    item_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (item_code) REFERENCES items(item_code));

CREATE TABLE items (
    item_code VARCHAR(20) NOT NULL PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    ori_price INT NOT NULL,
    dis_price INT NOT NULL,
    discount_percent INT NOT NULL,
    provider VARCHAR(100)
);

In [4]:
import pymysql
db = pymysql.connect(host='localhost',port=3306, user='root', passwd='6853', db='bestproducts',charset='utf8')
cursor=db.cursor()
sql='''
    CREATE TABLE items (
    item_code VARCHAR(20) NOT NULL PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    ori_price INT NOT NULL,
    dis_price INT NOT NULL,
    discount_percent INT NOT NULL,
    provider VARCHAR(100)
);
'''
cursor.execute(sql)
sql = '''
CREATE TABLE ranking (
    num INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
    main_category VARCHAR(50) NOT NULL,
    sub_category VARCHAR(50) NOT NULL,
    item_ranking TINYINT UNSIGNED NOT NULL,
    item_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (item_code) REFERENCES items(item_code));
'''
cursor.execute(sql)
db.commit()
db.close()

In [2]:
import pymysql
db = pymysql.connect(host ='localhost', port=3306, user='root', passwd='6853', db='bestproducts', charset='utf8')
cursor = db.cursor()
sql='''

'''
db.commit()
db.close()

###크롤링

main category 정보 가져오기

In [66]:
import requests
from bs4 import BeautifulSoup as bs
import pymysql
db = pymysql.connect(host ='localhost', port=3306, user='root', passwd='6853', db='bestproducts', charset='utf8')
cursor = db.cursor()

res = requests.get('http://corners.gmarket.co.kr/Bestsellers')
soup = bs(res.content, 'html.parser')

categories = soup.select('div.gbest-cate ul.by-group li a')
for category in categories:
    get_category('http://corners.gmarket.co.kr/'+category['href'], category.get_text())

http://corners.gmarket.co.kr//Bestsellers ALL
INSERT INTO items VALUES('1993051414&ver',
        '[Gfresh]우거지가 통째로 진짜 등뼈감자탕 4.7kg 10인분 대단량',
        29900,
        20900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '1',
    '1993051414&ver')
INSERT INTO items VALUES('1817237042&ver',
        '패션페스타22%+카드10% 원피스/투피스 9290원 균일가',
        39600,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '2',
    '1817237042&ver')
INSERT INTO items VALUES('1583079155&ver',
        '성주 꿀 참외 5kg이내 (크기랜덤) 가정용',
        39800,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '3',
    '1583079155&ver')
INSERT INTO items VALUES('1373777190&ver',
        '패션페스타22% 쉬블림로브 신상 블라우스 셔츠 원피스',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '4',
    '1373777190&ver')
INSERT INTO items VALUES('2036145620&ver',
        '[마르조]패션페스타22% 마르조 단하루의 페스티벌 구매찬스',
        56300,
        16900,
        0,
        '마르조')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '5',
    '2036145620&ver')
INSERT INTO items VALUES('2026383365&ver',
        '아람  감성과 지식을 더해주는 베토벤 음악동화 전10권 (세이펜 활용가능)',
        80000,
        69630,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '6',
    '2026383365&ver')
INSERT INTO items VALUES('197555399&ver',
        '투투/패션페스타22%/봄신상 청바지/슬랙스/배기 5XL',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '7',
    '197555399&ver')
INSERT INTO items VALUES('1326948653&ver',
        '패션페스타22% 피핀 봄신상/1+1/티셔츠/원피스/팬츠',
        49600,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '8',
    '1326948653&ver')
INSERT INTO items VALUES('1624900645&ver',
        '[이너리즘]심리스 스포츠 브라탑 4종기획세트/노라인팬티 5종',
        41300,
        12400,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '9',
    '1624900645&ver')
INSERT INTO items VALUES('1764397632&ver',
        '패션페스타22%/홈쇼핑브랜드 S/S 신상특가전/무료배송',
        49600,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '10',
    '1764397632&ver')
INSERT INTO items VALUES('1505849976&ver',
        '[유한양행]해피홈 알콜스왑 소독솜 100매 4박스 +클리어키트 증정',
        23800,
        11900,
        0,
        '유한양행')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '11',
    '1505849976&ver')
INSERT INTO items VALUES('1871741696&ver',
        '[매일두유]매일두유 검은콩 190ml 48팩 (쿠폰가15900원)',
        30900,
        18900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '12',
    '1871741696&ver')
INSERT INTO items VALUES('1840147374&ver',
        '[한국투자증권](한국투자증권) 온라인 금융상품권 5만원',
        50000,
        50000,
        0,
        '한국투자증권')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '13',
    '1840147374&ver')
INSERT INTO items VALUES('2052860857&ver',
        '[크록스][모다아울렛]정품 바야밴드 아동샌들 클로그 205100-410',
        31900,
        29670,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '14',
    '2052860857&ver')
INSERT INTO items VALUES('2035048314&ver',
        '[Gfresh]산과들에 하루 한줌 견과류 원데이프리미엄 100낱봉',
        83800,
        41900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '15',
    '2035048314&ver')
INSERT INTO items VALUES('502114157&ver',
        '패션페스타22% 코코리 쿠폰 봄신상박스롱후드맨투맨',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '16',
    '502114157&ver')
INSERT INTO items VALUES('1894439744&ver',
        '[델포유] 오븐에 구운 십센치 파운드 케이크 20개입',
        12900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '17',
    '1894439744&ver')
INSERT INTO items VALUES('2057518393&ver',
        'DIY멀티정리함',
        23900,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '18',
    '2057518393&ver')
INSERT INTO items VALUES('1615409666&ver',
        '패션페스타22% 봄신상/원피스/블라우스/스커트/티셔츠',
        39600,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '19',
    '1615409666&ver')
INSERT INTO items VALUES('705589608&ver',
        '[토니모리]3월 빅세일 20%+22%쿠폰+전품목 할인축제',
        40000,
        15000,
        0,
        '토니모리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '20',
    '705589608&ver')
INSERT INTO items VALUES('1256823118&ver',
        '[블루레이스](패션페스타22%)블루레이스 2021 봄신상OPEN',
        64000,
        19200,
        0,
        '블루레이스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '21',
    '1256823118&ver')
INSERT INTO items VALUES('1311171220&ver',
        '패션페스타22% 봄 파자마/잠옷/잠옷바지/주니어잠옷',
        19600,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '22',
    '1311171220&ver')
INSERT INTO items VALUES('2065087620&ver',
        '우리아이 리더스의 첫걸음은 매버릭 어얼리 리더스로/Maverick Early Readers (3주내배송)',
        150000,
        95800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '23',
    '2065087620&ver')
INSERT INTO items VALUES('2037084398&ver',
        '엘다 에비히 IH 후라이팬 1+1 2종-모든열원가능',
        45000,
        16900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '24',
    '2037084398&ver')
INSERT INTO items VALUES('1787960274&ver',
        '브리치x한미미 패션페스타22% T셔츠/맨투맨/니트',
        48300,
        14500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '25',
    '1787960274&ver')
INSERT INTO items VALUES('798413703&ver',
        '[투투삭스]봄신상 페이크삭스/덧신/패션양말/스니커즈/학생',
        23000,
        6900,
        0,
        '투투삭스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '26',
    '798413703&ver')
INSERT INTO items VALUES('1636870532&ver',
        '[Gfresh]국내산 조림 볶음용 지리 멸치 1kg/ 9160원 20% 쿠폰가',
        19900,
        11900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '27',
    '1636870532&ver')
INSERT INTO items VALUES('1871744619&ver',
        '[매일두유]매일두유 99.89 190ml 24팩+검은콩 두유 190ml 24팩',
        30900,
        18900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '28',
    '1871744619&ver')
INSERT INTO items VALUES('1817538454&ver',
        '[다우니]다우니 엑스퍼트 실내 건조 1L 6개 +사은품',
        49800,
        29860,
        0,
        '다우니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '29',
    '1817538454&ver')

INSERT INTO items VALUES('1867088468&ver',
        '[컬럼비아][컬럼비아] 남녀 시프트 트레킹화 BM0081 BL0081',
        79000,
        53720,
        0,
        '컬럼비아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '30',
    '1867088468&ver')
INSERT INTO items VALUES('1267464808&ver',
        '[게스]22% 추가할인 GUESS 반팔티셔츠 대전',
        66000,
        20000,
        0,
        '게스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '31',
    '1267464808&ver')
INSERT INTO items VALUES('1728114361&ver',
        '[동원에프앤비]동원 인포켓 치즈 오리지널 (스트링치즈) 20g x 40개',
        30400,
        21300,
        0,
        '동원에프앤비')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '32',
    '1728114361&ver')
INSERT INTO items VALUES('2051988030&ver',
        '[잭필드]잭필드  21SS 신상 봄 숨쉬는 바지 3종',
        59800,
        52530,
        0,
        '잭필드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '33',
    '2051988030&ver')
INSERT INTO items VALUES('1510637585&ver',
        '[스파클]스파클생수 2L 30병',
        27800,
        14600,
        0,
        '스파클')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '34',
    '1510637585&ver')
INSERT INTO items VALUES('2019096400&ver',
        'ARS 5 000D원 할인  [바다소풍]완도 특大활전복 20미(미당80g~90g)',
        59900,
        59900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '35',
    '2019096400&ver')
INSERT INTO items VALUES('1674710974&ver',
        '60수 아사 차렵이불+베개커버세트 (슈퍼싱글/퀸)',
        37900,
        14400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '36',
    '1674710974&ver')
INSERT INTO items VALUES('1880627773&ver',
        '[김나운더키친]김나운  떡갈비 명작 18팩/총36장',
        32900,
        32900,
        0,
        '김나운더키친')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '37',
    '1880627773&ver')
INSERT INTO items VALUES('1779696398&ver',
        '[테크]테크 파워 액체세제(겸용) 대용량 8L',
        16900,
        10800,
        0,
        '테크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '38',
    '1779696398&ver')
INSERT INTO items VALUES('1577525154&ver',
        '브리치x허니제이 패션페스타22% 니트/가디건/맨투맨',
        47600,
        14300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '39',
    '1577525154&ver')
INSERT INTO items VALUES('1655242371&ver',
        '[구글플레이](카드가능) 기프트코드 10만원 / 구글 기프트카드',
        100000,
        95000,
        0,
        '구글플레이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '40',
    '1655242371&ver')
INSERT INTO items VALUES('1634649304&ver',
        '[파스퇴르]파스퇴르 전용목장 200mL 흰 멸균우유 18입 X2 (36입)',
        22900,
        21900,
        0,
        '파스퇴르')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '41',
    '1634649304&ver')
INSERT INTO items VALUES('2050347928&ver',
        '[Gfresh]바삭바삭 광천 모둠 김자반 50g X 10봉/20%추가쿠폰',
        18200,
        10900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '42',
    '2050347928&ver')
INSERT INTO items VALUES('1667635785&ver',
        '[드릴펑]배수구 세정제 드릴펑 1Lx4개+퍼펙트300mlx2개',
        27250,
        10900,
        0,
        '피죤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '43',
    '1667635785&ver')
INSERT INTO items VALUES('801815493&ver',
        '패션페스타22% 1+1 냉감티 트레이닝바지 등산바지',
        36300,
        10900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '44',
    '801815493&ver')
INSERT INTO items VALUES('1896210962&ver',
        '[헤드앤숄더]헤드앤숄더 가려운 두피케어 샴푸 850ml 4개 +미니2개',
        58000,
        22900,
        0,
        '헤드앤숄더')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '45',
    '1896210962&ver')
INSERT INTO items VALUES('226919468&ver',
        '월튼키즈 봄신상/신학기룩/상하복/티셔츠/원피스外',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '46',
    '226919468&ver')
INSERT INTO items VALUES('1473200826&ver',
        '[스팸]스팸 클래식 340g 10개',
        31900,
        26900,
        0,
        '스팸')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '47',
    '1473200826&ver')
INSERT INTO items VALUES('159718835&ver',
        '[아침농산]국산 찰흑미 500g x 4개 2020년산 햅쌀',
        15800,
        7900,
        0,
        '아침농산')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '48',
    '159718835&ver')
INSERT INTO items VALUES('189842449&ver',
        '요즘에/패션페스타22%+10%/청바지/슬랙스/면팬츠/3XL',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '49',
    '189842449&ver')
INSERT INTO items VALUES('2060866631&ver',
        '스테비아 방울토마토(샤인마토) 400g x 4팩  총 1.6kg',
        30900,
        28500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '50',
    '2060866631&ver')
INSERT INTO items VALUES('2041520546&ver',
        '[Gfresh]미스타셰프 버섯뚝배기불고기 400g 5팩/2kg/간편식',
        21900,
        16900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '51',
    '2041520546&ver')
INSERT INTO items VALUES('1837316797&ver',
        '[매일유업]데르뜨 떠먹는젤리 복숭아 90g 24개/젤리',
        19900,
        12900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '52',
    '1837316797&ver')
INSERT INTO items VALUES('2051091844&ver',
        '[Gfresh]사세 버팔로윙 플러스1KG+버팔로스틱 플러스1KG (20%)',
        39900,
        28500,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '53',
    '2051091844&ver')
INSERT INTO items VALUES('2064000271&ver',
        '차일드아카데미  교과서 속 시리즈 30권세트 (지리/정치/경제)',
        91000,
        82700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '54',
    '2064000271&ver')
INSERT INTO items VALUES('1766184747&ver',
        '[릴리유]릴리유 퓨어퍼플 물티슈 캡72매X10팩(1BOX)',
        40900,
        15900,
        0,
        '릴리유')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '55',
    '1766184747&ver')
INSERT INTO items VALUES('1827768985&ver',
        '[래핑차일드]래핑차일드 맨투맨/팬츠/점퍼 특가',
        46300,
        13900,
        0,
        '래핑차일드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '56',
    '1827768985&ver')
INSERT INTO items VALUES('1350339365&ver',
        '[지오다노]지오다노 스프링세일 반팔 오픈/테리/팬츠 ~73%OFF',
        40000,
        12000,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '57',
    '1350339365&ver')
INSERT INTO items VALUES('2060517179&ver',
        '[노부영](제이와이북스) 노부영 에릭칼 베리베어 8종',
        110000,
        69500,
        0,
        '노부영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '58',
    '2060517179&ver')

INSERT INTO items VALUES('2031972982&ver',
        '듀오백 슬림 접이식 좌식의자 리프 DK 921',
        54900,
        47060,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '59',
    '2031972982&ver')
INSERT INTO items VALUES('1543877372&ver',
        '우리네농산물 당진 해나루쌀 쌀10kg 삼광미 2020햅쌀특',
        73800,
        36900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '60',
    '1543877372&ver')
INSERT INTO items VALUES('1912263121&ver',
        '식약처인증 KF94 마스크 100매/105매 (1매260원/250원) (1020_DEAL)',
        26000,
        26000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '61',
    '1912263121&ver')
INSERT INTO items VALUES('1788265790&ver',
        '[유한킴벌리]릴리유 퓨어미니 물티슈 20매 X 16팩(1BOX)',
        20000,
        10000,
        0,
        '유한킴벌리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '62',
    '1788265790&ver')
INSERT INTO items VALUES('1677882918&ver',
        '패션페스타22% 홈쇼핑 티셔츠 8종세트/빅사이즈/자켓',
        99600,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '63',
    '1677882918&ver')
INSERT INTO items VALUES('1911383377&ver',
        '[닥터지](1+1) 약산성 레드블레미쉬 클리어 수딩폼 150ml +증정',
        36000,
        25200,
        0,
        '닥터지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '64',
    '1911383377&ver')
INSERT INTO items VALUES('2007098317&ver',
        '[세타필]세타필 카카오프렌즈1000개한정판(로션+로션+굿즈3종)',
        39000,
        22900,
        0,
        '세타필')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '65',
    '2007098317&ver')
INSERT INTO items VALUES('1846418319&ver',
        '[녹십초]프로 프리바이오틱스유산균 2g 30포x6+1박스/단독특가',
        26800,
        18800,
        0,
        '녹십초')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '66',
    '1846418319&ver')
INSERT INTO items VALUES('2063127844&ver',
        '[대저농협] 대저 짭짤이 토마토 프리미엄과 (S  2S사이즈) 2박스 1.5kg(총3kg)',
        49900,
        49900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '67',
    '2063127844&ver')
INSERT INTO items VALUES('1793107522&ver',
        '[카레여왕]카레여왕분말 108g x 6개 골라담기',
        17400,
        13900,
        0,
        '청정원')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '68',
    '1793107522&ver')
INSERT INTO items VALUES('1508347298&ver',
        '제주안심밥상 돼지특수부위 뒷고기(구이용) 4팩 1kg',
        7800,
        3900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '69',
    '1508347298&ver')
INSERT INTO items VALUES('2042774529&ver',
        '[Gfresh]씹푸스 쥐치포 (특대) 300g 7-9장 /20% 쿠폰가 7620원',
        16500,
        9900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '70',
    '2042774529&ver')
INSERT INTO items VALUES('1614191721&ver',
        '[진라면]진라면 매운맛 40봉',
        30000,
        18800,
        0,
        '오뚜기')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '71',
    '1614191721&ver')
INSERT INTO items VALUES('1830048238&ver',
        '[이너리즘]이너리즘 에어 3장세트 시원하고 편한 쿨 모달나시 외',
        28300,
        8500,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '72',
    '1830048238&ver')
INSERT INTO items VALUES('2053612243&ver',
        '[Gfresh]어가찬 바다일품 백진미채  1kg/국내가공/20%추가할인',
        29900,
        17900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '73',
    '2053612243&ver')
INSERT INTO items VALUES('1655241628&ver',
        '[구글플레이](카드가능) 기프트코드 3만원 / 구글 기프트카드',
        30000,
        28500,
        0,
        '구글플레이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '74',
    '1655241628&ver')
INSERT INTO items VALUES('1590106776&ver',
        '[아몬드브리즈]아몬드브리즈 오리지널 190ML 48팩',
        27900,
        20900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '75',
    '1590106776&ver')
INSERT INTO items VALUES('990518421&ver',
        '[CW청우]왕찹쌀 모나카 27개입 810g/과자/간식/팥/찰떡',
        23100,
        11000,
        0,
        'CW청우')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '76',
    '990518421&ver')
INSERT INTO items VALUES('2007110767&ver',
        '소막 황사보건용 KF94 마스크 국내생산 100매 (10x10)',
        15800,
        14700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '77',
    '2007110767&ver')
INSERT INTO items VALUES('1835916262&ver',
        '브리치x바이미쓰리 패션페스타22% 니트/맨투맨/팬츠',
        46300,
        13900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '78',
    '1835916262&ver')
INSERT INTO items VALUES('1556146674&ver',
        '[홈스타]홈스타 뿌리는 곰팡이싹 500ml x4+1L증정',
        18300,
        10900,
        0,
        '홈스타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '79',
    '1556146674&ver')
INSERT INTO items VALUES('1895033274&ver',
        '[키즈마루]국산 3중 비말차단 마스크  300매 KF-AD MB필터 마스크',
        18400,
        15910,
        0,
        '키즈마루')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '80',
    '1895033274&ver')
INSERT INTO items VALUES('2045196008&ver',
        '[올리빙]플라스틱 수납정리함 리빙박스 도트72L 2+2 스티커포함',
        69900,
        22900,
        0,
        '올리빙')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '81',
    '2045196008&ver')
INSERT INTO items VALUES('857603217&ver',
        '[동서]포스트 오레오오즈500g x2개입 +사은품/포스트/씨리얼',
        29600,
        14800,
        0,
        '동서')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '82',
    '857603217&ver')
INSERT INTO items VALUES('2059919685&ver',
        '[Gfresh]스페셜티 에티오피아 예가체프 460mlx20펫 쿠폰가14680',
        39000,
        19500,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '83',
    '2059919685&ver')
INSERT INTO items VALUES('1607527508&ver',
        '[동원참치]라이트 스탠다드 참치 100g 15캔 원터치',
        17900,
        17900,
        0,
        '동원에프앤비')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '84',
    '1607527508&ver')
INSERT INTO items VALUES('1309233372&ver',
        '패션페스타22% 프라이데이/봄신상/빅사이즈/루즈핏',
        39600,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '85',
    '1309233372&ver')
INSERT INTO items VALUES('2065020625&ver',
        '어린이용 골전도 이어폰',
        99000,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '86',
    '2065020625&ver')
INSERT INTO items VALUES('1107162855&ver',
        '[프롬산타]패션페스타22% 남여 봄 양말/덧신 스니커즈로퍼발목',
        23000,
        6900,
        0,
        '프롬산타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '87',
    '1107162855&ver')

INSERT INTO items VALUES('2059295707&ver',
        '(행사상품)고시히카리초밥세트30입',
        11990,
        11930,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '88',
    '2059295707&ver')
INSERT INTO items VALUES('774079012&ver',
        '패션페스타22% 걸스데일리 빅사이즈 원피스/티셔츠',
        53000,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '89',
    '774079012&ver')
INSERT INTO items VALUES('1953359487&ver',
        '[온더바디]발을씻자 코튼 풋 샴푸 385ml 레몬+자몽+쿨링+사은품',
        23900,
        13500,
        0,
        '온더바디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '90',
    '1953359487&ver')
INSERT INTO items VALUES('1561173843&ver',
        '[매일유업]매일두유 99.89 190ml 48팩/두유',
        30900,
        18900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '91',
    '1561173843&ver')
INSERT INTO items VALUES('1975599165&ver',
        '[롯데제과]퀘이커 마시는오트밀그레인서리태 낱봉 20개입  1박스',
        15900,
        15900,
        0,
        '롯데제과')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '92',
    '1975599165&ver')
INSERT INTO items VALUES('607466490&ver',
        '[난닝구]난닝구 패션페스타22% 봄 원피스/맨투맨/셔츠/자켓',
        59600,
        17900,
        0,
        '난닝구')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '93',
    '607466490&ver')
INSERT INTO items VALUES('1749181524&ver',
        '[매일유업]매일 소화가잘되는우유 멸균 190ML 24팩',
        20500,
        15500,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '94',
    '1749181524&ver')
INSERT INTO items VALUES('2036227474&ver',
        '[Gfresh]착한떡 제주해풍쑥개떡 1kg + 1kg  총 2kg',
        25800,
        12900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '95',
    '2036227474&ver')
INSERT INTO items VALUES('1609433507&ver',
        '[육개장]육개장사발면6입+김치사발면6입+짜파게티범벅6입',
        19900,
        12900,
        0,
        '농심')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '96',
    '1609433507&ver')
INSERT INTO items VALUES('1589098023&ver',
        '[고려은단]고려은단 비타민C 1000 600정(20개월분)',
        79800,
        39900,
        0,
        '고려은단')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '97',
    '1589098023&ver')
INSERT INTO items VALUES('2043885240&ver',
        '[Gfresh]바다내음 태안 활 쭈꾸미 1kg / 20% 쿠폰가 19120',
        34200,
        23900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '98',
    '2043885240&ver')
INSERT INTO items VALUES('858294811&ver',
        '황금미가 쌀 20kg 20년산 (당일도정)',
        109800,
        54900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '99',
    '858294811&ver')
INSERT INTO items VALUES('214340838&ver',
        '[겔업]겔업 고농축 액체세제 2.5L x 4개 세탁세제 총10000ml',
        25000,
        7900,
        0,
        '겔업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '100',
    '214340838&ver')
INSERT INTO items VALUES('1787957433&ver',
        '[사조참치]참치3종세트(살코기100gx2+고추85gx5+마일드85gx5)',
        19700,
        11700,
        0,
        '사조참치')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '101',
    '1787957433&ver')
INSERT INTO items VALUES('1277558140&ver',
        '[프롬산타]패션페스타22% 봄 면양말/실리콘덧신 남자여자발목',
        23000,
        6900,
        0,
        '프롬산타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '102',
    '1277558140&ver')
INSERT INTO items VALUES('1578966236&ver',
        '[칠성사이다]칠성 사이다 210ml x 30캔',
        15900,
        11900,
        0,
        '롯데칠성')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '103',
    '1578966236&ver')
INSERT INTO items VALUES('805459425&ver',
        '[슈프림]남녀공용 후드티 남성여성 빅사이즈티셔츠 긴팔맨투맨',
        33000,
        9900,
        0,
        '슈프림')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '104',
    '805459425&ver')
INSERT INTO items VALUES('1826127999&ver',
        '패션페스타22%플라이핏 봄신상 롱가디건 /니트',
        26900,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '105',
    '1826127999&ver')
INSERT INTO items VALUES('1686035302&ver',
        '[제주삼다수]제주삼다수 2L 12병/생수전문배송',
        13400,
        11900,
        0,
        '제주삼다수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '106',
    '1686035302&ver')
INSERT INTO items VALUES('1564471554&ver',
        '[가야농장]가야농장  1.5L 인기 5종기획(알토감사복)',
        10750,
        8900,
        0,
        '웅진')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '107',
    '1564471554&ver')
INSERT INTO items VALUES('2037109133&ver',
        '[Gfresh]사세 버팔로윙 1kg+버팔로봉 1kg',
        39900,
        27900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '108',
    '2037109133&ver')
INSERT INTO items VALUES('2059490637&ver',
        '비룡소 사회는 쉽다 1-11권 세트 (전11권)',
        122200,
        110000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '109',
    '2059490637&ver')
INSERT INTO items VALUES('1755194607&ver',
        '[웅진주니어]웅진주니어 에바 알머슨 이야기 (전3권)',
        45000,
        40500,
        0,
        '웅진주니어')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '110',
    '1755194607&ver')
INSERT INTO items VALUES('667938939&ver',
        '이니스프리 봄맞이 이니데이 주요라인 UP TO 20%',
        35000,
        28000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '111',
    '667938939&ver')
INSERT INTO items VALUES('333425585&ver',
        '패션페스타22% 캔마트 신상베스트/티셔츠/팬츠/원피스',
        79600,
        23900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '112',
    '333425585&ver')
INSERT INTO items VALUES('767423273&ver',
        '[싸이닉](22%중복) 싸이닉 착한 비건 스킨케어 외 BEST ~72%',
        60000,
        19800,
        0,
        '싸이닉')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '113',
    '767423273&ver')
INSERT INTO items VALUES('994075556&ver',
        '(국산) 마녀 열무김치2kg',
        16500,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '114',
    '994075556&ver')
INSERT INTO items VALUES('1754998124&ver',
        '[크리넥스]크리넥스 3겹 데코소프트 33MX24롤 X2팩화장지/휴지',
        75000,
        29900,
        0,
        '크리넥스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '115',
    '1754998124&ver')
INSERT INTO items VALUES('1824005992&ver',
        '[유닉스]메탈티 무광블랙 1600W 헤어 드라이기 UN-A1610 접이식',
        23900,
        23900,
        0,
        '유닉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '116',
    '1824005992&ver')

INSERT INTO items VALUES('1284344651&ver',
        '패션페스타22% 데이뮤즈 원피스/자켓/가디건/바지/롱',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '117',
    '1284344651&ver')
INSERT INTO items VALUES('981861372&ver',
        '[매일우유]매일 멸균우유 200ml 48팩/우유',
        31900,
        23900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '118',
    '981861372&ver')
INSERT INTO items VALUES('1883532433&ver',
        '[대우]대우 와플메이커 3 in 1(메탈블랙) 분리형',
        31900,
        27900,
        0,
        '대우')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '119',
    '1883532433&ver')
INSERT INTO items VALUES('1807235725&ver',
        '[에뛰드]미세먼지 주의 클렌징 기초 특가 최대 60% 할인',
        50000,
        25000,
        0,
        '에뛰드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '120',
    '1807235725&ver')
INSERT INTO items VALUES('1761073392&ver',
        '[동원에프앤비]동원 샘물 2Lx6병x6팩(총36병)',
        24700,
        17300,
        0,
        '동원에프앤비')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '121',
    '1761073392&ver')
INSERT INTO items VALUES('701343009&ver',
        '(전단상품)[20년산]The Plus 좋은쌀_20KG 포 ',
        55900,
        55620,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '122',
    '701343009&ver')
INSERT INTO items VALUES('1288403984&ver',
        '[노스페이스화이트라벨]봄 바람막이/반팔티/맨투맨/자켓/볼캡/신발 인기상품',
        149000,
        45000,
        0,
        '노스페이스화이트라벨')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '123',
    '1288403984&ver')
INSERT INTO items VALUES('1774601970&ver',
        '[매일우유]매일 멸균우유 저지방 1프로 200ML 48팩 무배',
        28400,
        21400,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '124',
    '1774601970&ver')
INSERT INTO items VALUES('1651278574&ver',
        '[햇반]햇반 매일잡곡밥 210g 24개 유통기한 2021-07-07',
        27900,
        22900,
        0,
        '햇반')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '125',
    '1651278574&ver')
INSERT INTO items VALUES('1835879609&ver',
        '엠에스 치간칫솔 I형 SSSS(0.4mm) 50P x 2팩 (총100P)',
        35700,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '126',
    '1835879609&ver')
INSERT INTO items VALUES('1926039799&ver',
        '리빙앳홈 에어프라이어종이호일60매 거름망세트16cm',
        22000,
        8500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '127',
    '1926039799&ver')
INSERT INTO items VALUES('2057449056&ver',
        '[지오다노]지오다노 주니어 쇼케이스 단독_티셔츠/데님/팬츠',
        49000,
        15960,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '128',
    '2057449056&ver')
INSERT INTO items VALUES('1577510972&ver',
        '[락토핏]락토핏 생유산균 골드 50포 3통(150일분)+골드 30포',
        37900,
        37900,
        0,
        '락토핏')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '129',
    '1577510972&ver')
INSERT INTO items VALUES('2064961301&ver',
        'LINKABLE 휴대용 DVD플레이어 10.1인치(25일부터 배송)',
        209000,
        128000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '130',
    '2064961301&ver')
INSERT INTO items VALUES('343955943&ver',
        '[쁘리엘르]1+1 발매트 주방매트 욕실 현관 거실 순면 자카드',
        29600,
        8900,
        0,
        '쁘리엘르')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '131',
    '343955943&ver')
INSERT INTO items VALUES('169295221&ver',
        '신상/남자청바지/남성/빅사이즈/스판/슬랙스/바지',
        52600,
        15800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '132',
    '169295221&ver')
INSERT INTO items VALUES('761396673&ver',
        '(행사상품)딸기_1KG 박스 ',
        6990,
        6990,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '133',
    '761396673&ver')
INSERT INTO items VALUES('2037963795&ver',
        '[톨스토이]경제전집 통큰 경제동화 전68권 세트 : 경제개념동화',
        250000,
        212840,
        0,
        '톨스토이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '134',
    '2037963795&ver')
INSERT INTO items VALUES('1741993279&ver',
        '[에그머니](카드가능)(에그머니) 온라인 게임상품권 3만원',
        30000,
        27000,
        0,
        '에그머니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '135',
    '1741993279&ver')
INSERT INTO items VALUES('1938546760&ver',
        '[하기스매직팬티]하기스 매직팬티뉴컴포트 5단계 공용 70P 1BOX',
        80900,
        32900,
        0,
        '하기스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '136',
    '1938546760&ver')
INSERT INTO items VALUES('2031185319&ver',
        '[롯데칠성]칠성사이다 제로 500ml x 20펫',
        29900,
        24900,
        0,
        '롯데칠성')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '137',
    '2031185319&ver')
INSERT INTO items VALUES('2037966646&ver',
        '[대상]마무리볶음밥3종(닭갈비/고깃집/훈제오리) 12개(각4개)',
        27000,
        23900,
        0,
        '대상')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '138',
    '2037966646&ver')
INSERT INTO items VALUES('1695814034&ver',
        '[레시피박스]레시피박스 어린이 약산성 폼클렌징 1+3 총4개',
        27900,
        27900,
        0,
        '레시피박스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '139',
    '1695814034&ver')
INSERT INTO items VALUES('399488337&ver',
        '[젤리스푼]아동복/여아의류/레깅스/자켓/점퍼/여아옷/상하복',
        46300,
        13900,
        0,
        '젤리스푼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '140',
    '399488337&ver')
INSERT INTO items VALUES('1961164039&ver',
        '[롯데제과]퀘이커 마시는 오트밀 4종 혼합 20개입 +사은품',
        29900,
        29900,
        0,
        '롯데제과')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '141',
    '1961164039&ver')
INSERT INTO items VALUES('2034804563&ver',
        '[컬럼비아](대구신세계)컬럼비아 시애틀 락 남녀 커플 봄자켓[YM3012 YL3012 YL3011]',
        79000,
        63200,
        0,
        '컬럼비아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '142',
    '2034804563&ver')
INSERT INTO items VALUES('215673140&ver',
        '스위트바니/패션페스타22%롱원피스티셔츠/맨투맨/반팔',
        43000,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '143',
    '215673140&ver')
INSERT INTO items VALUES('1883764136&ver',
        '[폴햄]폴햄 반팔 티셔츠외 모음전',
        19600,
        5900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '144',
    '1883764136&ver')
INSERT INTO items VALUES('1655242060&ver',
        '[구글플레이](카드가능) 기프트코드 5만원 / 구글 기프트카드',
        50000,
        47500,
        0,
        '구글플레이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '145',
    '1655242060&ver')

INSERT INTO items VALUES('1834224973&ver',
        '[팸퍼스]팸퍼스 베이비드라이 5단계 팬티형기저귀36p 4팩',
        60900,
        57500,
        0,
        '팸퍼스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '146',
    '1834224973&ver')
INSERT INTO items VALUES('1817550305&ver',
        '[다우니퍼퓸]다우니 퍼퓸 블랙 미스티크 향 1L 6개 +사은품',
        49800,
        29860,
        0,
        '다우니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '147',
    '1817550305&ver')
INSERT INTO items VALUES('2065851517&ver',
        '[폴햄]폴햄  21SS 최신상 이지웨어 팬츠 2종 28~36 블랙/멜',
        35900,
        35900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '148',
    '2065851517&ver')
INSERT INTO items VALUES('1791759756&ver',
        '[스카트]스카트 THE 버블 수세미 그레이 50매X3롤',
        30900,
        11900,
        0,
        '스카트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '149',
    '1791759756&ver')
INSERT INTO items VALUES('1498699891&ver',
        '[이지바이](패션페스타22%)봄신상 티셔츠/트레이닝바지/바람막이',
        26300,
        7900,
        0,
        '이지바이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '150',
    '1498699891&ver')
INSERT INTO items VALUES('1682714054&ver',
        '[아몬드브리즈]아몬드브리즈 뉴트리 플러스 프로틴 190ML 24팩',
        21900,
        14900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '151',
    '1682714054&ver')
INSERT INTO items VALUES('1551794470&ver',
        '데이데이 패션페스타22% 블라우스/맨투맨/팬츠/원피스',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '152',
    '1551794470&ver')
INSERT INTO items VALUES('1653475521&ver',
        '[홈스타]홈스타 락스와세제 후로랄파인 750ML x4+락스1L증정',
        16910,
        10900,
        0,
        '홈스타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '153',
    '1653475521&ver')
INSERT INTO items VALUES('1919112136&ver',
        'EXR SS 트랙수트 외 자켓/티셔츠/팬츠',
        60000,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '154',
    '1919112136&ver')
INSERT INTO items VALUES('776582823&ver',
        '패션페스타22% 엄마옷로즈맘  5060중년여성의류',
        43000,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '155',
    '776582823&ver')
INSERT INTO items VALUES('1649311897&ver',
        '[비비고]비비고 사골곰탕 500g 18개',
        20900,
        16900,
        0,
        '비비고')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '156',
    '1649311897&ver')
INSERT INTO items VALUES('1999684957&ver',
        '구운아몬드 1kg',
        17800,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '157',
    '1999684957&ver')
INSERT INTO items VALUES('1345149344&ver',
        '브리치x럭키567 패션페스타22% 맨투맨/원피스/니트',
        46300,
        13900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '158',
    '1345149344&ver')
INSERT INTO items VALUES('2060813730&ver',
        '뉴발란스 327 남성 스니커즈 컬러 택1 (MS327)',
        139000,
        92050,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '159',
    '2060813730&ver')
INSERT INTO items VALUES('1791565626&ver',
        '[에그머니](카드가능)(에그머니) 온라인 게임상품권 5만원',
        50000,
        45000,
        0,
        '에그머니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '160',
    '1791565626&ver')
INSERT INTO items VALUES('1514799411&ver',
        '[케라시스]케라시스 퍼퓸 샴푸 600mlx5(러1엘1퓨1블1글1)쿠폰할인',
        35800,
        17900,
        0,
        '애경')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '161',
    '1514799411&ver')
INSERT INTO items VALUES('2032891975&ver',
        '첫출하대저토마토  3-4번M(중과)2.5kg 산지직송',
        39800,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '162',
    '2032891975&ver')
INSERT INTO items VALUES('2060695122&ver',
        '[디스커버리]공용 조거 맥스 DXSHH1031DXSHH2031DXSHH3031',
        90300,
        73600,
        0,
        '디스커버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '163',
    '2060695122&ver')
INSERT INTO items VALUES('701546350&ver',
        '(1+1)미국_필라델피아크림치즈 플레인 _200G',
        5590,
        5570,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '164',
    '701546350&ver')
INSERT INTO items VALUES('373058782&ver',
        '다온샵 /패션페스타22%+10%/청바지/배기/슬랙스/~3XL',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '165',
    '373058782&ver')
INSERT INTO items VALUES('1654805524&ver',
        '[구글플레이](카드가능) 기프트코드 1만원 / 구글 기프트카드',
        10000,
        9500,
        0,
        '구글플레이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '166',
    '1654805524&ver')
INSERT INTO items VALUES('1919425682&ver',
        '뼈없는 직화불닭발 150g x 3팩 (총 450g)',
        14000,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '167',
    '1919425682&ver')
INSERT INTO items VALUES('1995589059&ver',
        '[에이블루]특허받은의자 NEW 에이블루 커블체어 와이더 2+1세트',
        119600,
        119010,
        0,
        '에이블루')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '168',
    '1995589059&ver')
INSERT INTO items VALUES('1942688061&ver',
        '[코카콜라]코크제로355ml캔 24입',
        19500,
        19500,
        0,
        '코카콜라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '169',
    '1942688061&ver')
INSERT INTO items VALUES('1670609306&ver',
        '비니수/패션페스타22%/ 기획특가 봄 신상모음전',
        12900,
        3900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '170',
    '1670609306&ver')
INSERT INTO items VALUES('1775171803&ver',
        '[모나리자]모나리자 미용티슈 250매 3입 4개 총12개 각티슈 휴지',
        35900,
        16900,
        0,
        '모나리자')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '171',
    '1775171803&ver')
INSERT INTO items VALUES('1962034682&ver',
        '[오늘]현대제지 오늘 천연펄프 키친타올 125매4롤4팩 총16롤',
        22900,
        10900,
        0,
        '오늘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '172',
    '1962034682&ver')
INSERT INTO items VALUES('1503353718&ver',
        '[오뚜기밥]맛있는 오뚜기밥 210g 24개',
        33000,
        25400,
        0,
        '오뚜기')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '173',
    '1503353718&ver')
INSERT INTO items VALUES('1867772238&ver',
        '[빅토리아(식품)]빅토리아 청포도 20펫+파인애플 20펫 500ml2박스총40펫',
        29000,
        17760,
        0,
        '웅진')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '174',
    '1867772238&ver')

INSERT INTO items VALUES('2059493620&ver',
        '비룡소 과학은 쉽다 1-5권 세트 (전5권)',
        52200,
        47000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '175',
    '2059493620&ver')
INSERT INTO items VALUES('1879211201&ver',
        '핑크퐁 상어가족 감각놀이세트',
        35800,
        17900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '176',
    '1879211201&ver')
INSERT INTO items VALUES('2035891781&ver',
        '[Gfresh](GFresh)소고기 초이스등급 토시살 200g 3팩',
        29800,
        14900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '177',
    '2035891781&ver')
INSERT INTO items VALUES('1652989502&ver',
        '[매일유업]매일두유 식이섬유 190ml 24팩+99.89 두유 24팩/두유',
        30900,
        18900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '178',
    '1652989502&ver')
INSERT INTO items VALUES('2065468925&ver',
        '[Christina n Co] 크리스티나앤코 프린트 니트 앙상블 세트 2종',
        39900,
        31920,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '179',
    '2065468925&ver')
INSERT INTO items VALUES('1725467202&ver',
        '루나샵 패션페스타22% 봄신상티셔츠/맨투맨/원피스',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '180',
    '1725467202&ver')
INSERT INTO items VALUES('2051041213&ver',
        '향긋한 방풍나물/갯기름나물 1kg',
        15800,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '181',
    '2051041213&ver')
INSERT INTO items VALUES('1791763145&ver',
        '[스카트]스카트 THE 버블 수세미 베이지 50매X3롤',
        30900,
        11900,
        0,
        '스카트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '182',
    '1791763145&ver')
INSERT INTO items VALUES('1651273917&ver',
        '[햇반]CJ 햇반 210g 36개 (1박스)',
        37900,
        34900,
        0,
        '햇반')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '183',
    '1651273917&ver')
INSERT INTO items VALUES('1120487736&ver',
        '패션페스타22% 나나살롱/티셔츠/원피스/가디건/청바지',
        86600,
        26000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '184',
    '1120487736&ver')
INSERT INTO items VALUES('484828506&ver',
        '[아침농산]국산 농부의아침 쌀10kg  2020년산 햅쌀',
        72300,
        28900,
        0,
        '아침농산')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '185',
    '484828506&ver')
INSERT INTO items VALUES('2034712610&ver',
        '[Gfresh]베트남 로부스타 블루드래곤 G1  500g x 2봉 원두커피',
        16800,
        8400,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '186',
    '2034712610&ver')
INSERT INTO items VALUES('576442682&ver',
        '패션페스타22%  롱가디건/니트/폴라/원피스/빅사이즈',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '187',
    '576442682&ver')
INSERT INTO items VALUES('1140168037&ver',
        '[쏘피]볼록맞춤 슈퍼롱 오버나이트/생리대 10Px5팩',
        19000,
        9500,
        0,
        '쏘피')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '188',
    '1140168037&ver')
INSERT INTO items VALUES('1584779386&ver',
        '성주 꿀 참외 5kg이내 (꼬마소과/30-35과내외) 가정용',
        20900,
        20900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '189',
    '1584779386&ver')
INSERT INTO items VALUES('1507716908&ver',
        '찰토마토 5kg 4-5번 소과',
        29800,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '190',
    '1507716908&ver')
INSERT INTO items VALUES('1950334451&ver',
        '빙고 라벤더 3겹 천연펄프 화장지 30m 30롤 3팩',
        88000,
        26900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '191',
    '1950334451&ver')
INSERT INTO items VALUES('1834227330&ver',
        '[팸퍼스]팸퍼스 베이비드라이 4단계 팬티형기저귀42p 4팩',
        60900,
        57500,
        0,
        '팸퍼스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '192',
    '1834227330&ver')
INSERT INTO items VALUES('1561177347&ver',
        '[매일유업]매일두유 식이섬유 190ml 48팩/두유',
        30900,
        18900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '193',
    '1561177347&ver')
INSERT INTO items VALUES('2049810325&ver',
        '[홈에디션명진]크린 위생 롤백  1000매 (중) 25x35',
        25000,
        8900,
        0,
        '홈에디션명진')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '194',
    '2049810325&ver')
INSERT INTO items VALUES('1710981310&ver',
        '[매일두유]매일두유 190ml 식이섬유 24팩+초콜릿 24팩/두유',
        30900,
        18900,
        0,
        '매일유업')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '195',
    '1710981310&ver')
INSERT INTO items VALUES('2064380317&ver',
        '(아람) 감성과 지식을 더해주는 베토벤 음악동화 전10권 (세이펜 포함)',
        260000,
        233910,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '196',
    '2064380317&ver')
INSERT INTO items VALUES('1800943408&ver',
        '유한킴벌리_하기스네이처메이드 씬테크 밴드기저귀소형2단계 남아 _54매',
        25700,
        25700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '197',
    '1800943408&ver')
INSERT INTO items VALUES('2057588520&ver',
        '[에스플러스][에스플러스] [트루젠] 남성 스트레치 스판정장 6종택1',
        134000,
        93800,
        0,
        '에스플러스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '198',
    '2057588520&ver')
INSERT INTO items VALUES('787562120&ver',
        '글램공감/브라1+팬티2/속옷세트/A~D컵/빅사이즈',
        36300,
        10900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '199',
    '787562120&ver')
INSERT INTO items VALUES('2053750622&ver',
        '[Gfresh]모짜치즈떡 1kg +1kg',
        19800,
        9900,
        0,
        'Gfresh')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    ALL',
    'ALL',
    '200',
    '2053750622&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G01 패션의류
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '1',
    '1835916262&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '2',
    '2036145620&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '3',
    '189842449&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '4',
    '607466490&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '5',
    '805459425&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '6',
    '1615409666&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '7',
    '333425585&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '8',
    '1577525154&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '9',
    '197555399&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '10',
    '776582823&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '11',
    '1817237042&ver')
INSERT INTO items VALUES('1280233513&ver',
        '티메이 패션페스타22% 봄신상 블라우스 티셔츠 맨투맨',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '12',
    '1280233513&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '13',
    '1764397632&ver')
INSERT INTO items VALUES('1430266775&ver',
        '시크루즈/패션페스타22%+10%/홈웨어/원피스/빅사이즈',
        39600,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '14',
    '1430266775&ver')
INSERT INTO items VALUES('949976014&ver',
        '22%쿠폰/봄파자마/특면/피치/선염/실크/복수구매할인',
        23000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '15',
    '949976014&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '16',
    '1373777190&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '17',
    '1309233372&ver')
INSERT INTO items VALUES('1517719492&ver',
        '패션페스타22% 원피스/블라우스/자켓/니트원피스',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '18',
    '1517719492&ver')
INSERT INTO items VALUES('932044429&ver',
        '로드블링 패션페스타22% 롱원피스/맨투맨/빅사이즈',
        42900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '19',
    '932044429&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '20',
    '787562120&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '21',
    '1345149344&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '22',
    '1624900645&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '23',
    '774079012&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '24',
    '1830048238&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '25',
    '373058782&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '26',
    '1326948653&ver')
INSERT INTO items VALUES('1632079944&ver',
        '패션페스타22% 츄리닝 상하셋트 맨투맨 니트 원피스',
        39600,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '27',
    '1632079944&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '28',
    '1498699891&ver')
INSERT INTO items VALUES('1688200696&ver',
        '패션페스타22% 봄신상 빅사이즈 블라우스 원피스',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '29',
    '1688200696&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '30',
    '1826127999&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '31',
    '1256823118&ver')
INSERT INTO items VALUES('929105077&ver',
        '패션페스타22% 집콕필수템 밴딩팬츠/트레이닝/양말',
        23000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '32',
    '929105077&ver')
INSERT INTO items VALUES('539788560&ver',
        '핑크시슬리  신상/트레이닝세트/팬츠',
        53400,
        16800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '33',
    '539788560&ver')
INSERT INTO items VALUES('166590241&ver',
        '[트라이]국산 5매/트렁크/사각/팬티/남자/남성/빅사이즈/속옷',
        49600,
        14900,
        0,
        '트라이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '34',
    '166590241&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '35',
    '1311171220&ver')
INSERT INTO items VALUES('192173793&ver',
        '패션페스타22%/하객룩/오피스/원피스/빅사이즈',
        99300,
        29800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '36',
    '192173793&ver')
INSERT INTO items VALUES('1487774180&ver',
        '시스터 패션페스타22% 봄신상 6900~ 빅사이즈룩',
        23000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '37',
    '1487774180&ver')
INSERT INTO items VALUES('627247117&ver',
        '더다다 패션페스타22% 봄 신상 빅사이즈 루즈핏 롱',
        19600,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '38',
    '627247117&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '39',
    '801815493&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '40',
    '1551794470&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '41',
    '1670609306&ver')
INSERT INTO items VALUES('810518655&ver',
        '패션페스타22% 성진 패션 원피스/팬츠/블라우스',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '42',
    '810518655&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '43',
    '1787960274&ver')
INSERT INTO items VALUES('1275871226&ver',
        '패션페스타22%쿠폰 신상 반팔티셔츠 면100% S-4XL',
        32600,
        9800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '44',
    '1275871226&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '45',
    '576442682&ver')
INSERT INTO items VALUES('166590202&ver',
        '[트라이]여성팬티 5매/여자/여성/속옷/미디/맥시/위생/삼각/면',
        23000,
        6900,
        0,
        '트라이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '46',
    '166590202&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '47',
    '1284344651&ver')
INSERT INTO items VALUES('1677882956&ver',
        '패션페스타22% 빅사이즈 트렌치코트/자켓/원피스',
        99600,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '48',
    '1677882956&ver')

INSERT INTO items VALUES('787245581&ver',
        '[체리빌레]봄신상 플라워+레이스원피스 모음/쉬폰플리츠/캉캉',
        30000,
        24900,
        0,
        '체리빌레')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '49',
    '787245581&ver')
INSERT INTO items VALUES('163773112&ver',
        '패션페스타22% 트레이닝바지/츄리닝/조거팬츠/여성42A',
        19600,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '50',
    '163773112&ver')
INSERT INTO items VALUES('1444224360&ver',
        '[머스트비]머스트비 봄 신상품 추가 입고 / 기간 특가',
        86600,
        26000,
        0,
        '머스트비')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '51',
    '1444224360&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '52',
    '1267464808&ver')
INSERT INTO items VALUES('835988063&ver',
        '패션페스타22% 1+1/팬츠/원마일웨어/트레이닝팬츠',
        42600,
        12800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '53',
    '835988063&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '54',
    '1677882918&ver')
INSERT INTO items VALUES('1760154947&ver',
        '[닉스]닉스 성인아동 봄 청바지/맨투맨 외 인기아이템 모음',
        86300,
        25900,
        0,
        '닉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '55',
    '1760154947&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '56',
    '1725467202&ver')
INSERT INTO items VALUES('972418391&ver',
        '[BYC]22%쿠폰/여성 팬티/위생/노라인/보정/복수구매할인',
        23000,
        6900,
        0,
        'BYC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '57',
    '972418391&ver')
INSERT INTO items VALUES('1975776752&ver',
        '쇼인더룸 패션페스타22% 티셔츠/맨투맨/팬츠/빅사이즈',
        42900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '58',
    '1975776752&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '59',
    '215673140&ver')
INSERT INTO items VALUES('528849355&ver',
        '[핫코드]봄신상 남자 청바지/빅사이즈/슬랙스/일자/스판/행사',
        53000,
        15900,
        0,
        '핫코드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '60',
    '528849355&ver')
INSERT INTO items VALUES('779656750&ver',
        '쏭스타일 신상추가.빅사이즈.롱티.루즈핏',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '61',
    '779656750&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '62',
    '169295221&ver')
INSERT INTO items VALUES('1789464964&ver',
        '[디키즈]22%추가쿠폰_디키즈 봄 그랜드 오픈 SALE 한정특가',
        66300,
        19900,
        0,
        '디키즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '63',
    '1789464964&ver')
INSERT INTO items VALUES('355956993&ver',
        '[갠소]갠소 봄신상 데일리룩 패션페스타22%/맨투맨/원피스',
        56300,
        16900,
        0,
        '갠소')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '64',
    '355956993&ver')
INSERT INTO items VALUES('974668803&ver',
        '[퍼스트클로]패션페스타22% 봄신상 빅사이즈~7XL 레깅스/밴딩팬츠',
        19600,
        5900,
        0,
        '퍼스트클로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '65',
    '974668803&ver')
INSERT INTO items VALUES('1566013256&ver',
        '시크루즈/패션페스타22%+10%/티셔츠/홈웨어/빅사이즈',
        23000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '66',
    '1566013256&ver')
INSERT INTO items VALUES('607415523&ver',
        '남자정장바지 슬랙스 스판 빅사이즈 패션페스타22%',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '67',
    '607415523&ver')
INSERT INTO items VALUES('221969619&ver',
        '패션페스타 22% / 여성청바지 대표 상품 할인 슬랙스',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '68',
    '221969619&ver')
INSERT INTO items VALUES('1782731869&ver',
        '단비샵 봄신상/블라우스/팬츠/원피스/자켓/가디건',
        63000,
        18900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '69',
    '1782731869&ver')
INSERT INTO items VALUES('353300687&ver',
        '패션페스타22%  남여공용 빅사이즈 반팔티 노옵션특가',
        19600,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '70',
    '353300687&ver')
INSERT INTO items VALUES('1409488407&ver',
        '패션페스타22% 봄신상/롱원피스/자켓/니트/블라우스',
        56300,
        16900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '71',
    '1409488407&ver')
INSERT INTO items VALUES('1727198869&ver',
        '달리샵 패션페스타22% 빅사이즈 원피스/셔츠/바지',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '72',
    '1727198869&ver')
INSERT INTO items VALUES('1570637302&ver',
        '데이데이 봄신상/맨투맨/블라우스/셔츠/후드/팬츠',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '73',
    '1570637302&ver')
INSERT INTO items VALUES('1126294117&ver',
        '[샐리]패션페스타22% 봄맞이 첫 특가~BEST모음',
        66300,
        19900,
        0,
        '샐리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '74',
    '1126294117&ver')
INSERT INTO items VALUES('2053367460&ver',
        '[푸마]푸마 자유 브라탑 티셔츠 4종',
        49000,
        42860,
        0,
        '푸마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '75',
    '2053367460&ver')
INSERT INTO items VALUES('751249829&ver',
        '쏭스타일 신상추가.롱티.루즈핏.빅사이즈',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '76',
    '751249829&ver')
INSERT INTO items VALUES('1322490033&ver',
        '[로드스타]1+1 데일리 필수아이템 순면 긴팔 반팔 무지티셔츠',
        29600,
        8900,
        0,
        '로드스타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '77',
    '1322490033&ver')
INSERT INTO items VALUES('1725153067&ver',
        '패션페스타22%후드티 후드집업 티셔츠 여성빅사이즈',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '78',
    '1725153067&ver')
INSERT INTO items VALUES('1606293717&ver',
        '패션페스타22% 수맘 봄 신상입고 홈웨어 잠옷 세트',
        19600,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '79',
    '1606293717&ver')
INSERT INTO items VALUES('1372301757&ver',
        '10%카드할인+22%쿠폰 무지티셔츠 최저가 트레이닝바지',
        13000,
        3900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '80',
    '1372301757&ver')

INSERT INTO items VALUES('713881271&ver',
        '(패션페스타22%)매니몰 긴팔티/맨투맨/남여공용',
        46300,
        13900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '81',
    '713881271&ver')
INSERT INTO items VALUES('1808294693&ver',
        '패션페스타22%신상남여공용 마약바지/청바지/슬랙스',
        49600,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '82',
    '1808294693&ver')
INSERT INTO items VALUES('1632202735&ver',
        '맨즈룩 정석 셔츠/정장자켓/팬츠 외 ITEM',
        58000,
        29000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '83',
    '1632202735&ver')
INSERT INTO items VALUES('125749989&ver',
        '[지기젠]22%쿠폰 봄신상 남자청바지/일자/면바지/빅사이즈',
        59000,
        17900,
        0,
        '지기젠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '84',
    '125749989&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '85',
    '1883764136&ver')
INSERT INTO items VALUES('1158276673&ver',
        '패션페스타22% 봄신상 홈웨어 잠옷특가 사은품',
        19600,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '86',
    '1158276673&ver')
INSERT INTO items VALUES('581785464&ver',
        '[란제리아]비비안 외 브라 팬티 세트 여성 여자 브래지어 속옷',
        33000,
        9900,
        0,
        '란제리아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '87',
    '581785464&ver')
INSERT INTO items VALUES('1274167241&ver',
        '[블루레이스](패션페스타22%)블루레이스외 Big sale',
        62600,
        18800,
        0,
        '블루레이스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '88',
    '1274167241&ver')
INSERT INTO items VALUES('1234579017&ver',
        '[SOUP]SOUP外 산뜻한 봄 데이트룩/원피스 블라우스',
        73800,
        36900,
        0,
        'Soup')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '89',
    '1234579017&ver')
INSERT INTO items VALUES('1481263644&ver',
        '패션페스타22% 코코블랑 봄신상 블라우스 원피스',
        49600,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '90',
    '1481263644&ver')
INSERT INTO items VALUES('1718623120&ver',
        '여자 캐릭터 잠옷 세트 파자마 홈웨어 원피스',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '91',
    '1718623120&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '92',
    '1120487736&ver')
INSERT INTO items VALUES('1687155729&ver',
        '홈쇼핑 남녀 봄겨울 블라우스 니트 코트 바지 원피스',
        43000,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '93',
    '1687155729&ver')
INSERT INTO items VALUES('400429634&ver',
        '[엔비룩]패션페스타22% 엔비룩 원피스/블라우스/니트/팬츠',
        53000,
        15900,
        0,
        '엔비룩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '94',
    '400429634&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '95',
    '2057588520&ver')
INSERT INTO items VALUES('658390916&ver',
        '패션페스타22%자켓/가디건/점퍼/청자켓/트렌치코트',
        65000,
        19500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '96',
    '658390916&ver')
INSERT INTO items VALUES('1108678685&ver',
        '패션페스타22% 봄신상 슬랙스/부츠컷/통바지/빅사이즈',
        23000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '97',
    '1108678685&ver')
INSERT INTO items VALUES('1823976106&ver',
        '(패션페스타22%+카드할인10%)봄신상~트레이닝복세트',
        59000,
        17700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '98',
    '1823976106&ver')
INSERT INTO items VALUES('920442214&ver',
        '패션페스타22% 패션풀 봄신상/니트/원피스/팬츠',
        52600,
        15800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '99',
    '920442214&ver')
INSERT INTO items VALUES('1790176636&ver',
        '봄신상 가디건 니트 /롱 가디건 /조끼',
        26900,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    'ALL',
    '100',
    '1790176636&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '1',
    '1444224360&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '2',
    '1234579017&ver')
INSERT INTO items VALUES('1649456622&ver',
        '올리비아로렌 봄시즌오프 원피스/자켓외 최대22%쿠폰',
        71800,
        35900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '3',
    '1649456622&ver')
INSERT INTO items VALUES('1693435171&ver',
        '[미센스]최대22%쿠폰 미센스 봄 맞이 NEW + BEST 특가 모음전~',
        39800,
        19900,
        0,
        '미센스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '4',
    '1693435171&ver')
INSERT INTO items VALUES('1693433901&ver',
        '[미센스]최대22%쿠폰 미센스 2021 봄 신상 특가 + BEST ITEM',
        39800,
        19900,
        0,
        '미센스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '5',
    '1693433901&ver')
INSERT INTO items VALUES('1787182314&ver',
        '[플라스틱아일랜드](신세계본점)카라 반오픈 원피스(PL2EO461)',
        39000,
        29450,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '6',
    '1787182314&ver')
INSERT INTO items VALUES('1826401517&ver',
        '[지센]지센 봄 신규오픈 블라우스/티셔츠/코트/팬츠+17%쿠폰',
        99600,
        29900,
        0,
        '지센')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '7',
    '1826401517&ver')
INSERT INTO items VALUES('1231805446&ver',
        '[꼼빠니아]조이너스 봄 신규오픈 트렌치/가디건/원피스+17%쿠폰',
        89600,
        26900,
        0,
        '꼼빠니아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '8',
    '1231805446&ver')
INSERT INTO items VALUES('1655774766&ver',
        '[올리비아로렌]봄 원피스/자켓외 최대30%쿠폰',
        83000,
        24900,
        0,
        '올리비아로렌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '9',
    '1655774766&ver')
INSERT INTO items VALUES('1791730168&ver',
        '(22%쿠폰) 씨/이사베이 봄 자켓/원피스/블라우스 BEST',
        81900,
        24900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '10',
    '1791730168&ver')
INSERT INTO items VALUES('2050390561&ver',
        '[에바테일러] 에센셜 봄 자켓 1종',
        29900,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '11',
    '2050390561&ver')
INSERT INTO items VALUES('1961225924&ver',
        '[에잇세컨즈]21SS 신상 남녀 쇼핑찬스 티셔츠/셔츠/니트/팬츠/자켓',
        60000,
        29900,
        0,
        '에잇세컨즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '12',
    '1961225924&ver')

INSERT INTO items VALUES('1288386776&ver',
        '[보니알렉스]코트/점퍼/니트/블라우스 등 3900원부터',
        7500,
        7500,
        0,
        '보니알렉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '13',
    '1288386776&ver')
INSERT INTO items VALUES('1635269329&ver',
        '[SOUP]SOUP外 단정한 오피스룩부터 트레이닝복까지',
        79800,
        39900,
        0,
        'Soup')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '14',
    '1635269329&ver')
INSERT INTO items VALUES('2060461546&ver',
        ' 21SS   매긴나잇브릿지 오가닉코튼 스웻티 4종',
        59000,
        54300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '15',
    '2060461546&ver')
INSERT INTO items VALUES('2059946971&ver',
        '[라우렐] () 21SS 프렌치린넨100 셔츠 2종',
        79900,
        78900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '16',
    '2059946971&ver')
INSERT INTO items VALUES('2063832919&ver',
        '[LBL] 21SS 실크100 니트 풀오버',
        58000,
        58000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '17',
    '2063832919&ver')
INSERT INTO items VALUES('1995057263&ver',
        '[플라스틱아일랜드]갤러리아   BEIGE 와이드 데님 팬츠(PM7DP201)',
        53100,
        41950,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '18',
    '1995057263&ver')
INSERT INTO items VALUES('1921216254&ver',
        '[플라스틱아일랜드]플라스틱아일랜드 봄 러블리 코디 스타일 1만원대~',
        80000,
        24000,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '19',
    '1921216254&ver')
INSERT INTO items VALUES('2008177652&ver',
        '[코인코즈]코인코즈 W몰 레터링 후드집업 IW9WE600',
        15000,
        13430,
        0,
        '코인코즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '20',
    '2008177652&ver')
INSERT INTO items VALUES('2026913928&ver',
        '[카시바디]카시바디 양가죽 하프 코트',
        144000,
        135800,
        0,
        '카시바디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '21',
    '2026913928&ver')
INSERT INTO items VALUES('2056101401&ver',
        '루퍼지 야상자켓/ 시크폭스',
        66700,
        52370,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '22',
    '2056101401&ver')
INSERT INTO items VALUES('1907191703&ver',
        '[홈쇼핑상품] 테일러드 스판 블랜디드 자켓',
        29000,
        26100,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '23',
    '1907191703&ver')
INSERT INTO items VALUES('2030386428&ver',
        '[플라스틱아일랜드]갤러리아   21 봄 셔츠형 크랍 데님자켓(PM1DJ282)',
        89000,
        70310,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '24',
    '2030386428&ver')
INSERT INTO items VALUES('2038959124&ver',
        '셀렙샵 에디션 21SS 컴팩트 재킷+새틴 탑 세트',
        59000,
        59000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '25',
    '2038959124&ver')
INSERT INTO items VALUES('2042506181&ver',
        ' 핫 트렌드   아니베 에프 데님 벨티드 자켓 ',
        49900,
        46000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '26',
    '2042506181&ver')
INSERT INTO items VALUES('1497432560&ver',
        '[지지피엑스](현대백화점)[GGPX] GIHOP851F 후드 롱 베이직 원피스',
        33000,
        28050,
        0,
        '지지피엑스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '27',
    '1497432560&ver')
INSERT INTO items VALUES('2013263332&ver',
        '[레코브](신세계김해점)클립후디 데님자켓(LS31A3DJ502X)',
        47800,
        37290,
        0,
        '레코브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '28',
    '2013263332&ver')
INSERT INTO items VALUES('2015252261&ver',
        '[레코브](신세계경기점)클립후디 데님자켓(LS31A3DJ502X)',
        47800,
        37290,
        0,
        '레코브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '29',
    '2015252261&ver')
INSERT INTO items VALUES('1994006602&ver',
        '[플라스틱아일랜드](신세계마산점)[BEIGE]스트라이프 기본 티셔츠(PM7CL201)',
        35100,
        24230,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '30',
    '1994006602&ver')
INSERT INTO items VALUES('1778587282&ver',
        '[보니알렉스]갤러리아  허리 스트링 홑겹 사파리 BBUD1213',
        29000,
        24070,
        0,
        '보니알렉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '31',
    '1778587282&ver')
INSERT INTO items VALUES('2038519331&ver',
        '[써스데이아일랜드]써스데이아일랜드 W몰 스트링 가디건 T196MCD131W',
        53700,
        50220,
        0,
        '써스데이아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '32',
    '2038519331&ver')
INSERT INTO items VALUES('1794105002&ver',
        '[지지피엑스]후드 롱 베이직 원피스 (GIHOP851F) (예약상품 2021.03.24 부터 발송)',
        35000,
        28530,
        0,
        '지지피엑스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '33',
    '1794105002&ver')
INSERT INTO items VALUES('2014504812&ver',
        '[플라스틱아일랜드](신세계마산점)블루종 레자 자켓 (PM1WJ183)',
        98100,
        67700,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '34',
    '2014504812&ver')
INSERT INTO items VALUES('2031763682&ver',
        '라이브온 홈쇼핑 인기상품전 여성 의류 SS신상 7900원~',
        9900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '35',
    '2031763682&ver')
INSERT INTO items VALUES('2035014786&ver',
        '[시에로]갤러리아   21S/S 후드 TAPE 포인트 홑겹 숏 점퍼(SH2JPF271)',
        279000,
        209250,
        0,
        '시에로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '36',
    '2035014786&ver')
INSERT INTO items VALUES('2056284382&ver',
        '[페이지플린]금장단추트위드자켓 무배+2만원대~ 갓성비 트위드자켓',
        37400,
        37400,
        0,
        '페이지플린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '37',
    '2056284382&ver')
INSERT INTO items VALUES('2013262975&ver',
        '[레코브](광주신세계)클립후디 데님자켓(LS31A3DJ502X)',
        46000,
        37700,
        0,
        '레코브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '38',
    '2013262975&ver')
INSERT INTO items VALUES('1737996233&ver',
        '[톰보이][톰보이] 슬리브 트렌치코트 (9100111992).JS',
        99000,
        69300,
        0,
        '톰보이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '39',
    '1737996233&ver')
INSERT INTO items VALUES('1881126301&ver',
        '[유돈초이] () 컬렉션 듀얼컬러 코트',
        59000,
        58000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '40',
    '1881126301&ver')

INSERT INTO items VALUES('2060465268&ver',
        '[몬테밀라노][몬테밀라노] 블랙에디션 플리츠 블라우스 3종',
        59900,
        59900,
        0,
        '몬테밀라노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '41',
    '2060465268&ver')
INSERT INTO items VALUES('1766536625&ver',
        '[리스트]베이직 트렌치코트_TWWBYK52010',
        80000,
        64400,
        0,
        '리스트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '42',
    '1766536625&ver')
INSERT INTO items VALUES('2046164046&ver',
        '[코데즈컴바인](신세계마산점)큐브야상점퍼(CGA-JP605W2)',
        99000,
        74700,
        0,
        '코데즈컴바인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '43',
    '2046164046&ver')
INSERT INTO items VALUES('2024085526&ver',
        '[SISLEY](신세계경기점)하이웨이스트 배기핏 데님 팬츠(SADP03011)',
        118800,
        92080,
        0,
        '시슬리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '44',
    '2024085526&ver')
INSERT INTO items VALUES('2051375538&ver',
        '[시에로]갤러리아   21S/S  시그니처 오슬로 후로피 가이루빠 포인트 반팔 티셔츠(SH2T',
        31500,
        23630,
        0,
        '시에로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '45',
    '2051375538&ver')
INSERT INTO items VALUES('1925854253&ver',
        '[SOUP](신세계경기점)숲 노카라 부클 자켓 (SWBDB83)',
        49500,
        33670,
        0,
        'Soup')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '46',
    '1925854253&ver')
INSERT INTO items VALUES('1930780956&ver',
        '[쥬크](대구신세계)[쥬크] 소매버클 루즈핏 숏 트렌치코트 (Z203MSI101)',
        129000,
        99980,
        0,
        '쥬크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '47',
    '1930780956&ver')
INSERT INTO items VALUES('2029634262&ver',
        '[플라스틱아일랜드](신세계마산점)오버핏 후드 점퍼(PM1EZ261)',
        109000,
        75210,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '48',
    '2029634262&ver')
INSERT INTO items VALUES('2030115463&ver',
        '[코데즈컴바인]갤러리아  맨투맨 조거팬츠 트레이닝 세트 (CGA-XX403W3)',
        49000,
        41160,
        0,
        '코데즈컴바인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '49',
    '2030115463&ver')
INSERT INTO items VALUES('2032219358&ver',
        '[온앤온]갤러리아   21봄 3월29일순차발송예정 맥카라 트렌치 코트 NW1SR268',
        329000,
        243460,
        0,
        '온앤온')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '50',
    '2032219358&ver')
INSERT INTO items VALUES('2063181253&ver',
        '[리들리나인] [Leedley nayne] 이지핏 커버 팬츠 3종',
        49900,
        49900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '51',
    '2063181253&ver')
INSERT INTO items VALUES('2030196731&ver',
        '[BCBG](신세계의정부점)S 플레어데님(B1M3P398)',
        48000,
        38160,
        0,
        'BCBG')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '52',
    '2030196731&ver')
INSERT INTO items VALUES('2000301589&ver',
        '[플라스틱아일랜드](신세계경기점)[BEIGE]스트라이프 기본 티셔츠(PM7CL201)',
        35100,
        24230,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '53',
    '2000301589&ver')
INSERT INTO items VALUES('2024662807&ver',
        '[플라스틱아일랜드](신세계김해점)더블자켓 (PM1EJ262)',
        129000,
        89010,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '54',
    '2024662807&ver')
INSERT INTO items VALUES('2034724028&ver',
        '[시에로]갤러리아   21FS/S 메쉬레이스 플레어 밴딩 스커트 (SH2SKF463)',
        99000,
        74250,
        0,
        '시에로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '55',
    '2034724028&ver')
INSERT INTO items VALUES('2036050956&ver',
        '[겟유즈드](여) 스트레이트핏 3종 세트 (HGOSDZB507P)',
        59900,
        59900,
        0,
        '겟유즈드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '56',
    '2036050956&ver')
INSERT INTO items VALUES('2057679991&ver',
        '(스타일온에어) (여주점)M12도트플리츠원피스80094963002',
        89900,
        80910,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '57',
    '2057679991&ver')
INSERT INTO items VALUES('2005555187&ver',
        '[코인코즈]코인코즈 W몰 주름 롱 원피스 IW9WO515',
        20000,
        18000,
        0,
        '코인코즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '58',
    '2005555187&ver')
INSERT INTO items VALUES('2049079630&ver',
        '[에잇세컨즈]8 X 애슝 UNISEX 아이보리 백 프린팅 브이넥 카디건',
        59900,
        59900,
        0,
        '에잇세컨즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '59',
    '2049079630&ver')
INSERT INTO items VALUES('2050255914&ver',
        '[핑크피그][대구백화점 I관] [핑크피그]S/T트렌치원피스(PPA21OPS1036)',
        39000,
        35300,
        0,
        '핑크피그')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '60',
    '2050255914&ver')
INSERT INTO items VALUES('2027706220&ver',
        '[미쏘][머스트자켓]테일러드 일자핏 싱글 자켓 MIWJKB30PB',
        50920,
        50920,
        0,
        '미쏘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '61',
    '2027706220&ver')
INSERT INTO items VALUES('2012777485&ver',
        '[코인코즈]코인코즈 W몰 포켓 롱 가디건 IK9WD456',
        15000,
        13500,
        0,
        '코인코즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '62',
    '2012777485&ver')
INSERT INTO items VALUES('2031086880&ver',
        '[로엠]간절기 숏 기장 트렌치코트 (2colors)_RMJPA1208B_뉴코아 강남점',
        39000,
        39000,
        0,
        '로엠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '63',
    '2031086880&ver')
INSERT INTO items VALUES('2027923056&ver',
        '[플라스틱아일랜드](신세계김해점)오버핏 후드 점퍼(PM1EZ261)',
        109000,
        75210,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '64',
    '2027923056&ver')
INSERT INTO items VALUES('2044921167&ver',
        'ACP 여성 코튼 컬러 팬츠 3종',
        39900,
        35920,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '65',
    '2044921167&ver')
INSERT INTO items VALUES('2031223306&ver',
        '[플라스틱아일랜드](신세계경기점)후드 볼륨 소매 점퍼(PM1WZ281)',
        143100,
        98750,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '66',
    '2031223306&ver')
INSERT INTO items VALUES('1931955552&ver',
        '리즈어게인  니트 포켓 브이넥 셔츠',
        24900,
        24780,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '67',
    '1931955552&ver')
INSERT INTO items VALUES('2005561857&ver',
        '[코인코즈]코인코즈 W몰 미니백 벨트 데님 자켓 IJ9WJ306',
        29000,
        25960,
        0,
        '코인코즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '68',
    '2005561857&ver')

INSERT INTO items VALUES('1994005471&ver',
        '[플라스틱아일랜드](신세계김해점)[BEIGE]스트라이프 기본 티셔츠(PM7CL201)',
        39000,
        26910,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '69',
    '1994005471&ver')
INSERT INTO items VALUES('2005415598&ver',
        '[톰보이]갤러리아   21봄 기획상품 코듀로이 카라 숏 점퍼(9171113991)',
        199000,
        149250,
        0,
        '톰보이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '70',
    '2005415598&ver')
INSERT INTO items VALUES('2043286285&ver',
        '[플라스틱아일랜드]갤러리아   21여름 뒤허리스모킹 트렌치형 숏자켓(PM2WJ365)',
        129000,
        101910,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '71',
    '2043286285&ver')
INSERT INTO items VALUES('1742878134&ver',
        '[톰보이][톰보이] 베이지 A라인 트렌치코트 9100111998',
        119000,
        92230,
        0,
        '톰보이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '72',
    '1742878134&ver')
INSERT INTO items VALUES('2049864895&ver',
        '[플라스틱아일랜드](신세계김해점)백스트링 박시핏 레자자켓 (PM2WJ301)',
        129000,
        89010,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '73',
    '2049864895&ver')
INSERT INTO items VALUES('1882152480&ver',
        '[SOUP]갤러리아  베이직 라운드넥 니트티셔츠  SWALK80',
        14500,
        10880,
        0,
        'Soup')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '74',
    '1882152480&ver')
INSERT INTO items VALUES('1868682134&ver',
        '[플라스틱아일랜드](신세계강남점)뒤레터링 자수 후드탈착 데님자켓(PL3DJ883)',
        55000,
        41800,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '75',
    '1868682134&ver')
INSERT INTO items VALUES('2058935131&ver',
        '[랩](광주신세계)사선 절개 코튼 스커트 (AM1WS248)',
        31200,
        26520,
        0,
        '랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '76',
    '2058935131&ver')
INSERT INTO items VALUES('2049098648&ver',
        '[에잇세컨즈]베이지 스캘럽 케이블 짜임 니트 카디건 (32135AGY1A)',
        39900,
        39900,
        0,
        '에잇세컨즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '77',
    '2049098648&ver')
INSERT INTO items VALUES('1759675480&ver',
        '[리스트]갤러리아   20 봄   스트랩 오픈 트렌치코트 TWWBYK50070',
        89000,
        67640,
        0,
        '리스트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '78',
    '1759675480&ver')
INSERT INTO items VALUES('1916111719&ver',
        '[폴햄][폴햄] 여성_코튼 스판 슬림핏 팬츠(PHA3DP2022)',
        19900,
        15530,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '79',
    '1916111719&ver')
INSERT INTO items VALUES('1658944584&ver',
        '[나인](광주신세계)페미닌 핏앤플레어 니트 원피스(OP-4418)',
        65550,
        54050,
        0,
        '나인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '80',
    '1658944584&ver')
INSERT INTO items VALUES('2020743642&ver',
        '[레코브](신세계김해점)티어드 플리츠스커트(LS31A3SK506X)',
        31800,
        26880,
        0,
        '레코브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '81',
    '2020743642&ver')
INSERT INTO items VALUES('1874126633&ver',
        'VW베라왕  블랙라벨 이태리 헤링본 울자켓',
        69000,
        69000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '82',
    '1874126633&ver')
INSERT INTO items VALUES('2008087797&ver',
        '[플라스틱아일랜드](신세계마산점)다이아패턴 니트 베스트(PM1KV133)',
        53100,
        36650,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '83',
    '2008087797&ver')
INSERT INTO items VALUES('2008088364&ver',
        '[플라스틱아일랜드](신세계김해점)V넥 꽃패턴 니트 베스트(PM1KV134)',
        59000,
        40710,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '84',
    '2008088364&ver')
INSERT INTO items VALUES('2051596707&ver',
        '[플라스틱아일랜드][플라스틱아일랜드] 봄 신상 베스트 추천전 최대 70% 할인',
        37250,
        37250,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '85',
    '2051596707&ver')
INSERT INTO items VALUES('1621034116&ver',
        '[케네스레이디](신세계마산점)레이스 카라 체크 원피스 EWOPJE2000',
        51000,
        38340,
        0,
        '케네스레이디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '86',
    '1621034116&ver')
INSERT INTO items VALUES('1876732650&ver',
        '[세컨스킨]갤러리아  NEW 4-6세 스마킹 롱슬리브 드레스 NAYFD5301',
        27300,
        21570,
        0,
        '세컨스킨')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '87',
    '1876732650&ver')
INSERT INTO items VALUES('2008088141&ver',
        '[플라스틱아일랜드](신세계경기점)V넥 꽃패턴 니트 베스트(PM1KV134)',
        53100,
        36650,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '88',
    '2008088141&ver')
INSERT INTO items VALUES('1905021020&ver',
        '[플라스틱아일랜드]턱 랩형식 셔츠 원피스(PL1WO282)',
        39000,
        31980,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '89',
    '1905021020&ver')
INSERT INTO items VALUES('2034631095&ver',
        '[SOUP](신세계하남점)숲 탈부착 후드 포켓 야상 점퍼 (SX4UJ80)',
        99000,
        67320,
        0,
        'Soup')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '90',
    '2034631095&ver')
INSERT INTO items VALUES('2039208941&ver',
        '[쉬즈미스]갤러리아   20봄  S/S 레이스 타이넥 패턴 원피스(SWWOPK11460)',
        99000,
        74250,
        0,
        '쉬즈미스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '91',
    '2039208941&ver')
INSERT INTO items VALUES('2050006365&ver',
        '[씨씨콜렉트]체크 패턴 셔츠형 원피스C193MSE001',
        69800,
        69460,
        0,
        '씨씨콜렉트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '92',
    '2050006365&ver')
INSERT INTO items VALUES('1874378070&ver',
        '[플라스틱아일랜드](신세계강남점)더블 박시 트렌치코트(PL3WC881)',
        65000,
        49080,
        0,
        '플라스틱아일랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '93',
    '1874378070&ver')
INSERT INTO items VALUES('2045674336&ver',
        '뉴코아강남 올앤선드리 아미티바지 A0S2P322',
        30000,
        26850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '94',
    '2045674336&ver')
INSERT INTO items VALUES('2056973029&ver',
        'NEW 라삐아프 큐롯 점프수트 1종 (원피스 실루엣)',
        69900,
        69900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '95',
    '2056973029&ver')
INSERT INTO items VALUES('1911934831&ver',
        '[SOUP](신세계경기점)숲 노카라 뽀글이 부클점퍼(SWBDB83)',
        49500,
        33670,
        0,
        'Soup')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '96',
    '1911934831&ver')

INSERT INTO items VALUES('1878826828&ver',
        '셀렙샵 에디션  이태리소재  트위드 자켓',
        129000,
        99000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '97',
    '1878826828&ver')
INSERT INTO items VALUES('1780819934&ver',
        '[린](신세계하남점)카라넥 칠부소매 원피스(LGOPKD9300)',
        131000,
        86460,
        0,
        '린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '98',
    '1780819934&ver')
INSERT INTO items VALUES('1882624214&ver',
        '[홈쇼핑상품] 가을 A라인 트렌치 코트',
        29800,
        26680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '99',
    '1882624214&ver')
INSERT INTO items VALUES('1864467714&ver',
        '[로엠]베이직린넨싱글자켓(RMJKA2402A)',
        31960,
        28770,
        0,
        '로엠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 여성의류',
    '100',
    '1864467714&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G01&subGroupCode=S161 브랜드 여성의류
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '1',
    '1632202735&ver')
INSERT INTO items VALUES('1806635939&ver',
        'STCO 남자 베이직 신발 가방 벨트',
        29900,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '2',
    '1806635939&ver')
INSERT INTO items VALUES('1924003781&ver',
        '[헤지스]헤지스 카라티/티셔츠/긴팔티/니트/맨투맨/셔츠 +25%',
        177000,
        53100,
        0,
        '헤지스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '3',
    '1924003781&ver')
INSERT INTO items VALUES('1794122039&ver',
        '[레노마셔츠]갤러리아  (선물포장 가능) 레노마 드레스셔츠 슬림핏 18종 RKFSL0104WH 외',
        30000,
        20700,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '4',
    '1794122039&ver')
INSERT INTO items VALUES('2053570472&ver',
        '[디키즈]남여공용 497 홀스 로고 워싱 반팔티셔츠 DSR2UTST497',
        15000,
        12750,
        0,
        '디키즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '5',
    '2053570472&ver')
INSERT INTO items VALUES('1806636422&ver',
        '[에스티코]STCO 셔츠/니트/바지/티셔츠 50종',
        19900,
        19900,
        0,
        '에스티코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '6',
    '1806636422&ver')
INSERT INTO items VALUES('1486754865&ver',
        '[by파크랜드]by파크랜드_봄맞이 시즌최종가 점퍼/니트/정장 외',
        99800,
        49900,
        0,
        'by파크랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '7',
    '1486754865&ver')
INSERT INTO items VALUES('1280319791&ver',
        '[by파크랜드]by파크랜드_봄맞이 시즌 최종가 정장/아우터/니트 외',
        118000,
        59000,
        0,
        'by파크랜드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '8',
    '1280319791&ver')
INSERT INTO items VALUES('1899400375&ver',
        '[헤지스]헤지스 카라티/티셔츠/긴팔티/니트/맨투맨/셔츠 +25%',
        177000,
        53100,
        0,
        '헤지스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '9',
    '1899400375&ver')
INSERT INTO items VALUES('1791144881&ver',
        '[레노마셔츠]갤러리아  레노마  비지니스셔츠  특가전(RKFSG0005WH)외19종',
        30000,
        20700,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '10',
    '1791144881&ver')
INSERT INTO items VALUES('2037927101&ver',
        '[노스페이스]공용 테크 눕시 반팔 라운드티 NT7UL25',
        28000,
        21840,
        0,
        '노스페이스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '11',
    '2037927101&ver')
INSERT INTO items VALUES('2039194137&ver',
        '[By파크랜드] 티셔츠/팬츠外 가성비특가전 택1 (1442345_B)',
        6900,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '12',
    '2039194137&ver')
INSERT INTO items VALUES('2013042492&ver',
        '[올젠]올젠 스트래치원단 드레스셔츠 9종 택1 (ZOA1WD1301/ZOA3WC1307)',
        30000,
        23100,
        0,
        '올젠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '13',
    '2013042492&ver')
INSERT INTO items VALUES('1295698550&ver',
        '[지이크](22%)지이크 파렌하이트 봄 셔츠/정장 간절기룩',
        92500,
        46900,
        0,
        '지이크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '14',
    '1295698550&ver')
INSERT INTO items VALUES('1837958218&ver',
        '[예작]갤러리아  예작 긴소매 남방셔츠 17종 택 1    YJ0FBS915WH외16종',
        30000,
        22200,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '15',
    '1837958218&ver')
INSERT INTO items VALUES('1677151365&ver',
        '[란체티](신세계경기점)F/W  베이직 비즈니스 셔츠 (일반핏/슬림핏) 25종 택 1',
        13500,
        10000,
        0,
        '란체티')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '16',
    '1677151365&ver')
INSERT INTO items VALUES('1788353806&ver',
        '[란체티](신세계하남점)깔끔한 소프트 비즈니스 긴소매 셔츠 (슬림핏/일반핏) 20종 택 1',
        13500,
        10000,
        0,
        '란체티')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '17',
    '1788353806&ver')
INSERT INTO items VALUES('2060827338&ver',
        '[게스]남성 M톤 슬림 스트레이트(MK1D6050)',
        67000,
        50920,
        0,
        '게스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '18',
    '2060827338&ver')
INSERT INTO items VALUES('1996601566&ver',
        '[예작][대구백화점 II관] [예작]일반핏 긴소매 16종 택 1(YJ1SBR101 외)',
        33000,
        24750,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '19',
    '1996601566&ver')
INSERT INTO items VALUES('1652413805&ver',
        '[레노마][레노마(남성)] 21년 춘하 댄디블랙 고퀄리티 무광택 슬림 스판정장 (양말포함) RNAI',
        158000,
        131140,
        0,
        '레노마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '20',
    '1652413805&ver')
INSERT INTO items VALUES('1732139898&ver',
        '[에스티코]STCO 남자 베이직 신발 가방 벨트',
        34900,
        34900,
        0,
        '에스티코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '21',
    '1732139898&ver')
INSERT INTO items VALUES('1778121519&ver',
        '[레노마][레노마(남성)] S/S 춘하 대체상품 한정수량 스판 슬렉스 정장바지 21종택1 RIAIS',
        29000,
        24070,
        0,
        '레노마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '22',
    '1778121519&ver')
INSERT INTO items VALUES('1547614275&ver',
        '[레노마옴므][레노마_셔츠(남성)] 인기이월긴팔드레스셔츠캐주얼남방26종택1',
        30000,
        23400,
        0,
        '레노마옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '23',
    '1547614275&ver')
INSERT INTO items VALUES('1893084639&ver',
        '[까르뜨블랑슈]20 S/S 남성 피케 폴로넥 티셔츠 CMS0KLL1',
        35000,
        28000,
        0,
        '까르뜨블랑슈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '24',
    '1893084639&ver')

INSERT INTO items VALUES('2022895572&ver',
        '[캘빈클라인]남성 로고티셔츠(J315410)',
        17550,
        13340,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '25',
    '2022895572&ver')
INSERT INTO items VALUES('2005223885&ver',
        '[예작](신세계강남점)[예작셔츠] 2021년 S/S  신상품 비지니스 셔츠 21종 택1 (115 사이즈 포함)',
        33000,
        26730,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '26',
    '2005223885&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '27',
    '2065851517&ver')
INSERT INTO items VALUES('1815241159&ver',
        '[란체티](신세계센텀점)데일리 소프트 비즈니스 긴소매 셔츠 (슬림핏/일반핏) 25종 택 1',
        13500,
        10940,
        0,
        '란체티')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '28',
    '1815241159&ver')
INSERT INTO items VALUES('1888309736&ver',
        '[레노마][레노마(남성)] 레노마 S/S 춘하 한정수량 멋스러운 콤비자켓 14종택1  BJ11AGP',
        59000,
        47790,
        0,
        '레노마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '29',
    '1888309736&ver')
INSERT INTO items VALUES('2025265454&ver',
        '[올젠](부산점)올젠 남성 구스다운베스트 셔츠 팬츠 등 기본아이템 5종 중 택 1 (ZOA4VP1303)',
        24900,
        22410,
        0,
        '올젠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '30',
    '2025265454&ver')
INSERT INTO items VALUES('2062779459&ver',
        '[디키즈]남여공용 디키즈 로고 반팔 티셔츠DMS2UTST531EMA',
        29000,
        24650,
        0,
        '디키즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '31',
    '2062779459&ver')
INSERT INTO items VALUES('2053540891&ver',
        '[지이크][지이크] S/S 프리미엄 수입원단 외 정장 셋업 바지 7종 택1 PAPIM2222',
        50000,
        37000,
        0,
        '지이크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '32',
    '2053540891&ver')
INSERT INTO items VALUES('1744615609&ver',
        '남성 Q 윈드카고청남방 작업복남방 청남방 셔츠 남방 (jin_490)',
        13900,
        12510,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '33',
    '1744615609&ver')
INSERT INTO items VALUES('2030221065&ver',
        '[앤드지 바이 지오지아](파주점)앤드지)챠콜네이비 심플솔리드 정장(BZA3SB1101)',
        99000,
        89100,
        0,
        '앤드지바이지오지아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '34',
    '2030221065&ver')
INSERT INTO items VALUES('1795293402&ver',
        '(낫앤낫) 공용 NOT 세미오버 블레이져 - 블랙',
        79200,
        53070,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '35',
    '1795293402&ver')
INSERT INTO items VALUES('1797200514&ver',
        '[까르뜨블랑슈]간절기트렌치반코트 CMS0WAL1',
        79000,
        63200,
        0,
        '까르뜨블랑슈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '36',
    '1797200514&ver')
INSERT INTO items VALUES('2038276808&ver',
        '와플 긴팔 티셔츠 6종 택1/ 폴로(의류)',
        29900,
        27210,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '37',
    '2038276808&ver')
INSERT INTO items VALUES('1755269193&ver',
        '[레노마셔츠]갤러리아  품격있는  샐러리맨을 위한 봄신상 레노마셔츠대전(RLSSG0041NY)외1',
        35000,
        24150,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '38',
    '1755269193&ver')
INSERT INTO items VALUES('1893176091&ver',
        '[라코스테]라코스테 기모 안감 맨투맨 SH7613 3종 택1',
        51900,
        50420,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '39',
    '1893176091&ver')
INSERT INTO items VALUES('1798986837&ver',
        '[리얼지오지아(남성)] 셔츠 레이어드 헨리넥 니트 ADA1ER1907',
        29000,
        23490,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '40',
    '1798986837&ver')
INSERT INTO items VALUES('2030220935&ver',
        '[앤드지 바이 지오지아](파주점)앤드지)베이지 심플솔리드 정장(BZA3SB1103)',
        99000,
        89100,
        0,
        '앤드지바이지오지아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '41',
    '2030220935&ver')
INSERT INTO items VALUES('1807969766&ver',
        '[바쏘]쿠폰+무료배송 바쏘옴므 간절기템 트렌치코트/니트 외',
        198000,
        99000,
        0,
        '바쏘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '42',
    '1807969766&ver')
INSERT INTO items VALUES('2022112088&ver',
        '[아디다스](GL3231)M WWS 롱슬리브 티',
        31200,
        25590,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '43',
    '2022112088&ver')
INSERT INTO items VALUES('1924802428&ver',
        '[바쏘옴므]바쏘옴므 21SS 신상 수트/코트/스웨터 27%중복쿠폰',
        198000,
        99000,
        0,
        '바쏘옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '44',
    '1924802428&ver')
INSERT INTO items VALUES('1864550175&ver',
        '[예작]갤러리아  예작(슬림핏 일반핏) 긴소매 모음전 20종(YJ0FBS108WH외19종)',
        30000,
        22200,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '45',
    '1864550175&ver')
INSERT INTO items VALUES('2062779251&ver',
        '[디키즈]남여공용 디키즈 레터링 반팔 티셔츠DMS2UTST532EMA',
        29000,
        24650,
        0,
        '디키즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '46',
    '2062779251&ver')
INSERT INTO items VALUES('1919707444&ver',
        '[레노마셔츠]갤러리아  21년 S/S봄신상품 긴소매셔츠 베스트16종 (일반 슬림)RLSSG0-2000',
        35000,
        24150,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '47',
    '1919707444&ver')
INSERT INTO items VALUES('1678818885&ver',
        '[레노마]레노마셔츠 신상 인기드레스셔츠 일반핏 20종 09240',
        30000,
        22800,
        0,
        '레노마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '48',
    '1678818885&ver')
INSERT INTO items VALUES('1994945266&ver',
        '[대구백화점 II관] [씨저스]케주얼 춘하 여름자켓 10종 택1(1G4-0KE21-52외9종택1)',
        59000,
        44840,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '49',
    '1994945266&ver')
INSERT INTO items VALUES('1992138898&ver',
        '[헤지스][헤지스] [20SS]HZTS0B905N2 네이비 NEW 피즈 스몰 더블로고 스트라이프 티',
        30870,
        23770,
        0,
        '헤지스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '50',
    '1992138898&ver')
INSERT INTO items VALUES('2006817262&ver',
        '[대구백화점 I관] [닥스셔츠]21년 봄 신상 체크 남방 13종택1(DHG2SHCL105-N1)',
        60000,
        60000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '51',
    '2006817262&ver')
INSERT INTO items VALUES('2027763533&ver',
        '[캉골]베이직 클럽 숏 슬리브스 티 2604 화이트',
        31500,
        28350,
        0,
        '캉골')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '52',
    '2027763533&ver')

INSERT INTO items VALUES('2045427481&ver',
        '[듀퐁]갤러리아   듀퐁  21년 S/S 신상품(슬림핏)세미와이드 셔츠3종 택1  SE1SM22LS902S',
        49000,
        38710,
        0,
        '듀퐁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '53',
    '2045427481&ver')
INSERT INTO items VALUES('2038235001&ver',
        '[폴햄]공용_데일리 그래픽/솔리드맨투맨 5종택1 (PHA3TR3010 PHA3TR3020 PHA3TR3040 외2종)',
        10900,
        9160,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '54',
    '2038235001&ver')
INSERT INTO items VALUES('1874697224&ver',
        '[트레몰로][모다아울렛]봄가을 기본네이비점퍼TRBCLVZ8211',
        79000,
        74260,
        0,
        '트레몰로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '55',
    '1874697224&ver')
INSERT INTO items VALUES('1784307966&ver',
        '[예작]갤러리아  예작(일반핏) 모달 솔리드 긴팔셔츠 YJ1SBR905WH/BL/NY',
        33000,
        24420,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '56',
    '1784307966&ver')
INSERT INTO items VALUES('2046519480&ver',
        '[까르뜨블랑슈]봄 캐주얼 순면 긴팔 카라티 CMS0KLL1MI-EL',
        35000,
        26600,
        0,
        '까르뜨블랑슈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '57',
    '2046519480&ver')
INSERT INTO items VALUES('1548656153&ver',
        '[레노마옴므][레노마_셔츠(남성)] 21년SS 봄 긴팔드레스셔츠슬림핏일반핏30종',
        35000,
        27300,
        0,
        '레노마옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '58',
    '1548656153&ver')
INSERT INTO items VALUES('1824292033&ver',
        '[레노마셔츠]갤러리아  (선물포장 가능) 21SS신상 긴소매 일반핏 드레스셔츠 베스트 19종',
        35000,
        24150,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '59',
    '1824292033&ver')
INSERT INTO items VALUES('2034673218&ver',
        '[닥스셔츠]갤러리아  (닥스셔츠)21년 봄 캐주얼셔츠16종 택1(DHG2SHCL112-E1외)',
        60000,
        47400,
        0,
        '닥스셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '60',
    '2034673218&ver')
INSERT INTO items VALUES('1825957251&ver',
        '[레노마셔츠]갤러리아  (선물포장가능) 레노마셔츠 20FW 슬림핏 일반핏 베스트 18종 RKFSL41',
        30000,
        22200,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '61',
    '1825957251&ver')
INSERT INTO items VALUES('2027665629&ver',
        '[게스][게스] 남성 M톤 그린틴 레귤러테이퍼(MJ1D9065)',
        29000,
        23780,
        0,
        '게스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '62',
    '2027665629&ver')
INSERT INTO items VALUES('1734751137&ver',
        '[컨셉원]컨셉원 040101 이지케어 셔츠',
        24000,
        24000,
        0,
        '컨셉원')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '63',
    '1734751137&ver')
INSERT INTO items VALUES('1970620226&ver',
        '[올젠](신세계타임스퀘어점패션관)구스다운 니트카라 경량 점퍼 4종 택1 (ZOA4JP1302)',
        64000,
        57600,
        0,
        '올젠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '64',
    '1970620226&ver')
INSERT INTO items VALUES('1764164549&ver',
        '[란체티](신세계김해점)[란체티] S/S 소프트 비즈니스 셔츠 (슬림핏/일반핏) 39종 택 1',
        13900,
        10290,
        0,
        '란체티')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '65',
    '1764164549&ver')
INSERT INTO items VALUES('1918033850&ver',
        '[뱅뱅]남녀공용 슬림 스판 청바지(NQF762)',
        19900,
        16520,
        0,
        '뱅뱅')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '66',
    '1918033850&ver')
INSERT INTO items VALUES('2027764662&ver',
        '[캉골]베이직 클럽 숏 슬리브스 티 2604 블랙',
        31500,
        28350,
        0,
        '캉골')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '67',
    '2027764662&ver')
INSERT INTO items VALUES('1773771927&ver',
        '[에스티코]STCO 비즈니스 남자 벨트 구두 가방',
        34900,
        34900,
        0,
        '에스티코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '68',
    '1773771927&ver')
INSERT INTO items VALUES('2034653625&ver',
        '[지이크](현대백화점)[지이크]봄 여름용 S/S 프리미엄 스판 정장 6종 택1 PAJ2070',
        130000,
        110500,
        0,
        '지이크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '69',
    '2034653625&ver')
INSERT INTO items VALUES('1757948237&ver',
        '[에스티코]STCO 베이직 남자 셔츠 팬츠 바지 50종 9900원~',
        17430,
        17430,
        0,
        '에스티코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '70',
    '1757948237&ver')
INSERT INTO items VALUES('1866715666&ver',
        '[예작][예작셔츠] 남성 일반핏 와이셔츠 20종 택1',
        30000,
        23700,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '71',
    '1866715666&ver')
INSERT INTO items VALUES('1695386621&ver',
        '(현대Hmall)[FOREST CAMP]Lambswool Zip-Up Cardigan/램스울 집업 가디건/∼4XL[FCSW9403-Medium Grey]',
        59800,
        59210,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '72',
    '1695386621&ver')
INSERT INTO items VALUES('1783557705&ver',
        '[휠라 프리미엄] (SM) 남여공용 리니어 로고 반팔티셔츠_L4 FS2RSC2001X_OW',
        29000,
        29000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '73',
    '1783557705&ver')
INSERT INTO items VALUES('1892331477&ver',
        '[라코스테]공용 베이직 크루넥 티셔츠 TH0123-20C_001',
        59500,
        59500,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '74',
    '1892331477&ver')
INSERT INTO items VALUES('1734138259&ver',
        '[지오다노](현대Hmall)[컨셉원] 040101 이지케어 셔츠 (10040101)',
        25000,
        19250,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '75',
    '1734138259&ver')
INSERT INTO items VALUES('2022835430&ver',
        '[리얼지오지아](현대백화점)[지오지아]21S/S 히든 버튼 싱글 트렌치 코트 5종 택1 ADB1CG1901',
        99000,
        85140,
        0,
        '리얼지오지아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '76',
    '2022835430&ver')
INSERT INTO items VALUES('2045569651&ver',
        '[버커루][버커루] 남여 청바지 10종택일 (B193DP121M외9종)',
        42000,
        28140,
        0,
        '버커루')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '77',
    '2045569651&ver')
INSERT INTO items VALUES('2001182315&ver',
        '[빈폴](현대Hmall)[빈폴] [GREEN BEANPOLE] Unisex 그레이 울 블렌드 픽셀 로고 패치 카디건 (BC0Y5AN013)',
        95000,
        72200,
        0,
        '빈폴')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '78',
    '2001182315&ver')
INSERT INTO items VALUES('1757090861&ver',
        '[예작]갤러리아  예작 긴소매(슬림 일반) 20종 (YJ0FBR906NY외 19종)',
        30000,
        22200,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '79',
    '1757090861&ver')

INSERT INTO items VALUES('1849075204&ver',
        '[올젠]갤러리아   올젠 남성 간절기 셔츠 ZOZ1WC1302',
        30000,
        22500,
        0,
        '올젠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '80',
    '1849075204&ver')
INSERT INTO items VALUES('2027709204&ver',
        '[앤드지 바이 지오지아]갤러리아  ANDZ BY 지오지아 21S/S 세미와이드 카라 드레스셔츠 4종 BZB5WD1103',
        29000,
        21750,
        0,
        '앤드지바이지오지아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '81',
    '2027709204&ver')
INSERT INTO items VALUES('1799113826&ver',
        '[에스티듀퐁]듀퐁셔츠 긴소매슬림핏 10종택1 SE0FM22LS752SBU',
        49000,
        40180,
        0,
        '에스티듀퐁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '82',
    '1799113826&ver')
INSERT INTO items VALUES('1501783113&ver',
        '(현대Hmall)[FOREST CAMP]Lambswool Crewneck Sweater/램스울 니쥬조직 라운드넥 스웨터/∼4XL[FCSW8413-Medium Grey]',
        49800,
        49310,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '83',
    '1501783113&ver')
INSERT INTO items VALUES('2056485707&ver',
        '(현대백화점)[네파] 이월상품 아델라 폴로 티셔츠(남 여)-7GA5201 7GB5201',
        30000,
        25500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '84',
    '2056485707&ver')
INSERT INTO items VALUES('1669237470&ver',
        '[에스티듀퐁][듀퐁-남성셔츠] (24종택1)긴소매 베스트 일반핏 슬림핏 24종중택1',
        65000,
        50050,
        0,
        '에스티듀퐁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '85',
    '1669237470&ver')
INSERT INTO items VALUES('1756657828&ver',
        '[레노마셔츠]갤러리아  2020년  가을신상스판스트레치  모음전RKFSL0-105-WH)외20종',
        30000,
        22200,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '86',
    '1756657828&ver')
INSERT INTO items VALUES('1622845042&ver',
        '[에스티듀퐁][듀퐁-남성셔츠] 듀퐁셔츠 긴소매 슬림핏 10종택1 SE1SM22LS914SWH',
        49000,
        38710,
        0,
        '에스티듀퐁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '87',
    '1622845042&ver')
INSERT INTO items VALUES('1852674488&ver',
        '[헤지스][헤지스] [20SS]HZJU0A234N2 네이비 히든후드 캐주얼점퍼',
        193860,
        149280,
        0,
        '헤지스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '88',
    '1852674488&ver')
INSERT INTO items VALUES('1686682489&ver',
        '라운드넥 반팔 09T3139/ 타미힐피거.',
        26400,
        23760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '89',
    '1686682489&ver')
INSERT INTO items VALUES('1905948810&ver',
        '[에디션앤드지]캐시미어 블렌드 라운드 스웨터 4종택1 NEA4ER1802',
        39000,
        30810,
        0,
        '에디션앤드지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '90',
    '1905948810&ver')
INSERT INTO items VALUES('1776513244&ver',
        '[레노마셔츠]갤러리아  (선물포장가능) 21년 신상 슬림핏  일반핏 긴소매 베스트 20종 RLSS',
        35000,
        24150,
        0,
        '레노마셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '91',
    '1776513244&ver')
INSERT INTO items VALUES('1905827647&ver',
        '[듀퐁]갤러리아  균일가 슬림긴팔와이셔츠 5종 택 1 SE0FM22LS906S 외)',
        49000,
        36260,
        0,
        '듀퐁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '92',
    '1905827647&ver')
INSERT INTO items VALUES('1871835588&ver',
        '[카운테스마라]2021봄신상품  매니저추천 스판슬림핏셔츠6종택1',
        39000,
        30420,
        0,
        '카운테스마라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '93',
    '1871835588&ver')
INSERT INTO items VALUES('2030990439&ver',
        '[클라이드앤]남여공용 청바지 8종택1 (CJCDP313M외7종)',
        10000,
        7800,
        0,
        '클라이드앤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '94',
    '2030990439&ver')
INSERT INTO items VALUES('1795110483&ver',
        '[예작]갤러리아  예작(일반핏) 긴소매 20종 (YJ0FBR903BL외 19종)',
        30000,
        22200,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '95',
    '1795110483&ver')
INSERT INTO items VALUES('1659082392&ver',
        '[예작][예작셔츠]남성 긴소매  일반핏 와이셔츠 38종 택1',
        33000,
        26400,
        0,
        '예작')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '96',
    '1659082392&ver')
INSERT INTO items VALUES('2039341365&ver',
        '[에디션앤드지](에디션앤드지) 순면 리플원단의 고급 카라티셔츠 10종 택1',
        23900,
        19120,
        0,
        '에디션앤드지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '97',
    '2039341365&ver')
INSERT INTO items VALUES('2012078942&ver',
        '앤드지 BY ZIOZIA 21S/S 이지케어 이모션 드레스 셔츠 8종 택1 BLB5WD1001',
        30000,
        22800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '98',
    '2012078942&ver')
INSERT INTO items VALUES('1572446118&ver',
        '[라코스테] 남성 포플린 코튼 슬림 셔츠 LCST CH2094-19AG5J',
        63600,
        57240,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '99',
    '1572446118&ver')
INSERT INTO items VALUES('1812640095&ver',
        '남성 썸머쿨TR슬랙스3종 (1324208)',
        19900,
        19310,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 남성의류',
    '100',
    '1812640095&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G01&subGroupCode=S162 브랜드 남성의류
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '1',
    '1267464808&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '2',
    '1760154947&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '3',
    '1789464964&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '4',
    '1883764136&ver')
INSERT INTO items VALUES('2025528833&ver',
        '타미힐피거 봄 맨투맨 4종',
        34830,
        34830,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '5',
    '2025528833&ver')
INSERT INTO items VALUES('1895164110&ver',
        '[에비수]에비수 브랜드 맨투맨/티셔츠/후드티/점퍼/데님',
        66300,
        19900,
        0,
        '에비수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '6',
    '1895164110&ver')
INSERT INTO items VALUES('1895169358&ver',
        '[에비수]에비수 브랜드 점퍼/후드/맨투맨/티셔츠/데님',
        66300,
        19900,
        0,
        '에비수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '7',
    '1895169358&ver')
INSERT INTO items VALUES('2052132169&ver',
        '[후아유]봄 간절기 인기아이템 1만원대~',
        23900,
        23900,
        0,
        '후아유')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '8',
    '2052132169&ver')

INSERT INTO items VALUES('1923952746&ver',
        '[니]NII 키즈 봄아이템 맨투맨외50종+최대22%추가할인',
        18000,
        9000,
        0,
        '니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '9',
    '1923952746&ver')
INSERT INTO items VALUES('2030219701&ver',
        '[지오다노]지오다노 021515 헤비웨이트 후드 집업',
        47300,
        47300,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '10',
    '2030219701&ver')
INSERT INTO items VALUES('1904145773&ver',
        '[폴햄]폴햄 티셔츠/후드/셔츠 외  모음',
        33000,
        9900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '11',
    '1904145773&ver')
INSERT INTO items VALUES('1719383108&ver',
        '[폴햄][폴햄] 공용 3PACK+1 라운드 반팔 티셔츠 PHA5TR3900',
        19900,
        15730,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '12',
    '1719383108&ver')
INSERT INTO items VALUES('679246929&ver',
        '[칼카니]마블 칼카니 신상 성인/아동 맨투맨 후드티 팬츠100종',
        29600,
        8900,
        0,
        '칼카니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '13',
    '679246929&ver')
INSERT INTO items VALUES('1553580303&ver',
        '[마인드브릿지]빅세일 마인드브릿지 맨투맨/반팔티셔츠',
        63000,
        19000,
        0,
        '마인드브릿지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '14',
    '1553580303&ver')
INSERT INTO items VALUES('1725548978&ver',
        '[리바이스]리바이스 트러커/데님/501/맨투맨/후드 모음',
        160000,
        49000,
        0,
        '리바이스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '15',
    '1725548978&ver')
INSERT INTO items VALUES('1161403967&ver',
        '[뱅뱅]17%쿠폰 봄본격SALE 봄아우터9천원대~맨투맨/팬츠 외',
        43000,
        12900,
        0,
        '뱅뱅')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '16',
    '1161403967&ver')
INSERT INTO items VALUES('2012230440&ver',
        'Big Logo Embroidered Sweat M/Grey (JM5TSU832MG)',
        69000,
        48300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '17',
    '2012230440&ver')
INSERT INTO items VALUES('1652387921&ver',
        '[니]NII 남/녀 SS 티셔츠/팬츠외50종+최대22%추가할인',
        26600,
        8000,
        0,
        '니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '18',
    '1652387921&ver')
INSERT INTO items VALUES('2030211598&ver',
        '[지오다노]지오다노 021513 오버핏 오버사이즈 맨투맨',
        25000,
        25000,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '19',
    '2030211598&ver')
INSERT INTO items VALUES('1674006850&ver',
        '[캘빈클라인]CK 봄 신상 반팔/긴팔/맨투맨/데님 1만원대~',
        165000,
        49500,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '20',
    '1674006850&ver')
INSERT INTO items VALUES('1663724654&ver',
        '[스위브]파이널특가 다운패딩 9800원~ 맨투맨후드 4900원~',
        9800,
        9800,
        0,
        '스위브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '21',
    '1663724654&ver')
INSERT INTO items VALUES('2043921288&ver',
        '[엘레쎄](대구신세계)엘레쎄 남여 공용  데일리 후드 티셔츠 기획전 (EK3UHTR331 EK3UHTR333)',
        23000,
        18580,
        0,
        '엘레쎄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '22',
    '2043921288&ver')
INSERT INTO items VALUES('2058596930&ver',
        '[폴햄]폴햄  남여공용 심플 솔리드 테리 맨투맨_PHZ2TR3900',
        10900,
        10900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '23',
    '2058596930&ver')
INSERT INTO items VALUES('2058609182&ver',
        '[폴햄]폴햄  남여공용 블록 후드 바람막이 점퍼_PHZ2JJ3020',
        25900,
        25900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '24',
    '2058609182&ver')
INSERT INTO items VALUES('1942718014&ver',
        '캠핑 시리즈 맨투맨(JM5TSU837)',
        59000,
        38350,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '25',
    '1942718014&ver')
INSERT INTO items VALUES('2001215623&ver',
        '[지오다노]지오다노 111522 펜슬핏 치노팬츠',
        28300,
        28300,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '26',
    '2001215623&ver')
INSERT INTO items VALUES('1890317015&ver',
        '[지오다노]갤러리아   20FW  여  진주점 전지현 어니언 퀼팅 경량 다운자켓 (0537-0907)',
        59800,
        47840,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '27',
    '1890317015&ver')
INSERT INTO items VALUES('2005256898&ver',
        '[지오다노]지오다노 021511 언브러시드 클래식 맨투맨',
        20000,
        20000,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '28',
    '2005256898&ver')
INSERT INTO items VALUES('1735252252&ver',
        '[캘빈클라인]CK 21SS 봄 데님 입고전 맨투맨/청바지 2만원대~',
        180000,
        54000,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '29',
    '1735252252&ver')
INSERT INTO items VALUES('2060606608&ver',
        '[폴햄]공용 덤블 보아 후드 집업외2종택1 (PHA4TC39103930)',
        19900,
        16720,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '30',
    '2060606608&ver')
INSERT INTO items VALUES('1925247560&ver',
        'Iconic Sweat (GK5TSU881BK)',
        65000,
        19500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '31',
    '1925247560&ver')
INSERT INTO items VALUES('2036372138&ver',
        '[폴햄][폴햄] 남여 경량 패딩점퍼 4종 택1',
        24900,
        20420,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '32',
    '2036372138&ver')
INSERT INTO items VALUES('151883935&ver',
        '[디키즈]국내 배송  / 디키즈 874 바지/교환 원활/디키즈바지',
        37000,
        37000,
        0,
        '디키즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '33',
    '151883935&ver')
INSERT INTO items VALUES('1891857556&ver',
        '[디키즈](광주신세계)디키즈남녀공용 STANDARD FIT-BASIC HOOD ZIP UP 베이직 기모 후드집업(DMR3UTZU512)',
        39000,
        33150,
        0,
        '디키즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '34',
    '1891857556&ver')
INSERT INTO items VALUES('1791692005&ver',
        '[타미힐피거]타미힐피거 카라 반팔티셔츠 피케 폴로셔츠 T1867 택1',
        34900,
        34900,
        0,
        '타미힐피거')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '35',
    '1791692005&ver')
INSERT INTO items VALUES('2034636325&ver',
        '[체이스컬트]체이스컬트  공용 기본 바람막이 점퍼/4Color',
        19900,
        19900,
        0,
        '체이스컬트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '36',
    '2034636325&ver')

INSERT INTO items VALUES('2009943662&ver',
        '[지오다노]지오다노 411521 여 언브러시드 테리 스트레이트 팬츠',
        29800,
        29800,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '37',
    '2009943662&ver')
INSERT INTO items VALUES('1728168897&ver',
        '[폴햄] 폴햄 남녀공용 면100 기본라운드반팔티 4PACK',
        19900,
        16720,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '38',
    '1728168897&ver')
INSERT INTO items VALUES('1923799807&ver',
        '[테이트]테이트 티셔츠/후드 외  BEST',
        56300,
        16900,
        0,
        '테이트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '39',
    '1923799807&ver')
INSERT INTO items VALUES('2030217525&ver',
        '[지오다노]지오다노 021514 헤비웨이트 후드 풀오버',
        31000,
        31000,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '40',
    '2030217525&ver')
INSERT INTO items VALUES('1668850373&ver',
        '[캘빈클라인]CK 21SS 신상 잡화 특가전 백팩/크로스백/지갑',
        165000,
        49500,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '41',
    '1668850373&ver')
INSERT INTO items VALUES('2051103792&ver',
        '[폴햄]폴햄  남성 코튼스판 슬림핏 치노 팬츠 A_PHA1PP1012',
        20000,
        20000,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '42',
    '2051103792&ver')
INSERT INTO items VALUES('2051100634&ver',
        '[폴햄]폴햄  여성 슬림핏 히든밴딩 데님 팬츠_PHA3DP2022',
        15900,
        15900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '43',
    '2051100634&ver')
INSERT INTO items VALUES('1924944251&ver',
        '[클라이드앤]클라이드앤 하니추천 항공점퍼/맨투맨/데님팬츠',
        88000,
        29000,
        0,
        '클라이드앤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '44',
    '1924944251&ver')
INSERT INTO items VALUES('1978007255&ver',
        '게스 남)D톤 슬림스트레이트 MK3D1150',
        86300,
        64730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '45',
    '1978007255&ver')
INSERT INTO items VALUES('1890316929&ver',
        '[지오다노]갤러리아   여 어니언 퀼팅 경량 다운 자켓(05370907)(370907)',
        59800,
        50120,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '46',
    '1890316929&ver')
INSERT INTO items VALUES('1881712432&ver',
        '[닉스]남성 D톤 워싱 부분밴딩 뉴슬림 데님 FNARDDN117P',
        27000,
        21870,
        0,
        '닉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '47',
    '1881712432&ver')
INSERT INTO items VALUES('2041646325&ver',
        '[테이트]남성 간절기 블루종 3종 (KABS1-MGJ010050UGJ020)',
        50900,
        39200,
        0,
        '테이트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '48',
    '2041646325&ver')
INSERT INTO items VALUES('2009941207&ver',
        '[지오다노]지오다노 411520 여 언브러시드 테리 조거팬츠',
        29800,
        29800,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '49',
    '2009941207&ver')
INSERT INTO items VALUES('2045296676&ver',
        'NAUTICA  노티카 남 녀 맥코트 택1',
        49900,
        49900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '50',
    '2045296676&ver')
INSERT INTO items VALUES('2007267260&ver',
        '갤러리아   리바이스  남  511 슬림 스트레치 진(04511-4828)',
        69000,
        51750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '51',
    '2007267260&ver')
INSERT INTO items VALUES('2030815371&ver',
        '[지오다노]지오다노 411504 여 오드리 팬츠',
        37800,
        37800,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '52',
    '2030815371&ver')
INSERT INTO items VALUES('2065851163&ver',
        '[폴햄]폴햄  21SS 최신상 워셔블 반팔 카라 니트티셔츠 3종',
        59900,
        59900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '53',
    '2065851163&ver')
INSERT INTO items VALUES('1850845041&ver',
        '익스페디션 마운틴 반팔 티셔츠 (GL5TSU142BL)',
        35000,
        17500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '54',
    '1850845041&ver')
INSERT INTO items VALUES('2014015755&ver',
        '[폴햄]공용_폴라폴리스 목넥 집업 (PHB1TC3010)',
        13900,
        10710,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '55',
    '2014015755&ver')
INSERT INTO items VALUES('2036216343&ver',
        '[앤드지 바이 지오지아][앤드지] 21S/S 베이직 코튼 캐시미어 가디건3종택1(BZB1EC1103)',
        39000,
        28080,
        0,
        '앤드지바이지오지아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '56',
    '2036216343&ver')
INSERT INTO items VALUES('2060754925&ver',
        '[폴햄]폴햄  남성 코튼스판 슬림핏 치노 팬츠_PHZ2PP1012',
        13900,
        13900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '57',
    '2060754925&ver')
INSERT INTO items VALUES('2030046312&ver',
        '[지오다노]지오다노 410932 여 슬림 스트레이트 데님 _21SS',
        47300,
        47300,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '58',
    '2030046312&ver')
INSERT INTO items VALUES('1987193262&ver',
        '게스 21SS 유니 필름무테삼각 반팔티 NL2K0349',
        26040,
        19530,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '59',
    '1987193262&ver')
INSERT INTO items VALUES('2018719720&ver',
        '[지오다노](신세계강남점)여 언브러시드 테리 조거 팬츠 411520',
        29800,
        25220,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '60',
    '2018719720&ver')
INSERT INTO items VALUES('2030228759&ver',
        '[지오다노]지오다노 071501 오버사이즈 발마칸 트렌치 코트',
        99000,
        99000,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '61',
    '2030228759&ver')
INSERT INTO items VALUES('2036852464&ver',
        '[클라이드앤]유니 간절기 점퍼 4종택1 (FJBJP253 FJBJP254 FJBJP753 FJBJP754)',
        22900,
        17870,
        0,
        '클라이드앤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '62',
    '2036852464&ver')
INSERT INTO items VALUES('2006026211&ver',
        '[지오다노]지오다노 070913 블루종 바머자켓 _21SS',
        75800,
        75800,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '63',
    '2006026211&ver')
INSERT INTO items VALUES('2029887244&ver',
        '[체이스컬트]체이스컬트 여성 라이너 사파리 점퍼/2Colors',
        29900,
        29900,
        0,
        '체이스컬트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '64',
    '2029887244&ver')

INSERT INTO items VALUES('2031001171&ver',
        '[클라이드앤]남여공용 항공점퍼 FJBJP251U',
        29000,
        23200,
        0,
        '클라이드앤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '65',
    '2031001171&ver')
INSERT INTO items VALUES('2007663781&ver',
        '[지오다노]지오다노 041301 코튼 옥스포드 셔츠',
        33000,
        33000,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '66',
    '2007663781&ver')
INSERT INTO items VALUES('662585858&ver',
        '[엠블러]엠블러 남녀 오버핏 자수 티셔츠/반팔티/에코백',
        19900,
        19900,
        0,
        '엠블러')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '67',
    '662585858&ver')
INSERT INTO items VALUES('1901330353&ver',
        '클라이드엔 남여공용 양털 후드집업 CKDJP431U',
        29000,
        23490,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '68',
    '1901330353&ver')
INSERT INTO items VALUES('2009930880&ver',
        '[지오다노]지오다노 411530 여 슬림핏 히든밴딩 데님팬츠',
        49800,
        49800,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '69',
    '2009930880&ver')
INSERT INTO items VALUES('1925248072&ver',
        'Iconic Sweat (GK5TSU881WH)',
        65000,
        19500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '70',
    '1925248072&ver')
INSERT INTO items VALUES('2036335128&ver',
        '[캘빈클라인진]CK  남 J317456 YAF 젤 로고 프린트 반팔 티셔츠',
        31590,
        31590,
        0,
        '캘빈클라인진')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '71',
    '2036335128&ver')
INSERT INTO items VALUES('1793344558&ver',
        '[게스]남성 M톤 슬림 스트레이트(MK1D6050)',
        75000,
        57000,
        0,
        '게스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '72',
    '1793344558&ver')
INSERT INTO items VALUES('1898146332&ver',
        'Lambswool Zip-Up Cardigan/램스울 집업 가디건/ 4XL(FCSW9403-Forest)best quality/ 포레스트캠프',
        62800,
        57150,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '73',
    '1898146332&ver')
INSERT INTO items VALUES('1994890430&ver',
        '[폴햄]갤러리아   21 봄  (공용) 쿨 테리 그래픽 맨투맨 (PHB1TR3050)',
        19900,
        14930,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '74',
    '1994890430&ver')
INSERT INTO items VALUES('1780387325&ver',
        '[티비제이] TBJ 유니 항공 점퍼-T201JP010P',
        29000,
        21750,
        0,
        '티비제이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '75',
    '1780387325&ver')
INSERT INTO items VALUES('2023380567&ver',
        '[프로젝트M]갤러리아  프로젝트M 남성시그니처 피케 양면 맨투맨 EPB1TR1901',
        39900,
        30330,
        0,
        '프로젝트M')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '76',
    '2023380567&ver')
INSERT INTO items VALUES('1991378629&ver',
        '[지오다노]지오다노 111550 프렌치 테리 스트레이트 팬츠',
        28300,
        28300,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '77',
    '1991378629&ver')
INSERT INTO items VALUES('2034324349&ver',
        '[탑텐][모다아울렛]여성 밸런스 수퍼 스트레치 조거 팬츠 BK',
        14900,
        14610,
        0,
        '탑텐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '78',
    '2034324349&ver')
INSERT INTO items VALUES('2045955185&ver',
        '[아디다스]M TECH 2L 자켓 FT6633',
        97300,
        79790,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '79',
    '2045955185&ver')
INSERT INTO items VALUES('2030768904&ver',
        '[폴햄]폴햄  여성 부츠컷 슬랙스_PHZ3PP2036',
        10900,
        10900,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '80',
    '2030768904&ver')
INSERT INTO items VALUES('2051103509&ver',
        '[폴햄]폴햄  남성 히든밴딩 슬림 슬랙스 팬츠_PHA1PP1032',
        20000,
        20000,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '81',
    '2051103509&ver')
INSERT INTO items VALUES('2023474254&ver',
        '[폴햄]공용 덤블 보아 후드 집업 PHA4TC3910',
        30000,
        23100,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '82',
    '2023474254&ver')
INSERT INTO items VALUES('2031841526&ver',
        '[게스]갤러리아   게스(진)  S/S  여성  쿨링 미니GUESS바 V넥 반팔티',
        25200,
        18900,
        0,
        '게스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '83',
    '2031841526&ver')
INSERT INTO items VALUES('1881712412&ver',
        '[닉스]남성 M톤 워싱 부분밴딩 뉴슬림 데님 FNARDDN118P',
        27000,
        21870,
        0,
        '닉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '84',
    '1881712412&ver')
INSERT INTO items VALUES('1991754138&ver',
        '[지이크][지이크] F/W 프리미엄 정장 싱글 베스트 조끼 4종택1 PYVIM3999',
        40000,
        28800,
        0,
        '지이크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '85',
    '1991754138&ver')
INSERT INTO items VALUES('2012312381&ver',
        '[지오다노][지오다노] 남 크루넥 스웨트셔츠 021511',
        17000,
        13090,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '86',
    '2012312381&ver')
INSERT INTO items VALUES('1880690017&ver',
        '[디키즈] DMR2UTST691_백 빅 로고 미들핏 반팔티 BACK LOGO T (MIDDLE FIT) ',
        16530,
        16530,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '87',
    '1880690017&ver')
INSERT INTO items VALUES('2046032579&ver',
        '[지유샵][모다아울렛][GU] 이월 BEST 간절기 아이템 총집합 ',
        30000,
        30000,
        0,
        '지유샵')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '88',
    '2046032579&ver')
INSERT INTO items VALUES('2050969524&ver',
        'Pigment Mountain Sweat  Ivory JM5TSU839IV',
        69000,
        48300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '89',
    '2050969524&ver')
INSERT INTO items VALUES('1999723741&ver',
        '[뉴발란스(AVE)] 남녀공용 스몰로고 맨투맨 (STANDARD FIT) NBNCB2104',
        69900,
        69900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '90',
    '1999723741&ver')
INSERT INTO items VALUES('2066008975&ver',
        '까레라 21 Spring 코튼 컬러데님 여성 3종',
        79900,
        79900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '91',
    '2066008975&ver')
INSERT INTO items VALUES('2004968437&ver',
        '[게스](신세계본점)[GUESS] 남여데일리 맨투맨 후드 기획전(NK3K0141 NK3K9132 NK3K9133 NK3K0122 NK4K0241 NK...',
        22900,
        18310,
        0,
        '게스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '92',
    '2004968437&ver')

INSERT INTO items VALUES('2009961503&ver',
        '[지오다노]지오다노 051504 하프밀란 크루넥 풀오버(12gg)',
        47300,
        47300,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '93',
    '2009961503&ver')
INSERT INTO items VALUES('2041800264&ver',
        '[세인트제임스]Guildo Elbow Patch (03O)',
        118000,
        118000,
        0,
        '세인트제임스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '94',
    '2041800264&ver')
INSERT INTO items VALUES('1730483287&ver',
        '[에비수][신상]공용_기획 루즈핏 힐스 라운드티_ES5UTS902_MG (ES5UTS902_MG)',
        9000,
        8550,
        0,
        '에비수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '95',
    '1730483287&ver')
INSERT INTO items VALUES('1998080430&ver',
        '[폴햄][폴햄] 공용_쿨테리 레터링 그래픽 맨투맨 PHB1TR3050',
        19900,
        15730,
        0,
        '폴햄')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '96',
    '1998080430&ver')
INSERT INTO items VALUES('2045438565&ver',
        '갤러리아   사은품증정 2021S/S 패턴 보더 미니원피스 (T212MOP136W)',
        191200,
        147230,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '97',
    '2045438565&ver')
INSERT INTO items VALUES('1574366429&ver',
        '[타미힐피거][SSG 봄맞이특가] 타미힐피거 반팔 티셔츠 남자 여자 면티 2장 세트+6%쿠폰',
        45500,
        42980,
        0,
        '타미힐피거')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '98',
    '1574366429&ver')
INSERT INTO items VALUES('1794864445&ver',
        '[지오다노]지오다노 020521 김영광 오버핏 크루넥 반팔 티셔츠',
        15000,
        15000,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '99',
    '1794864445&ver')
INSERT INTO items VALUES('2006402648&ver',
        '[지오다노]지오다노 351504 여 캐시미어 폴로 스웨터 (12gg)',
        37800,
        37800,
        0,
        '지오다노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '브랜드 진/캐쥬얼 ',
    '100',
    '2006402648&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G01&subGroupCode=S163 브랜드 진/캐쥬얼
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '1',
    '1835916262&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '2',
    '2036145620&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '3',
    '189842449&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '4',
    '607466490&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '5',
    '1615409666&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '6',
    '333425585&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '7',
    '1577525154&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '8',
    '197555399&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '9',
    '776582823&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '10',
    '1817237042&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '11',
    '1280233513&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '12',
    '1764397632&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '13',
    '1430266775&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '14',
    '1373777190&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '15',
    '1309233372&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '16',
    '1517719492&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '17',
    '932044429&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '18',
    '1345149344&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '19',
    '774079012&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '20',
    '373058782&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '21',
    '1326948653&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '22',
    '1632079944&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '23',
    '1688200696&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '24',
    '1826127999&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '25',
    '1256823118&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '26',
    '539788560&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '27',
    '1311171220&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '28',
    '192173793&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '29',
    '1487774180&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '30',
    '627247117&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '31',
    '1551794470&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '32',
    '1670609306&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '33',
    '810518655&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '34',
    '1787960274&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '35',
    '576442682&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '36',
    '1284344651&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '37',
    '1677882956&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '38',
    '787245581&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '39',
    '163773112&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '40',
    '1444224360&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '41',
    '835988063&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '42',
    '1677882918&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '43',
    '1725467202&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '44',
    '1975776752&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '45',
    '215673140&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '46',
    '779656750&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '47',
    '355956993&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '48',
    '974668803&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '49',
    '1566013256&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '50',
    '221969619&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '51',
    '1782731869&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '52',
    '1409488407&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '53',
    '1727198869&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '54',
    '1570637302&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '55',
    '1126294117&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '56',
    '751249829&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '57',
    '1725153067&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '58',
    '1606293717&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '59',
    '1158276673&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '60',
    '1274167241&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '61',
    '1234579017&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '62',
    '1481263644&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '63',
    '1120487736&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '64',
    '1687155729&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '65',
    '400429634&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '66',
    '658390916&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '67',
    '1108678685&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '68',
    '920442214&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '69',
    '1790176636&ver')
INSERT INTO items VALUES('1116258684&ver',
        '[모카썸]패션페스타22% 봄 BEST50종 후드/티셔츠/롱스커트',
        26300,
        7900,
        0,
        '모카썸')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '70',
    '1116258684&ver')
INSERT INTO items VALUES('2030168721&ver',
        '조이너스(JOINUS) 경량 덕다운 재킷',
        49900,
        37430,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '71',
    '2030168721&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '72',
    '1649456622&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '73',
    '1693435171&ver')
INSERT INTO items VALUES('158663404&ver',
        '에스티아/롱티/여성/원피스/빅사이즈/롱후드',
        22900,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '74',
    '158663404&ver')
INSERT INTO items VALUES('628153284&ver',
        '패션페스타22% 봄신상 롱티/빅사이즈/후드티/맨투맨',
        42600,
        12800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '75',
    '628153284&ver')
INSERT INTO items VALUES('777247382&ver',
        '패션페스타22% 패션라인 봄블라우스 원피스/니트/자켓',
        56300,
        16900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '76',
    '777247382&ver')
INSERT INTO items VALUES('175144308&ver',
        '[올시즌]22%쿠폰/봄신상/여자청바지/빅사이즈/슬랙스/청자켓',
        29000,
        8900,
        0,
        '올시즌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '77',
    '175144308&ver')
INSERT INTO items VALUES('1777884273&ver',
        '티메이 봄신상 상하세트 운동복 트레이닝세트',
        35900,
        10900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '78',
    '1777884273&ver')
INSERT INTO items VALUES('1568349809&ver',
        '패션페스타22% 패션라인 봄블라우스 원피스/니트/자켓',
        30900,
        28900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '79',
    '1568349809&ver')
INSERT INTO items VALUES('203454065&ver',
        '[갠소]+봄신상 하객원피스+ 빅사이즈/플레어/정장/결혼식',
        99600,
        29900,
        0,
        '갠소')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '80',
    '203454065&ver')
INSERT INTO items VALUES('1786992530&ver',
        '(패션페스타22%)빅사이즈 4XL 팬츠/부츠컷/슬랙스',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '81',
    '1786992530&ver')
INSERT INTO items VALUES('336411659&ver',
        '요즘에/패션페스타22%+10%/청바지/슬랙스/면팬츠/3XL',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '82',
    '336411659&ver')
INSERT INTO items VALUES('957465844&ver',
        '패션페스타22% 아뜨랑스 데일리 신상 Best50',
        56600,
        17000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '83',
    '957465844&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '84',
    '1693433901&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '85',
    '2051988030&ver')
INSERT INTO items VALUES('165003300&ver',
        '[지기젠]22%쿠폰 봄신상 여자청바지/부츠컷/일자/스키니',
        33000,
        9900,
        0,
        '지기젠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '86',
    '165003300&ver')
INSERT INTO items VALUES('1976646657&ver',
        '에이블린G/봄신상/원피스/티셔츠/블라우스/스커트',
        43000,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '87',
    '1976646657&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '88',
    '1787182314&ver')
INSERT INTO items VALUES('2046974191&ver',
        '로사W 맘 핏 앵클 데님팬츠 3종',
        39900,
        38900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '89',
    '2046974191&ver')
INSERT INTO items VALUES('202940857&ver',
        '[갠소]+봄신상 트레이닝SET+ 빅사이즈/추리닝/조거/밴딩',
        99500,
        29900,
        0,
        '갠소')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '90',
    '202940857&ver')
INSERT INTO items VALUES('1800644562&ver',
        '롱티/빅사이즈/티셔츠/원피스/여성/루즈핏/박스티반팔',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '91',
    '1800644562&ver')
INSERT INTO items VALUES('750072105&ver',
        '쏭스타일 신상추가 롱티/박스티/루즈핏/ 특가찬스~',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '92',
    '750072105&ver')
INSERT INTO items VALUES('1274265022&ver',
        '요즘에/패션페스타22%+10%/슬랙스/청바지/면팬츠/3XL',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '93',
    '1274265022&ver')
INSERT INTO items VALUES('2057100240&ver',
        'TNGTW 메탈 트위드 자켓',
        39900,
        35510,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '94',
    '2057100240&ver')
INSERT INTO items VALUES('189842490&ver',
        '요즘에/22%+10%추가할인/티셔츠/맨투맨/스커트/원피스',
        43000,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '95',
    '189842490&ver')
INSERT INTO items VALUES('2044601856&ver',
        '[나인식스뉴욕]나인식스뉴욕 96ny 경량 후드 롱 웨더 트렌치 재킷 1',
        59900,
        59900,
        0,
        '96NY')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '96',
    '2044601856&ver')
INSERT INTO items VALUES('2017640646&ver',
        '봄가을 여성 데님 점퍼 후드 청자켓 아우터 바람막이',
        20900,
        20900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '97',
    '2017640646&ver')
INSERT INTO items VALUES('359365383&ver',
        '[갠소]+BEST 맨투맨후드+ 빅사이즈77-99/캐주얼/루즈핏/봄',
        31900,
        31900,
        0,
        '갠소')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '98',
    '359365383&ver')
INSERT INTO items VALUES('197127484&ver',
        '봄 신상 롱티/원피스/티셔츠/긴팔 빅사이즈 여성의류',
        22000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '99',
    '197127484&ver')
INSERT INTO items VALUES('2046974288&ver',
        '머스트비  블로썸 블라우스 4종',
        39900,
        35710,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '여성의류',
    '100',
    '2046974288&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G01&subGroupCode=S102 여성의류
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '1',
    '805459425&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '2',
    '1498699891&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '3',
    '929105077&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '4',
    '801815493&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '5',
    '1275871226&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '6',
    '1267464808&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '7',
    '1760154947&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '8',
    '528849355&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '9',
    '169295221&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '10',
    '1789464964&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '11',
    '607415523&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '12',
    '353300687&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '13',
    '1322490033&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '14',
    '1372301757&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '15',
    '713881271&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '16',
    '1808294693&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '17',
    '1632202735&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '18',
    '125749989&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '19',
    '1883764136&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '20',
    '2057588520&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '21',
    '1823976106&ver')
INSERT INTO items VALUES('893744011&ver',
        '[핫코드]신상 남자셔츠/빅사이즈/체크/오버핏/와이/청/옷/행사',
        46300,
        13900,
        0,
        '핫코드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '22',
    '893744011&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '23',
    '1806635939&ver')
INSERT INTO items VALUES('1495278850&ver',
        '봄맞이 신상품 할인/밴딩바지/청바지/바람막이/티셔츠',
        23000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '24',
    '1495278850&ver')
INSERT INTO items VALUES('1494979529&ver',
        '[이지바이]봄신상 할인/티셔츠/밴딩바지/츄리닝/세트/바람막이',
        23000,
        6900,
        0,
        '이지바이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '25',
    '1494979529&ver')
INSERT INTO items VALUES('1364060520&ver',
        '[단군](패션페스타22%)남자 봄 셔츠 빅사이즈 오버핏 남방',
        42900,
        12900,
        0,
        '단군')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '26',
    '1364060520&ver')
INSERT INTO items VALUES('658035837&ver',
        '긴팔티셔츠/빅사이즈/티셔츠/남자/남성/면/반/단체/티',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '27',
    '658035837&ver')
INSERT INTO items VALUES('1403513474&ver',
        '[슈프림]반팔티 티셔츠 S~5XL 빅사이즈 남자 여성 단체티 롱티',
        29600,
        8900,
        0,
        '슈프림')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '28',
    '1403513474&ver')

INSERT INTO items VALUES('898007895&ver',
        '5+1 긴팔티 긴팔 티셔츠 남성남자 무지 면티 빅사이즈',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '29',
    '898007895&ver')
INSERT INTO items VALUES('1369906351&ver',
        '32%중복쿠폰 20수 30수무지 반팔 티셔츠1+1+1빅사이즈',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '30',
    '1369906351&ver')
INSERT INTO items VALUES('1568805650&ver',
        '인기바지 특가모음~ 카고바지/밴딩바지/골덴바지',
        66000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '31',
    '1568805650&ver')
INSERT INTO items VALUES('1309701048&ver',
        '[슈프림]슈프림 무지티 2장 3장세트 면티 기본티 흰티 단체티',
        43000,
        12900,
        0,
        '슈프림')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '32',
    '1309701048&ver')
INSERT INTO items VALUES('603138170&ver',
        '[핫코드]봄 신상 남자 면바지/빅사이즈/슬랙스/조거/스판/행사',
        43000,
        12900,
        0,
        '핫코드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '33',
    '603138170&ver')
INSERT INTO items VALUES('856191474&ver',
        '맨투맨티셔츠오버핏 남성 남자 여성빅사이즈긴팔',
        43000,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '34',
    '856191474&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '35',
    '2025528833&ver')
INSERT INTO items VALUES('2026878361&ver',
        '[지이크][지이크] S/S 이태리수입원단 프리미엄 셋업 수트 7종 택1 PAJIM2113',
        150000,
        108000,
        0,
        '지이크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '36',
    '2026878361&ver')
INSERT INTO items VALUES('357692917&ver',
        '[블루포스]봄신상 맨투맨티/빅사이즈 무지 커플티셔츠 남자옷',
        36300,
        10900,
        0,
        '블루포스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '37',
    '357692917&ver')
INSERT INTO items VALUES('656389305&ver',
        '반팔티셔츠/빅사이즈/여름티/티셔츠/남자/남성/면/티',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '38',
    '656389305&ver')
INSERT INTO items VALUES('1710477847&ver',
        '[난대]20수 면티 3팩/반팔/흰티/흰색면티/무지티/기본/남자',
        18900,
        18900,
        0,
        'Nande')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '39',
    '1710477847&ver')
INSERT INTO items VALUES('2037588211&ver',
        '타미힐피거 타미 봄 맨투맨 라운드 티셔츠 남여공용',
        31000,
        31000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '40',
    '2037588211&ver')
INSERT INTO items VALUES('2057198324&ver',
        '[클라이드 후아유]봄맞이 캐주얼 신학기 인기템 모음전',
        9900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '41',
    '2057198324&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '42',
    '1895164110&ver')
INSERT INTO items VALUES('1731464387&ver',
        '[핫코드]봄 신상 남자 조거팬츠/빅사이즈/밴딩/스판/카고/행사',
        86300,
        25900,
        0,
        '핫코드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '43',
    '1731464387&ver')
INSERT INTO items VALUES('262181772&ver',
        '[벤티브]벤티브 봄신상 남자 M~4XL빅사이즈 트레이닝팬츠',
        22900,
        14900,
        0,
        '벤티브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '44',
    '262181772&ver')
INSERT INTO items VALUES('1986961021&ver',
        '[겐트옴므]남성 봄셔츠 니트 자켓 8900부터',
        43000,
        12900,
        0,
        '겐트옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '45',
    '1986961021&ver')
INSERT INTO items VALUES('621704616&ver',
        '맨투맨/빅사이즈/기모/티셔츠/긴팔티/남자/남성/티',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '46',
    '621704616&ver')
INSERT INTO items VALUES('1823978020&ver',
        '(패션페스타22%)봄신상/후드세트/맨투맨세트/균일가',
        66000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '47',
    '1823978020&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '48',
    '1895169358&ver')
INSERT INTO items VALUES('1970655840&ver',
        '나이키 프렌치테리 후드 집업 BV2648-010/BV2648-063',
        47900,
        47660,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '49',
    '1970655840&ver')
INSERT INTO items VALUES('166496775&ver',
        '신상/남자면바지/슬랙스/빅사이즈/조거팬츠/카고',
        46000,
        13800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '50',
    '166496775&ver')
INSERT INTO items VALUES('1677275553&ver',
        '루이진 청바지 봄 가을 스판 남자청바지 남성 블랙진',
        36900,
        36900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '51',
    '1677275553&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '52',
    '1924003781&ver')
INSERT INTO items VALUES('1769388353&ver',
        '5부 반팔티 티셔츠 오버핏 박스티 남자 남성 여성 5XL',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '53',
    '1769388353&ver')
INSERT INTO items VALUES('1606538274&ver',
        'S~5XL 빅사이즈 반팔티 티셔츠  남성티 여성의류 큰옷',
        29600,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '54',
    '1606538274&ver')
INSERT INTO items VALUES('1914278049&ver',
        '남자바람막이점퍼자켓 JK2028  캐주얼점퍼 후드',
        22800,
        22690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '55',
    '1914278049&ver')
INSERT INTO items VALUES('205697325&ver',
        '[블루포스]봄신상 후드티/맨투맨티/후드집업남자옷커플티셔츠',
        46300,
        13900,
        0,
        '블루포스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '56',
    '205697325&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '57',
    '1794122039&ver')
INSERT INTO items VALUES('1919651633&ver',
        '(패션페스타22%)봄신상/후드티/맨투맨/후드집업세트',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '58',
    '1919651633&ver')
INSERT INTO items VALUES('2001008782&ver',
        '[닥스셔츠][대구백화점 II관] [닥스셔츠]닥스 봄상품 체크 긴팔남방 14종택1(DHG2SHCL110-N1외)',
        60000,
        48300,
        0,
        '닥스셔츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '59',
    '2001008782&ver')
INSERT INTO items VALUES('850903480&ver',
        '봄신상 청자켓/데님자켓/청청패션/청남방/청바지',
        29800,
        29800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '60',
    '850903480&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '61',
    '2052132169&ver')
INSERT INTO items VALUES('573396491&ver',
        '[벤티브]벤티브 봄신상 M~4XL남성면바지슬랙스밴딩조거치노',
        26900,
        18900,
        0,
        '벤티브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '62',
    '573396491&ver')
INSERT INTO items VALUES('846217753&ver',
        '가을긴팔티/남자/남성/옷/맨투맨/빅사이즈/티/긴팔',
        31900,
        9740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '63',
    '846217753&ver')
INSERT INTO items VALUES('1572561637&ver',
        '쫙쫙 늘어나는 면스판 고탄력 남자바지 빅사이즈 팬츠',
        20900,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '64',
    '1572561637&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '65',
    '2053570472&ver')
INSERT INTO items VALUES('238309923&ver',
        '남자/봄신상/청바지/일자핏/스판청/스키니핏/빅사이즈',
        28000,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '66',
    '238309923&ver')
INSERT INTO items VALUES('2040750282&ver',
        '[아디다스](FN5795) 세레노19 트랙수트 (상하복세트)',
        63200,
        51520,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '67',
    '2040750282&ver')
INSERT INTO items VALUES('258835039&ver',
        '신상 카고 바지/면바지/남자/작업복/건빵/밴딩/조거',
        26000,
        21800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '68',
    '258835039&ver')
INSERT INTO items VALUES('718559995&ver',
        '남성 봄신상 트레이닝복세트/기모트레이닝복세트~120',
        28900,
        28760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '69',
    '718559995&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '70',
    '1923952746&ver')
INSERT INTO items VALUES('112587361&ver',
        '신상 남자 청바지/빅사이즈/밴딩/일자/찢청',
        22000,
        17690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '71',
    '112587361&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '72',
    '1806636422&ver')
INSERT INTO items VALUES('1164735237&ver',
        '[난대]후드집업/무지/기본/남자/남성/여자/여성/자켓/커플',
        19800,
        19710,
        0,
        'Nande')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '73',
    '1164735237&ver')
INSERT INTO items VALUES('790863303&ver',
        '봄 여름 링클프리 남자 남성 스판 면바지 골프',
        32000,
        19640,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '74',
    '790863303&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '75',
    '2030219701&ver')
INSERT INTO items VALUES('2001810979&ver',
        '나이키 TF 클럽 라운드 맨투맨 티셔츠 AA3178',
        30900,
        30750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '76',
    '2001810979&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '77',
    '1904145773&ver')
INSERT INTO items VALUES('2048192310&ver',
        '남성 봄 가을 후드 집업 점퍼 자켓   스몰~빅사이즈',
        38000,
        37610,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '78',
    '2048192310&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '79',
    '1486754865&ver')
INSERT INTO items VALUES('1880443846&ver',
        '빅사이즈 맨투맨 S~5XL 티셔츠 남성 여성 남자 큰옷',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '80',
    '1880443846&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '81',
    '1719383108&ver')
INSERT INTO items VALUES('1292907713&ver',
        '[슈프림]봄신상/트레이닝복 세트/운동복/츄리닝/팬츠/바지',
        63000,
        18900,
        0,
        '슈프림')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '82',
    '1292907713&ver')
INSERT INTO items VALUES('1444163963&ver',
        '[슈프림]반바지 트레이닝팬츠 남자남성 츄리닝 운동복 실내복',
        29600,
        8900,
        0,
        '슈프림')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '83',
    '1444163963&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '84',
    '679246929&ver')
INSERT INTO items VALUES('727712340&ver',
        '남성 카라티 긴팔티셔츠 남자 카라티셔츠 폴로 의류',
        32800,
        16800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '85',
    '727712340&ver')
INSERT INTO items VALUES('1309160067&ver',
        '[로드스타]남자 기본 린넨팬츠 청바지 면바지 슬랙스 조거팬츠',
        43000,
        12900,
        0,
        '로드스타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '86',
    '1309160067&ver')
INSERT INTO items VALUES('205294753&ver',
        '[블루포스]봄신상 트레이닝복세트/츄리닝/남자옷 운동복',
        86000,
        25800,
        0,
        '블루포스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '87',
    '205294753&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '88',
    '1553580303&ver')
INSERT INTO items VALUES('1965373549&ver',
        '[나이키]가격인하 나이키팀클럽 스우시 기모후드집업 정품티',
        39900,
        39700,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '89',
    '1965373549&ver')
INSERT INTO items VALUES('806325799&ver',
        '[에버라스트]22%쿠폰/트레이닝바지/조거팬츠/후드집업/에버라스트',
        66300,
        19900,
        0,
        '에버라스트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '90',
    '806325799&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '91',
    '1725548978&ver')
INSERT INTO items VALUES('206466401&ver',
        '봄신상 가디건/롱가디건/오픈가디건/브이넥남자남성',
        22000,
        17800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '92',
    '206466401&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '93',
    '1280319791&ver')
INSERT INTO items VALUES('1755655186&ver',
        '26수 면티 5팩/반팔 흰티 무지티 남자여자 기본티셔츠',
        13000,
        12840,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '94',
    '1755655186&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '95',
    '1899400375&ver')
INSERT INTO items VALUES('1852603282&ver',
        '4XL 밴딩 스판 카고 바지 남자 남성 빅사이즈 작업복',
        26800,
        26670,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '96',
    '1852603282&ver')

INSERT INTO items VALUES('1563431311&ver',
        '[엠블러]엠블러 남녀 오버핏 프리미엄 자수 티셔츠/반팔티',
        27900,
        27760,
        0,
        '엠블러')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '97',
    '1563431311&ver')
INSERT INTO items VALUES('1972525698&ver',
        '마블 칼카니 신상 성인/아동 맨투맨 후드티 팬츠100종',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '98',
    '1972525698&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '99',
    '1791144881&ver')
INSERT INTO items VALUES('713338178&ver',
        '봄 바람막이 점퍼 자켓 등산 남성 남자 잠바',
        30000,
        29800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '남성의류',
    '100',
    '713338178&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G01&subGroupCode=S002 남성의류
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '1',
    '949976014&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '2',
    '787562120&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '3',
    '1624900645&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '4',
    '1830048238&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '5',
    '166590241&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '6',
    '166590202&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '7',
    '972418391&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '8',
    '2053367460&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '9',
    '581785464&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '10',
    '1718623120&ver')
INSERT INTO items VALUES('960753074&ver',
        '브라썸/브라팬티세트 ABCD컵/왕뽕/빅사이즈/여성속옷',
        36300,
        10900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '11',
    '960753074&ver')
INSERT INTO items VALUES('174727827&ver',
        '[란제리아]비너스외 노와이어브라 여자 여성 속옷 브래지어 세트',
        33000,
        9900,
        0,
        '란제리아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '12',
    '174727827&ver')
INSERT INTO items VALUES('1625226338&ver',
        '[이너리즘]1+1 이너리즘에어 쾌적하고 편한 쿨모달 끈브라나시',
        13900,
        13830,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '13',
    '1625226338&ver')
INSERT INTO items VALUES('177571721&ver',
        '[란제리아]남영 비비안외 국산주니어 브라 팬티 속옷 학생쥬니어',
        26300,
        7900,
        0,
        '란제리아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '14',
    '177571721&ver')
INSERT INTO items VALUES('1684180304&ver',
        '[이너리즘]1+1 노와이어 심리스 끈브라탑 2장 노라인 끈브라탑',
        23000,
        6900,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '15',
    '1684180304&ver')
INSERT INTO items VALUES('161861192&ver',
        '[아날도바시니]드로즈10매 세트 남자 남성 팬티 속옷 빅사이즈 스판',
        63000,
        18900,
        0,
        '아날도바시니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '16',
    '161861192&ver')
INSERT INTO items VALUES('112247167&ver',
        '[BYC]남성 트렁크 사각 팬티 3매 5매 세트 남자 속옷 런닝',
        43000,
        12900,
        0,
        'BYC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '17',
    '112247167&ver')
INSERT INTO items VALUES('1714974810&ver',
        '[이너리즘]이너리즘 심리스 브라탑 라이트 4종세트/노라인팬티',
        11500,
        11500,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '18',
    '1714974810&ver')
INSERT INTO items VALUES('125035325&ver',
        '[비너스 자스민]A-D컵/브라/팬티/세트/노와이어/남영비비안 外',
        26300,
        7900,
        0,
        '비너스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '19',
    '125035325&ver')
INSERT INTO items VALUES('1687369861&ver',
        '[라보라]라보라 누디 데일리 브라탑 스포츠브라 노와이어',
        14800,
        7400,
        0,
        '라보라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '20',
    '1687369861&ver')
INSERT INTO items VALUES('1992327866&ver',
        '[푸마][SSG 물류무료직배송] 푸마 블랙에디션 드로즈 패키지 6종',
        52000,
        41600,
        0,
        '푸마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '21',
    '1992327866&ver')
INSERT INTO items VALUES('1590223233&ver',
        '[원더브라]단독행사 원더브라 2021년 최신상 브라 팬티 라인업',
        57000,
        19900,
        0,
        '원더브라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '22',
    '1590223233&ver')
INSERT INTO items VALUES('1596507004&ver',
        '[키스해링]기획 특집 팝아트 드로즈 5종패키지 2종 택1',
        53000,
        15900,
        0,
        '키스해링')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '23',
    '1596507004&ver')
INSERT INTO items VALUES('339305669&ver',
        '[라보라]기획패키지 노와이어 브라팬티 10종세트',
        39900,
        39900,
        0,
        '라보라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '24',
    '339305669&ver')
INSERT INTO items VALUES('1845646106&ver',
        '국내산 5매 랜덤 트렁크 사각 팬티 남자 남성 속옷',
        49600,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '25',
    '1845646106&ver')
INSERT INTO items VALUES('2056232301&ver',
        '잠옷 바지 홈웨어 파자마(1탄)',
        7900,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '26',
    '2056232301&ver')
INSERT INTO items VALUES('960822034&ver',
        '브라썸/빅사이즈/C/D/E컵/F컵/브라팬티세트/여성속옷',
        36300,
        10900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '27',
    '960822034&ver')
INSERT INTO items VALUES('2041927342&ver',
        '[비비안]슬림핏 풀컵형 노와이어브라팬티세트 BR5191SET',
        18900,
        16070,
        0,
        '비비안')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '28',
    '2041927342&ver')
INSERT INTO items VALUES('176368626&ver',
        '[란제리아]여성팬티5매 여자 미디 맥시 속옷 삼각 위생 면 스판',
        33000,
        9900,
        0,
        '란제리아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '29',
    '176368626&ver')
INSERT INTO items VALUES('1940879651&ver',
        '캘빈클라인 키즈 여아용 팬티 7개 세트',
        23900,
        22710,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '30',
    '1940879651&ver')
INSERT INTO items VALUES('189279759&ver',
        '[BYC]런닝 5매/남자/남성/조끼/나시/반팔/난닝구/속옷/면',
        33000,
        9900,
        0,
        'BYC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '31',
    '189279759&ver')

INSERT INTO items VALUES('174475544&ver',
        '[란제리아]비비안 외 위생 생리 팬티 여성 여자 주니어 방수포',
        33000,
        9900,
        0,
        '란제리아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '32',
    '174475544&ver')
INSERT INTO items VALUES('1784279536&ver',
        '수맘 여성 봄 여름 홈웨어 잠옷세트 파자마',
        19600,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '33',
    '1784279536&ver')
INSERT INTO items VALUES('182630822&ver',
        '[아날도바시니]드로즈1매2900원/남자/팬티/남성/속옷/사각/빅밴드',
        26300,
        7900,
        0,
        '아날도바시니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '34',
    '182630822&ver')
INSERT INTO items VALUES('1114973997&ver',
        '파란/브라팬티세트 ABCD컵추가금NO/빅사이즈/여성속옷',
        36300,
        10900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '35',
    '1114973997&ver')
INSERT INTO items VALUES('1502725511&ver',
        '[Rosebud][히트상품]남영비비안 판도라/로즈버드 티나지 않는 여성 노라인 헴팬티 5종 세트(90~105)/ 비비안 로즈버',
        25500,
        19520,
        0,
        '비비안')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '36',
    '1502725511&ver')
INSERT INTO items VALUES('216772071&ver',
        '[물랑루즈]주니어팬티/드로즈/삼각/트렁크/아동속옷/학생/남자',
        33000,
        9900,
        0,
        '물랑루즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '37',
    '216772071&ver')
INSERT INTO items VALUES('1719277183&ver',
        '1+1심리스브라/심리스팬티5장 여성속옷 여성팬티50종',
        6900,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '38',
    '1719277183&ver')
INSERT INTO items VALUES('675804959&ver',
        '[엠알키즈]아동 팬티 5매 4900원 유아 주니어 런닝 순면 속옷',
        32600,
        9800,
        0,
        '엠알키즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '39',
    '675804959&ver')
INSERT INTO items VALUES('1536307031&ver',
        '[이너리즘]1+1 노와이어 심리스누디브라탑 2장 노라인 스포츠브라',
        23000,
        6790,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '40',
    '1536307031&ver')
INSERT INTO items VALUES('1919389018&ver',
        '[스위스밀리터리]스위스밀리터리 남자 모달 무봉제 팬티 4장 세트',
        26000,
        26000,
        0,
        '스위스밀리터리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '41',
    '1919389018&ver')
INSERT INTO items VALUES('1928694755&ver',
        '파란 커플잠옷세트 파자마 여성잠옷 남성잠옷 홈웨어',
        69500,
        20900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '42',
    '1928694755&ver')
INSERT INTO items VALUES('1402083389&ver',
        '[캘빈클라인]CK신상 남성언더웨어20종 1+1+1/남자팬티/드로우즈',
        38800,
        38800,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '43',
    '1402083389&ver')
INSERT INTO items VALUES('190794686&ver',
        '[아날도바시니]3매7900원 남성 삼각 팬티 면 스판 남자 속옷 세트',
        33000,
        9900,
        0,
        '아날도바시니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '44',
    '190794686&ver')
INSERT INTO items VALUES('1628179458&ver',
        '[이너리즘]1+1 이너리즘에어 쾌적하고 편한 쿨모달 기본브라나시',
        13900,
        13830,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '45',
    '1628179458&ver')
INSERT INTO items VALUES('2063856312&ver',
        '[센트룸]센트룸 실버 우먼 275정 센트룸 실버 포맨 275정',
        36300,
        36300,
        0,
        '센트룸')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '46',
    '2063856312&ver')
INSERT INTO items VALUES('1478133521&ver',
        '브라썸/노와이어브라팬티세트/심리스/ABCD컵/여성속옷',
        36300,
        10900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '47',
    '1478133521&ver')
INSERT INTO items VALUES('157452247&ver',
        '옙쁜 여성속옷/노와이어브라/여자속옷/속옷세트/브라',
        8000,
        7860,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '48',
    '157452247&ver')
INSERT INTO items VALUES('1575725915&ver',
        '[이너리즘]8장세트 특가 남자팬티 모달 메쉬드로즈 남자속옷',
        13900,
        13900,
        0,
        '이너리즘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '49',
    '1575725915&ver')
INSERT INTO items VALUES('192092884&ver',
        '비너스외 속바지2부/3부/5부/7부/기모/텐셀/학생/교복',
        13000,
        3900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '50',
    '192092884&ver')
INSERT INTO items VALUES('754850271&ver',
        '빅사이즈속옷 C/D/E/F컵 브라팬티세트/여성속옷',
        18900,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '51',
    '754850271&ver')
INSERT INTO items VALUES('2021242930&ver',
        '[제임스딘]남성팬티/드로즈/남자속옷/시그니처드로즈/4종세트',
        20900,
        20900,
        0,
        '제임스딘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '52',
    '2021242930&ver')
INSERT INTO items VALUES('629542884&ver',
        '국내자체제작/순면잠옷/여성잠옷/남성잠옷/커플잠옷',
        32800,
        32640,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '53',
    '629542884&ver')
INSERT INTO items VALUES('1680302024&ver',
        '[트라이]활력 숯 트렁크/박서/순면/남자팬티/남성속옷 5종세트',
        20900,
        20900,
        0,
        '트라이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '54',
    '1680302024&ver')
INSERT INTO items VALUES('1880659721&ver',
        '레이프릴코튼 뽀송 보정팬티 12종 패키지',
        39900,
        32720,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '55',
    '1880659721&ver')
INSERT INTO items VALUES('1720458825&ver',
        '[스위스밀리터리]남자 팬티 세트 5장 /드로즈/남성팬티/남자속옷 세트',
        22000,
        22000,
        0,
        '스위스밀리터리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '56',
    '1720458825&ver')
INSERT INTO items VALUES('588946239&ver',
        '[글램브라]파격특가/S~XXL/스포츠브라/심리스브라탑/여성헬스복',
        7000,
        2900,
        0,
        '글램브라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '57',
    '588946239&ver')
INSERT INTO items VALUES('1979370674&ver',
        '[플레이보이]남성 남자 팬티 속옷 드로즈 2102-5매',
        32900,
        24680,
        0,
        '플레이보이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '58',
    '1979370674&ver')
INSERT INTO items VALUES('698122841&ver',
        '국산 주니어브라 1.2.3 단계별 쥬니어 학생속옷 런닝',
        5900,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '59',
    '698122841&ver')
INSERT INTO items VALUES('1684747554&ver',
        '신상 순면 홈웨어 실내복 파자마 세트 커플잠옷',
        30000,
        29800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '60',
    '1684747554&ver')

INSERT INTO items VALUES('1635077892&ver',
        '주니어속옷 123단계 단계별 브라 팬티 여학생속옷',
        5900,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '61',
    '1635077892&ver')
INSERT INTO items VALUES('2021250783&ver',
        '[제임스딘]남성팬티/드로즈/남자속옷/패브릭드로즈/5종세트/속옷',
        19900,
        19900,
        0,
        '제임스딘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '62',
    '2021250783&ver')
INSERT INTO items VALUES('2002701995&ver',
        '[아디다스골프]아디다스  남성 인기 드로즈 3종세트 균일가 택일',
        23900,
        23780,
        0,
        '아디다스골프')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '63',
    '2002701995&ver')
INSERT INTO items VALUES('2053256469&ver',
        '잇시비시 데일리 맥시스타일 팬티 16종',
        29900,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '64',
    '2053256469&ver')
INSERT INTO items VALUES('2045267453&ver',
        '[크로커다일]크로커다일 (28차) 골드라벨 텐션레이스 감탄브라팬티 5세트',
        99000,
        99000,
        0,
        '크로커다일')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '65',
    '2045267453&ver')
INSERT INTO items VALUES('505785764&ver',
        '[플레시크]압박스타킹 보정레깅스 살색 고탄력 압박 팬티스타킹',
        15800,
        15800,
        0,
        '플레시크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '66',
    '505785764&ver')
INSERT INTO items VALUES('2052576604&ver',
        '신상 봄파자마 홈웨어 원피스 상하세트 잠옷 50종',
        13800,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '67',
    '2052576604&ver')
INSERT INTO items VALUES('1894848803&ver',
        '[탑텐](신세계마산점)탑텐  겨울 내의 온에어 ',
        2900,
        2700,
        0,
        '탑텐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '68',
    '1894848803&ver')
INSERT INTO items VALUES('2021184820&ver',
        '[보디가드]남성팬티/드로즈/어메니티드로즈/남자속옷/속옷세트',
        23900,
        23900,
        0,
        '보디가드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '69',
    '2021184820&ver')
INSERT INTO items VALUES('1976561785&ver',
        '[플레이보이]남성 남자 팬티 속옷 드로즈 2101-5매 22% 패션페스타',
        32900,
        21390,
        0,
        '플레이보이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '70',
    '1976561785&ver')
INSERT INTO items VALUES('236903924&ver',
        '주니어브라/1.2.3단계별/학생/팬티/속옷/위생/런닝',
        23000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '71',
    '236903924&ver')
INSERT INTO items VALUES('1645814411&ver',
        '[BYC]주니어 브라런닝 2매세트 런닝/속옷/학생/브래지어',
        16900,
        16900,
        0,
        'BYC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '72',
    '1645814411&ver')
INSERT INTO items VALUES('920123613&ver',
        '[글램브라]A~C컵으로 사기브라 노와이어 브라 팬티 여성속옷세트',
        8900,
        6900,
        0,
        '글램브라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '73',
    '920123613&ver')
INSERT INTO items VALUES('1530633878&ver',
        '이지클래식 노와이어 브라렛/브라/여성속옷/브래지어',
        11800,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '74',
    '1530633878&ver')
INSERT INTO items VALUES('1809984692&ver',
        '[스위스밀리터리]남자 삼각 팬티 세트 5장 /브리프 스위스밀리터리 속옷',
        21000,
        21000,
        0,
        '스위스밀리터리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '75',
    '1809984692&ver')
INSERT INTO items VALUES('1703999341&ver',
        '[이너스유]주니어팬티 세트 드로즈 트렁크 남학생 청소년 남아',
        16500,
        13900,
        0,
        '이너스유')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '76',
    '1703999341&ver')
INSERT INTO items VALUES('1767417225&ver',
        '[BYC]디럭스/트렁크/박서/순면/남자팬티/남성속옷 5종세트',
        21900,
        21900,
        0,
        'BYC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '77',
    '1767417225&ver')
INSERT INTO items VALUES('1606504199&ver',
        '[공구우먼]언더웨어 모음 김민경잠옷 파자마 빅사이즈 여성속옷',
        76900,
        27900,
        0,
        '공구우먼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '78',
    '1606504199&ver')
INSERT INTO items VALUES('1905870556&ver',
        '[아날도바시니]아날도바시니 남자 팬티 드로즈 5장 세트 남성 속옷',
        18900,
        18900,
        0,
        '아날도바시니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '79',
    '1905870556&ver')
INSERT INTO items VALUES('2016760820&ver',
        '[진짜편한속옷] 속편한 브라탑 세트 컬렉션 시즌3',
        49900,
        46410,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '80',
    '2016760820&ver')
INSERT INTO items VALUES('158683693&ver',
        '[란제리아]특면 파자마 여자/남자 커플 밍크 잠옷 세트 원피스',
        26300,
        7900,
        0,
        '란제리아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '81',
    '158683693&ver')
INSERT INTO items VALUES('915562787&ver',
        '6~10종 여성속옷 ABC컵 브라팬티세트 노와이어/볼륨업',
        26000,
        25770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '82',
    '915562787&ver')
INSERT INTO items VALUES('1990823214&ver',
        '[미퓨어]골지 레이스 브라 팬티 세트',
        10000,
        10000,
        0,
        '미퓨어')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '83',
    '1990823214&ver')
INSERT INTO items VALUES('1978301741&ver',
        '[플레이보이]남성 남자 속옷 삼각 팬티 3101-5매',
        27900,
        19390,
        0,
        '플레이보이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '84',
    '1978301741&ver')
INSERT INTO items VALUES('1866611470&ver',
        '(10개세트) 여자 심리스 팬티 무봉제 노라인 누디팬티',
        13000,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '85',
    '1866611470&ver')
INSERT INTO items VALUES('2056653491&ver',
        '잠옷 상하세트 홈웨어 파자마',
        12900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '86',
    '2056653491&ver')
INSERT INTO items VALUES('700994338&ver',
        '국산 주니어 런닝브라 스포츠브라 1.2단계 쥬니어속옷',
        5900,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '87',
    '700994338&ver')
INSERT INTO items VALUES('2045061409&ver',
        '[크로커다일]감탄브라 텐셀모달 V넥 브라 3pcs CDWBR0P646666_P301245910',
        29900,
        29750,
        0,
        '크로커다일')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '88',
    '2045061409&ver')
INSERT INTO items VALUES('1116474950&ver',
        '[스콕스]주니어브라/학생속옷/주니어속옷/속바지/런닝/단계별',
        5900,
        5900,
        0,
        '스콕스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '89',
    '1116474950&ver')

INSERT INTO items VALUES('1175245593&ver',
        '준앤윈터 빅사이즈 스포츠브라/운동복/요가복/헬스복',
        19800,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '90',
    '1175245593&ver')
INSERT INTO items VALUES('1894298133&ver',
        '[트라이]주니어/남아팬티/쾌적/드로즈/아동/사각팬티/3종세트',
        13900,
        13900,
        0,
        '트라이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '91',
    '1894298133&ver')
INSERT INTO items VALUES('1498742960&ver',
        '요가 필라테스 9부 반바지레깅스 운동복',
        33000,
        16500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '92',
    '1498742960&ver')
INSERT INTO items VALUES('1779697085&ver',
        '여성 잠옷 세트 홈웨어 파자마 체크 파우치 상하세트',
        15000,
        14800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '93',
    '1779697085&ver')
INSERT INTO items VALUES('1845825674&ver',
        '핀턱 밴딩 조거팬츠/요가복/운동복/필라테스/헬스복',
        47600,
        23800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '94',
    '1845825674&ver')
INSERT INTO items VALUES('2018029294&ver',
        '[푸마]푸마 남성 기능성 액티브 드로즈 5종 패키지(A)',
        34900,
        27230,
        0,
        '푸마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '95',
    '2018029294&ver')
INSERT INTO items VALUES('1285400026&ver',
        '22%쿠폰/국내생산/나시/속바지/속치마/복수구매할인',
        6900,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '96',
    '1285400026&ver')
INSERT INTO items VALUES('1706775492&ver',
        '빅사이즈 75A~105E컵 브라 브래지어 여성속옷 팬티',
        15900,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '97',
    '1706775492&ver')
INSERT INTO items VALUES('1891605919&ver',
        '[캘빈클라인언더웨어]캘빈클라인 남자 드로즈 팬티 3매 세트 CK 남성팬티',
        32900,
        32740,
        0,
        '캘빈클라인언더웨어')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '98',
    '1891605919&ver')
INSERT INTO items VALUES('1707671963&ver',
        'V넥 프리컷 누디브라/심리스브라/노와이어브라/브라탑',
        11800,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '99',
    '1707671963&ver')
INSERT INTO items VALUES('2056562826&ver',
        '[오르시떼]여아동 코코넛요가 반소매 상하 OR21SGBA045060',
        25000,
        20630,
        0,
        '오르시떼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    패션의류',
    '언더웨어',
    '100',
    '2056562826&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G01&subGroupCode=S088 언더웨어
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02 신발/잡화
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '1',
    '798413703&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '2',
    '1107162855&ver')
INSERT INTO items VALUES('2057097229&ver',
        '[크록스]크록스 키즈 크록밴드 클로그 K(204537-485)_네이비/',
        26900,
        26770,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '3',
    '2057097229&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '4',
    '1277558140&ver')
INSERT INTO items VALUES('1322052136&ver',
        '[월드컵]월드컵 남성 여성 운동화/슬립온/키높이 신발/슬리퍼',
        21200,
        6400,
        0,
        '월드컵')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '5',
    '1322052136&ver')
INSERT INTO items VALUES('1462990483&ver',
        '[가나양말]패션페스타22% 페이크삭스 양말 10켤레 2+1행사',
        23000,
        6900,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '6',
    '1462990483&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '7',
    '1912263121&ver')
INSERT INTO items VALUES('1789414067&ver',
        '[반스]반스 올드스쿨 스니커즈 VN000D3HY28 블랙',
        40800,
        40600,
        0,
        '반스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '8',
    '1789414067&ver')
INSERT INTO items VALUES('1688201811&ver',
        '패션페스타22% 메이시스 화사한 ~ 봄 스카프 머플러',
        14300,
        4300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '9',
    '1688201811&ver')
INSERT INTO items VALUES('2057097205&ver',
        '[크록스]크록스 키즈 바야밴드 클로그 K(205100-410)_네이비',
        26900,
        26770,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '10',
    '2057097205&ver')
INSERT INTO items VALUES('639828640&ver',
        '[비너스]비비안 외 팬티 스타킹 10매 학생 고탄력 압박 판타롱',
        33000,
        9900,
        0,
        '비너스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '11',
    '639828640&ver')
INSERT INTO items VALUES('181548233&ver',
        '(패션페스타22%)탐스백 봄신상 가방/숄더백',
        56300,
        16900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '12',
    '181548233&ver')
INSERT INTO items VALUES('1774742160&ver',
        '키높이 운동화 여성 스니커즈 유니크 신발 캐넌KJ03',
        52600,
        15800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '13',
    '1774742160&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '14',
    '2060813730&ver')
INSERT INTO items VALUES('2051398126&ver',
        '[비비안]VIVIEN 스타킹/언더웨어 베스트 상품 특가',
        50000,
        18000,
        0,
        '비비안')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '15',
    '2051398126&ver')
INSERT INTO items VALUES('1899380325&ver',
        '[닥스ACC]닥스/헤지스/가방/지갑/클러치/장지갑/숄더백 +25%',
        261300,
        78400,
        0,
        '닥스ACC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '16',
    '1899380325&ver')
INSERT INTO items VALUES('1645478664&ver',
        '[엘칸토]엘칸토 21SS 남녀 신상슈즈 출시',
        149000,
        45000,
        0,
        '엘칸토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '17',
    '1645478664&ver')
INSERT INTO items VALUES('921539457&ver',
        '여성 스카프 사각 트윌리 집게핀 곱창 밴드 목걸이',
        19000,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '18',
    '921539457&ver')
INSERT INTO items VALUES('365352895&ver',
        '패션페스타22% 여성신발 슬립온 스니커즈 단화 운동화',
        32600,
        9800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '19',
    '365352895&ver')
INSERT INTO items VALUES('630959840&ver',
        '판매1위 봄 신상 은침귀걸이 롱 링 마스크목걸이',
        12900,
        3900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '20',
    '630959840&ver')

INSERT INTO items VALUES('1296656332&ver',
        '봄맞이 가방/신발/잡화 3900원~7900원',
        6900,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '21',
    '1296656332&ver')
INSERT INTO items VALUES('1470422337&ver',
        '[에스콰이아]에스콰이아_소노비  가방/지갑/잡화 신상모음전',
        116300,
        34900,
        0,
        '에스콰이아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '22',
    '1470422337&ver')
INSERT INTO items VALUES('733858170&ver',
        '패션페스타22% 에코백 2개 구매시 파우치 1개 증정',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '23',
    '733858170&ver')
INSERT INTO items VALUES('734482203&ver',
        '[페이퍼플레인]최대22%쿠폰 남녀공용스니커즈 슬립온 단화캐주얼화',
        59600,
        17900,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '24',
    '734482203&ver')
INSERT INTO items VALUES('397729569&ver',
        '[가나양말]남자 여자 발목 덧신 페이크삭스 정장 스포츠 양말',
        21600,
        6500,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '25',
    '397729569&ver')
INSERT INTO items VALUES('1129363599&ver',
        '[페이퍼플레인]온라인 독점판매 유니크 신발 슬리퍼 군용 군대보급',
        9800,
        9760,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '26',
    '1129363599&ver')
INSERT INTO items VALUES('767588368&ver',
        '패션페스타22% 14K귀걸이(Gold-Pin) 외 쥬얼리',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '27',
    '767588368&ver')
INSERT INTO items VALUES('760282459&ver',
        '[페이퍼플레인]최대22%쿠폰 운동화 스니커즈 에어쿠션 런닝화',
        132600,
        39800,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '28',
    '760282459&ver')
INSERT INTO items VALUES('516224243&ver',
        '단골언니 여성 신발 슬립온/스니커즈/운동화',
        42600,
        12800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '29',
    '516224243&ver')
INSERT INTO items VALUES('769058722&ver',
        '에코백 핸드폰 백 여성 가방 스카프 양말 시즌오프',
        26000,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '30',
    '769058722&ver')
INSERT INTO items VALUES('756674142&ver',
        '단골언니 여성 정장구두 3/5/7/9cm 스틸레토힐 펌프스',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '31',
    '756674142&ver')
INSERT INTO items VALUES('1828501434&ver',
        '글로벌 BT21 정품 신상 차차/로사/베베 슬리퍼/방한화',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '32',
    '1828501434&ver')
INSERT INTO items VALUES('1591513461&ver',
        '[에스콰이아]에스콰이아 신상/이월 정장화/스니커즈/로퍼/펌프스',
        139600,
        41900,
        0,
        '에스콰이아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '33',
    '1591513461&ver')
INSERT INTO items VALUES('493534687&ver',
        '신상 슬립온 플랫 단화 여성 키높이 운동화 스니커즈',
        56000,
        16800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '34',
    '493534687&ver')
INSERT INTO items VALUES('237563564&ver',
        '데일리 여성가방/크로스백/클러치/숄더백/미니백',
        53000,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '35',
    '237563564&ver')
INSERT INTO items VALUES('1898715561&ver',
        '[스프리스]스프리스  여성 플랫폼스니커즈 8종 택1 OWSN0F08PU0',
        43900,
        43900,
        0,
        '스프리스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '36',
    '1898715561&ver')
INSERT INTO items VALUES('1792505729&ver',
        '[엘칸토]엘칸토 21SS 남녀 신상슈즈 출시',
        149000,
        45000,
        0,
        '엘칸토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '37',
    '1792505729&ver')
INSERT INTO items VALUES('1903254425&ver',
        '(mini ver 2)입체 도널드덕 데이지 지비츠 9Pcs 세트',
        10500,
        10190,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '38',
    '1903254425&ver')
INSERT INTO items VALUES('2045915466&ver',
        '[스케쳐스]공용 메모리폼 워킹화 울트라플렉스 2.0 4종 선택1 SL0MP20F011(행사)',
        59000,
        46910,
        0,
        '스케쳐스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '39',
    '2045915466&ver')
INSERT INTO items VALUES('305560651&ver',
        '[페이퍼플레인]최대22%쿠폰 신발 운동화 스니커즈 슬립온 캐주얼',
        66000,
        19800,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '40',
    '305560651&ver')
INSERT INTO items VALUES('653680064&ver',
        '힐슈빌 신상 슬립온 통굽 키높이 스니커즈',
        24900,
        7500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '41',
    '653680064&ver')
INSERT INTO items VALUES('2005204239&ver',
        '봄 반목 무지 골지 면 양말 10개 세트 학생 선물',
        32000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '42',
    '2005204239&ver')
INSERT INTO items VALUES('1991450781&ver',
        '[이사도라]이사도라 NS2015 패션페스타22%할인 봄 스니커즈',
        8900,
        8900,
        0,
        '이사도라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '43',
    '1991450781&ver')
INSERT INTO items VALUES('1907330799&ver',
        'KA 7107 남성 여성 운동화 런닝화 워킹화 에어 신발',
        21900,
        21690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '44',
    '1907330799&ver')
INSERT INTO items VALUES('1533547296&ver',
        '14K/18K 빛나는 목걸이/팔찌/반지/귀걸이 균일가',
        103800,
        51900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '45',
    '1533547296&ver')
INSERT INTO items VALUES('2053793037&ver',
        '18K 귀걸이 균일가',
        43800,
        21900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '46',
    '2053793037&ver')
INSERT INTO items VALUES('2005994011&ver',
        '[금강제화]봄신상 스니커즈/로퍼/컴포트화 50종 택1',
        139000,
        51000,
        0,
        '금강제화')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '47',
    '2005994011&ver')
INSERT INTO items VALUES('1685470292&ver',
        '[아키클래식]아키클래식 편한 착화감 청키삭스 키높이 삭스스니커',
        47000,
        47000,
        0,
        '아키클래식')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '48',
    '1685470292&ver')
INSERT INTO items VALUES('2012155745&ver',
        '[아디다스오리지널][아디다스 오리지널스] [Mens] 오즈위고 {FX6028}',
        129000,
        94170,
        0,
        '아디다스오리지널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '49',
    '2012155745&ver')

INSERT INTO items VALUES('1487777111&ver',
        '국산 10켤레 남자양말 패션 발목 덧신 중목 신사 정장',
        6500,
        6400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '50',
    '1487777111&ver')
INSERT INTO items VALUES('2008064428&ver',
        '[나이키]데이브레이크 아이보리 망고 CK2351-104',
        127900,
        127260,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '51',
    '2008064428&ver')
INSERT INTO items VALUES('1789483062&ver',
        '스프리스 여성 하이스타스니커즈 구미호뎐 조보아슈즈',
        52900,
        52640,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '52',
    '1789483062&ver')
INSERT INTO items VALUES('1903251220&ver',
        '입체 당근 토끼 피규어2+파츠5 7Pcs 지비츠 세트',
        9000,
        8730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '53',
    '1903251220&ver')
INSERT INTO items VALUES('1728610613&ver',
        '[엔비]헤어 곱창 세트 밴드 머리끈 슈슈 똑딱핀 집게핀',
        10900,
        10900,
        0,
        '엔비')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '54',
    '1728610613&ver')
INSERT INTO items VALUES('677784936&ver',
        '패션페스타22% 여성 플랫슈즈 로퍼 단화 블로퍼 뮬',
        18000,
        9800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '55',
    '677784936&ver')
INSERT INTO items VALUES('1903255152&ver',
        '(mini ver 3)입체 도널드덕 데이지 지비츠 10Pcs',
        11500,
        11160,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '56',
    '1903255152&ver')
INSERT INTO items VALUES('1377316591&ver',
        'YNS특가13켤레 여자 남자 양말 발목/중목/덧신 외80종',
        6900,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '57',
    '1377316591&ver')
INSERT INTO items VALUES('1788029369&ver',
        '보가 수제화 리에뜨 3-f02 버클 스트랩 여성 뮬 샌들',
        19900,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '58',
    '1788029369&ver')
INSERT INTO items VALUES('1962195722&ver',
        '[아디다스오리지널]오즈위고 EE6999',
        129000,
        105780,
        0,
        '아디다스오리지널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '59',
    '1962195722&ver')
INSERT INTO items VALUES('1820092556&ver',
        '[착한구두]어게인 스퀘어 펌프스 PLLTR0a8626',
        42250,
        16900,
        0,
        '착한구두')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '60',
    '1820092556&ver')
INSERT INTO items VALUES('387272683&ver',
        '[슬레진저]패션페스타22% 봄신상 운동화/스니커즈/런닝화/슬립온',
        43000,
        12900,
        0,
        '슬레진저')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '61',
    '387272683&ver')
INSERT INTO items VALUES('763098932&ver',
        '사은품증정 14K골드 정품 귀걸이/팔찌/피어싱',
        66300,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '62',
    '763098932&ver')
INSERT INTO items VALUES('1684419062&ver',
        '14K 열송이 일자/물결/삼각 컷팅 반지',
        49800,
        24900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '63',
    '1684419062&ver')
INSERT INTO items VALUES('251196004&ver',
        '[브라이튼]여행용 캐리어 기내용 여행가방 TSA 확장지퍼 더블휠',
        99000,
        29800,
        0,
        '브라이튼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '64',
    '251196004&ver')
INSERT INTO items VALUES('1928363055&ver',
        '[탑모델]F/W 봄슈즈/로퍼/플랫/블로퍼/스니커즈',
        32900,
        9740,
        0,
        '탑모델')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '65',
    '1928363055&ver')
INSERT INTO items VALUES('1491799783&ver',
        '더빨강양말 남자여자 발목/중목/장목/겨울양말/학생',
        6900,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '66',
    '1491799783&ver')
INSERT INTO items VALUES('519186903&ver',
        '단골언니 여성구두 슬링백/메리제인/펌프스/하이힐',
        25800,
        24680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '67',
    '519186903&ver')
INSERT INTO items VALUES('187896486&ver',
        '패션페스타22% 1+1 14K 골드핀 피어싱 (Gold-Pin) 외',
        17900,
        17900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '68',
    '187896486&ver')
INSERT INTO items VALUES('289192927&ver',
        '검증된 베스트 남자신발/스니커즈/운동화/신발/슬립온',
        20000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '69',
    '289192927&ver')
INSERT INTO items VALUES('1838036720&ver',
        '[프롬산타]MSW 데일리핏 여성 중목양말 5켤레 롱~한 학생양말',
        23000,
        6900,
        0,
        '프롬산타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '70',
    '1838036720&ver')
INSERT INTO items VALUES('1616986104&ver',
        '[키키디]키키디 힐링 쿠션 실내화 거실화 덧신 기능성 슬리퍼',
        7900,
        6900,
        0,
        '키키디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '71',
    '1616986104&ver')
INSERT INTO items VALUES('2049626955&ver',
        '[버버리](명품직구) 버버리 프랭크비 퀼팅 자켓',
        720000,
        545000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '72',
    '2049626955&ver')
INSERT INTO items VALUES('178653422&ver',
        ' 100%가죽 벨트 통가죽 남성 밸트 혁대 청바지 허리띠',
        32900,
        11240,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '73',
    '178653422&ver')
INSERT INTO items VALUES('2006299591&ver',
        '[나이키]데이브레이크 아이보리 CK2351-101',
        127900,
        127260,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '74',
    '2006299591&ver')
INSERT INTO items VALUES('1686949064&ver',
        '루돌프발렌티노 신사 정장양말 5켤레 (패션페스타22%)',
        9900,
        6850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '75',
    '1686949064&ver')
INSERT INTO items VALUES('2012160476&ver',
        '[소보제화]6color 파스텔컬러 골드딕 여성단화 로퍼 1cm',
        35400,
        26900,
        0,
        '소보제화')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '76',
    '2012160476&ver')
INSERT INTO items VALUES('1402214179&ver',
        'F110 TRAVEL BAG SACOCHE 4COLOR POSHPROJECTS',
        64200,
        22900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '77',
    '1402214179&ver')
INSERT INTO items VALUES('678913726&ver',
        '국내제작 10켤레특가 국산양말/발목/학생/발가락/덧신',
        5900,
        5770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '78',
    '678913726&ver')

INSERT INTO items VALUES('1658729004&ver',
        '[가나양말]남자 여자 학생 덧신 발목 중목 장목 스포츠 양말',
        23000,
        6900,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '79',
    '1658729004&ver')
INSERT INTO items VALUES('515024807&ver',
        '단골언니 여성 슬립온 플랫 키높이 운동화 스니커즈',
        24000,
        22800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '80',
    '515024807&ver')
INSERT INTO items VALUES('1734397760&ver',
        '[인더슈]인더슈 플리즈 미 플랫(1.5cm)',
        43000,
        12900,
        0,
        '인더슈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '81',
    '1734397760&ver')
INSERT INTO items VALUES('1896828598&ver',
        '[스프리스]스프리스  올데이 스니커즈 여성',
        49000,
        47760,
        0,
        '스프리스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '82',
    '1896828598&ver')
INSERT INTO items VALUES('2031919619&ver',
        '[아가타]미스톡 여성 아멜리아 리본 펌프스',
        19900,
        19900,
        0,
        '아가타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '83',
    '2031919619&ver')
INSERT INTO items VALUES('1682790023&ver',
        '[칼하트]칼하트 D89 메신저백 블랙 11052301',
        66900,
        66570,
        0,
        '칼하트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '84',
    '1682790023&ver')
INSERT INTO items VALUES('680393899&ver',
        '남녀공용 힙색/슬링백/메신저백/바디백/보조가방',
        39600,
        11900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '85',
    '680393899&ver')
INSERT INTO items VALUES('654085075&ver',
        '여성 슬링백 힐 구두 메리제인 펌프스 가보시 하이힐',
        22000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '86',
    '654085075&ver')
INSERT INTO items VALUES('1775824384&ver',
        '보가 수제화 메리 3- f01 금장 장식 베이직 블로퍼',
        17900,
        17810,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '87',
    '1775824384&ver')
INSERT INTO items VALUES('160098130&ver',
        '[코피]신상 숄더 백 에코 인조 가죽 핸드 크로스 여성 가방',
        56200,
        16900,
        0,
        '코피')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '88',
    '160098130&ver')
INSERT INTO items VALUES('681475998&ver',
        '데일리 에코백/캔버스백/크로스백/천가방/보조가방',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '89',
    '681475998&ver')
INSERT INTO items VALUES('521222371&ver',
        '단골언니 스니커즈 운동화 키높이 슬립온 캔버스',
        21800,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '90',
    '521222371&ver')
INSERT INTO items VALUES('2037210094&ver',
        '운동화 여성운동화 스니커즈 신발 어글리슈즈 마티니',
        19000,
        18810,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '91',
    '2037210094&ver')
INSERT INTO items VALUES('296575508&ver',
        '본필 남성 여성 운동화 런닝화 어글리슈즈 스니커즈',
        27800,
        27670,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '92',
    '296575508&ver')
INSERT INTO items VALUES('812651396&ver',
        '국산 10켤레 남자 발목양말 중목 단목 패션 정장 남성',
        6000,
        5800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '93',
    '812651396&ver')
INSERT INTO items VALUES('420413737&ver',
        '슬리퍼 실내화 통굽슬리퍼 사무실 여성 간호',
        18800,
        15800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '94',
    '420413737&ver')
INSERT INTO items VALUES('456062424&ver',
        '여성가방 숄더백/토트백/미니백/크로스/데일리백',
        53000,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '95',
    '456062424&ver')
INSERT INTO items VALUES('325973449&ver',
        '14K GOLD_pin 귀걸이/마스크목걸이/진주링귀걸이',
        31900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '96',
    '325973449&ver')
INSERT INTO items VALUES('557396403&ver',
        '신상 하이힐 가보시힐 스틸레토힐 킬힐 여성구두',
        20000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '97',
    '557396403&ver')
INSERT INTO items VALUES('1817524718&ver',
        '[수페르가](22%쿠폰) 수페르가 화이트 스니커즈/뮬/슬라이드',
        78000,
        39000,
        0,
        '수페르가')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '98',
    '1817524718&ver')
INSERT INTO items VALUES('1608102958&ver',
        '[푸마]남성양말 스포츠양말 발목양말 스니커즈 양말 5족',
        7900,
        7860,
        0,
        '푸마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '99',
    '1608102958&ver')
INSERT INTO items VALUES('1999730535&ver',
        '나이키 베이퍼맥스 플라이니트3 트리플블랙AJ6900-004',
        145000,
        145000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    'ALL',
    '100',
    '1999730535&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '1',
    '1912263121&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '2',
    '1899380325&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '3',
    '1645478664&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '4',
    '1296656332&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '5',
    '1470422337&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '6',
    '1591513461&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '7',
    '1792505729&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '8',
    '2045915466&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '9',
    '2005994011&ver')
INSERT INTO items VALUES('2010010467&ver',
        '[질스튜어트ACC]질뉴 질바이 인기 가방/지갑/장지갑/반지갑 +25%',
        104400,
        52200,
        0,
        '질스튜어트ACC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '10',
    '2010010467&ver')
INSERT INTO items VALUES('2005997149&ver',
        '[금강제화]21SS 금강제화 남녀 사계절 소가죽 정장화/컴포트화',
        196000,
        59000,
        0,
        '금강제화')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '11',
    '2005997149&ver')
INSERT INTO items VALUES('2036094615&ver',
        '[미소페](파주점)미소페 남성 가죽 스니커즈/로퍼 균일 특가전',
        89000,
        89000,
        0,
        '미소페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '12',
    '2036094615&ver')

INSERT INTO items VALUES('2002006663&ver',
        '[질스튜어트ACC]질뉴 질바이 인기 가방/지갑/장지갑/반지갑 +25%',
        174000,
        52200,
        0,
        '질스튜어트ACC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '13',
    '2002006663&ver')
INSERT INTO items VALUES('2005988927&ver',
        '[금강제화]봄선물 여성 플랫/스니커즈/소가죽펌프스 50종 택1',
        196000,
        59000,
        0,
        '금강제화')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '14',
    '2005988927&ver')
INSERT INTO items VALUES('1940186483&ver',
        '[빈폴ACC]빈폴ACC 신상 가방/지갑/ACC +20%',
        248300,
        149000,
        0,
        '빈폴ACC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '15',
    '1940186483&ver')
INSERT INTO items VALUES('2043124067&ver',
        '[루이까또즈]갤러리아  마름모 실크 스카프 피코크 3컬러',
        31200,
        23400,
        0,
        '루이까또즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '16',
    '2043124067&ver')
INSERT INTO items VALUES('1755598480&ver',
        '[엑셀시오르]엑셀시오르 볼트 로우 벨크로 스니커즈 ES_M6017VC 5종',
        23460,
        23460,
        0,
        '엑셀시오르')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '17',
    '1755598480&ver')
INSERT INTO items VALUES('2044918880&ver',
        '[리복](현대백화점)리복 FX0158 FX0156 FX0163 FX0170 FV0608 남여 경량 런닝화 5종',
        38000,
        33440,
        0,
        '리복')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '18',
    '2044918880&ver')
INSERT INTO items VALUES('1925079295&ver',
        '[닥스ACC]닥스/헤지스/가방/지갑/클러치/숄더백/양말 +25%',
        179200,
        89600,
        0,
        '닥스ACC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '19',
    '1925079295&ver')
INSERT INTO items VALUES('1846900314&ver',
        '[헬렌카민스키]갤러리아   헬렌카민스키 비앙카 BIANCA',
        200000,
        180000,
        0,
        '헬렌카민스키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '20',
    '1846900314&ver')
INSERT INTO items VALUES('1756446994&ver',
        '[휠라] FILA 오크먼트 OAKMONT TR 3종 택1 남녀공용 운동화 스니커즈 어글리슈즈 (1JM00801)',
        38610,
        38610,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '21',
    '1756446994&ver')
INSERT INTO items VALUES('1822230233&ver',
        '[소다]소다그룹 최대24%쿠폰 SS신상남여 50종 택1',
        159000,
        49000,
        0,
        '소다')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '22',
    '1822230233&ver')
INSERT INTO items VALUES('1836663015&ver',
        '[버켄스탁][버켄스탁SHOES][20SS] RFSO0E001BK [아리조나] 블랙 남성 슬리퍼 REGULAR',
        62370,
        52360,
        0,
        '버켄스탁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '23',
    '1836663015&ver')
INSERT INTO items VALUES('1877005731&ver',
        '[스케쳐스][스케쳐스] 고워크5 폴딩 SP0MW20S111-4종택1',
        60000,
        42000,
        0,
        '스케쳐스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '24',
    '1877005731&ver')
INSERT INTO items VALUES('1671473286&ver',
        '[돔바][돔바] 하이포인트/리브/마노아/블레이크/가프/윈/프레이 스니커즈 택1',
        26900,
        24080,
        0,
        '돔바')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '25',
    '1671473286&ver')
INSERT INTO items VALUES('2016404937&ver',
        '[프로스펙스]남여 공용 캐주얼 워킹화 스포트라이트 GD PW0WW20F221',
        48500,
        39530,
        0,
        '프로스펙스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '26',
    '2016404937&ver')
INSERT INTO items VALUES('1986711972&ver',
        '[랩](신세계강남점)러닝)아만다_복조리백(AM1AB260)',
        46900,
        39870,
        0,
        '랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '27',
    '1986711972&ver')
INSERT INTO items VALUES('1570616676&ver',
        '[돔바]돔바 하이 포인트 (HIGH POINT (WHITE/BLACK)) [H-9111]',
        26900,
        24080,
        0,
        '돔바')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '28',
    '1570616676&ver')
INSERT INTO items VALUES('1661549742&ver',
        '[컨버스][대구백화점 II관] [컨버스]척테일러 올스타 OX 4종 택1(M9166C M7652C M9697C M5039C)',
        55000,
        49500,
        0,
        '컨버스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '29',
    '1661549742&ver')
INSERT INTO items VALUES('2009882366&ver',
        '[아디다스오리지널]갤러리아  오즈위고(FX6029)',
        129000,
        107070,
        0,
        '아디다스오리지널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '30',
    '2009882366&ver')
INSERT INTO items VALUES('1455256957&ver',
        '[아디다스오리지널][대구백화점 I관] [아디다스]슈퍼스타 SUPERSTAR 360 I(S82711)',
        43000,
        39990,
        0,
        '아디다스오리지널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '31',
    '1455256957&ver')
INSERT INTO items VALUES('1862335697&ver',
        '[스케쳐스][스케쳐스] 남여 런닝화 고런패스트 SP0MR20X511(정상)',
        42000,
        29400,
        0,
        '스케쳐스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '32',
    '1862335697&ver')
INSERT INTO items VALUES('1890229759&ver',
        '[헬렌카민스키]갤러리아   헬렌카민스키  비앙카 BIANCA',
        200000,
        180000,
        0,
        '헬렌카민스키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '33',
    '1890229759&ver')
INSERT INTO items VALUES('1747419110&ver',
        '[세인트스코트]세인트스코트 미니크로스백/핸드폰 가방 추천',
        165000,
        49500,
        0,
        '세인트스코트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '34',
    '1747419110&ver')
INSERT INTO items VALUES('1654683063&ver',
        '[헬렌카민스키](신세계본점)헬렌카민스키 비앙카 HRSHE100110',
        200000,
        174000,
        0,
        '헬렌카민스키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '35',
    '1654683063&ver')
INSERT INTO items VALUES('1830562030&ver',
        '[랩](랩 LAP)아델라_스몰토트백(AL3AB967)',
        47200,
        41310,
        0,
        '랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '36',
    '1830562030&ver')
INSERT INTO items VALUES('1786815523&ver',
        '[스코노]컴포트 웨지힐 블루_SCS0707WD22 본사정품',
        29900,
        29750,
        0,
        '스코노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '37',
    '1786815523&ver')
INSERT INTO items VALUES('1931954420&ver',
        '[루이까또즈](신세계강남점)남성반지갑 SG3AH03BL',
        59000,
        49860,
        0,
        '루이까또즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '38',
    '1931954420&ver')
INSERT INTO items VALUES('2029978751&ver',
        '[세라]갤러리아  SAERA 세라 플랫 C21P407 흑색 크림 그린 레드 1CM',
        89000,
        70310,
        0,
        '세라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '39',
    '2029978751&ver')

INSERT INTO items VALUES('1786810416&ver',
        '[스코노]리프 메모리폼 슬립온 블랙_SCS0730LF11 본사정품',
        29900,
        29750,
        0,
        '스코노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '40',
    '1786810416&ver')
INSERT INTO items VALUES('2008056992&ver',
        '[크록스]여성 세레나 크로스 밴드 슬라이드 206099-001',
        24900,
        24900,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '41',
    '2008056992&ver')
INSERT INTO items VALUES('1808874534&ver',
        '[버켄스탁](신세계센텀점)20SS[LF]버켄스탁  여성화 마야리 레귤러 메탈릭 그레이  RFSO0E042G3',
        69300,
        53440,
        0,
        '버켄스탁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '42',
    '1808874534&ver')
INSERT INTO items VALUES('2023014569&ver',
        'VW베라왕  21SS 에어 뉴어크V4 스니커즈',
        149000,
        139000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '43',
    '2023014569&ver')
INSERT INTO items VALUES('1830257277&ver',
        '[컨버스]갤러리아  컨버스 척테일러 올스타 클래식 화이트 M7652C',
        55000,
        49500,
        0,
        '컨버스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '44',
    '1830257277&ver')
INSERT INTO items VALUES('2044862286&ver',
        '[프로스펙스][프로스펙스] 오리지널 워킹화 스택스 113 114 115 116 117 118',
        35000,
        25550,
        0,
        '프로스펙스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '45',
    '2044862286&ver')
INSERT INTO items VALUES('529395947&ver',
        '[비비안]팬티스타킹/골든레디12개/비비안10개입/선택/무료배송',
        15900,
        15900,
        0,
        '비비안')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '46',
    '529395947&ver')
INSERT INTO items VALUES('1993562909&ver',
        '[캉골]샐리 캔버스 버켓백 3810 4종',
        58000,
        51910,
        0,
        '캉골')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '47',
    '1993562909&ver')
INSERT INTO items VALUES('1887934707&ver',
        '[엘칸토]엘칸토 인텐스 여성 메탈릭 펌프스 LCWD12I04C',
        129000,
        38900,
        0,
        '엘칸토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '48',
    '1887934707&ver')
INSERT INTO items VALUES('2037225298&ver',
        '[우포스](신세계강남점)(OOFOS) 우포스 남여 공용 슬리퍼 블랙 1100 BLACK',
        55000,
        55000,
        0,
        '우포스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '49',
    '2037225298&ver')
INSERT INTO items VALUES('2006839097&ver',
        '아디다스adidas SUPERSTAR 360 X C 운동화 kids EG3398',
        58000,
        47560,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '50',
    '2006839097&ver')
INSERT INTO items VALUES('1668303785&ver',
        'Chacha/ 마크모크',
        51900,
        40750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '51',
    '1668303785&ver')
INSERT INTO items VALUES('1832337987&ver',
        '[컨버스]갤러리아  컨버스 척테일러 올스타 클래식 하이 블랙 M9160C',
        59000,
        53100,
        0,
        '컨버스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '52',
    '1832337987&ver')
INSERT INTO items VALUES('2031642545&ver',
        'VW베라왕  21SS 모달 블렌디드 글리터 삭스 10SET',
        49000,
        49000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '53',
    '2031642545&ver')
INSERT INTO items VALUES('2051882313&ver',
        '[뉴에라]MLB 워시드 미니로고 뉴욕 양키스 볼캡 그린 12836201',
        43000,
        35260,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '54',
    '2051882313&ver')
INSERT INTO items VALUES('1658709483&ver',
        '[닥스ACC]쁘띠 손수건 7종 택 1',
        15000,
        12000,
        0,
        '닥스ACC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '55',
    '1658709483&ver')
INSERT INTO items VALUES('1925837898&ver',
        '[스코노]갤러리아  스코노 여성 노아 프리미엄 웨지힐 모음 SCS0701',
        49000,
        38220,
        0,
        '스코노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '56',
    '1925837898&ver')
INSERT INTO items VALUES('2040703057&ver',
        '[엑셀시오르]엑셀시오르 볼트 로우 텅 컬러 블럭 베이지 GS_M6017CB_BE',
        58650,
        58650,
        0,
        '엑셀시오르')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '57',
    '2040703057&ver')
INSERT INTO items VALUES('2031955620&ver',
        '[엘칸토]엘칸토 인텐스 여성 스퀘어 플랫  LCWD68I126',
        129000,
        45000,
        0,
        '엘칸토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '58',
    '2031955620&ver')
INSERT INTO items VALUES('2038323923&ver',
        '[엘칸토]엘칸토 마쯔 여성 배색 스니커즈 LCWS07M126',
        139000,
        49000,
        0,
        '엘칸토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '59',
    '2038323923&ver')
INSERT INTO items VALUES('1888280978&ver',
        '[엘칸토]엘칸토 마쯔 여성 니트 스니커즈 LCWC80I04C',
        119000,
        37600,
        0,
        '엘칸토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '60',
    '1888280978&ver')
INSERT INTO items VALUES('1864412866&ver',
        '[휠라]갤러리아   FILA 남/여공용 (세일)FILA어글리슈즈-레이샤이니핑크(1RM01142154)',
        49000,
        37730,
        0,
        '휠라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '61',
    '1864412866&ver')
INSERT INTO items VALUES('1803232136&ver',
        '벤시몽 정품 엘리 라셋 엘라스틱 토미 12종 균일가',
        25900,
        25900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '62',
    '1803232136&ver')
INSERT INTO items VALUES('2050576921&ver',
        '[뉴에라]나일론 트랙 제트캡 머스타드 12718018',
        43000,
        35480,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '63',
    '2050576921&ver')
INSERT INTO items VALUES('1758292840&ver',
        '[휠라]갤러리아   FILA신발 (남녀공용) FILA 테이퍼 1SM00559',
        39000,
        30810,
        0,
        '휠라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '64',
    '1758292840&ver')
INSERT INTO items VALUES('1877449239&ver',
        '[뉴에라]MLB 팀 클래식 뉴욕양키스 게임 볼캡 네이비 10975804',
        36000,
        28980,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '65',
    '1877449239&ver')
INSERT INTO items VALUES('2046113069&ver',
        '[금강제화]와키앤타키 남성 캐주얼 MEX2030FG11',
        70000,
        70000,
        0,
        '금강제화')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '66',
    '2046113069&ver')
INSERT INTO items VALUES('1751991240&ver',
        '[루이까또즈]갤러리아  (신상품)세련된 울실크 짜임 솔리드 슬림타이LW609SO10N 외 3종텍1',
        35000,
        25900,
        0,
        '루이까또즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '67',
    '1751991240&ver')

INSERT INTO items VALUES('1177931574&ver',
        '[루이까또즈](신세계본점)여성미니지갑 SI3GI03BL',
        76800,
        64900,
        0,
        '루이까또즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '68',
    '1177931574&ver')
INSERT INTO items VALUES('1695134356&ver',
        '[MLB]엠엘비 뉴욕양키스 빅볼청키 A 32SHC1941-50I',
        83000,
        80510,
        0,
        'Mlb')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '69',
    '1695134356&ver')
INSERT INTO items VALUES('1551672372&ver',
        '[로아드로아][로아드로아] RDR 3D 매트릭스 3M 스카치 스트링 백팩 택 1',
        52000,
        45170,
        0,
        '로아드로아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '70',
    '1551672372&ver')
INSERT INTO items VALUES('1841120316&ver',
        '[랩](랩 LAP)러닝)슬래쉬_퀼팅클러치(AL3AB974)',
        31200,
        27310,
        0,
        '랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '71',
    '1841120316&ver')
INSERT INTO items VALUES('1888616194&ver',
        '[분홍코끼리](신세계강남점)[분홍코끼리](키커슈) 세미나 키높이슬립온(4.5cm)',
        35360,
        28390,
        0,
        '분홍코끼리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '72',
    '1888616194&ver')
INSERT INTO items VALUES('2018639187&ver',
        '[캉골]텀블러 캔버스 미디엄 토트백 3813 2종',
        65000,
        58180,
        0,
        '캉골')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '73',
    '2018639187&ver')
INSERT INTO items VALUES('1865656178&ver',
        '론칭가99 000 VW베라왕 클래시 로퍼',
        79000,
        69000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '74',
    '1865656178&ver')
INSERT INTO items VALUES('1979447579&ver',
        '[크록스]남녀공용 오프로드 스포츠 클로그 202651-02S',
        39900,
        39900,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '75',
    '1979447579&ver')
INSERT INTO items VALUES('1590784473&ver',
        '빅토리아슈즈 샌달리아 벨크로 아동운동화 8종택일',
        31800,
        31650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '76',
    '1590784473&ver')
INSERT INTO items VALUES('1300278031&ver',
        '[금강제화](신세계강남점)금강제화 남성 리갈201 모던 세미 캐주얼 더비 슈즈 MMX5029FG11/31/33',
        315000,
        237830,
        0,
        '금강제화')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '77',
    '1300278031&ver')
INSERT INTO items VALUES('1926057002&ver',
        '[쌤소나이트]WESLEY 백팩 S BLACK AR809002',
        313200,
        259960,
        0,
        '쌤소나이트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '78',
    '1926057002&ver')
INSERT INTO items VALUES('1767951011&ver',
        '[캉골]갤러리아  캉골 키퍼   슬링백 1238 블랙',
        54600,
        49140,
        0,
        '캉골')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '79',
    '1767951011&ver')
INSERT INTO items VALUES('1905234307&ver',
        '[스코노]헤이온 밴딩슬립온 다크그레이_HVL0299HJ71 본사정품',
        29900,
        29750,
        0,
        '스코노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '80',
    '1905234307&ver')
INSERT INTO items VALUES('1770032102&ver',
        '[델라스텔라]소가죽 LOTTIE_DS0819',
        217000,
        86800,
        0,
        '델라스텔라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '81',
    '1770032102&ver')
INSERT INTO items VALUES('1421332174&ver',
        '[탠디]탠디  온라인 초특가 남성구두  H17008 C-058M',
        128000,
        101120,
        0,
        '탠디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '82',
    '1421332174&ver')
INSERT INTO items VALUES('1840115730&ver',
        '[랩](랩 LAP)AMANDA(아만다)복조리백(AL3AB960)',
        47200,
        41540,
        0,
        '랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '83',
    '1840115730&ver')
INSERT INTO items VALUES('1939610890&ver',
        '[에잇세컨즈]아울렛 최대 70% 세일 니트/셔츠/가디건/스커트/팬츠',
        33000,
        19900,
        0,
        '에잇세컨즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '84',
    '1939610890&ver')
INSERT INTO items VALUES('1794671289&ver',
        '[쌤소나이트 레드]NEUMONT 3 백팩 BLACK GY009001',
        159000,
        131180,
        0,
        '쌤소나이트레드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '85',
    '1794671289&ver')
INSERT INTO items VALUES('1756476978&ver',
        '[뉴에라]갤러리아   공용  뉴에라 940 MLB 뉴욕 양키스 베이직 화이트 온 블랙 볼캡 블',
        36000,
        30240,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '86',
    '1756476978&ver')
INSERT INTO items VALUES('2032016563&ver',
        '[엘칸토]엘칸토 마쯔 남성 데일리 컴포트화  LCMF95M111',
        129000,
        45000,
        0,
        '엘칸토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '87',
    '2032016563&ver')
INSERT INTO items VALUES('1855607261&ver',
        '[마스케라] 여성 소가죽 컴포트 스웨이드 로퍼 ',
        39000,
        38000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '88',
    '1855607261&ver')
INSERT INTO items VALUES('2013009036&ver',
        '[라코스테]안나 세로형 리버시블 토트백 NF2723A20C',
        199000,
        155220,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '89',
    '2013009036&ver')
INSERT INTO items VALUES('1797082813&ver',
        '[락포트](신세계본점)[남성화] 프라임 타임 캐주얼화 CH9119',
        138000,
        109710,
        0,
        '락포트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '90',
    '1797082813&ver')
INSERT INTO items VALUES('1843891157&ver',
        '[랩](랩 LAP)슬래쉬_박스크로스백(AL3AB973)',
        47200,
        41310,
        0,
        '랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '91',
    '1843891157&ver')
INSERT INTO items VALUES('1751854842&ver',
        '[크록스]바야밴드 클록그 205089-126',
        39900,
        39700,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '92',
    '1751854842&ver')
INSERT INTO items VALUES('1877427998&ver',
        '[뉴에라]언스트럭쳐MLB미니로고뉴욕양키스볼캡네이비 12030022',
        43000,
        34620,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '93',
    '1877427998&ver')
INSERT INTO items VALUES('1857105787&ver',
        '[라코스테]안나 세로형 양면 쇼퍼백 US NF2723A20C A91',
        199000,
        155220,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '94',
    '1857105787&ver')
INSERT INTO items VALUES('2050575041&ver',
        '[뉴에라]나일론 트랙 제트캡 카키 12718019',
        43000,
        35480,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '95',
    '2050575041&ver')

INSERT INTO items VALUES('2050578553&ver',
        '[뉴에라]나일론 트랙 제트캡 네이비 12718017',
        43000,
        35690,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '96',
    '2050578553&ver')
INSERT INTO items VALUES('2051564489&ver',
        '[뉴에라]MLB 베이직 뉴욕 양키스 볼캡 카모 12836263',
        36000,
        29340,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '97',
    '2051564489&ver')
INSERT INTO items VALUES('2051876841&ver',
        '[뉴에라]UNST MLB  미니로고 뉴욕 양키스 볼캡 레드 12836197',
        43000,
        35050,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '98',
    '2051876841&ver')
INSERT INTO items VALUES('1814373462&ver',
        '[루이까또즈]갤러리아  루이까또즈 베스트 남성타이 인기상품 모음전 LW402ST15N 외20종텍1',
        35000,
        25900,
        0,
        '루이까또즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '99',
    '1814373462&ver')
INSERT INTO items VALUES('2008039478&ver',
        '[크록스]남녀공용 비스트로 클로그 OL 205418-001',
        39900,
        39900,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 신발/가방',
    '100',
    '2008039478&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S166 브랜드 신발/가방
INSERT INTO items VALUES('1223881788&ver',
        '[제이에스티나]제이에스티나 Celebrity 아이유 핑크빛 주얼리 특가전',
        148000,
        74000,
        0,
        '제이에스티나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '1',
    '1223881788&ver')
INSERT INTO items VALUES('727656992&ver',
        '[카시오]카시오 메탈가죽 전자손목시계 남성여성 학생수능방수',
        19900,
        19900,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '2',
    '727656992&ver')
INSERT INTO items VALUES('1524798982&ver',
        '[카시오]카시오정품 W-735H-1A 진동알람 스포츠 전자손목시계',
        25600,
        25480,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '3',
    '1524798982&ver')
INSERT INTO items VALUES('1445809601&ver',
        '[카시오]카시오정품 LW-200-2A 아동 어린이 학생 전자손목시계',
        22500,
        22390,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '4',
    '1445809601&ver')
INSERT INTO items VALUES('2058593937&ver',
        '[로이드]LL2G17553SGI 여성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '5',
    '2058593937&ver')
INSERT INTO items VALUES('2058559975&ver',
        '[로이드]LL2G17302IGG 플라워 다이얼 여성 메쉬 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '6',
    '2058559975&ver')
INSERT INTO items VALUES('735244353&ver',
        '[카시오]카시오 전자손목시계 남성여성 군인군대 스포츠방수',
        16700,
        16700,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '7',
    '735244353&ver')
INSERT INTO items VALUES('1949367793&ver',
        '[카시오]MQ24-7B2 수능시계 스포츠 전자시계 수험생 선물',
        12000,
        11940,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '8',
    '1949367793&ver')
INSERT INTO items VALUES('1536085475&ver',
        '[카시오]카시오정품 LW-200-2A 여자 패션 학생 전자손목시계',
        15700,
        15700,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '9',
    '1536085475&ver')
INSERT INTO items VALUES('1808523980&ver',
        '[로즈몽]로즈몽  SILVER 발찌(두줄) RC0006',
        59000,
        53100,
        0,
        '로즈몽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '10',
    '1808523980&ver')
INSERT INTO items VALUES('2058550025&ver',
        '[로이드]LL2G17103AGN 여성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '11',
    '2058550025&ver')
INSERT INTO items VALUES('2058592885&ver',
        '[로이드]LL2G17V05RSS 블루 무브먼트 풀스톤 실버 메쉬시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '12',
    '2058592885&ver')
INSERT INTO items VALUES('2058532509&ver',
        '[로이드]LL2G17T70ISR 수학연산 다이얼 커플 여성 가죽시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '13',
    '2058532509&ver')
INSERT INTO items VALUES('1976559530&ver',
        '[스톤헨지]갤러리아   스톤헨지  실버 목걸이 SC1301',
        35000,
        29050,
        0,
        '스톤헨지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '14',
    '1976559530&ver')
INSERT INTO items VALUES('2058531643&ver',
        '[로이드]LL2G17903RSB 겨울비기닝 블랙 여성 가죽시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '15',
    '2058531643&ver')
INSERT INTO items VALUES('2058540370&ver',
        '[로이드]LL2G17T02ISS 여성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '16',
    '2058540370&ver')
INSERT INTO items VALUES('1445806822&ver',
        '[카시오]카시오정품 LW-200-1B 어린이 아동 학생 전자손목시계',
        22500,
        22390,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '17',
    '1445806822&ver')
INSERT INTO items VALUES('173395175&ver',
        '[카시오]카시오 전자손목시계 남자여자 가죽메탈방수 군인군용',
        15700,
        15700,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '18',
    '173395175&ver')
INSERT INTO items VALUES('1808514583&ver',
        '[로즈몽]로즈몽  SILVER 귀걸이 RC0043',
        35000,
        31500,
        0,
        '로즈몽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '19',
    '1808514583&ver')
INSERT INTO items VALUES('1494664501&ver',
        '[연예인착용] 플랫 하트 컬러 이어링/ 타티아나(주얼리)',
        29750,
        22770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '20',
    '1494664501&ver')
INSERT INTO items VALUES('1893188504&ver',
        '[순토](본사공식) 앰빗3 피크 블랙 SS020677000',
        270000,
        270000,
        0,
        '순토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '21',
    '1893188504&ver')
INSERT INTO items VALUES('1790121160&ver',
        '[카시오]A158WA-1D 남녀공용 빈티지 메탈시계 캐쥬얼A-158WA-1',
        14600,
        14530,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '22',
    '1790121160&ver')
INSERT INTO items VALUES('1657130341&ver',
        '14K 반지 심플 큐빅링 화이트골드반지 NPR7379 금반지',
        182000,
        123890,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '23',
    '1657130341&ver')

INSERT INTO items VALUES('198045615&ver',
        '[카시오]정품 메탈손목시계 학생커플 여자남자 수능방수패션',
        19900,
        19900,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '24',
    '198045615&ver')
INSERT INTO items VALUES('381068608&ver',
        '[카시오]정품.알람학생시계.방수손목전자 남자여자 패션',
        19500,
        19500,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '25',
    '381068608&ver')
INSERT INTO items VALUES('119099758&ver',
        '[카시오]정품 군인군용 전자손목시계 진동알람 남자여자 방수',
        28900,
        28900,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '26',
    '119099758&ver')
INSERT INTO items VALUES('1553382448&ver',
        '[큐앤큐]아동 어린이 방수 패션 손목 시계 VR41J VR99J',
        18000,
        17900,
        0,
        '큐앤큐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '27',
    '1553382448&ver')
INSERT INTO items VALUES('1706173897&ver',
        '[로이드]LL2G17903RGN 클래식 코코아 가죽시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '28',
    '1706173897&ver')
INSERT INTO items VALUES('2058583267&ver',
        '[로이드]LL2G17C08RGR 여성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '29',
    '2058583267&ver')
INSERT INTO items VALUES('2058584391&ver',
        '[로이드]LL2G17C08RGD 여성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '30',
    '2058584391&ver')
INSERT INTO items VALUES('2058591362&ver',
        '[로이드]LL1G17570ISR 남성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '31',
    '2058591362&ver')
INSERT INTO items VALUES('1808973496&ver',
        '[로즈몽]로즈몽  SILVER 귀걸이 RC0041',
        35000,
        31500,
        0,
        '로즈몽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '32',
    '1808973496&ver')
INSERT INTO items VALUES('111100905&ver',
        '[카시오]전자손목시계 군인군용군대방수 남성여성학생 스포츠',
        16700,
        16700,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '33',
    '111100905&ver')
INSERT INTO items VALUES('367082571&ver',
        '[카시오]카시오 전자손목시계 남자여자 패션방수 군인군대학생',
        16700,
        16700,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '34',
    '367082571&ver')
INSERT INTO items VALUES('1535241229&ver',
        '장폴클라리쎄(JP Clarisse)헤어핀 LFSL0103',
        51330,
        51330,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '35',
    '1535241229&ver')
INSERT INTO items VALUES('110761168&ver',
        '[카시오]카시오 전자손목시계 남성여성 학생군인 W-800H-1A',
        15600,
        15600,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '36',
    '110761168&ver')
INSERT INTO items VALUES('2034685314&ver',
        '[barbour]갤러리아   명품관 Barbour바버왁스(UAC0001)Thornproof Dressing',
        26000,
        22100,
        0,
        '바버')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '37',
    '2034685314&ver')
INSERT INTO items VALUES('1273325289&ver',
        '[카시오]카시오 LRW-200H-1B 전자손목시계 방수학생 여자',
        24700,
        24700,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '38',
    '1273325289&ver')
INSERT INTO items VALUES('2050925748&ver',
        '[구찌]구찌 명품선글라스 GG0381S-007 편광 블랙뿔테',
        300000,
        299000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '39',
    '2050925748&ver')
INSERT INTO items VALUES('425977011&ver',
        '[카시오]정품 스타샵 AQ-S810W-1A2 CASIO 카시오 시계 c08.',
        39000,
        38710,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '40',
    '425977011&ver')
INSERT INTO items VALUES('1107156735&ver',
        '(현대Hmall)[판도라사랑] 판도라 참팔찌 균일가 13스타일 18종 택1',
        12000,
        12000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '41',
    '1107156735&ver')
INSERT INTO items VALUES('1758261551&ver',
        '갤러리아   지샥  블루투스  G-SQUAD  GBD-100-2DR 남녀공용',
        175000,
        138250,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '42',
    '1758261551&ver')
INSERT INTO items VALUES('1773285116&ver',
        '[파슬][파슬] 본사직영 남성시계 FTW7008 COLLIDER HR 본사AS',
        295000,
        249280,
        0,
        '파슬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '43',
    '1773285116&ver')
INSERT INTO items VALUES('287810607&ver',
        '디즈니 미키마우스 남여 메탈 패션손목시계 OW016DY',
        59000,
        58610,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '44',
    '287810607&ver')
INSERT INTO items VALUES('121004944&ver',
        'FENDI 펜디 명품 안경테 50종 균일특가 찬스',
        69000,
        68660,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '45',
    '121004944&ver')
INSERT INTO items VALUES('1633149288&ver',
        '[제이제이쥬얼리][NeeGee] 커브스틱 여름신상 패션팔찌 발찌 무료배송',
        9900,
        9850,
        0,
        '제이제이쥬얼리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '46',
    '1633149288&ver')
INSERT INTO items VALUES('1882541753&ver',
        '인트레치아토 나파 팔찌 113546 V001D 4014/ 보테가베네타',
        276700,
        232430,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '47',
    '1882541753&ver')
INSERT INTO items VALUES('247091548&ver',
        '[카시오]카시오 정품 LA-20WH 시리즈/여성용 시계네 최저가',
        16200,
        16120,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '48',
    '247091548&ver')
INSERT INTO items VALUES('2004874559&ver',
        '(헤이(Hei)) [Hei][수지  블랙핑크 로제  이다희 착용] knot hoop earring',
        22000,
        18700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '49',
    '2004874559&ver')
INSERT INTO items VALUES('1774141131&ver',
        '[비비안웨스트우드][비비안웨스트우드]  VIVIENNE WESTWOOD   라운드 메탈 선글라스 [리퍼브]',
        96000,
        87840,
        0,
        '비비안웨스트우드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '50',
    '1774141131&ver')
INSERT INTO items VALUES('339983120&ver',
        '[카시오]카시오 손목시계 나침반고도온도 등산방수 MDV-106-1A',
        56900,
        56900,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '51',
    '339983120&ver')

INSERT INTO items VALUES('1656737917&ver',
        '[줄리어스]설레임 가죽시계 당일발송 본사정품',
        52000,
        31240,
        0,
        '줄리어스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '52',
    '1656737917&ver')
INSERT INTO items VALUES('1912528163&ver',
        'LLBS20T02NSS 스누피 클라우드실루엣패턴 Silver팔찌',
        69900,
        69900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '53',
    '1912528163&ver')
INSERT INTO items VALUES('1970264929&ver',
        '[로이드]LL2G18905IGG 핑크뮬리 플라워 다이얼 메쉬시계',
        59900,
        29900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '54',
    '1970264929&ver')
INSERT INTO items VALUES('1899597389&ver',
        '[로즈몽]로즈몽  BRASS 팔찌 RA0060',
        50000,
        50000,
        0,
        '로즈몽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '55',
    '1899597389&ver')
INSERT INTO items VALUES('2058588865&ver',
        '[로이드]LL2G17612IGW 여성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '56',
    '2058588865&ver')
INSERT INTO items VALUES('1928343897&ver',
        '[로이드]LLRS20T01NSS 스누피 프렌즈 라운드 Silver 반지',
        59900,
        59900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '57',
    '1928343897&ver')
INSERT INTO items VALUES('1970261816&ver',
        '[로이드]LL2G18416AGN 베이직 노스톤 볼륨브라운 가죽시계',
        59900,
        29900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '58',
    '1970261816&ver')
INSERT INTO items VALUES('2005128674&ver',
        '[로이드]LL2G17C07IGL 페미닌 링크큐빅 네이비 스웨이드 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '59',
    '2005128674&ver')
INSERT INTO items VALUES('2058572651&ver',
        '[로이드]LL2G17V77RGR 초코스틱 브라운 커플 여성 가죽시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '60',
    '2058572651&ver')
INSERT INTO items VALUES('2058580130&ver',
        '[로이드]LL2G17523AGE 여성 시계',
        59900,
        19900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '61',
    '2058580130&ver')
INSERT INTO items VALUES('686958001&ver',
        '[지샥]지샥정품 DW-6900MF-1D 스포츠전자손목시계 군인방수',
        95000,
        94530,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '62',
    '686958001&ver')
INSERT INTO items VALUES('1112182098&ver',
        '(현대Hmall)[실버웍스]인도코끼리 은반지 India Elephant SWR-020[바보사랑]',
        109000,
        101370,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '63',
    '1112182098&ver')
INSERT INTO items VALUES('843022615&ver',
        '[카시오]정품 스타샵 W-736H-1A 카시오 시계 남성시계 c02',
        25000,
        24780,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '64',
    '843022615&ver')
INSERT INTO items VALUES('1599450961&ver',
        '[카시오]카시오 전자시계 남자 여자 학생 손목시계 A168WA-1',
        31000,
        30750,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '65',
    '1599450961&ver')
INSERT INTO items VALUES('2000559503&ver',
        '[스톤헨지]갤러리아   스톤헨지  실버 귀걸이 SC1100',
        30000,
        24900,
        0,
        '스톤헨지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '66',
    '2000559503&ver')
INSERT INTO items VALUES('1808516453&ver',
        '[로즈몽]로즈몽  SILVER 귀걸이 RC0053',
        40000,
        36000,
        0,
        '로즈몽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '67',
    '1808516453&ver')
INSERT INTO items VALUES('1582530142&ver',
        '[로이드]LPTJ4007T 벚꽃자개 스프링가든 10K 귀걸이',
        44900,
        44900,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '68',
    '1582530142&ver')
INSERT INTO items VALUES('1978041624&ver',
        '[스톤헨지]갤러리아   스톤헨지  실버 귀걸이 SC1072',
        40000,
        33200,
        0,
        '스톤헨지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '69',
    '1978041624&ver')
INSERT INTO items VALUES('1864241399&ver',
        '[메트로시티쥬얼리](현대Hmall)[메트로시티 주얼리][ONLINE EXCLUSIVE] 첸뜨로 스털링 실버 네크리스 A201SN9101WPA',
        45600,
        40820,
        0,
        '메트로시티쥬얼리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '70',
    '1864241399&ver')
INSERT INTO items VALUES('183357651&ver',
        '[카시오]카시오 전자손목시계 남성여성 군인학생 방수메탈가죽',
        26700,
        26700,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '71',
    '183357651&ver')
INSERT INTO items VALUES('699017541&ver',
        '[카시오]카시오 학생수능손목시계 남자여자 방수 MQ-24-7B2',
        8400,
        8400,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '72',
    '699017541&ver')
INSERT INTO items VALUES('1528058651&ver',
        '[타티아나]이태원 클라쓰 김다미 목걸이  유인나 착용] 심플 링크 체인 초커',
        25600,
        20480,
        0,
        '타티아나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '73',
    '1528058651&ver')
INSERT INTO items VALUES('742025889&ver',
        '[카시오]카시오 패션가죽 전자손목시계 남성여성정장 학생수능',
        15700,
        15630,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '74',
    '742025889&ver')
INSERT INTO items VALUES('1445889118&ver',
        '[카시오]카시오정품 LW-200-4A 아동 어린이 학생 전자손목시계',
        22500,
        22390,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '75',
    '1445889118&ver')
INSERT INTO items VALUES('1445954323&ver',
        '[카시오]카시오정품 LW-200-7A 아동 어린이 학생 전자손목시계',
        22500,
        22500,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '76',
    '1445954323&ver')
INSERT INTO items VALUES('1460128057&ver',
        '[카시오]카시오정품 LW-203-1B 어린이 아동 학생 전자손목시계',
        24900,
        24780,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '77',
    '1460128057&ver')
INSERT INTO items VALUES('1729102382&ver',
        '[마크바이마크제이콥스]마크제이콥스 20MM 여성시계 MBM3200',
        95000,
        75530,
        0,
        '마크바이마크제이콥스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '78',
    '1729102382&ver')
INSERT INTO items VALUES('1784911832&ver',
        '[구찌] G-Timeless 남성용 구찌시계_YA126442',
        1098000,
        878400,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '79',
    '1784911832&ver')

INSERT INTO items VALUES('1808526797&ver',
        '[로즈몽]로즈몽  SILVER 목걸이 RC0028',
        50000,
        50000,
        0,
        '로즈몽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '80',
    '1808526797&ver')
INSERT INTO items VALUES('1367076736&ver',
        '[티쏘]티쏘 발라드 파워매틱80 T108.408.11.037.00 남성시계',
        1165800,
        1159980,
        0,
        '티쏘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '81',
    '1367076736&ver')
INSERT INTO items VALUES('1503228113&ver',
        '[순토]아머스포츠 SS050145000 순토9 WHR 바로 티타늄 시계',
        1035000,
        1035000,
        0,
        '순토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '82',
    '1503228113&ver')
INSERT INTO items VALUES('1572505798&ver',
        '[Pandora][판도라(주얼리)] [판도라 PANDORA] 여성 판도라 반지 190896CZ 원 러브 실',
        55900,
        52550,
        0,
        '판도라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '83',
    '1572505798&ver')
INSERT INTO items VALUES('2019920405&ver',
        '[티쏘]Tissot Mens T091.420.44.041.00 T-touch Expert Sola',
        1219000,
        1219000,
        0,
        '티쏘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '84',
    '2019920405&ver')
INSERT INTO items VALUES('1732035995&ver',
        '[Pandora][판도라] PANDORA 198018 노티드 하트 반지',
        53900,
        50670,
        0,
        '판도라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '85',
    '1732035995&ver')
INSERT INTO items VALUES('1692708518&ver',
        '5기압 방수 어린이 초등학생 전자 손목시계 SKMEI1100',
        14600,
        14600,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '86',
    '1692708518&ver')
INSERT INTO items VALUES('1912494249&ver',
        '태그호이어 WAZ2014.BA0842 포뮬러1 칼리버6 남성용 메탈시계 43mm',
        1739000,
        1704300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '87',
    '1912494249&ver')
INSERT INTO items VALUES('1874424782&ver',
        '(지안프랑코 로띠) (신세계강남점)[안보현Pick] CUPOLA 14K골드 다이아커플링(여성용) L4DRF0077WW (F)',
        997000,
        942170,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '88',
    '1874424782&ver')
INSERT INTO items VALUES('1893179720&ver',
        '[순토](본사공식) 순토9 바로 티타늄 SS050145000',
        1150000,
        1150000,
        0,
        '순토')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '89',
    '1893179720&ver')
INSERT INTO items VALUES('359042962&ver',
        '[카시오]카시오 전자손목시계 진동알람 남자여자방수 군인군용',
        28900,
        28900,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '90',
    '359042962&ver')
INSERT INTO items VALUES('594640994&ver',
        '[카시오]카시오 학생수능 전자손목시계 남성여성패션 MQ-24-7B',
        8400,
        8360,
        0,
        '카시오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '91',
    '594640994&ver')
INSERT INTO items VALUES('1808626346&ver',
        '[로즈몽]로즈몽  14K 귀걸이 RK0118',
        178000,
        160200,
        0,
        '로즈몽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '92',
    '1808626346&ver')
INSERT INTO items VALUES('1582531503&ver',
        '[로이드]LNT19011T 벚꽃자개 스프링가든 10K 목걸이',
        99000,
        99000,
        0,
        '로이드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '93',
    '1582531503&ver')
INSERT INTO items VALUES('1658301459&ver',
        '18K 팬던트 심플 스퀘어 금펜던트 금펜던트',
        650000,
        442470,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '94',
    '1658301459&ver')
INSERT INTO items VALUES('1617365464&ver',
        '[구찌][구찌] GUCCI  YBC477339001 477339 실버 고스트링 해골 반지',
        239000,
        223470,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '95',
    '1617365464&ver')
INSERT INTO items VALUES('1107655134&ver',
        '[몰리즈]18k골드 샤에즈 반지 S95684R',
        963000,
        770400,
        0,
        '몰리즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '96',
    '1107655134&ver')
INSERT INTO items VALUES('1847853929&ver',
        '(케이트앤켈리(KATENKELLY)) Audrey XL Scrunchie 오드리 엑스라지 스크런치',
        23000,
        18400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '97',
    '1847853929&ver')
INSERT INTO items VALUES('1112223256&ver',
        '[스와치]HAMILTON 해밀턴 H32565585 재즈마스터 오픈하트 오토매틱 남성 가죽시계 40mm',
        889000,
        853440,
        0,
        '스와치')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '98',
    '1112223256&ver')
INSERT INTO items VALUES('1956755563&ver',
        '[타이맥스]스탈러스Timex[타이맥스]  남성상품 Timex Mens T2N721 Intelligent Quartz Compass Tide Temperature Silv',
        162100,
        162100,
        0,
        '타이맥스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '99',
    '1956755563&ver')
INSERT INTO items VALUES('2036774156&ver',
        '[티쏘]티쏘시계 /T120.407.11.091.00 / 씨스타 / 당일발송',
        780000,
        776100,
        0,
        '티쏘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '브랜드 쥬얼리/시계',
    '100',
    '2036774156&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S167 브랜드 쥬얼리/시계
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '1',
    '2057097229&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '2',
    '1322052136&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '3',
    '2057097205&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '4',
    '1774742160&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '5',
    '365352895&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '6',
    '734482203&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '7',
    '1129363599&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '8',
    '760282459&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '9',
    '516224243&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '10',
    '756674142&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '11',
    '1828501434&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '12',
    '493534687&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '13',
    '1898715561&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '14',
    '305560651&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '15',
    '653680064&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '16',
    '1991450781&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '17',
    '1907330799&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '18',
    '1685470292&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '19',
    '2012155745&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '20',
    '2008064428&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '21',
    '1789483062&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '22',
    '677784936&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '23',
    '1788029369&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '24',
    '1820092556&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '25',
    '387272683&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '26',
    '1928363055&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '27',
    '519186903&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '28',
    '1616986104&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '29',
    '2006299591&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '30',
    '2012160476&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '31',
    '515024807&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '32',
    '1734397760&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '33',
    '1896828598&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '34',
    '2031919619&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '35',
    '654085075&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '36',
    '1775824384&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '37',
    '521222371&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '38',
    '2037210094&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '39',
    '296575508&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '40',
    '420413737&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '41',
    '557396403&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '42',
    '1817524718&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '43',
    '1999730535&ver')
INSERT INTO items VALUES('2044131436&ver',
        '탑모델 트루리 하트 플랫(1cm)',
        32900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '44',
    '2044131436&ver')
INSERT INTO items VALUES('2044188247&ver',
        '남성운동화 스니커즈 신발 운동화 여성운동화 엘라',
        20000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '45',
    '2044188247&ver')
INSERT INTO items VALUES('1558351854&ver',
        '[BT21]BT21 베베/페니/POP/로사/인형/차차 슬리퍼/방한화',
        23000,
        6790,
        0,
        'BT21')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '46',
    '1558351854&ver')
INSERT INTO items VALUES('240741538&ver',
        '워커힐 플랫 통굽 워커 학생 구두 여성 첼시 삭스부츠',
        62600,
        18800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '47',
    '240741538&ver')
INSERT INTO items VALUES('407843220&ver',
        '단골언니 여성 워커/워커힐/통굽/앵클부츠/첼시/부츠',
        24000,
        22800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '48',
    '407843220&ver')
INSERT INTO items VALUES('1555182529&ver',
        '남자트레킹화 워킹화 등산화 패션운동화 남성신발 커플',
        23800,
        23690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '49',
    '1555182529&ver')
INSERT INTO items VALUES('1874130552&ver',
        '[크록스]크록스/슬리퍼/샌들/라이트라이드/크록밴드/바야밴드',
        29800,
        29800,
        0,
        '크록스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '50',
    '1874130552&ver')
INSERT INTO items VALUES('1563683739&ver',
        '[아키클래식]애쉬 시리즈/니트운동화 편안한 런닝화 매쉬운동화',
        69000,
        38000,
        0,
        '아키클래식')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '51',
    '1563683739&ver')
INSERT INTO items VALUES('1860485103&ver',
        '[착한구두]엘번 베이직 블로퍼 BFLTS3c150',
        26250,
        10500,
        0,
        '착한구두')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '52',
    '1860485103&ver')
INSERT INTO items VALUES('1998278224&ver',
        '[아디다스][아디다스] (adidas) NIZZA TREFOIL 운동화 (unisex) 2종 택1',
        49000,
        39940,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '53',
    '1998278224&ver')
INSERT INTO items VALUES('1535529217&ver',
        '[본필]본필 BR100 운동화 런닝화 조깅화 헬스화',
        29800,
        29800,
        0,
        '본필')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '54',
    '1535529217&ver')
INSERT INTO items VALUES('801438484&ver',
        '남성안전화 워킹화 트래킹화 등산화 운동화 다이얼버튼',
        31800,
        31800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '55',
    '801438484&ver')
INSERT INTO items VALUES('722374014&ver',
        '단골언니 여성 앵클/삭스/첼시/스판/부츠/워커',
        30000,
        26800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '56',
    '722374014&ver')
INSERT INTO items VALUES('1660821792&ver',
        '[인더슈]인더슈 엘렌 로퍼',
        33300,
        10000,
        0,
        '인더슈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '57',
    '1660821792&ver')

INSERT INTO items VALUES('502014918&ver',
        '단골언니 여성 로퍼/단화/플랫슈즈/블로퍼',
        42600,
        12800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '58',
    '502014918&ver')
INSERT INTO items VALUES('1582641094&ver',
        '여성 밴딩 슬립온 여자 단화 신발 메리미313',
        9800,
        9760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '59',
    '1582641094&ver')
INSERT INTO items VALUES('2030073987&ver',
        '[아디다스](FW5717) 갤럭시 5',
        47200,
        38480,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '60',
    '2030073987&ver')
INSERT INTO items VALUES('2013329275&ver',
        '[반스]반스 올드스쿨 스니커즈 VN000D3HY28 블랙',
        40800,
        40800,
        0,
        '반스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '61',
    '2013329275&ver')
INSERT INTO items VALUES('1492325936&ver',
        '좀비 운동화 남녀공용 특이한 런닝화 SF310',
        29800,
        29800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '62',
    '1492325936&ver')
INSERT INTO items VALUES('1991447666&ver',
        '[이사도라]이사도라 NS2014 뮬 스니커즈',
        11900,
        11900,
        0,
        '이사도라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '63',
    '1991447666&ver')
INSERT INTO items VALUES('2006276431&ver',
        '[밸롭]밸롭 혈자리 맞춤 지압슬리퍼/여성/남성',
        70000,
        39000,
        0,
        '밸롭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '64',
    '2006276431&ver')
INSERT INTO items VALUES('1898709080&ver',
        '[스프리스]스프리스  여성 G클래식스니커즈_5종 택1',
        44900,
        44680,
        0,
        '스프리스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '65',
    '1898709080&ver')
INSERT INTO items VALUES('1130472838&ver',
        '커플운동화/신발/등산화/스니커즈/런닝화',
        19900,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '66',
    '1130472838&ver')
INSERT INTO items VALUES('1827805066&ver',
        '플렉시 5300 운동화/런닝화/워킹화 가성비 끝판왕',
        9900,
        9850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '67',
    '1827805066&ver')
INSERT INTO items VALUES('1741945640&ver',
        '[월드컵]러너SP 남여 런닝화 조깅화 헬스화 발편한 운동화',
        19900,
        19800,
        0,
        '월드컵')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '68',
    '1741945640&ver')
INSERT INTO items VALUES('2030319089&ver',
        '잭앤질 소가죽 통굽 스니커즈(JA1161)',
        79800,
        28800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '69',
    '2030319089&ver')
INSERT INTO items VALUES('1906829171&ver',
        '[페이퍼플레인]여성소프트 이중쿠션 통굽 키높이 사무 슬리퍼 PP1507',
        14800,
        14730,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '70',
    '1906829171&ver')
INSERT INTO items VALUES('2049932657&ver',
        '반스 코어클래식 슬립온 체커보드 VN000EYEBWW',
        48600,
        48600,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '71',
    '2049932657&ver')
INSERT INTO items VALUES('1189343571&ver',
        '가죽 여자 스니커즈 운동화 여성단화 촉감이 부드러운~',
        25000,
        24680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '72',
    '1189343571&ver')
INSERT INTO items VALUES('1665276925&ver',
        '[인더슈]인더슈 그래 너 플랫(1cm)',
        26300,
        7900,
        0,
        '인더슈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '73',
    '1665276925&ver')
INSERT INTO items VALUES('1234138150&ver',
        '가죽 여자 스니커즈 운동화 여성단화 천연소가죽',
        25000,
        24680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '74',
    '1234138150&ver')
INSERT INTO items VALUES('2011063165&ver',
        '층간소음방지 덧신 쿠션 면 어린이집 실내화 슬리퍼',
        6700,
        6670,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '75',
    '2011063165&ver')
INSERT INTO items VALUES('921526495&ver',
        '예쁜 실내화 거실화 슬리퍼 사무실 실내 여자 남자',
        3600,
        3590,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '76',
    '921526495&ver')
INSERT INTO items VALUES('1791605542&ver',
        '컬러 린넨 실내화 여름 실내 사무실 마 슬리퍼 거실화',
        6900,
        6870,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '77',
    '1791605542&ver')
INSERT INTO items VALUES('1971412277&ver',
        '[착한구두]애던 스퀘어 홀스빗 로퍼 LFLTS3c143',
        32250,
        12900,
        0,
        '착한구두')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '78',
    '1971412277&ver')
INSERT INTO items VALUES('1887373114&ver',
        '천연소가죽 로퍼 단화 슬립온 컴포터화 효도화 플랫',
        23800,
        13800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '79',
    '1887373114&ver')
INSERT INTO items VALUES('1754392617&ver',
        '신바바 티아라 통굽 웨지 슬리퍼 사무실 여성 뮬 샌들',
        21800,
        20700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '80',
    '1754392617&ver')
INSERT INTO items VALUES('1756825883&ver',
        '보가 수제화 타이얼즈 ss349 여성 컷팅 토오픈 부티힐',
        150000,
        45000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '81',
    '1756825883&ver')
INSERT INTO items VALUES('712674259&ver',
        '여성 슬링백 힐 정장 구두 스틸레토 메리제인 펌프스',
        25000,
        23800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '82',
    '712674259&ver')
INSERT INTO items VALUES('1704552683&ver',
        '[인더슈]인더슈 꿈을 꿨어 블로퍼(4.5cm)',
        59600,
        17900,
        0,
        '인더슈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '83',
    '1704552683&ver')
INSERT INTO items VALUES('1305604666&ver',
        '보가 G 캐서린ss2135 슬링백 힐 미들힐 단화 펌프스',
        29900,
        29750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '84',
    '1305604666&ver')
INSERT INTO items VALUES('1786879338&ver',
        '무지 층간소음방지 거실화 거실 실내화 실내 슬리퍼',
        7900,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '85',
    '1786879338&ver')
INSERT INTO items VALUES('163864018&ver',
        '쿠션 슬리퍼 층간소음 특허 거실화 커플 아동 임산부',
        11800,
        11750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '86',
    '163864018&ver')
INSERT INTO items VALUES('1704039740&ver',
        '[페이퍼플레인]SNRD 여성 키높이 캔버스화 통굽 셀업 스니커즈 SN566',
        18800,
        18710,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '87',
    '1704039740&ver')

INSERT INTO items VALUES('1787334131&ver',
        '통굽 스니커즈 블로퍼 여성 키높이 운동화 미시A8057',
        14800,
        14730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '88',
    '1787334131&ver')
INSERT INTO items VALUES('1544617622&ver',
        '단골언니 여성 사무실 통굽 슬리퍼 실내화 간호샌들',
        16000,
        14800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '89',
    '1544617622&ver')
INSERT INTO items VALUES('1889312893&ver',
        '[베어파우]+30% 폴로/베어파우 外 성인키즈 스니커즈 50종 택1',
        96000,
        29000,
        0,
        '베어파우')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '90',
    '1889312893&ver')
INSERT INTO items VALUES('1769287122&ver',
        '신바바 스판 부티슈즈 미들힐 펌프스 여성 정장 구두',
        37800,
        36620,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '91',
    '1769287122&ver')
INSERT INTO items VALUES('1925514289&ver',
        '블루피치 스니커즈 예뻐지는 행복한 시간 크러쉬',
        20000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '92',
    '1925514289&ver')
INSERT INTO items VALUES('2057588129&ver',
        '남여공용 에스파듀 11종 SSDF2010795',
        79000,
        63990,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '93',
    '2057588129&ver')
INSERT INTO items VALUES('2013574013&ver',
        '[언더아머]남성 UA 차지드 어서트 8 러닝화 3021952-002 ASIM',
        85000,
        76080,
        0,
        '언더아머')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '94',
    '2013574013&ver')
INSERT INTO items VALUES('1798928701&ver',
        '캔버스 여자 뮬 블로퍼 키높이 스니커즈 미시A8057',
        14800,
        14730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '95',
    '1798928701&ver')
INSERT INTO items VALUES('1888336260&ver',
        '월드컵 사계절 튜브 남여 조깅화 러닝화 워킹화',
        18900,
        18900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '96',
    '1888336260&ver')
INSERT INTO items VALUES('660379468&ver',
        '여성구두/여자구두/펌프스/힐/하이힐/미들힐/정장구두',
        15900,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '97',
    '660379468&ver')
INSERT INTO items VALUES('2023370135&ver',
        '여성 소가죽 스니커즈 신발 키높이 5cm 슬립온',
        28900,
        27760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '98',
    '2023370135&ver')
INSERT INTO items VALUES('1825634020&ver',
        '[아그네스]가벼운 무게감의 패브릭 남자운동화 스니커즈 러닝화',
        24800,
        24680,
        0,
        '아그네스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '99',
    '1825634020&ver')
INSERT INTO items VALUES('1858746196&ver',
        '[스위트홈]스위트홈 밴드 포인트 거실화 1+1',
        5900,
        5900,
        0,
        '스위트홈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여성신발',
    '100',
    '1858746196&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S004 여성신발
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '1',
    '1789414067&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '2',
    '2060813730&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '3',
    '1903254425&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '4',
    '1903251220&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '5',
    '1903255152&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '6',
    '1962195722&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '7',
    '289192927&ver')
INSERT INTO items VALUES('2010153485&ver',
        '[아디다스오리지널](Mens) 오즈위고 {FX6029}',
        129000,
        108360,
        0,
        '아디다스오리지널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '8',
    '2010153485&ver')
INSERT INTO items VALUES('1829662114&ver',
        '아워풋 발미테 기능성 실리콘 군인 군대 군화 깔창',
        27900,
        27760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '9',
    '1829662114&ver')
INSERT INTO items VALUES('1840736057&ver',
        '[반스]반스 클래식 슬립온 뮬 VN0004KTEO1',
        53800,
        53800,
        0,
        '반스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '10',
    '1840736057&ver')
INSERT INTO items VALUES('1828452474&ver',
        '스케쳐스 고워크5 워킹 스니커즈 여성',
        89000,
        81770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '11',
    '1828452474&ver')
INSERT INTO items VALUES('532314945&ver',
        '남성 캐주얼화 로퍼 단화 스니커즈 남자 신발 신사화',
        36000,
        35800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '12',
    '532314945&ver')
INSERT INTO items VALUES('1515678514&ver',
        '[구두마루]당일출고 4cm 키높이 신사화 남성정장구두 모음전',
        60000,
        59900,
        0,
        '구두마루')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '13',
    '1515678514&ver')
INSERT INTO items VALUES('627600057&ver',
        '[포렉스]FOLAX 푹신한 메모리폼 깔창 하이볼륨 기능성 인솔',
        17000,
        16900,
        0,
        '포렉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '14',
    '627600057&ver')
INSERT INTO items VALUES('1636880284&ver',
        '제골기/신발/슈즈/발볼/늘리기/확장/스트레쳐/슈트리',
        5600,
        5600,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '15',
    '1636880284&ver')
INSERT INTO items VALUES('2044843066&ver',
        '[휠라]드리프터 21 V-DAY 5종 택1 (1SM00833D_SKU)',
        29000,
        23060,
        0,
        '휠라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '16',
    '2044843066&ver')
INSERT INTO items VALUES('301572732&ver',
        '[가데옴므]최대22%쿠폰 신발 캐주얼화 남성구두 로퍼 정장구두',
        126000,
        37800,
        0,
        '가데옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '17',
    '301572732&ver')
INSERT INTO items VALUES('2000756523&ver',
        '천연 소가죽 커플 독일군 스니커즈 남성 여성 운동화',
        40900,
        38700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '18',
    '2000756523&ver')
INSERT INTO items VALUES('2059676547&ver',
        '여름 경량 안전화 통풍 가벼운 작업화 발편한 여름용',
        31000,
        31000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '19',
    '2059676547&ver')
INSERT INTO items VALUES('249048668&ver',
        '2021 신상 남성스니커즈 남자운동화 단화 로퍼신발',
        28000,
        25360,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '20',
    '249048668&ver')

INSERT INTO items VALUES('1831232422&ver',
        '엘가니 남녀 어글리 슈즈 9cm 키높이 운동화 블랙',
        49800,
        49800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '21',
    '1831232422&ver')
INSERT INTO items VALUES('369893145&ver',
        '남성구두 정장화 국내수제화 에나멜 편안한구두 유팁',
        30800,
        30650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '22',
    '369893145&ver')
INSERT INTO items VALUES('1816521275&ver',
        '아이뻐 남자레인부츠 장마방수신발 패션장화 레인슈즈',
        25800,
        25800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '23',
    '1816521275&ver')
INSERT INTO items VALUES('2051239519&ver',
        '팀버랜드  스니커즈/워커/옥스퍼드 신상추가',
        168000,
        84000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '24',
    '2051239519&ver')
INSERT INTO items VALUES('1278363205&ver',
        '남성 남자 사무실 슬리퍼 실내화 쿠션 샌들/폴로클럽',
        10900,
        10650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '25',
    '1278363205&ver')
INSERT INTO items VALUES('579039454&ver',
        'GGT Tiger 고무신발끈 고무끈 컨버스 긴 운동화끈',
        3400,
        3400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '26',
    '579039454&ver')
INSERT INTO items VALUES('1919297315&ver',
        '[버켄스탁]아리조나  브라운 남성 슬리퍼 REGULAR RFSO0E001W3',
        58410,
        58120,
        0,
        '버켄스탁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '27',
    '1919297315&ver')
INSERT INTO items VALUES('767430681&ver',
        '국내생산 남성구두 정장 소가죽 키높이 빅사이즈 로퍼',
        38000,
        35800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '28',
    '767430681&ver')
INSERT INTO items VALUES('1780946515&ver',
        '에어포스쳐 워크패드 신발 깔창 발뒤꿈치 쿠션',
        26000,
        25870,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '29',
    '1780946515&ver')
INSERT INTO items VALUES('1945712481&ver',
        '가죽신발 남성캐주얼화 발편한신발 남성로퍼 랜드로바',
        28000,
        27860,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '30',
    '1945712481&ver')
INSERT INTO items VALUES('1475835540&ver',
        '남성 스니커즈 명품신발 로퍼 운동화 슬립온 구두부츠',
        79000,
        78210,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '31',
    '1475835540&ver')
INSERT INTO items VALUES('1776596497&ver',
        '[레드닥터]아치패드 족저근막 평발 요족 마사지 기능성깔창',
        54000,
        51800,
        0,
        '레드닥터')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '32',
    '1776596497&ver')
INSERT INTO items VALUES('1546826220&ver',
        '발이편한 남성 남자 사무실 사무용 슬리퍼 실내화쿠션',
        12300,
        11740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '33',
    '1546826220&ver')
INSERT INTO items VALUES('2060499875&ver',
        '[행텐]푹신한 착화감의 캐주얼 남성슬리퍼 사무실실내화',
        21800,
        21700,
        0,
        '행텐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '34',
    '2060499875&ver')
INSERT INTO items VALUES('1804095316&ver',
        '캐릭터 크록스 지비츠 신발 장식 꾸미기 악세사리 참',
        450,
        450,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '35',
    '1804095316&ver')
INSERT INTO items VALUES('1898443640&ver',
        '[휠라][휠라 슈즈] [공식] 휠라 스몰 리니어 후드 집업 라이트멜란지',
        49500,
        43560,
        0,
        '휠라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '36',
    '1898443640&ver')
INSERT INTO items VALUES('1651087410&ver',
        '소가죽 경량 컴포트화 중년남자구두 효도화신발 45~80',
        30800,
        30650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '37',
    '1651087410&ver')
INSERT INTO items VALUES('1985062683&ver',
        '남성 워커 전투화 군화 작업화 사막화 등산화 MF1750 S',
        49800,
        49560,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '38',
    '1985062683&ver')
INSERT INTO items VALUES('2045347799&ver',
        '[행텐]소가죽 캐주얼구두 컴포트화 효도화 남자신발 활동화',
        34800,
        34800,
        0,
        '행텐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '39',
    '2045347799&ver')
INSERT INTO items VALUES('825022897&ver',
        '[포렉스]포렉스 평발 평발용 발 아치 아치형 운동화 신발 깔창',
        17000,
        16900,
        0,
        '포렉스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '40',
    '825022897&ver')
INSERT INTO items VALUES('1588295452&ver',
        '남성화 발이 진짜편한 통가죽 경량생고무밑창902',
        27900,
        27900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '41',
    '1588295452&ver')
INSERT INTO items VALUES('419037758&ver',
        'GGT Tiger 신축성 고무 신발끈/컨버스하이/올스타',
        3400,
        3390,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '42',
    '419037758&ver')
INSERT INTO items VALUES('727259638&ver',
        '기성일 기능성 평발 교정 아치 발바닥 쿠션 신발깔창',
        34500,
        34500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '43',
    '727259638&ver')
INSERT INTO items VALUES('1789398584&ver',
        '[반스]반스 클래식 어센틱 스니커즈 블랙 VN000EE3BLK',
        43500,
        43500,
        0,
        '반스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '44',
    '1789398584&ver')
INSERT INTO items VALUES('1645861633&ver',
        'RP-13 남성 로퍼 스니커즈 구두 단화 스니커즈  신발',
        55800,
        55530,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '45',
    '1645861633&ver')
INSERT INTO items VALUES('202392107&ver',
        '[무다]남성구두 로퍼구두 정장더비슈즈 키높이구두 남자구두',
        30800,
        29650,
        0,
        '무다')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '46',
    '202392107&ver')
INSERT INTO items VALUES('1596672476&ver',
        '스니커즈 패션운동화 키높이 슬립온 캐주얼화 커플슈',
        27900,
        27900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '47',
    '1596672476&ver')
INSERT INTO items VALUES('1900520242&ver',
        '천연가죽 남성 로퍼 단화 스니커즈 캐주얼구두 남자',
        35500,
        35330,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '48',
    '1900520242&ver')
INSERT INTO items VALUES('356888371&ver',
        '나노 에어펌프 깔창 충격흡수 신발깔창',
        21800,
        21800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '49',
    '356888371&ver')

INSERT INTO items VALUES('249055636&ver',
        '2021 소가죽 남자 로퍼 남성 정장구두 신발 컴포트화',
        28000,
        25500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '50',
    '249055636&ver')
INSERT INTO items VALUES('1534560589&ver',
        '남성 워커 사막화 전투화 군화 작전화 등산화 MF1750',
        49800,
        49560,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '51',
    '1534560589&ver')
INSERT INTO items VALUES('1700118263&ver',
        '베어풋 발편한 기능성깔창 슬리퍼 신발구두 패드',
        49000,
        49000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '52',
    '1700118263&ver')
INSERT INTO items VALUES('2057341903&ver',
        'EFEM 벨라 스니커즈 여성',
        29900,
        27810,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '53',
    '2057341903&ver')
INSERT INTO items VALUES('1634418475&ver',
        '안전화 작업화 여름 경량 캐주얼 작업 통풍 현장 신발',
        25500,
        25500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '54',
    '1634418475&ver')
INSERT INTO items VALUES('1715731099&ver',
        '실리콘 스포츠 기능성깔창/신발 구두 운동화 쿠션인솔',
        11600,
        11500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '55',
    '1715731099&ver')
INSERT INTO items VALUES('1484537073&ver',
        '문워크 남성구두/남자구두/남성로퍼 32종 기획전',
        28800,
        28800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '56',
    '1484537073&ver')
INSERT INTO items VALUES('1131176898&ver',
        '[포브]남성로퍼 남성단화 남성스니커즈화 슬립온 덴부',
        21000,
        19800,
        0,
        '포브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '57',
    '1131176898&ver')
INSERT INTO items VALUES('370818847&ver',
        '캐주얼화 보트화 스니커즈 운동화 스니커즈 로퍼 구두',
        37800,
        37620,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '58',
    '370818847&ver')
INSERT INTO items VALUES('1234467821&ver',
        '남성 로퍼 단화 스니커즈 캐주얼구두 남자단화 슬립온',
        34700,
        34530,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '59',
    '1234467821&ver')
INSERT INTO items VALUES('1256946350&ver',
        '[보이런던]남자 스니커즈 5cm키높이 단화 남성 신발 운동화',
        32300,
        32300,
        0,
        '보이런던')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '60',
    '1256946350&ver')
INSERT INTO items VALUES('1676510548&ver',
        '스프리트가죽 콤비 독일군 스니커즈 캐주얼 운동화',
        31800,
        31650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '61',
    '1676510548&ver')
INSERT INTO items VALUES('1685067301&ver',
        '미국특허소재 기능성 쿠션 깔창 충격흡수 등산 운동화',
        20000,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '62',
    '1685067301&ver')
INSERT INTO items VALUES('1581928473&ver',
        '레이언 남성 스니커즈 캐주얼 로퍼 보트슈즈 단화',
        32800,
        32640,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '63',
    '1581928473&ver')
INSERT INTO items VALUES('1898443715&ver',
        '[휠라][휠라 슈즈] [공식] 휠라 스몰 로고 맨투맨 티셔츠 잉크네이비',
        31000,
        27280,
        0,
        '휠라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '64',
    '1898443715&ver')
INSERT INTO items VALUES('1732721088&ver',
        '평발 아치 기능성 쿠션 깔창 남자 여자 신발 운동화',
        16000,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '65',
    '1732721088&ver')
INSERT INTO items VALUES('888148226&ver',
        '신발끈 운동화끈 400원 평끈 우동끈 대각끈 왕우동끈',
        400,
        400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '66',
    '888148226&ver')
INSERT INTO items VALUES('1829263986&ver',
        'PM 088 남성 슬리퍼 여성 샌들 아쿠아슈즈 여름 신발',
        15900,
        15720,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '67',
    '1829263986&ver')
INSERT INTO items VALUES('164778351&ver',
        '[SHENFEI]국산 소프트 깔창 1cm (신발 운동화 키높이 쿠션)',
        3900,
        3900,
        0,
        '센펠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '68',
    '164778351&ver')
INSERT INTO items VALUES('1335490920&ver',
        '헬스풋 자기장 건강한 깔창 발균형 기능성깔창',
        31500,
        21350,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '69',
    '1335490920&ver')
INSERT INTO items VALUES('1581401787&ver',
        '할인가)수제화 구두 로퍼 모음/키높이/남성/빅사이즈',
        38500,
        38500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '70',
    '1581401787&ver')
INSERT INTO items VALUES('2010018939&ver',
        '[아디다스](Unisex)오즈위고 FX6028',
        129000,
        102560,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '71',
    '2010018939&ver')
INSERT INTO items VALUES('1887575752&ver',
        '방한 안전화 경량 작업화 초경량 가벼운 안전화 겨울',
        28500,
        28500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '72',
    '1887575752&ver')
INSERT INTO items VALUES('1803896819&ver',
        '[반스]반스 스타일 36 VN0A3DZ3KE6',
        58000,
        57710,
        0,
        '반스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '73',
    '1803896819&ver')
INSERT INTO items VALUES('1854796590&ver',
        'BK004 스니커즈 운동화 캔버스화 워킹화 패션화',
        29800,
        29800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '74',
    '1854796590&ver')
INSERT INTO items VALUES('768428357&ver',
        '스위스깔창 발냄새제거 일회용 flawa 프레쉬인솔 발땀',
        14800,
        14800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '75',
    '768428357&ver')
INSERT INTO items VALUES('2002135287&ver',
        'mlb뉴욕 양키스 운동화 빅볼청키A 32SHC1941-50I',
        68000,
        68000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '76',
    '2002135287&ver')
INSERT INTO items VALUES('1552817683&ver',
        '베리슈 250~310mm 빅사이즈 남성슬리퍼 사무실슬리퍼',
        22000,
        21590,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '77',
    '1552817683&ver')
INSERT INTO items VALUES('1952212401&ver',
        '매듭없는 파스텔 운동화끈 캡슐버클 고탄성 신발끈',
        1590,
        1490,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '78',
    '1952212401&ver')
INSERT INTO items VALUES('184252698&ver',
        '신신꼬//행텐(정품)뉴골든성인 스포츠샌들 트래킹샌달',
        34800,
        32630,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '79',
    '184252698&ver')

INSERT INTO items VALUES('1335962158&ver',
        '[보이런던]남자 스니커즈 운동화 단화 남성 신발 슬립온 BOY 스킵',
        32300,
        32300,
        0,
        '보이런던')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '80',
    '1335962158&ver')
INSERT INTO items VALUES('640153032&ver',
        '[보이런던]키높이 남자 워커 스니커즈 단화 부츠 구두 남성신발',
        24800,
        24800,
        0,
        '보이런던')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '81',
    '640153032&ver')
INSERT INTO items VALUES('2055798606&ver',
        '듀스 레더 남성 스니커즈 SFPM2038199-100',
        89000,
        72980,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '82',
    '2055798606&ver')
INSERT INTO items VALUES('931645608&ver',
        '국산 남성 여성 신발 운동화 쿠션 키높이 깔창',
        3800,
        3770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '83',
    '931645608&ver')
INSERT INTO items VALUES('1775848515&ver',
        '[가데옴므]키높이 정장화 신사화 남성구두 가죽구두 GDH506',
        75600,
        37800,
        0,
        '가데옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '84',
    '1775848515&ver')
INSERT INTO items VALUES('1813557821&ver',
        '[페이너]페이너 부스트 아치 서포트 기능성 깔창',
        15000,
        14850,
        0,
        '페이너')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '85',
    '1813557821&ver')
INSERT INTO items VALUES('1894032955&ver',
        '[휠라][휠라 슈즈] [공식] 휠라 데이원 백팩 블랙 중학생 고등학생 책가방',
        99000,
        86630,
        0,
        '휠라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '86',
    '1894032955&ver')
INSERT INTO items VALUES('1575155739&ver',
        '[그린슈즈]3분완성 신발수선KIT/운동화 뒤꿈치 까짐수선 /블랙',
        2500,
        2500,
        0,
        '그린슈즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '87',
    '1575155739&ver')
INSERT INTO items VALUES('1956032438&ver',
        '[허시파피]남성 캐주얼 워킹 슈즈 (NY) - 3ML135',
        69000,
        69000,
        0,
        '허시파피')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '88',
    '1956032438&ver')
INSERT INTO items VALUES('1679098530&ver',
        '[비에프엘아웃도어]BFL 808 블랙 남성 캐주얼화 정장 로퍼 단화 구두',
        39500,
        39310,
        0,
        '비에프엘아웃도어')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '89',
    '1679098530&ver')
INSERT INTO items VALUES('1963981752&ver',
        '보아시스템 다이얼 소가죽 남성구두 컴포트화 효도화',
        39800,
        39610,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '90',
    '1963981752&ver')
INSERT INTO items VALUES('1704055894&ver',
        '투명 깔창 실리콘 기능성 신발 깔창 발뒤꿈치보호패드',
        1290,
        1290,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '91',
    '1704055894&ver')
INSERT INTO items VALUES('535526769&ver',
        '290~330mm 빅사이즈신발 운동화 등산화 로퍼 스니커즈',
        58000,
        58000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '92',
    '535526769&ver')
INSERT INTO items VALUES('1948035470&ver',
        '[비발인솔]군인필수품/아치 지지 기능성 깔창 전투화/군화 깔창',
        39000,
        27810,
        0,
        '비발인솔')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '93',
    '1948035470&ver')
INSERT INTO items VALUES('2000727988&ver',
        '남성 키높이 더비슈즈 정장 구두 로퍼 남자 옥스포드',
        31000,
        29650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '94',
    '2000727988&ver')
INSERT INTO items VALUES('1679098413&ver',
        '[비에프엘아웃도어]BFL 808 브라운 남성 캐주얼화 정장 로퍼 단화 구두',
        39500,
        39310,
        0,
        '비에프엘아웃도어')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '95',
    '1679098413&ver')
INSERT INTO items VALUES('2000162433&ver',
        '남성 컴포트화 다이얼 스니커즈 단화 운동화 ZW1215_S',
        34800,
        34800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '96',
    '2000162433&ver')
INSERT INTO items VALUES('2030742438&ver',
        '소가죽 컴포트화 활동화 로우워커 스니커즈 남성신발',
        39800,
        39800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '97',
    '2030742438&ver')
INSERT INTO items VALUES('2055905713&ver',
        '반스 올드스쿨 어센틱 블랙 스니커즈(VN000D3HY28)',
        45200,
        45200,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '98',
    '2055905713&ver')
INSERT INTO items VALUES('2028545773&ver',
        '[행텐]팬덤 남자 단화 캐쥬얼화 편한 쿠션 컴포트화 논슬립',
        31800,
        31650,
        0,
        '행텐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '99',
    '2028545773&ver')
INSERT INTO items VALUES('1687112976&ver',
        '경량 안전화 미끄럼방지 작업화 용접 전기 현장 신발',
        28000,
        28000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '남성신발',
    '100',
    '1687112976&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S005 남성신발
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '1',
    '1322052136&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '2',
    '1774742160&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '3',
    '734482203&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '4',
    '760282459&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '5',
    '1898715561&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '6',
    '305560651&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '7',
    '1907330799&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '8',
    '1685470292&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '9',
    '2012155745&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '10',
    '2008064428&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '11',
    '1789483062&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '12',
    '387272683&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '13',
    '2006299591&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '14',
    '521222371&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '15',
    '2037210094&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '16',
    '296575508&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '17',
    '1817524718&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '18',
    '1999730535&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '19',
    '2044188247&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '20',
    '1555182529&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '21',
    '1563683739&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '22',
    '1998278224&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '23',
    '1535529217&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '24',
    '801438484&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '25',
    '2030073987&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '26',
    '2013329275&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '27',
    '1492325936&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '28',
    '1898709080&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '29',
    '1130472838&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '30',
    '1827805066&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '31',
    '1741945640&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '32',
    '2030319089&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '33',
    '2049932657&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '34',
    '1189343571&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '35',
    '1704039740&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '36',
    '1787334131&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '37',
    '1889312893&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '38',
    '1925514289&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '39',
    '2057588129&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '40',
    '2013574013&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '41',
    '1888336260&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '42',
    '2023370135&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '43',
    '1825634020&ver')
INSERT INTO items VALUES('1898724293&ver',
        '[스프리스]스프리스  여성 슈퍼스타스니커즈_10종 택1 품절대란',
        42900,
        42690,
        0,
        '스프리스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '44',
    '1898724293&ver')
INSERT INTO items VALUES('1967930893&ver',
        '[나이키]데이브레이크 베이지 골드 CU5324-100',
        130900,
        130250,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '45',
    '1967930893&ver')
INSERT INTO items VALUES('1860873859&ver',
        '좀비 운동화 특이한  런닝화 남여공용 경량 커플',
        22800,
        22800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '46',
    '1860873859&ver')
INSERT INTO items VALUES('1782715909&ver',
        '베리슈 여성 7cm 삭스 속굽 키높이운동화 스니커즈',
        24000,
        23580,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '47',
    '1782715909&ver')
INSERT INTO items VALUES('2006967753&ver',
        '정말 가벼운 운동화/런닝화/워킹화 DM301',
        26300,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '48',
    '2006967753&ver')
INSERT INTO items VALUES('2046852971&ver',
        '[스케쳐스]스케쳐스 21년 최신 NEW 고워크 남성 봄 운동화 슬립',
        59900,
        59900,
        0,
        '스케쳐스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '49',
    '2046852971&ver')
INSERT INTO items VALUES('2045421320&ver',
        'BFL 3311 남성 여성 에어 운동화 런닝화 워킹화 신발',
        25900,
        25670,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '50',
    '2045421320&ver')
INSERT INTO items VALUES('1484110737&ver',
        '[에스앤알디]신발 운동화 스니커즈 슬립온 단화 캐주얼화 SN184',
        17800,
        17720,
        0,
        '에스앤알디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '51',
    '1484110737&ver')
INSERT INTO items VALUES('1885267473&ver',
        '[페이퍼플레인]신발 커플 스니커즈 키높이 에어포스 운동화 SN588',
        39600,
        19610,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '52',
    '1885267473&ver')
INSERT INTO items VALUES('999185959&ver',
        '[페이퍼플레인]신발 운동화 PP1336 스니커즈 단화 커플 러닝화',
        59600,
        29510,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '53',
    '999185959&ver')
INSERT INTO items VALUES('1744011605&ver',
        '[아키클래식]아키클래식 알피 재활의학과 설계인솔 발편한 운동화',
        89000,
        58560,
        0,
        '아키클래식')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '54',
    '1744011605&ver')
INSERT INTO items VALUES('2006085551&ver',
        '[프로스펙스]가벼운 운동도 가능한 경량 슬립온',
        39000,
        31790,
        0,
        '프로스펙스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '55',
    '2006085551&ver')
INSERT INTO items VALUES('1911309606&ver',
        '[나이키]와플 레이서 2x 화이트 볼트 DC4467-100',
        135900,
        135220,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '56',
    '1911309606&ver')
INSERT INTO items VALUES('1354582665&ver',
        '[돔바]Domba sale 4.5cm sns sneakers',
        24900,
        24900,
        0,
        '돔바')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '57',
    '1354582665&ver')
INSERT INTO items VALUES('1845044347&ver',
        '[스프리스]스프리스  여성 슈퍼스타뮬스니커즈_5종 택1',
        38900,
        38900,
        0,
        '스프리스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '58',
    '1845044347&ver')

INSERT INTO items VALUES('679215236&ver',
        '[페이퍼플레인]최대22%쿠폰 신발 스니커즈슬립온 운동화 단화',
        66300,
        19900,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '59',
    '679215236&ver')
INSERT INTO items VALUES('1817309247&ver',
        'MD 114 커플 운동화 런닝화 스니커즈 트레킹화 신발',
        32900,
        32640,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '60',
    '1817309247&ver')
INSERT INTO items VALUES('2045909155&ver',
        '방수소재 보아시스템 남성트레킹화 경등산화 워킹화',
        34800,
        34630,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '61',
    '2045909155&ver')
INSERT INTO items VALUES('2031398655&ver',
        '[케이스위스]가볍고 편안한 남녀 기능성 런닝화 12종 택1 4118SR114',
        22000,
        18590,
        0,
        '케이스위스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '62',
    '2031398655&ver')
INSERT INTO items VALUES('2005537557&ver',
        '여성 4계절 9cm 속굽 삭스 키높이운동화 여자스니커즈',
        40200,
        39700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '63',
    '2005537557&ver')
INSERT INTO items VALUES('1775401402&ver',
        '여성 속굽 스니커즈 니트 키높이 슬립온 여자 운동화',
        23700,
        23590,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '64',
    '1775401402&ver')
INSERT INTO items VALUES('160760859&ver',
        '[올스펙타]하이탑 운동화 농구화 런닝화 조깅화 AT점퍼',
        34800,
        32630,
        0,
        '올스펙타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '65',
    '160760859&ver')
INSERT INTO items VALUES('2042610145&ver',
        '[휠라]코트 플럼피 2종 택1 (1TM01397D_SKU)',
        69000,
        55550,
        0,
        '휠라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '66',
    '2042610145&ver')
INSERT INTO items VALUES('1916995490&ver',
        '[레저타임]웨이브 남성 여성 운동화 런닝화 등산화 트레킹화 신발',
        39900,
        39600,
        0,
        '레저타임')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '67',
    '1916995490&ver')
INSERT INTO items VALUES('2029947621&ver',
        '좀비 운동화 남녀공용 특이한 런닝화 헬스화 SF310 _S',
        29800,
        29660,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '68',
    '2029947621&ver')
INSERT INTO items VALUES('694421008&ver',
        '[페이퍼플레인]최대22%쿠폰 아쿠아슈즈 남자샌들 트래킹샌들',
        56000,
        16800,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '69',
    '694421008&ver')
INSERT INTO items VALUES('1200020795&ver',
        'TM 404 커플 스니커즈 운동화 신상 슬립온 단화 신발',
        11900,
        11740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '70',
    '1200020795&ver')
INSERT INTO items VALUES('395308014&ver',
        '2021 신상 캐주얼 남자슬립온 로퍼 스니커즈단화신발',
        28000,
        25360,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '71',
    '395308014&ver')
INSERT INTO items VALUES('1627007461&ver',
        '스니커즈 여성 키높이 슬립온 통굽 어글리 운동화',
        26800,
        26800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '72',
    '1627007461&ver')
INSERT INTO items VALUES('977544832&ver',
        '[페이퍼플레인]신발 스니커즈 컨버스 SN152 커플신발 여성 남성 단화',
        13800,
        13740,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '73',
    '977544832&ver')
INSERT INTO items VALUES('1673971269&ver',
        '에어쿠션 여성 패션 운동화 커플 스니커즈 여자 신발',
        19800,
        19710,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '74',
    '1673971269&ver')
INSERT INTO items VALUES('658239465&ver',
        '여성 운동화 스니커즈 키높이 슬립온 컨버스 런닝화',
        36100,
        36000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '75',
    '658239465&ver')
INSERT INTO items VALUES('1760507640&ver',
        '키작은 여자 통굽 키높이 운동화 여성 스니커즈 4cm',
        29500,
        29500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '76',
    '1760507640&ver')
INSERT INTO items VALUES('1280433595&ver',
        '커플 패션운동화 에어 러닝화 남자 여자 스니커즈',
        28800,
        28800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '77',
    '1280433595&ver')
INSERT INTO items VALUES('684379199&ver',
        '남자 키높이 운동화 4cm~10cm 높여드립니다/스니커즈',
        30000,
        26800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '78',
    '684379199&ver')
INSERT INTO items VALUES('1839575529&ver',
        '[비에프엘아웃도어]BFL 데이즈 블랙 운동화 발편한 신발 공용 런닝화',
        39500,
        39310,
        0,
        '비에프엘아웃도어')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '79',
    '1839575529&ver')
INSERT INTO items VALUES('2045260620&ver',
        '[비에프엘아웃도어]BFL 남성 운동화 경량 블랙 쿠션좋은 발편한 러닝화',
        29500,
        29500,
        0,
        '비에프엘아웃도어')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '80',
    '2045260620&ver')
INSERT INTO items VALUES('791553670&ver',
        '남여공용 방수 다이얼 운동화 트레킹화 워킹화 런닝화',
        25900,
        25900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '81',
    '791553670&ver')
INSERT INTO items VALUES('525218308&ver',
        '에어쿠션 키높이 운동화 여성 남자 스니커즈 비엔853',
        21800,
        21700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '82',
    '525218308&ver')
INSERT INTO items VALUES('719695303&ver',
        '[MLB]MLB 커플 패션운동화 스니커즈 러닝화 남자 여자 신발',
        34800,
        34630,
        0,
        'Mlb')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '83',
    '719695303&ver')
INSERT INTO items VALUES('1663676184&ver',
        '커플 스니커즈 운동화 컨버스 뮬 슬리퍼 단화 신발',
        14800,
        14730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '84',
    '1663676184&ver')
INSERT INTO items VALUES('1508807307&ver',
        '[아키클래식]고스트 시리즈 // 어글리운동화 키높이 오버솔',
        45000,
        44780,
        0,
        '아키클래식')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '85',
    '1508807307&ver')
INSERT INTO items VALUES('1743149447&ver',
        '다이얼버튼 경량 니트 메쉬 운동화 조깅화 워킹화 커플',
        30800,
        30650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '86',
    '1743149447&ver')
INSERT INTO items VALUES('2004918328&ver',
        '[아디다스오리지널][아디다스 오리지널스] [Mens] 오즈위고 OZWEEGO {EE6999}',
        129000,
        109010,
        0,
        '아디다스오리지널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '87',
    '2004918328&ver')

INSERT INTO items VALUES('1875949918&ver',
        '운동화 남성운동화 스니커즈 신발 런닝화 남자 TL나프',
        19000,
        18810,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '88',
    '1875949918&ver')
INSERT INTO items VALUES('2030998778&ver',
        '폴리아 트위드 컴포트 스니커즈',
        39800,
        37020,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '89',
    '2030998778&ver')
INSERT INTO items VALUES('2039107622&ver',
        '[나이키]에어포스1 세이지 로우 올백 AR5339-100',
        157900,
        157110,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '90',
    '2039107622&ver')
INSERT INTO items VALUES('2048966274&ver',
        '[스케쳐스]남녀 공용 딜라이트 에너지(SL0MC19Y081)',
        49000,
        40180,
        0,
        '스케쳐스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '91',
    '2048966274&ver')
INSERT INTO items VALUES('2002102906&ver',
        '[나이키]나이키 운동화 여성 에어맥스 90 LTR CD6864-100 S101',
        109900,
        109900,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '92',
    '2002102906&ver')
INSERT INTO items VALUES('2007803927&ver',
        '[페이퍼플레인]천연소가죽 국내제작 운동화 파스칼 소가죽 스니커즈',
        39800,
        19900,
        0,
        '페이퍼플레인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '93',
    '2007803927&ver')
INSERT INTO items VALUES('1858756655&ver',
        '남녀공용 캔버스화 스니커즈 여성 운동화 여자 컨버스',
        20200,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '94',
    '1858756655&ver')
INSERT INTO items VALUES('1638383494&ver',
        '본필 BR127 여성운동화 런닝화 조깅화 패션화',
        27800,
        27670,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '95',
    '1638383494&ver')
INSERT INTO items VALUES('1759399415&ver',
        '미라지 신발 스니커즈 운동화 슬립온 단화 블로퍼 뮬',
        8000,
        7860,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '96',
    '1759399415&ver')
INSERT INTO items VALUES('1685110138&ver',
        'AG-605P 아그네스 공용운동화 생활방수 런닝화 헬스화',
        20900,
        20900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '97',
    '1685110138&ver')
INSERT INTO items VALUES('176381857&ver',
        '재활화 재활운동화 에어로빅 헬스화 초경량 운동화',
        29500,
        29360,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '98',
    '176381857&ver')
INSERT INTO items VALUES('2025701451&ver',
        '[반스]키즈 올드스쿨 벨크로 글리터 TD',
        55900,
        55620,
        0,
        '반스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '99',
    '2025701451&ver')
INSERT INTO items VALUES('2039377524&ver',
        '보가 수제화 배색 컬러 여성 스니커즈 네브 21ss66-063',
        24900,
        24780,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '운동화',
    '100',
    '2039377524&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S007 운동화
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '1',
    '181548233&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '2',
    '733858170&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '3',
    '769058722&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '4',
    '237563564&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '5',
    '1402214179&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '6',
    '1682790023&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '7',
    '680393899&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '8',
    '160098130&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '9',
    '681475998&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '10',
    '456062424&ver')
INSERT INTO items VALUES('1481233395&ver',
        '데일리 여성가방/봄신상/숄더백/크로스백/에코백/백팩',
        33000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '11',
    '1481233395&ver')
INSERT INTO items VALUES('237816723&ver',
        '백팩/책가방/노트북가방/학생백팩/배낭/학생가방',
        56300,
        16900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '12',
    '237816723&ver')
INSERT INTO items VALUES('1738788802&ver',
        'P23 남자 여행용 노트북 백팩 대학생 직장인 학생가방',
        26000,
        25770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '13',
    '1738788802&ver')
INSERT INTO items VALUES('2006071895&ver',
        '[라코스테]라코스테 미니 크로스백 NF2609PO',
        47900,
        47900,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '14',
    '2006071895&ver')
INSERT INTO items VALUES('1998183041&ver',
        '[라코스테]라코스테 미니 크로스백 NF2609PO',
        49500,
        49260,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '15',
    '1998183041&ver')
INSERT INTO items VALUES('1877024792&ver',
        'E76 토트백 에코백 숄더백 여성가방 버킷백 크로스백',
        20000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '16',
    '1877024792&ver')
INSERT INTO items VALUES('703585197&ver',
        '핫신상 여성크로스백 핸드백 숄더백  미니백 여성가방',
        15000,
        14800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '17',
    '703585197&ver')
INSERT INTO items VALUES('2035691425&ver',
        '남성 장지갑 113207',
        138980,
        138290,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '18',
    '2035691425&ver')
INSERT INTO items VALUES('212021396&ver',
        '[코피]남여공용 중 고등 대 학생 여행 신학기 책 가방 백팩',
        56200,
        16900,
        0,
        '코피')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '19',
    '212021396&ver')
INSERT INTO items VALUES('1912116649&ver',
        '에코백 도시락가방 스타벅스 지퍼형 에코백 텀블러백',
        13500,
        13500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '20',
    '1912116649&ver')
INSERT INTO items VALUES('1805856993&ver',
        'V21 여행용 남자 슬링백 가방 힙색 크로스백 메신저백',
        34000,
        33730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '21',
    '1805856993&ver')

INSERT INTO items VALUES('160098081&ver',
        '계절 신상 여성 백팩 여행 가방 스팽글 배낭',
        62900,
        18900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '22',
    '160098081&ver')
INSERT INTO items VALUES('555023690&ver',
        '여성백팩/직장인백팩/가죽백팩/대학생 데일리가방',
        53000,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '23',
    '555023690&ver')
INSERT INTO items VALUES('1946965519&ver',
        '[닥스]21SS  NEW CHECK 그레이체크 가죽 2단 반지갑 DBWA1E946BK',
        100300,
        99800,
        0,
        '닥스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '24',
    '1946965519&ver')
INSERT INTO items VALUES('2006058457&ver',
        '[라코스테]라코스테 가방 미디움 쇼퍼백 블랙 NF1890PO-000',
        49950,
        49950,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '25',
    '2006058457&ver')
INSERT INTO items VALUES('238093343&ver',
        '캔버스백팩+키홀더 책가방 학생가방 남자 여자 슈프림',
        15900,
        15820,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '26',
    '238093343&ver')
INSERT INTO items VALUES('1771021178&ver',
        '자동차 오토바이 번호판 키링 키홀더 열쇠고리',
        11900,
        8500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '27',
    '1771021178&ver')
INSERT INTO items VALUES('243370462&ver',
        '백팩 책가방 학생가방 가방 남성백팩 여성백팩 빅백',
        25800,
        18800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '28',
    '243370462&ver')
INSERT INTO items VALUES('1473039973&ver',
        '소가죽 메신저 크로스 비지니스 캐주얼 남자 가방 백',
        62900,
        18900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '29',
    '1473039973&ver')
INSERT INTO items VALUES('795935358&ver',
        '신상 여성 크로스백 미니백 체인백 핸드백 핸드폰가방',
        49600,
        14900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '30',
    '795935358&ver')
INSERT INTO items VALUES('1115444440&ver',
        '여성 크로스백 가방 핸드백 미니 미니백 여자 숄더백',
        42500,
        12800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '31',
    '1115444440&ver')
INSERT INTO items VALUES('1807327513&ver',
        'N68 가죽 여성 백팩 가벼운 여행용 직장인 미니 가방',
        21000,
        20800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '32',
    '1807327513&ver')
INSERT INTO items VALUES('1751679349&ver',
        '이탈리아 가죽 수제 동전지갑 카드지갑 남성 반지갑',
        41000,
        39900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '33',
    '1751679349&ver')
INSERT INTO items VALUES('2006171957&ver',
        '[나이키]나이키 에센셜 스몰 힙팩 BA5904-011 크로스백 허리색',
        22800,
        22690,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '34',
    '2006171957&ver')
INSERT INTO items VALUES('1918922563&ver',
        '핸드폰 수납 장지갑 크로스백 손가방 여성 지갑 W741',
        15900,
        15800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '35',
    '1918922563&ver')
INSERT INTO items VALUES('1676162010&ver',
        '핍스메신저백 PEEPS essential messenger bag(black)',
        42000,
        39900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '36',
    '1676162010&ver')
INSERT INTO items VALUES('656772017&ver',
        '[코피]여성 가방 COPI 정품 프리미엄 버킷 크로스 숄더 백',
        93000,
        27900,
        0,
        '코피')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '37',
    '656772017&ver')
INSERT INTO items VALUES('1727787686&ver',
        '천연소가죽 남성 서류가방 가죽 브리프케이스 K7421',
        33900,
        33900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '38',
    '1727787686&ver')
INSERT INTO items VALUES('2011312318&ver',
        '[내셔널지오그래픽]N183ATO030 에번스 토트백 가방 KHAKI (904125)',
        39000,
        36080,
        0,
        '내셔널지오그래픽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '39',
    '2011312318&ver')
INSERT INTO items VALUES('359273692&ver',
        '[벨카리노]이태리 벨카리노 남성지갑 반지갑 중지갑 무료선물포장',
        59000,
        58610,
        0,
        '벨카리노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '40',
    '359273692&ver')
INSERT INTO items VALUES('1893465225&ver',
        '[라코스테]라코스테 가방 쇼퍼백 롱스트랩 미듐 라지 클러치백',
        60800,
        60500,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '41',
    '1893465225&ver')
INSERT INTO items VALUES('801611715&ver',
        '신상_여성가방 데일리백 핸드백 숄더 토트백',
        12900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '42',
    '801611715&ver')
INSERT INTO items VALUES('1833645181&ver',
        '15종 드링크백 텀블러 컵가방물병 컵홀더 미니에코백',
        5900,
        4870,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '43',
    '1833645181&ver')
INSERT INTO items VALUES('838226438&ver',
        '우리가 만들수 있는 가장작은 남성 반지갑/천연가죽',
        30000,
        30000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '44',
    '838226438&ver')
INSERT INTO items VALUES('1883799821&ver',
        'Y47 토트백 에코백 숄더백 여성가방 버킷백 크로스백',
        20000,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '45',
    '1883799821&ver')
INSERT INTO items VALUES('1684651615&ver',
        '[더블유팝]여성가방 여자 숄더백 토트백 미니백 크로스백 핸드백',
        13800,
        12840,
        0,
        '더블유팝')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '46',
    '1684651615&ver')
INSERT INTO items VALUES('1556425966&ver',
        '커니로드 크로스백 남성 숄더백 남자 메신저백  107',
        27400,
        26270,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '47',
    '1556425966&ver')
INSERT INTO items VALUES('203845478&ver',
        '[마젤란]무지 에코백 여성 숄더 크로스백 캔버스 천 보조 가방',
        15900,
        11900,
        0,
        '마젤란')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '48',
    '203845478&ver')
INSERT INTO items VALUES('1950894484&ver',
        '핸드폰가방 스트랩 여성 미니 크로스백 카드지갑 롤리',
        9800,
        9760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '49',
    '1950894484&ver')
INSERT INTO items VALUES('238095166&ver',
        '메신저백+키홀더 크로스백 힙색 슬링백 슈프림 가방',
        14900,
        14830,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '50',
    '238095166&ver')

INSERT INTO items VALUES('1575456865&ver',
        '크로스백 남성 숄더백 남자 메신저백 서류가방   1073',
        42300,
        39700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '51',
    '1575456865&ver')
INSERT INTO items VALUES('1991530715&ver',
        '보노보 메르시 6종 세트(백팩1+토트백1+크로스백1+파우치2+장지갑1)',
        49000,
        48000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '52',
    '1991530715&ver')
INSERT INTO items VALUES('1991766829&ver',
        '[헤지스]21SS  카드지갑 증정   ELINE  블랙 로고 가죽 반지갑 HIWA1E921BK',
        115200,
        114630,
        0,
        '헤지스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '53',
    '1991766829&ver')
INSERT INTO items VALUES('843824967&ver',
        '크로스백 천연소가죽 가방 남성 양가죽 남자 서류가방',
        19800,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '54',
    '843824967&ver')
INSERT INTO items VALUES('842365335&ver',
        '고급 양가죽 클러치백 여성 가방 핸드백 숄더백 여자',
        47500,
        17570,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '55',
    '842365335&ver')
INSERT INTO items VALUES('1872305729&ver',
        '[바나바나]바나바나 특가 SS신상품 및 인기BEST 여성가방',
        98000,
        29900,
        0,
        '바나바나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '56',
    '1872305729&ver')
INSERT INTO items VALUES('1873556634&ver',
        'JEEP 가죽 슬링백 크로스백 허리가방',
        39900,
        39700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '57',
    '1873556634&ver')
INSERT INTO items VALUES('1975728766&ver',
        '남자 가죽 서류가방 크로스백 P70',
        33000,
        32740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '58',
    '1975728766&ver')
INSERT INTO items VALUES('821257821&ver',
        '소가죽 카드지갑 목걸이 여성 반지갑/명함지갑/홀더',
        9900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '59',
    '821257821&ver')
INSERT INTO items VALUES('1619527110&ver',
        '슬링백 크로스백 메신저백 힙색 학생 여행용  슈프림',
        14900,
        14830,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '60',
    '1619527110&ver')
INSERT INTO items VALUES('1541514283&ver',
        'WilliamPOLO 301 남성장지갑 남성 클러치지갑 가죽지갑',
        50000,
        38750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '61',
    '1541514283&ver')
INSERT INTO items VALUES('1894915284&ver',
        'MW501 소가죽 반지갑 남성지갑 남자 카드지갑',
        12900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '62',
    '1894915284&ver')
INSERT INTO items VALUES('2019977105&ver',
        '[구찌]구찌 1955 홀스빗 숄더백 602204 92TCG 8563',
        2178000,
        2167110,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '63',
    '2019977105&ver')
INSERT INTO items VALUES('1893419848&ver',
        '[라코스테]라코스테 레이디 미니 크로스백 NF2609',
        50180,
        49930,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '64',
    '1893419848&ver')
INSERT INTO items VALUES('191945846&ver',
        '신상/여성가방/숄더백/크로스백/쇼퍼백/에코백/핸드백',
        16900,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '65',
    '191945846&ver')
INSERT INTO items VALUES('215063317&ver',
        '신상 여성가방/숄더백/토트백/크로스백/에코백',
        21900,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '66',
    '215063317&ver')
INSERT INTO items VALUES('1670665459&ver',
        '캔버스 가방 여성 크로스백 숄더백 여자 쇼퍼 에코 백',
        26500,
        26500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '67',
    '1670665459&ver')
INSERT INTO items VALUES('1175696093&ver',
        '젠틀 소가죽 명함지갑 카드지갑',
        24800,
        24680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '68',
    '1175696093&ver')
INSERT INTO items VALUES('354019524&ver',
        '토스카니 코듀로이 골덴 지퍼 여성가방 숄더백 에코백',
        14000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '69',
    '354019524&ver')
INSERT INTO items VALUES('1946894290&ver',
        'WilliamPOLO 1958193A 카드지갑 미니 가죽',
        30000,
        28850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '70',
    '1946894290&ver')
INSERT INTO items VALUES('1742497693&ver',
        '[뉴에라]슬링 백 블랙 12359421',
        79000,
        63600,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '71',
    '1742497693&ver')
INSERT INTO items VALUES('1643868719&ver',
        '아놀드바시니정품100%/반지갑/중지갑/장지갑/벨트모음',
        59000,
        58900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '72',
    '1643868719&ver')
INSERT INTO items VALUES('1564947286&ver',
        '가벼운 여성 백팩 방수 여자 직장인 데일리 기저귀',
        17900,
        17810,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '73',
    '1564947286&ver')
INSERT INTO items VALUES('1573853728&ver',
        'Y47 에코백 여성가방 캔버스백 스타벅스 여자 천가방',
        20000,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '74',
    '1573853728&ver')
INSERT INTO items VALUES('1998194889&ver',
        '[라코스테]라코스테 여성 L 12 12 엑스트라 쇼퍼백 NF2609P 141',
        48900,
        48660,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '75',
    '1998194889&ver')
INSERT INTO items VALUES('417914068&ver',
        '[글램디브]여성가방/여성크로스백/미니백/숄더백/핸드백/여자',
        9900,
        9900,
        0,
        '글램디브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '76',
    '417914068&ver')
INSERT INTO items VALUES('1858625660&ver',
        '[랩]LAMIS(라미스)_ 세로 미니 크로스백 AL3AB986',
        23200,
        23200,
        0,
        '랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '77',
    '1858625660&ver')
INSERT INTO items VALUES('1975720894&ver',
        '남자 가죽 서류가방 크로스백 P71',
        33000,
        32740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '78',
    '1975720894&ver')
INSERT INTO items VALUES('1791848537&ver',
        '[마젤란]9001 남자 숄더백 토트백 크로스백 서류 남성 가방',
        35800,
        32630,
        0,
        '마젤란')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '79',
    '1791848537&ver')

INSERT INTO items VALUES('1821044510&ver',
        '가죽 지퍼 아코디언 카드지갑',
        10900,
        10800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '80',
    '1821044510&ver')
INSERT INTO items VALUES('1520199301&ver',
        '[팬콧]고학년 학생 초등 책가방 중학생 고등학생 가방 선물',
        32800,
        32640,
        0,
        '팬콧')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '81',
    '1520199301&ver')
INSERT INTO items VALUES('1824224423&ver',
        'N88 가죽 여성 백팩 가벼운 여행용 직장인 미니 가방',
        30000,
        29750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '82',
    '1824224423&ver')
INSERT INTO items VALUES('1883814654&ver',
        'N57 가죽 여성 백팩 가벼운 여행용 직장인 미니 가방',
        30000,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '83',
    '1883814654&ver')
INSERT INTO items VALUES('1955909568&ver',
        'P59 남자 서류가방 크로스백',
        22000,
        21790,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '84',
    '1955909568&ver')
INSERT INTO items VALUES('1975711482&ver',
        '남자 가죽 서류가방 크로스백 P72',
        33000,
        32900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '85',
    '1975711482&ver')
INSERT INTO items VALUES('1720263481&ver',
        '[타미힐피거]국내배송_타미힐피거 남성 코인반지갑 31TL25X20 블랙',
        25200,
        25080,
        0,
        '타미힐피거')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '86',
    '1720263481&ver')
INSERT INTO items VALUES('2044010996&ver',
        'BT21 숄더백',
        16500,
        16500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '87',
    '2044010996&ver')
INSERT INTO items VALUES('1862633569&ver',
        '2020 캐리어 백팩 블랙 12359429',
        179000,
        139620,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '88',
    '1862633569&ver')
INSERT INTO items VALUES('830977754&ver',
        '허리 밴드백 핸드폰 가방 등산 보조가방 파우치 지갑',
        3290,
        3280,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '89',
    '830977754&ver')
INSERT INTO items VALUES('1883824051&ver',
        'N47 가죽 여성 백팩 가벼운 여행용 직장인 미니 가방',
        28000,
        27760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '90',
    '1883824051&ver')
INSERT INTO items VALUES('1361516399&ver',
        '케일백 진짜 양가죽같은 크로스백 3단수납 여성가방',
        25900,
        23700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '91',
    '1361516399&ver')
INSERT INTO items VALUES('1714665847&ver',
        '편안한 캔버스 가방 스타벅스 에코백 지퍼형 키링포함',
        14800,
        14730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '92',
    '1714665847&ver')
INSERT INTO items VALUES('1938804712&ver',
        '대용량 헬스 백팩 밀리터리 남자 여행 노트북 가방',
        29900,
        29900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '93',
    '1938804712&ver')
INSERT INTO items VALUES('2003526700&ver',
        '모빌리티 라이트 캐리어 백팩 블랙 12718056',
        149000,
        122180,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '94',
    '2003526700&ver')
INSERT INTO items VALUES('692993730&ver',
        '[쌈지]쌈지정품 균일가 18900원 여성백팩 숄더백 크로스백',
        18900,
        18810,
        0,
        '쌈지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '95',
    '692993730&ver')
INSERT INTO items VALUES('1919387207&ver',
        '[헤지스]20SS  GOLDEN LANE  네이비 음각패턴 소가죽 반지갑 HJWA0E561N3',
        96600,
        96120,
        0,
        '헤지스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '96',
    '1919387207&ver')
INSERT INTO items VALUES('2050356153&ver',
        '[나이키]나이키 슬림 웨이스트백 2.0 CV1116-701 힙쌕 허리쌕',
        25100,
        24980,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '97',
    '2050356153&ver')
INSERT INTO items VALUES('1931534765&ver',
        '스마트폰 크로스백 2종 /폰백/핸드폰/휴대폰/폰스트랩',
        11000,
        11000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '98',
    '1931534765&ver')
INSERT INTO items VALUES('2008060272&ver',
        '[라코스테]가방 스몰 미듐 라지 쇼퍼백NF2037 NF1888 NF1890',
        55260,
        54990,
        0,
        '라코스테')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '99',
    '2008060272&ver')
INSERT INTO items VALUES('1309785822&ver',
        '가방 크로스백 에코백 남녀공용 슬링백 힙색 여행가방',
        19800,
        15800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '가방/지갑',
    '100',
    '1309785822&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S008 가방/지갑
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '1',
    '798413703&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '2',
    '1107162855&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '3',
    '1277558140&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '4',
    '1462990483&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '5',
    '1688201811&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '6',
    '639828640&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '7',
    '2051398126&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '8',
    '921539457&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '9',
    '630959840&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '10',
    '397729569&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '11',
    '767588368&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '12',
    '2005204239&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '13',
    '1533547296&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '14',
    '2053793037&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '15',
    '1487777111&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '16',
    '1728610613&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '17',
    '1377316591&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '18',
    '763098932&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '19',
    '1684419062&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '20',
    '1491799783&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '21',
    '187896486&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '22',
    '1838036720&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '23',
    '178653422&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '24',
    '1686949064&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '25',
    '678913726&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '26',
    '1658729004&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '27',
    '812651396&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '28',
    '325973449&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '29',
    '1608102958&ver')
INSERT INTO items VALUES('903773476&ver',
        '패션양말 캐릭터여성학생여자무지교복중목겨울발목',
        990,
        990,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '30',
    '903773476&ver')
INSERT INTO items VALUES('1786331046&ver',
        '[몽크로스]무지 중목양말 남여 양말세트 5켤레',
        9900,
        9900,
        0,
        '몽크로스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '31',
    '1786331046&ver')
INSERT INTO items VALUES('1720332098&ver',
        '14K 버블팝 반지',
        107800,
        53900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '32',
    '1720332098&ver')
INSERT INTO items VALUES('1695238725&ver',
        '[까르페디엠]C무지 자동장우산/튼튼한 아동 여성 남성 초등학생',
        6900,
        6870,
        0,
        '까르페디엠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '33',
    '1695238725&ver')
INSERT INTO items VALUES('226435481&ver',
        '고탄력팬티스타킹 10장묶음 살색 착압 압박 학생',
        12900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '34',
    '226435481&ver')
INSERT INTO items VALUES('2065220856&ver',
        '레드하트 실버 목걸이/귀걸이/팔찌 세트',
        29000,
        14500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '35',
    '2065220856&ver')
INSERT INTO items VALUES('1155424361&ver',
        '[가나양말]남자 여자 무지 발목양말 10켤레 작업용 학생용',
        5500,
        5480,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '36',
    '1155424361&ver')
INSERT INTO items VALUES('1492051809&ver',
        '[프롬산타]STF 스쿨삭스 학생패션발목무지양말 8켤레 가성비최고',
        6900,
        6870,
        0,
        '프롬산타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '37',
    '1492051809&ver')
INSERT INTO items VALUES('998556713&ver',
        '[가나양말]남자 여자 페이크삭스 10켤레 양말 덧신 스마일배송',
        5900,
        5870,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '38',
    '998556713&ver')
INSERT INTO items VALUES('1862054293&ver',
        '14K 천연석 비즈 팔찌 A타입',
        37800,
        18900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '39',
    '1862054293&ver')
INSERT INTO items VALUES('1798426749&ver',
        '폴로클럽/남자/남성/양말/발목/단목 2116 초미니 5족',
        5900,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '40',
    '1798426749&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '41',
    '505785764&ver')
INSERT INTO items VALUES('1181171151&ver',
        '[가나양말]남자 여자 포인트 발목 양말 10켤레',
        5500,
        5480,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '42',
    '1181171151&ver')
INSERT INTO items VALUES('1787010048&ver',
        '봄 여름 중년 여성 엄마 항암 챙 정장 벙거지 모자',
        20000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '43',
    '1787010048&ver')
INSERT INTO items VALUES('626428325&ver',
        '럭스파파 100%진짜 소가죽남성허리띠 정장벨트1위판매',
        12900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '44',
    '626428325&ver')
INSERT INTO items VALUES('1465881056&ver',
        '[프롬산타]STF 베이직덧신 페이크삭스 8켤레 기본 국산 면덧신',
        23000,
        6900,
        0,
        '프롬산타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '45',
    '1465881056&ver')
INSERT INTO items VALUES('1583278910&ver',
        '라인핏 자동 벨트/가죽 남자 정장 청바지 허리띠',
        19900,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '46',
    '1583278910&ver')
INSERT INTO items VALUES('1536205544&ver',
        '[라온양말]남자 여자 무지 스니커즈 발목 양말 데일리 사계절용',
        990,
        990,
        0,
        '라온양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '47',
    '1536205544&ver')
INSERT INTO items VALUES('1738183494&ver',
        '학생/고탄력/80데니아/팬티스타킹/블랙/스킨/5매세트',
        9900,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '48',
    '1738183494&ver')
INSERT INTO items VALUES('1825287857&ver',
        '[몽크로스]기본무지 장목 양말 남여 세트 5켤레',
        10900,
        10900,
        0,
        '몽크로스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '49',
    '1825287857&ver')
INSERT INTO items VALUES('1693451341&ver',
        '[가나양말]남자 여자 심플 단목양말 10켤레',
        5900,
        5870,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '50',
    '1693451341&ver')
INSERT INTO items VALUES('1513146249&ver',
        '학생양말/여성/패션/무지/골지 하프골지',
        8900,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '51',
    '1513146249&ver')
INSERT INTO items VALUES('1920190939&ver',
        '[MLB]CP77 뉴욕양키즈 루키 볼캡 32CP77011-50B 베이지 정품',
        33000,
        30840,
        0,
        'Mlb')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '52',
    '1920190939&ver')

INSERT INTO items VALUES('816186602&ver',
        '국산 남자 여자 페이크삭스 덧신 양말 베이직 10켤레',
        6900,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '53',
    '816186602&ver')
INSERT INTO items VALUES('1859770651&ver',
        '[더조은셀러]갤럭시워치3 45mm 41mm 시계줄 메탈 밴드 스트랩',
        13900,
        13900,
        0,
        '더조은셀러')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '54',
    '1859770651&ver')
INSERT INTO items VALUES('2062959736&ver',
        '14K 심플 천연석 귀걸이',
        177800,
        88900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '55',
    '2062959736&ver')
INSERT INTO items VALUES('1843754363&ver',
        'ML~XL 사이즈/모자/야구모자/볼캡/큰모자/빅사이즈',
        8900,
        8860,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '56',
    '1843754363&ver')
INSERT INTO items VALUES('629477590&ver',
        '옴므 가죽띠 벨트띠/가죽끈/허리띠/정장밸트/허리끈',
        20500,
        7900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '57',
    '629477590&ver')
INSERT INTO items VALUES('1748218025&ver',
        '4573-SIS찍찍이벙거지 모자 봄여름 여성 버킷햇',
        19900,
        18800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '58',
    '1748218025&ver')
INSERT INTO items VALUES('1601845653&ver',
        '[까르페디엠]스마트 자동장우산(예쁜 무지 여성 학생 튼튼한 패션)',
        6900,
        6870,
        0,
        '까르페디엠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '59',
    '1601845653&ver')
INSERT INTO items VALUES('1985361518&ver',
        '[쥬골드]14K골드 정품 14K피어싱 14K귀걸이 14K귀찌',
        32000,
        29900,
        0,
        '쥬골드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '60',
    '1985361518&ver')
INSERT INTO items VALUES('853982082&ver',
        '신상 본품 1+1 /14K GP 진주 링 드롭귀걸이',
        33000,
        10000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '61',
    '853982082&ver')
INSERT INTO items VALUES('1955555046&ver',
        '[캉골]캉골 워싱 볼캡모자 K5165HT',
        39500,
        39310,
        0,
        '캉골')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '62',
    '1955555046&ver')
INSERT INTO items VALUES('959595302&ver',
        '면100% 특허 항균기능성 발가락양말 무좀 남성 여성',
        10000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '63',
    '959595302&ver')
INSERT INTO items VALUES('1850536344&ver',
        '14K 반지 6종 균일가전_2탄',
        277800,
        138900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '64',
    '1850536344&ver')
INSERT INTO items VALUES('1477392519&ver',
        '[나이키골프]정품 나이키모자 스우시캡 레거시91 볼캡 892651',
        26900,
        26770,
        0,
        '나이키골프')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '65',
    '1477392519&ver')
INSERT INTO items VALUES('1891169801&ver',
        '신형 갤럭시 워치3 디버클 시계줄 가죽스트랩 20-22mm',
        39800,
        29610,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '66',
    '1891169801&ver')
INSERT INTO items VALUES('695499485&ver',
        '고품질 국산 발목5켤레/스포츠/두꺼운페이크/빅사이즈',
        3900,
        3880,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '67',
    '695499485&ver')
INSERT INTO items VALUES('1422386607&ver',
        'WilliamPOLO-17119P 남성벨트 정장벨트 남자 가죽벨트',
        30000,
        28350,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '68',
    '1422386607&ver')
INSERT INTO items VALUES('1621540117&ver',
        '[뉴에라]2019 핀치히터 LA다저스 볼캡 로얄 블루 12024815',
        33000,
        26570,
        0,
        '뉴에라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '69',
    '1621540117&ver')
INSERT INTO items VALUES('1818067329&ver',
        '14K 심플 라인/컷팅 링 귀걸이 소',
        97800,
        48900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '70',
    '1818067329&ver')
INSERT INTO items VALUES('1181502893&ver',
        '103-남성발가락 중목양말10족set코마사 향균 공장직영',
        12680,
        12620,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '71',
    '1181502893&ver')
INSERT INTO items VALUES('238709844&ver',
        '여성양말 중목 패션 장목 여자  발목 골지 무지 양말',
        1390,
        1390,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '72',
    '238709844&ver')
INSERT INTO items VALUES('1493807159&ver',
        'HNC 20D 팬티스타킹 10매 묶음 레깅스 학생 타이즈',
        32100,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '73',
    '1493807159&ver')
INSERT INTO items VALUES('1619752678&ver',
        '10켤레 페이크삭스 남자 여자 덧신 양말 발목  2+1행사',
        7900,
        7860,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '74',
    '1619752678&ver')
INSERT INTO items VALUES('1120535814&ver',
        '[가나양말]남자 여자 고급 중목양말 10켤레 긴양말',
        8980,
        8940,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '75',
    '1120535814&ver')
INSERT INTO items VALUES('1614583372&ver',
        '봄 여름 여성 패션 수면 항암 비니 챙 모자 머리 두건',
        19000,
        12810,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '76',
    '1614583372&ver')
INSERT INTO items VALUES('2013812883&ver',
        '루돌프발렌티노 신사 정장양말 5켤레/남자/남성양말',
        9900,
        6850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '77',
    '2013812883&ver')
INSERT INTO items VALUES('1520863675&ver',
        '봄신상/여성모자/버킷햇/벙거지/야구모자/챙모자',
        7900,
        4900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '78',
    '1520863675&ver')
INSERT INTO items VALUES('1706264260&ver',
        '20 22mm 시계줄 스트랩 갤럭시 워치 액티브 2 40 44mm',
        12800,
        12740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '79',
    '1706264260&ver')
INSERT INTO items VALUES('1673362065&ver',
        '[포커스](패션페스타22%)FOCUS 쥬얼리 150종',
        16000,
        4800,
        0,
        '4Cus')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '80',
    '1673362065&ver')
INSERT INTO items VALUES('2065222343&ver',
        '레드하트 실버 목걸이/귀걸이/팔찌',
        11800,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '81',
    '2065222343&ver')

INSERT INTO items VALUES('128734302&ver',
        '고퀄리티 브랜드모자 야구모자 남자 여성 캡 골프모자',
        16900,
        16900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '82',
    '128734302&ver')
INSERT INTO items VALUES('1965300152&ver',
        '[프롬산타]롱롱골지 중목패션양말 5켤레',
        23000,
        6900,
        0,
        '프롬산타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '83',
    '1965300152&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '84',
    '727656992&ver')
INSERT INTO items VALUES('351848408&ver',
        '14K 금반지 실반지 엥반지(0.37g) 마디반지 우정링',
        29600,
        28870,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '85',
    '351848408&ver')
INSERT INTO items VALUES('1563637915&ver',
        '(10+1) 여자 무지 골지 패션 돌돌이 양말',
        1560,
        1560,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '86',
    '1563637915&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '87',
    '1524798982&ver')
INSERT INTO items VALUES('1854842824&ver',
        'UV차단 튼튼한 스마트 접는 3단 자동우산',
        10000,
        9150,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '88',
    '1854842824&ver')
INSERT INTO items VALUES('1672968143&ver',
        '[가나양말]남자 여자 발끝보강 페이크삭스 10켤레',
        6500,
        6470,
        0,
        '가나양말')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '89',
    '1672968143&ver')
INSERT INTO items VALUES('200160853&ver',
        '특가 가죽 벨트 무료배송 남성 밸트 남자 허리띠 혁대',
        7000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '90',
    '200160853&ver')
INSERT INTO items VALUES('1558875747&ver',
        'HNC 스마트 솔리드 자동 장우산',
        22400,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '91',
    '1558875747&ver')
INSERT INTO items VALUES('1905824093&ver',
        '실리콘 스트랩 갤럭시 워치3 41 45mm 시계줄 액티브',
        12800,
        12740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '92',
    '1905824093&ver')
INSERT INTO items VALUES('937470511&ver',
        '1+1 대두를 위한 여자 남자 빅사이즈 무지볼캡 야구',
        7000,
        6900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '93',
    '937470511&ver')
INSERT INTO items VALUES('1862529075&ver',
        '갤럭시 워치3 스트랩 41 45mm 메탈 시계줄  20 22mm',
        24800,
        24680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '94',
    '1862529075&ver')
INSERT INTO items VALUES('1255897077&ver',
        '정품 토삭스 양말 요가 필라테스 댄스 발레용',
        22900,
        22900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '95',
    '1255897077&ver')
INSERT INTO items VALUES('474203467&ver',
        '[로이맥스]42까지 정장 벨트 남성 남자 벨트 허리띠 혁띠 자동',
        8900,
        8860,
        0,
        '로이맥스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '96',
    '474203467&ver')
INSERT INTO items VALUES('1637479352&ver',
        '안보이는 전체 실리콘 덧신 페이크삭스 덧버선 10+1',
        12900,
        12840,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '97',
    '1637479352&ver')
INSERT INTO items VALUES('1882819779&ver',
        '10켤레 남자 스포츠양말 파일 장목 등산양말 이중바닥',
        10000,
        9850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '98',
    '1882819779&ver')
INSERT INTO items VALUES('825796105&ver',
        '엄청싸다 신상 반지 커플링 도매가판매',
        42000,
        16690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '99',
    '825796105&ver')
INSERT INTO items VALUES('624272370&ver',
        '[쥬골드]쥬골드 할인 14k귀걸이150여종 귀찌 진주 큐빅 반쪽',
        22000,
        18900,
        0,
        '쥬골드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '잡화/액세서리',
    '100',
    '624272370&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S127 잡화/액세서리
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '1',
    '2049626955&ver')
INSERT INTO items VALUES('1920502449&ver',
        '[barbour]바버 비데일 BEDALE 왁스 자켓 세이지 올리브 블랙',
        309000,
        302000,
        0,
        '바버')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '2',
    '1920502449&ver')
INSERT INTO items VALUES('1741152801&ver',
        '(명품직구) 버버리 애쉬비 미디엄 버켓백',
        845000,
        640000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '3',
    '1741152801&ver')
INSERT INTO items VALUES('1500372617&ver',
        '[구찌]GG 자카드 울 실크 스카프 165904-3G646',
        343000,
        260400,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '4',
    '1500372617&ver')
INSERT INTO items VALUES('1925487084&ver',
        '[구찌](명품직구) 플라워 스퀘어 스카프 508796-3G001',
        410000,
        310000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '5',
    '1925487084&ver')
INSERT INTO items VALUES('2008095866&ver',
        '[구찌](명품직구) 구찌 웹 캔버스 토트백 631245-KWT7N',
        1070000,
        810000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '6',
    '2008095866&ver')
INSERT INTO items VALUES('1920502588&ver',
        '[barbour]바버 뷰포트 BEAUFORT 왁스 자켓 세이지 올리브 블랙',
        319000,
        312000,
        0,
        '바버')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '7',
    '1920502588&ver')
INSERT INTO items VALUES('2031042584&ver',
        '[버버리]버버리 남성 캠던 카 코트 8018811',
        1369000,
        1273000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '8',
    '2031042584&ver')
INSERT INTO items VALUES('2054842735&ver',
        '[셀린느]셀린느 미니 카바스 버티칼 194372BZK 04LU',
        1250000,
        1209000,
        0,
        '셀린느')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '9',
    '2054842735&ver')
INSERT INTO items VALUES('1945770121&ver',
        '[버버리](명품직구)버버리 뉴 햄프셔 월렛온체인 블랙80278741',
        792000,
        608000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '10',
    '1945770121&ver')
INSERT INTO items VALUES('1737580626&ver',
        'CJ단독  본사공식  키플링 핸드폰백 NEW CORYDON M BKFP KKABS20',
        39000,
        32960,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '11',
    '1737580626&ver')

INSERT INTO items VALUES('2054840268&ver',
        '셀린느 트라이엄프 스몰 카바스  캔버스백 191542BZK',
        1450000,
        1384750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '12',
    '2054840268&ver')
INSERT INTO items VALUES('1977125743&ver',
        '구찌 남성용 가죽반지갑 428726 1000 블랙',
        310000,
        302550,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '13',
    '1977125743&ver')
INSERT INTO items VALUES('1722733616&ver',
        '[골든구스]골든구스 여성 슈퍼스타 W77 실버탭 스니커즈 GWF00102 F000317 10273',
        455000,
        376900,
        0,
        '골든구스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '14',
    '1722733616&ver')
INSERT INTO items VALUES('1920624919&ver',
        '[구찌](명품직구)구찌 508797 플라워 라나울 스카프 4종',
        401000,
        308000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '15',
    '1920624919&ver')
INSERT INTO items VALUES('1977164281&ver',
        '파워몰 구찌 523155 오피디아 GG 카드 케이스 브라운',
        375000,
        367230,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '16',
    '1977164281&ver')
INSERT INTO items VALUES('1753001256&ver',
        '(명품직구) 버버리 리치몬드 후드 카코트 탈부착후드',
        1170000,
        886000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '17',
    '1753001256&ver')
INSERT INTO items VALUES('2060245248&ver',
        '(NUNC) 로르 토트백 COCSX M61445 IAI/ 아페쎄',
        96000,
        92640,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '18',
    '2060245248&ver')
INSERT INTO items VALUES('2051499779&ver',
        '[버버리](명품직구) 버버리 프랭크비 퀼팅 자켓 40623931',
        764000,
        587000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '19',
    '2051499779&ver')
INSERT INTO items VALUES('1723944604&ver',
        '여성 슈퍼스타 W77 실버탭 스니커즈/ 골든구스',
        476000,
        387940,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '20',
    '1723944604&ver')
INSERT INTO items VALUES('1771111418&ver',
        '남성 슈퍼스타 W55 블랙탭 스니커즈/ 골든구스',
        482000,
        392830,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '21',
    '1771111418&ver')
INSERT INTO items VALUES('2003493390&ver',
        '[톰브라운] 21SS 삼선탭 클러치 스몰 (MAC019L 00198 001)',
        621000,
        493700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '22',
    '2003493390&ver')
INSERT INTO items VALUES('1923357960&ver',
        '[프라다](명품직구) 프라다 1BA113 SAFFIANO 블랙 외',
        1561000,
        1200000,
        0,
        '프라다')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '23',
    '1923357960&ver')
INSERT INTO items VALUES('2007411603&ver',
        '[구찌](명품직구) 구찌 GG 소호 크로스백 536224-A7M0G/AH90G',
        1450000,
        1098000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '24',
    '2007411603&ver')
INSERT INTO items VALUES('2007385929&ver',
        '[구찌](명품직구) 구찌 마이크로 시마 디스코백 449413-BMJ1G',
        1170000,
        886000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '25',
    '2007385929&ver')
INSERT INTO items VALUES('1977188779&ver',
        '구찌 애니멀리에 꿀벌 반지갑 523664 DJ20T 1000',
        315000,
        307530,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '26',
    '1977188779&ver')
INSERT INTO items VALUES('1689253845&ver',
        '9858 50 MINQUIERS MODERN 밍콰이어 모던 긴팔티셔츠/ 세인트제임스',
        84200,
        70730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '27',
    '1689253845&ver')
INSERT INTO items VALUES('2056928685&ver',
        '(명품직구) 바버 워터프루프 트렌치코트 2종 파인드혼',
        445000,
        337000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '28',
    '2056928685&ver')
INSERT INTO items VALUES('2029886043&ver',
        '[버버리](명품직구)버버리 헨리 클러치 WOC 블랙40482921',
        534000,
        410000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '29',
    '2029886043&ver')
INSERT INTO items VALUES('1944269306&ver',
        '메트로시티  온라인전용  크로스백 M203MP2624Z',
        158800,
        122280,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '30',
    '1944269306&ver')
INSERT INTO items VALUES('2053133846&ver',
        '[버버리](명품직구) 버버리 캠든 카코트 모노그람 자카드',
        605000,
        458000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '31',
    '2053133846&ver')
INSERT INTO items VALUES('1776835956&ver',
        '[구찌]7일특가 구찌반지갑 473916CWC1N 1000 블랙',
        313000,
        307940,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '32',
    '1776835956&ver')
INSERT INTO items VALUES('1776844008&ver',
        '[구찌]GG 슈프림 웹 반지갑 베이지 408827 KHN4N 9791',
        335000,
        328330,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '33',
    '1776844008&ver')
INSERT INTO items VALUES('1920503043&ver',
        '[barbour]바버  비드넬 BEADNELL 왁스 자켓 세이지 올리브 블랙',
        319000,
        312000,
        0,
        '바버')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '34',
    '1920503043&ver')
INSERT INTO items VALUES('2039263254&ver',
        '[구찌]구찌 마몬트 마틀라세 숄더백 스몰 447632 DTD1T 1000',
        1230000,
        1230000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '35',
    '2039263254&ver')
INSERT INTO items VALUES('1928116495&ver',
        '[보테가베네타](명품직구}보테가 베네타 피라미드 호보백 (4색상)',
        1513000,
        1162000,
        0,
        '보테가베네타')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '36',
    '1928116495&ver')
INSERT INTO items VALUES('2054830589&ver',
        '프라다 포코노 버킷백 BAG 1BH038-V44-F0002',
        1150000,
        1064250,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '37',
    '2054830589&ver')
INSERT INTO items VALUES('2030135985&ver',
        '[버버리]버버리 여성 빈티지 체크 슬립온 스니커즈 8031506',
        419000,
        383000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '38',
    '2030135985&ver')
INSERT INTO items VALUES('1869028874&ver',
        '21SS 오피디아 GG 수프림 클러치백 517551 96IWS 8745/ 구찌',
        835000,
        697230,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '39',
    '1869028874&ver')

INSERT INTO items VALUES('1887225085&ver',
        'PRADA 남성 나일론 백팩 2VZ135 973 F0002 BLACK',
        1540000,
        1532300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '40',
    '1887225085&ver')
INSERT INTO items VALUES('1600802217&ver',
        '[세인트제임스]세인트제임스 스트라이프티 밍콰이어/메르디앙/길도',
        79900,
        64120,
        0,
        '세인트제임스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '41',
    '1600802217&ver')
INSERT INTO items VALUES('1925203886&ver',
        '[구찌](명품직구) GG 캔버스 바이커 힙색 449174-KY9KN-9886',
        737000,
        558000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '42',
    '1925203886&ver')
INSERT INTO items VALUES('2005783534&ver',
        '(명품직구) 버버리 아비데일 하우스체크 앤 레더 백팩',
        935000,
        708000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '43',
    '2005783534&ver')
INSERT INTO items VALUES('2007279386&ver',
        '[프라다](명품직구) 프라다 포코노 버킷백 1BH038-V44-F0002',
        1670000,
        1265000,
        0,
        '프라다')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '44',
    '2007279386&ver')
INSERT INTO items VALUES('2051489646&ver',
        '[버버리](명품직구) 버버리 애쉬허스트 퀼팅 자켓 80213641',
        764000,
        587000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '45',
    '2051489646&ver')
INSERT INTO items VALUES('1756801364&ver',
        '21SS 로저비비에 RVW53623320 BSS B999 샌들',
        737000,
        737000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '46',
    '1756801364&ver')
INSERT INTO items VALUES('2012605233&ver',
        '[페라가모]페레가모 더블간치니 실버 67-5542 남성 정장 벨트',
        191000,
        190050,
        0,
        '살바토레페라가모')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '47',
    '2012605233&ver')
INSERT INTO items VALUES('1995858845&ver',
        '구찌GG 수프림 메신저 백 476466 브라운',
        1050000,
        963750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '48',
    '1995858845&ver')
INSERT INTO items VALUES('2045482296&ver',
        '21SS 디올 3SN249YJP H069 스니커즈',
        1178000,
        1172110,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '49',
    '2045482296&ver')
INSERT INTO items VALUES('1758618150&ver',
        '페이즐리 카메라 크로스백 0H666 8010 0600/ 에트로',
        410000,
        344400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '50',
    '1758618150&ver')
INSERT INTO items VALUES('950035684&ver',
        '[토리버치]토리버치 엘라 토트 미니백 당일배송 50009813',
        109000,
        108460,
        0,
        '토리버치')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '51',
    '950035684&ver')
INSERT INTO items VALUES('1853411538&ver',
        '(현대Hmall)버버리 여성 빈티지 체크 로고 베이지 스니커즈 8024301',
        476000,
        402220,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '52',
    '1853411538&ver')
INSERT INTO items VALUES('2029992101&ver',
        '갤러리아   버버리  21SS 남성 라크홀 로고프린트 빈티지 체크 스니커즈 80241',
        389000,
        350100,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '53',
    '2029992101&ver')
INSERT INTO items VALUES('2053178329&ver',
        '(명품직구) 버버리 트렌톤 쇼퍼백 남녀공용 토트백',
        515000,
        390000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '54',
    '2053178329&ver')
INSERT INTO items VALUES('1905961904&ver',
        '21SS 발리 남성스니커즈/ASHER 607/발리 애셔',
        344000,
        342280,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '55',
    '1905961904&ver')
INSERT INTO items VALUES('2034874425&ver',
        '[버버리]21SS 남성 8024149 빈티지 체크 로고 스니커즈',
        459000,
        456710,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '56',
    '2034874425&ver')
INSERT INTO items VALUES('1975454138&ver',
        '페이즐리 클러치 00053 8007 0600/ 에트로',
        150000,
        126000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '57',
    '1975454138&ver')
INSERT INTO items VALUES('1537411494&ver',
        '[에트로](02478 8010 600) 여성 숄더백/ 에트로',
        209000,
        199600,
        0,
        '에트로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '58',
    '1537411494&ver')
INSERT INTO items VALUES('1623480562&ver',
        '[코치]코치 크로스백 F39856 미국직배송 해외직구',
        195000,
        194030,
        0,
        '코치')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '59',
    '1623480562&ver')
INSERT INTO items VALUES('1973140988&ver',
        '(명품직구) 몽클레어 랑스 라이트 다운 패딩 자켓 LANS',
        1090000,
        825000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '60',
    '1973140988&ver')
INSERT INTO items VALUES('2031816821&ver',
        '갤러리아   메종마르지엘라  21SS 남성 타비 스니커즈 화이트 S57WS0252 P1875 /10',
        270000,
        229500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '61',
    '2031816821&ver')
INSERT INTO items VALUES('1776842679&ver',
        '[구찌]구찌 남성반지갑 프린트 꿀벌 451268 bee베이지',
        330000,
        323350,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '62',
    '1776842679&ver')
INSERT INTO items VALUES('1709186918&ver',
        '[페라가모]페레가모 더블 간치니 실버 67-8541 남성 정장 벨트',
        175000,
        174130,
        0,
        '살바토레페라가모')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '63',
    '1709186918&ver')
INSERT INTO items VALUES('1656296506&ver',
        '120697 V4651 1000 인트레치아토 VN 장지갑 블랙/ 보테가베네타',
        736000,
        618240,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '64',
    '1656296506&ver')
INSERT INTO items VALUES('1925498879&ver',
        '[구찌](명품직구) GG 인터로킹 반지갑 615525/598167-CAO0G',
        480000,
        364000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '65',
    '1925498879&ver')
INSERT INTO items VALUES('2053232006&ver',
        '(명품직구) 바버 인터내셔널 워터프루프 트렌치코트',
        505000,
        383000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '66',
    '2053232006&ver')
INSERT INTO items VALUES('1737593170&ver',
        'CJ단독  본사공식  키플링 핸드폰백 NEW CORYDON M PW/B KJCBS35',
        39000,
        31980,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '67',
    '1737593170&ver')

INSERT INTO items VALUES('1977154246&ver',
        '구찌 GG 마몬트 가죽반지갑 466492 1000 블랙',
        350000,
        342350,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '68',
    '1977154246&ver')
INSERT INTO items VALUES('1977177221&ver',
        '구찌 GG 로고 오피디아 카드지갑 523159 브라운 블랙',
        230000,
        222950,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '69',
    '1977177221&ver')
INSERT INTO items VALUES('1979134229&ver',
        '[버버리]버버리 남성 빈티지 체크 코튼 포플린 셔츠 8020863',
        349000,
        317000,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '70',
    '1979134229&ver')
INSERT INTO items VALUES('2056914137&ver',
        '(명품직구) 바버 비데일 왁스 자켓',
        460000,
        348000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '71',
    '2056914137&ver')
INSERT INTO items VALUES('2008115718&ver',
        '[구찌](명품직구)구찌 마이크로 시마 반지갑 260987-BMJ1N',
        400000,
        303000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '72',
    '2008115718&ver')
INSERT INTO items VALUES('2012544784&ver',
        '[페라가모]페레가모 더블간치니 실버 67-5542 남성 정장 벨트',
        191000,
        190050,
        0,
        '살바토레페라가모')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '73',
    '2012544784&ver')
INSERT INTO items VALUES('1796208399&ver',
        '[엠포리오아르마니]-국내배송- 레터링로고 터틀넥 자켓 바람막이 3컬러',
        198000,
        197010,
        0,
        '엠포리오아르마니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '74',
    '1796208399&ver')
INSERT INTO items VALUES('1671173272&ver',
        '[코치]COACH 코치 37968 F37968 스몰 트리폴드 월렛',
        67000,
        66670,
        0,
        '코치')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '75',
    '1671173272&ver')
INSERT INTO items VALUES('1815090844&ver',
        '21SS GG 마몬트 스몰 마틀라세 숄더백 447632 DTD1T 1000/ 구찌',
        1775000,
        1482130,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '76',
    '1815090844&ver')
INSERT INTO items VALUES('1794716994&ver',
        '[구찌]에이스 가죽 여성 스니커즈 387993-A3830-9071',
        659000,
        622760,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '77',
    '1794716994&ver')
INSERT INTO items VALUES('1804769870&ver',
        '[구찌]더블 G장식 T스트랩 여성 샌들 497444-A3N00-1000',
        609000,
        578550,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '78',
    '1804769870&ver')
INSERT INTO items VALUES('1923056343&ver',
        '[구찌](명품직구)구찌 510332 패브릭 시마 토트백',
        810000,
        714000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '79',
    '1923056343&ver')
INSERT INTO items VALUES('290874606&ver',
        '[몽블랑]몽블랑 볼펜심',
        13400,
        13340,
        0,
        '몽블랑')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '80',
    '290874606&ver')
INSERT INTO items VALUES('1640006745&ver',
        '[발렌티노]발렌티노 여성 락스터드 블랙 크로스백 0809 BOL 0NO',
        938000,
        768700,
        0,
        '발렌티노')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '81',
    '1640006745&ver')
INSERT INTO items VALUES('1688108587&ver',
        '9858 90 MINQUIERS MODERN 밍콰이어 모던 긴팔티셔츠/ 세인트제임스',
        84200,
        70730,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '82',
    '1688108587&ver')
INSERT INTO items VALUES('1695337728&ver',
        '[구찌](명품직구) 울 플라워 프린트 숄 508797-3G200',
        410000,
        310000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '83',
    '1695337728&ver')
INSERT INTO items VALUES('1800036188&ver',
        '[엠포리오아르마니]국내배송-카모 메쉬 독수리 로고 반팔티셔츠 반팔티',
        87000,
        86570,
        0,
        '엠포리오아르마니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '84',
    '1800036188&ver')
INSERT INTO items VALUES('1791368535&ver',
        '[엠포리오아르마니]패치 로고 반팔 카라 티셔츠 카라티 2컬러',
        93000,
        92540,
        0,
        '엠포리오아르마니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '85',
    '1791368535&ver')
INSERT INTO items VALUES('1537741257&ver',
        '[에트로] (01808 8010 600) 여성 숄더백',
        390000,
        294450,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '86',
    '1537741257&ver')
INSERT INTO items VALUES('1993260026&ver',
        '[버버리][버버리] [21년S/S] 트렌톤 나일론 쇼퍼백 80198991 ML TRENTON LNL',
        590000,
        528050,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '87',
    '1993260026&ver')
INSERT INTO items VALUES('1897750346&ver',
        '[오프화이트][오프화이트] 로우 벌커나이즈드 스니커즈 OMIA085F20LEA0030101 /135881',
        389000,
        285920,
        0,
        '오프화이트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '88',
    '1897750346&ver')
INSERT INTO items VALUES('1943780430&ver',
        '[페라가모] 보그 간치니 스니커즈 BORG NERO 0697633 /135881',
        697000,
        512300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '89',
    '1943780430&ver')
INSERT INTO items VALUES('1927979337&ver',
        '[발리] ASHER 607 6234604 남성 아쉐르 로우탑 스니커즈',
        381700,
        314920,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '90',
    '1927979337&ver')
INSERT INTO items VALUES('1771111425&ver',
        '남성 슈퍼스타 E36 스파클 실버 스니커즈/ 골든구스',
        477000,
        400680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '91',
    '1771111425&ver')
INSERT INTO items VALUES('1849847257&ver',
        '[생 로랑]생로랑 모노 그램 체인 숄더백 377828 BOW01 1000',
        1489000,
        1386000,
        0,
        '생로랑')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '92',
    '1849847257&ver')
INSERT INTO items VALUES('2005741056&ver',
        '(명품직구) 구찌 GG 네오빈티지 웹 메신저백 476466',
        1835000,
        1390000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '93',
    '2005741056&ver')
INSERT INTO items VALUES('1853838456&ver',
        '여성 로고 빈티지 체크 개버딘 베이지 스니커즈/ 버버리',
        488000,
        400160,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '94',
    '1853838456&ver')
INSERT INTO items VALUES('1849081637&ver',
        '[구찌]구찌 여성 소호 디스코백 308364 A7M0G 1000 블랙',
        1269000,
        1179000,
        0,
        '구찌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '95',
    '1849081637&ver')

INSERT INTO items VALUES('288374753&ver',
        '[몽블랑]몽블랑마이스터스퉉 P146 만년필 추천상품',
        825000,
        820880,
        0,
        '몽블랑')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '96',
    '288374753&ver')
INSERT INTO items VALUES('1329582826&ver',
        '[에트로][NEW] 숄더끈 0B803 2643 800/ 에트로',
        123300,
        104200,
        0,
        '에트로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '97',
    '1329582826&ver')
INSERT INTO items VALUES('1668840535&ver',
        '[에트로][NEW] 반달 크로스백 06687 8010 600',
        204100,
        194010,
        0,
        '에트로')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '98',
    '1668840535&ver')
INSERT INTO items VALUES('1807024445&ver',
        '갤러리아  페레가모 스몰 에이미백 24 네로 21F478 0720533',
        1363000,
        1090400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '99',
    '1807024445&ver')
INSERT INTO items VALUES('1882541715&ver',
        '인트레치아토 도큐먼트 케이스 603432 VCPQ1 8984/ 보테가베네타',
        2030000,
        1705200,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '수입명품',
    '100',
    '1882541715&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S134 수입명품
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '1',
    '251196004&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '2',
    '680393899&ver')
INSERT INTO items VALUES('1903907583&ver',
        '14인치 미니 핸드 캐리어 여행 가방 핸드백 파우치',
        12900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '3',
    '1903907583&ver')
INSERT INTO items VALUES('955365451&ver',
        '브랜드 여행용캐리어 TSA락 확장형여행가방',
        115000,
        34800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '4',
    '955365451&ver')
INSERT INTO items VALUES('622917193&ver',
        '[브라이튼]여행용 캐리어 기내용 대형 여행가방 더블휠 확장 TSA',
        166000,
        49900,
        0,
        '브라이튼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '5',
    '622917193&ver')
INSERT INTO items VALUES('457813721&ver',
        '[블루밍홈]BLMG  캐리어 여행가방',
        36900,
        22900,
        0,
        '블루밍홈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '6',
    '457813721&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '7',
    '2006171957&ver')
INSERT INTO items VALUES('103164270&ver',
        '[브라이튼]압도적 판매1위 브라이튼 이민가방 국산 여행용캐리어',
        66000,
        19900,
        0,
        '브라이튼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '8',
    '103164270&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '9',
    '1619527110&ver')
INSERT INTO items VALUES('1807300350&ver',
        'N90 여행가방 보스턴백 여행용가방 폴딩백 기내용가방',
        26000,
        25770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '10',
    '1807300350&ver')
INSERT INTO items VALUES('1620516885&ver',
        '레투캐리어 C 18인치 미니캐리어 출장가방 여행캐리어',
        65000,
        64680,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '11',
    '1620516885&ver')
INSERT INTO items VALUES('1738244972&ver',
        '[아디다스]3선 스트라이프 슈즈백 신발주머니  FM5558 블랙',
        11900,
        11900,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '12',
    '1738244972&ver')
INSERT INTO items VALUES('1738245417&ver',
        '[아디다스]3선 스트라이프 슈즈백 신발주머니  FM5560 네이비',
        11900,
        11900,
        0,
        '아디다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '13',
    '1738245417&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '14',
    '830977754&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '15',
    '2050356153&ver')
INSERT INTO items VALUES('1886030311&ver',
        '골프 가방 남자 여자 보스턴백 타이틀리스트 의류 옷',
        55000,
        55000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '16',
    '1886030311&ver')
INSERT INTO items VALUES('882164193&ver',
        '튼튼한 가벼운 3단이민가방 대형이민가방 캐리어가방',
        30000,
        28900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '17',
    '882164193&ver')
INSERT INTO items VALUES('164308360&ver',
        '[앙뜨레]여행용 캐리어 확장 TSA 더블휠 기내용 대형 여행가방',
        66000,
        28470,
        0,
        '앙뜨레')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '18',
    '164308360&ver')
INSERT INTO items VALUES('1727322494&ver',
        '알루미늄 PC 잠금장치 여행용 하드 중대형 캐리어가방',
        130000,
        119000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '19',
    '1727322494&ver')
INSERT INTO items VALUES('1999737357&ver',
        '몬스터 블랙 더플백 캐주얼 스포츠 가방',
        30200,
        29300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '20',
    '1999737357&ver')
INSERT INTO items VALUES('708651777&ver',
        '힙색 메신저백 슬링백 웨이스트백 남자 가방 힙쌕',
        17900,
        15900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '21',
    '708651777&ver')
INSERT INTO items VALUES('1627222979&ver',
        '등산보조가방 물병 힙색 남자 작은 가방 핸드폰가방',
        11000,
        10840,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '22',
    '1627222979&ver')
INSERT INTO items VALUES('1590781280&ver',
        '[미스터보울러]미스터보울러 여행용 캐리어/기내용 여행가방',
        99000,
        29900,
        0,
        '미스터보울러')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '23',
    '1590781280&ver')
INSERT INTO items VALUES('1780679159&ver',
        '나이키 힙색 팩백 허리쌕 크로스백 BA5750-010',
        28000,
        27660,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '24',
    '1780679159&ver')
INSERT INTO items VALUES('1503775933&ver',
        '[크리에이트]크리에이트 3단 PC 100% 이민가방/대형가방 이사가방',
        49800,
        49800,
        0,
        '크리에이트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '25',
    '1503775933&ver')
INSERT INTO items VALUES('1820693622&ver',
        'N29 여행가방 보스턴백 여행용가방 폴딩백 기내용가방',
        24000,
        23780,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '26',
    '1820693622&ver')
INSERT INTO items VALUES('696782314&ver',
        '1+1커버증정/여행용캐리어/수학여행가방/해외여행가방',
        49800,
        49800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '27',
    '696782314&ver')

INSERT INTO items VALUES('1719310984&ver',
        '가방 캐리어네임택 러기지택 이름표 플라스틱네임택',
        200,
        200,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '28',
    '1719310984&ver')
INSERT INTO items VALUES('616912006&ver',
        '힙색 허리색 허리쌕 힙섹 힙쌕 밀리터리 가죽 색 가방',
        15500,
        15500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '29',
    '616912006&ver')
INSERT INTO items VALUES('693044623&ver',
        '[Birkenstock]웨이스트백 힙색 모음/메신저백/크로스백',
        22900,
        22900,
        0,
        '버켄스탁')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '30',
    '693044623&ver')
INSERT INTO items VALUES('2050359933&ver',
        '[나이키]나이키 가방 BA5750-010 헤리티지 힙쌕 허리쌕',
        21200,
        21200,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '31',
    '2050359933&ver')
INSERT INTO items VALUES('164796565&ver',
        '당일발송 앙뜨레 SH-7216 여행가방 여행용 캐리어',
        35800,
        35630,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '32',
    '164796565&ver')
INSERT INTO items VALUES('127991333&ver',
        '남여공용 슬링백 힙색 캔버스백 백팩 학생가방_pio101',
        32800,
        32640,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '33',
    '127991333&ver')
INSERT INTO items VALUES('1545678557&ver',
        '[쌈지]16인치 기내용 미니 캐리어 기내반입 소형 여행캐리어',
        41000,
        39700,
        0,
        '쌈지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '34',
    '1545678557&ver')
INSERT INTO items VALUES('1648997648&ver',
        '란체티 LD-14013 20인치 캐리어 여행가방',
        59900,
        59900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '35',
    '1648997648&ver')
INSERT INTO items VALUES('1218637962&ver',
        '[브라이튼]브라이튼 브이 28형 수화물 대형 여행용캐리어 여행가방 케리어 사은품증정',
        64900,
        55170,
        0,
        '브라이튼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '36',
    '1218637962&ver')
INSERT INTO items VALUES('1161509999&ver',
        '롤링백팩/백팩/21인치/19인치/캐리어/여행/출장/가방',
        79000,
        79000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '37',
    '1161509999&ver')
INSERT INTO items VALUES('168223234&ver',
        '[우주]보따리 8종_8900원~사입 짐 이불 대형 이사 캠핑 가방',
        19000,
        16900,
        0,
        '우주')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '38',
    '168223234&ver')
INSERT INTO items VALUES('969490685&ver',
        '[우주]사각플레이4 P406 베이지클래식 여행가방 보스턴백',
        54100,
        53730,
        0,
        '우주')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '39',
    '969490685&ver')
INSERT INTO items VALUES('1648980696&ver',
        '브라이튼 브이 28인치 대형 여행용캐리어 여행가방',
        49900,
        49900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '40',
    '1648980696&ver')
INSERT INTO items VALUES('1486884112&ver',
        '킥보드 캐리어 아동용',
        49800,
        49560,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '41',
    '1486884112&ver')
INSERT INTO items VALUES('1685791550&ver',
        '기내용 미니 작은 소형 16인치 캐리어 무지 여행가방',
        50000,
        49750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '42',
    '1685791550&ver')
INSERT INTO items VALUES('127682749&ver',
        '[우주]보스턴백 모음_여행 휴가 캐리 여행용 트래블 백 가방',
        39000,
        38900,
        0,
        '우주')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '43',
    '127682749&ver')
INSERT INTO items VALUES('1554670861&ver',
        '아메리칸투어리스터 에어라이더 여행용 캐리어 가방 5',
        175200,
        135200,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '44',
    '1554670861&ver')
INSERT INTO items VALUES('1962374446&ver',
        '오플 프라다 포코노 버킷 파우치백 1NA369',
        430000,
        376850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '45',
    '1962374446&ver')
INSERT INTO items VALUES('778563962&ver',
        '[프리마인드]여행용캐리어 20인치 24인치 28인치 확장',
        45900,
        45900,
        0,
        '프리마인드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '46',
    '778563962&ver')
INSERT INTO items VALUES('1648175012&ver',
        '등산자전거런닝스포츠 물병 힙색허리색크로스백슬링백',
        13900,
        13400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '47',
    '1648175012&ver')
INSERT INTO items VALUES('658041470&ver',
        '몽소르베 화장품 파우치/여행용/클러치/파우치/생리대',
        6000,
        4870,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '48',
    '658041470&ver')
INSERT INTO items VALUES('1727567723&ver',
        '[만다리나덕]여행가방 MACARON MXV14107 (20형 캐리어)',
        278000,
        222400,
        0,
        '만다리나덕')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '49',
    '1727567723&ver')
INSERT INTO items VALUES('1948654462&ver',
        '[나이키]나이키 SPORTSWEAR 헤리티지 힙색 BA5750-010',
        25000,
        22380,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '50',
    '1948654462&ver')
INSERT INTO items VALUES('1869372885&ver',
        '남녀 여행용 소프트 캐리어 백팩 겸용 대용량 가방',
        28900,
        28900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '51',
    '1869372885&ver')
INSERT INTO items VALUES('1986136356&ver',
        '[파타고니아][파타고니아] [코리아]지퍼드 파우치 59290L5 PTLB',
        19000,
        18050,
        0,
        '파타고니아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '52',
    '1986136356&ver')
INSERT INTO items VALUES('1554611693&ver',
        '[슈프림]BA2549/슈프림/힙색/웨이스트백/슬링백 supr힙색컬러',
        6500,
        6500,
        0,
        '슈프림')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '53',
    '1554611693&ver')
INSERT INTO items VALUES('1677217256&ver',
        '비젼 16인치20인치24인치 확장형TSA락 여행용캐리어',
        28500,
        28500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '54',
    '1677217256&ver')
INSERT INTO items VALUES('1885411198&ver',
        '14인치 미니 캐리어 레트로 레디백 소형캐리어 1+1',
        22500,
        22500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '55',
    '1885411198&ver')
INSERT INTO items VALUES('1899272774&ver',
        '[디즈니]디즈니 보스턴백 미니 여행 보조 가방',
        19800,
        19800,
        0,
        '디즈니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '56',
    '1899272774&ver')

INSERT INTO items VALUES('2027751443&ver',
        '나이키 에센셜 스몰 힙 팩 DC7359-010 크로스백 허리',
        22900,
        22790,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '57',
    '2027751443&ver')
INSERT INTO items VALUES('1538629419&ver',
        '[쌈지]여행용 케리어 20인치 24인치 캐리어 기내 여행 가방',
        49800,
        49800,
        0,
        '쌈지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '58',
    '1538629419&ver')
INSERT INTO items VALUES('1622016467&ver',
        '소프트캐리어 이민용가방 백팩 바퀴달린 가방 28인치',
        21900,
        21690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '59',
    '1622016467&ver')
INSERT INTO items VALUES('1743528644&ver',
        '더블탄창파우치 탄창집 핸드건탄창 권총탄창 몰리탄창',
        20000,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '60',
    '1743528644&ver')
INSERT INTO items VALUES('1879207793&ver',
        '[NC구로점]르에어 국산 비말차단마스크 대형(흰색) KF-AD 30매',
        17500,
        17500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '61',
    '1879207793&ver')
INSERT INTO items VALUES('2058888049&ver',
        '지퍼포켓 여성 슬링백 가방 크로스백 웨이스트백',
        23500,
        23270,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '62',
    '2058888049&ver')
INSERT INTO items VALUES('1747726042&ver',
        '[블루밍홈]코트니 SHARP 여행용 캐리어 24인치 화물용',
        19900,
        19800,
        0,
        '블루밍홈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '63',
    '1747726042&ver')
INSERT INTO items VALUES('2043045811&ver',
        '미니 캐리어 레디백 여행 소형 가방',
        13500,
        13500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '64',
    '2043045811&ver')
INSERT INTO items VALUES('241526793&ver',
        '타포린백/부직포가방/보조가방/이불가방/비닐가방',
        2000,
        1500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '65',
    '241526793&ver')
INSERT INTO items VALUES('128708569&ver',
        '[아소떼]초대형 빅사이즈 이민가방tt188/이사/여행/사입/유학',
        9900,
        9700,
        0,
        '아소떼')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '66',
    '128708569&ver')
INSERT INTO items VALUES('926284765&ver',
        '[두리프]트래블굿스 여행용 목베개 목쿠션 메모리폼',
        22000,
        15100,
        0,
        '두리프')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '67',
    '926284765&ver')
INSERT INTO items VALUES('813611466&ver',
        '여행 가방 1박2일 보스턴백 헬스 소형 대형 천 짐가방',
        42500,
        12800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '68',
    '813611466&ver')
INSERT INTO items VALUES('578464443&ver',
        'DR1 가대기 작업용 벨트쌕(허리쌕)',
        6200,
        6170,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '69',
    '578464443&ver')
INSERT INTO items VALUES('1500293181&ver',
        '[샤오미]캐리어 여행용 24인치 가방/미트롤리 프리미엄 2세대',
        102000,
        101490,
        0,
        '샤오미')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '70',
    '1500293181&ver')
INSERT INTO items VALUES('701632484&ver',
        '여행용파우치 6종 여행준비물 여행용품 여행가방 백팩',
        7000,
        5900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '71',
    '701632484&ver')
INSERT INTO items VALUES('1589667869&ver',
        '[나이키]나이키 힙 팩백 허리쌕 헤리티지 BA5750-010 크로스백',
        22500,
        22500,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '72',
    '1589667869&ver')
INSERT INTO items VALUES('1554611561&ver',
        '[슈프림]BA2549/슈프림/힙색/웨이스트백/슬링백 supr힙색패턴',
        6500,
        6500,
        0,
        '슈프림')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '73',
    '1554611561&ver')
INSERT INTO items VALUES('1572573904&ver',
        '캔버라 20+24+28형 3종세트 캐리어 기획세트(1+1+1)',
        106000,
        106000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '74',
    '1572573904&ver')
INSERT INTO items VALUES('1620599787&ver',
        '[쌤소나이트]쌤소나이트 아스피어 여행용 캐리어 추천/당일발송',
        127000,
        125100,
        0,
        '쌤소나이트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '75',
    '1620599787&ver')
INSERT INTO items VALUES('1879207847&ver',
        '[NC구로점]르에어 국산 비말차단마스크 대형(흰색) KF-AD 50매',
        27600,
        27600,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '76',
    '1879207847&ver')
INSERT INTO items VALUES('1524483724&ver',
        '100% PC/3단 이민가방_블랙/ 크리에이트',
        49800,
        49560,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '77',
    '1524483724&ver')
INSERT INTO items VALUES('1645436945&ver',
        '여행 줄무늬 꽃 짐 크로스 보스턴 백 옷 가방',
        62900,
        18900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '78',
    '1645436945&ver')
INSERT INTO items VALUES('1466153548&ver',
        '[내셔널지오그래픽] [특별혜택] 캐리어 NG N6501E 28형 화물용 특대형 캐리어',
        160800,
        135880,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '79',
    '1466153548&ver')
INSERT INTO items VALUES('194933108&ver',
        '[에다스]하드케이스 여행용 캐리어 20 25 28인치 여행가방',
        56900,
        56900,
        0,
        '에다스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '80',
    '194933108&ver')
INSERT INTO items VALUES('823880628&ver',
        '패딩 백인백 소품 정리 여성 화장품 파우치 가방 지갑',
        2500,
        2500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '81',
    '823880628&ver')
INSERT INTO items VALUES('1778967061&ver',
        '[나이키]나이키 다용도 디파쳐 롤러 백 5926-010 (블랙)',
        327000,
        325370,
        0,
        '나이키')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '82',
    '1778967061&ver')
INSERT INTO items VALUES('1626124371&ver',
        '심플컬러캐리어 20호 기내용캐리어 소형가방 여행가',
        142570,
        55610,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '83',
    '1626124371&ver')
INSERT INTO items VALUES('1291235859&ver',
        'GE_5108 캐리어(28인치)-항공캐리어  화물용케리어',
        284030,
        139180,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '84',
    '1291235859&ver')
INSERT INTO items VALUES('2027520929&ver',
        '(옐로우) 사슬 체인 미니 크로스백 여성 버킷 숄더백',
        108020,
        42130,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '85',
    '2027520929&ver')

INSERT INTO items VALUES('1971341964&ver',
        '16형 여성 소형 기내용 PC+ABS 확장 여행하드캐리어',
        140800,
        54920,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '86',
    '1971341964&ver')
INSERT INTO items VALUES('796154870&ver',
        '[컴스]스포츠허리색 여행용여권가방 크로스백슬링백남자여자',
        39000,
        19310,
        0,
        'Coms')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '87',
    '796154870&ver')
INSERT INTO items VALUES('2028997275&ver',
        '캐주얼 보스턴백 라운드백 여행가방 A485 (그레이 보',
        111530,
        43500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '88',
    '2028997275&ver')
INSERT INTO items VALUES('1267364584&ver',
        '[쿠잉]쿠잉 20인치 캐리어/여행가방/여행용/케리어/기내용',
        42000,
        41630,
        0,
        '쿠잉')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '89',
    '1267364584&ver')
INSERT INTO items VALUES('1481631320&ver',
        '정품 2019 신형 알래스카베어 실크 수면안대 입체 3D 꿀잠(바보사랑)',
        22500,
        20930,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '90',
    '1481631320&ver')
INSERT INTO items VALUES('1520854037&ver',
        '[툴레]THULE 캐즘 70L 스포츠 여행용 대용량 더플백 보스턴백',
        165000,
        88180,
        0,
        '툴레')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '91',
    '1520854037&ver')
INSERT INTO items VALUES('1302131654&ver',
        '여행용 파우치 6종 세트 고급형 모음전',
        8400,
        8200,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '92',
    '1302131654&ver')
INSERT INTO items VALUES('982300737&ver',
        '여권커버 여권케이스 여권지갑 캐리어네임택 러기지택',
        5500,
        5500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '93',
    '982300737&ver')
INSERT INTO items VALUES('1729979503&ver',
        '카밀리안트 (쌤소나이트코리아) 여행용 캐리어 세트',
        128000,
        118040,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '94',
    '1729979503&ver')
INSERT INTO items VALUES('176094372&ver',
        '[더스틴]더스틴 이민가방 3단 상단확장 여행가방 캐리어 기획',
        38000,
        37800,
        0,
        '더스틴')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '95',
    '176094372&ver')
INSERT INTO items VALUES('1746013753&ver',
        '키코 기내용 20인치 테블릿PC 노트북 다올캐리어_(117707)',
        166380,
        165550,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '96',
    '1746013753&ver')
INSERT INTO items VALUES('915241892&ver',
        '가방몰/ADD902/다용도알루미늄 캐리어/출장용캐리어',
        194400,
        194400,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '97',
    '915241892&ver')
INSERT INTO items VALUES('1173479098&ver',
        '아메리칸투어리스터/예로우 20인치 기내용캐리어/여행',
        150000,
        150000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '98',
    '1173479098&ver')
INSERT INTO items VALUES('1220295346&ver',
        '트레빌 모닝톤 M35 기내용 20 24인치 캐리어 여행가방',
        39000,
        38710,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '99',
    '1220295346&ver')
INSERT INTO items VALUES('1285176389&ver',
        '밀리터리 슬링백 크로스백 숄더백 여행 등산 소형가방',
        17800,
        17800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    신발/잡화',
    '여행가방',
    '100',
    '1285176389&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G02&subGroupCode=S172 여행가방
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G03 화장품/헤어
INSERT INTO items VALUES('1914140738&ver',
        '[피지오겔]피지오겔 DMT 크림 150ml 2개',
        49800,
        49800,
        0,
        '피지오겔')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '1',
    '1914140738&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '2',
    '705589608&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '3',
    '1807235725&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '4',
    '1896210962&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '5',
    '2007098317&ver')
INSERT INTO items VALUES('965932187&ver',
        '[아이오페]아이오페 에어쿠션 5세대 외 BEST 모음딜',
        86000,
        61920,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '6',
    '965932187&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '7',
    '1911383377&ver')
INSERT INTO items VALUES('874194128&ver',
        '[닥터방기원]랩 탈모 샴푸 1Lx2+랩탈모트리트먼트 1L+랩토닉',
        31900,
        28900,
        0,
        '닥터방기원')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '8',
    '874194128&ver')
INSERT INTO items VALUES('1926116893&ver',
        '[센텔리안24]마데카크림 시즌4 50ml 2개 +선에센스1ml 5매',
        48000,
        24000,
        0,
        '센텔리안24')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '9',
    '1926116893&ver')
INSERT INTO items VALUES('1107177865&ver',
        '[바닐라코]바닐라코x케어베어 귀여운 콜라보외 최대 69%할인',
        93000,
        28400,
        0,
        '바닐라코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '10',
    '1107177865&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '11',
    '767423273&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '12',
    '667938939&ver')
INSERT INTO items VALUES('549071355&ver',
        '[스와니코코]스와니코코 74% 촉촉보습대전/1+1부터 중복쿠폰 할인',
        66000,
        22900,
        0,
        '스와니코코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '13',
    '549071355&ver')
INSERT INTO items VALUES('1943017968&ver',
        '[세타필]세타필 대용량 로션 473ml 3개',
        32900,
        32900,
        0,
        '세타필')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '14',
    '1943017968&ver')
INSERT INTO items VALUES('1472697362&ver',
        '[코리아나](스마일쿠폰12%) 앰플엔 3월 환절기 스킨케어 기획전',
        65000,
        19900,
        0,
        '코리아나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '15',
    '1472697362&ver')
INSERT INTO items VALUES('226252659&ver',
        '오로라 LPP 트리트먼트 헤어팩 1000ml 1+1 총2000ml',
        39900,
        12900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '16',
    '226252659&ver')
INSERT INTO items VALUES('1919705239&ver',
        '[네오젠]봄맞이 클렌징 뷰티세일 upto 73%+배송비체험',
        20000,
        10000,
        0,
        '네오젠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '17',
    '1919705239&ver')

INSERT INTO items VALUES('462942360&ver',
        '[메디플라워]곡물 페이셜 폼클렌징/클렌징폼 150mlx5개/할인특가',
        28000,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '18',
    '462942360&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '19',
    '1514799411&ver')
INSERT INTO items VALUES('1728108083&ver',
        '[미샤]미샤 베스트기초 최대 50% 신학기 꿀피부필터 모음전',
        54000,
        27000,
        0,
        '미샤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '20',
    '1728108083&ver')
INSERT INTO items VALUES('2036689384&ver',
        '[아이오페]에어쿠션 5세대 본품15g 커버or내추럴 택 1',
        28000,
        25760,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '21',
    '2036689384&ver')
INSERT INTO items VALUES('2052209651&ver',
        '[해피바스]해피바스 내추럴정말촉촉바디워시 900G x4개',
        29900,
        14900,
        0,
        '해피바스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '22',
    '2052209651&ver')
INSERT INTO items VALUES('116270962&ver',
        '[댕기머리]댕기머리 허벌 샴푸 1000ml 1+1 / 총 2000ml+샴푸10매',
        25000,
        19800,
        0,
        '댕기머리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '23',
    '116270962&ver')
INSERT INTO items VALUES('898903185&ver',
        '[우르오스]우르오스 올인원 스킨밀크/스킨로션 200ml 택1',
        26530,
        24280,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '24',
    '898903185&ver')
INSERT INTO items VALUES('818391700&ver',
        '[라벨영]빵꾸솝 쿨버전 비누 1+1+1/모공축소+블랙헤드+피지제거',
        39300,
        11800,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '25',
    '818391700&ver')
INSERT INTO items VALUES('2025178843&ver',
        '전고객 접이식카트  순수 최신상 골드라벨 살롱염색제 10박스',
        79800,
        71430,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '26',
    '2025178843&ver')
INSERT INTO items VALUES('1896207353&ver',
        '[헤드앤숄더]헤드앤숄더 쿨멘솔 샴푸 850ml 4개 +사은품',
        58000,
        22900,
        0,
        '헤드앤숄더')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '27',
    '1896207353&ver')
INSERT INTO items VALUES('1948001410&ver',
        '[도브]16개 Dove 미국 직구 센서티브바 센스티브 뷰티바 스킨 올인원 비누 솝 샴푸 바디워시 106 g',
        28100,
        26420,
        0,
        '도브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '28',
    '1948001410&ver')
INSERT INTO items VALUES('2052212266&ver',
        '[해피바스]해피바스 내추럴정말순한바디워시 900G x4개',
        29900,
        18900,
        0,
        '해피바스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '29',
    '2052212266&ver')
INSERT INTO items VALUES('1604484944&ver',
        '[네이처리퍼블릭]1+1 캘리포니아 알로에 보송 선스틱/선크림 +사은품',
        19800,
        9900,
        0,
        '네이처리퍼블릭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '30',
    '1604484944&ver')
INSERT INTO items VALUES('848957621&ver',
        '[리코셀]1일1팩 촉촉순한 마스크팩 10종x10장 총100장 1번세트',
        31800,
        15900,
        0,
        '리코셀')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '31',
    '848957621&ver')
INSERT INTO items VALUES('1571468785&ver',
        '[마녀공장]마녀공장 비피다 앰플 패드 론칭 46% 특가세일',
        64000,
        19200,
        0,
        '마녀공장')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '32',
    '1571468785&ver')
INSERT INTO items VALUES('1579205773&ver',
        '[푸로루나]1+1+1 오토 아이브로우 펜슬 / 눈썹 / 납작 /디자이닝',
        18000,
        7500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '33',
    '1579205773&ver')
INSERT INTO items VALUES('1722509217&ver',
        '[뉴트로지나]인텐스 리페어 시카 에멀젼 310ml 2개',
        35500,
        23800,
        0,
        '뉴트로지나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '34',
    '1722509217&ver')
INSERT INTO items VALUES('985661688&ver',
        '[ahc]AHC 국민 아이크림 1억개 판매 돌파 기념 특가',
        93000,
        28500,
        0,
        'AHC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '35',
    '985661688&ver')
INSERT INTO items VALUES('1755755844&ver',
        '[이솝]갤러리아  이솝 레저렉션 아로마틱 핸드 밤 75ml',
        31000,
        27900,
        0,
        '이솝')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '36',
    '1755755844&ver')
INSERT INTO items VALUES('2052301789&ver',
        '[해피바스]해피바스마이크로미셀라 딥클렌징폼150g 3개 +포토후기',
        29900,
        15900,
        0,
        '해피바스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '37',
    '2052301789&ver')
INSERT INTO items VALUES('1661739739&ver',
        '[포레스트스토리]B7 약산성 탈모 샴푸 2+1 / 1000ml+1000ml+250ml',
        29900,
        28900,
        0,
        '포레스트스토리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '38',
    '1661739739&ver')
INSERT INTO items VALUES('2060477732&ver',
        '[SK II](신세계강남점)(MI3) 클리어 로션 230ml 세트',
        92000,
        92000,
        0,
        'SK-II')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '39',
    '2060477732&ver')
INSERT INTO items VALUES('1807191272&ver',
        '이니스프리 새학기 이니데이 인기라인 UP TO 20%',
        27000,
        21600,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '40',
    '1807191272&ver')
INSERT INTO items VALUES('1704856342&ver',
        '[세타필]세타필 대용량 로션 591ml 2개+로션118ml 최신제조',
        28300,
        25470,
        0,
        '세타필')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '41',
    '1704856342&ver')
INSERT INTO items VALUES('1661436629&ver',
        '[려]려 자양윤모 지성 샴푸 400ml 3개',
        29900,
        19900,
        0,
        '려')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '42',
    '1661436629&ver')
INSERT INTO items VALUES('1714457661&ver',
        '[미샤](25%중복) 단하루 전품목 1+1~50%SALE/예뻐져봄',
        54000,
        27000,
        0,
        '미샤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '43',
    '1714457661&ver')
INSERT INTO items VALUES('1512720976&ver',
        '[헤라 옴므]헤라 옴므 스페셜 2종 기획세트 {HE0487}',
        95800,
        47900,
        0,
        '헤라옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '44',
    '1512720976&ver')
INSERT INTO items VALUES('2007099310&ver',
        '[세타필]세타필 카카오프렌즈1000개한정판(크림+크림+굿즈3종)',
        29900,
        29900,
        0,
        '세타필')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '45',
    '2007099310&ver')
INSERT INTO items VALUES('1896203490&ver',
        '[헤드앤숄더]헤드앤숄더 퍼퓸 프레쉬 샴푸 750ml 4개 +사은품',
        58000,
        22900,
        0,
        '헤드앤숄더')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '46',
    '1896203490&ver')

INSERT INTO items VALUES('990366637&ver',
        '[뉴트로지나]딥 클린 포밍 클렌저 175g 3개+사은품',
        33750,
        20400,
        0,
        '뉴트로지나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '47',
    '990366637&ver')
INSERT INTO items VALUES('2057775139&ver',
        'KAHI 가히 링클 바운스 멀티밤 보습 밤 스틱 9g (HI)',
        27500,
        27500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '48',
    '2057775139&ver')
INSERT INTO items VALUES('769284968&ver',
        '[라벨영]호랑이비누 1+1+1 /민감+예민 피부진정/병풀추출물',
        39300,
        11800,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '49',
    '769284968&ver')
INSERT INTO items VALUES('822286652&ver',
        '클리오/페리페라 外 3월 한정세일 ~50%',
        45000,
        25600,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '50',
    '822286652&ver')
INSERT INTO items VALUES('1735275469&ver',
        '[아모스프로페셔널]1+1 아모스 컬링에센스 2X 150ml',
        17500,
        15400,
        0,
        '아모스프로페셔널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '51',
    '1735275469&ver')
INSERT INTO items VALUES('2008049033&ver',
        '[바닐라코]클린잇제로 오리지날+폼클렌저 스타터세트',
        18000,
        13900,
        0,
        '바닐라코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '52',
    '2008049033&ver')
INSERT INTO items VALUES('1953448028&ver',
        '[닥터지]레드 블레미쉬 클리어 수딩 크림 70ml (튜브형) +키트',
        36000,
        25300,
        0,
        '닥터지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '53',
    '1953448028&ver')
INSERT INTO items VALUES('702421364&ver',
        '[우르오스]우르오스 올인원 스킨로션 지복합성/중건성 200ml',
        26730,
        24470,
        0,
        '우르오스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '54',
    '702421364&ver')
INSERT INTO items VALUES('2020824017&ver',
        'AHC 유스래스팅 리얼 아이크림 포 페이스 시즌9 30ml 4개 +12ml',
        29300,
        28060,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '55',
    '2020824017&ver')
INSERT INTO items VALUES('1822123895&ver',
        '[헤드앤숄더]헤드앤숄더 애플 프레쉬 샴푸 850ml 4개 +사은품',
        58000,
        22900,
        0,
        '헤드앤숄더')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '56',
    '1822123895&ver')
INSERT INTO items VALUES('1957754394&ver',
        '[실크테라피]실크테라피 인리치드 헤어에센스 특별구성 총 900ml',
        74900,
        59900,
        0,
        '실크테라피')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '57',
    '1957754394&ver')
INSERT INTO items VALUES('2052349696&ver',
        '[프리메라]페이셜 마일드 필링 대용량 250ml+세안밴드(3월한정)',
        42000,
        31500,
        0,
        '프리메라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '58',
    '2052349696&ver')
INSERT INTO items VALUES('1976906260&ver',
        '가히 링클바운스 멀티밤 9g x1박스 /An',
        30000,
        29850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '59',
    '1976906260&ver')
INSERT INTO items VALUES('1863024867&ver',
        '[려]자양윤모 탈모증상케어 비듬두피 샴푸 400ml 3개',
        29900,
        19900,
        0,
        '려')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '60',
    '1863024867&ver')
INSERT INTO items VALUES('2050152528&ver',
        '[SK II](신세계강남점)(3G) 피테라 풀라인업  세트',
        99000,
        98510,
        0,
        'SK-II')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '61',
    '2050152528&ver')
INSERT INTO items VALUES('1958345657&ver',
        '[라운드랩]1025 독도 토너 500ml 1개',
        17070,
        17070,
        0,
        '라운드랩')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '62',
    '1958345657&ver')
INSERT INTO items VALUES('542263037&ver',
        '[시투와이]C2Y 아쿠아 휩 폼클렌징 대용량 220ml 2개 클렌징폼',
        11800,
        5900,
        0,
        '시투와이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '63',
    '542263037&ver')
INSERT INTO items VALUES('2005594409&ver',
        '[ahc]AHC 타임리와인드 아이크림 12ml 10개+샘플증정',
        31200,
        31200,
        0,
        'AHC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '64',
    '2005594409&ver')
INSERT INTO items VALUES('1859652880&ver',
        '손소독제 리프레시 세니타이저겔 400ml 5개',
        10000,
        10000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '65',
    '1859652880&ver')
INSERT INTO items VALUES('1746131306&ver',
        '헤드스파7 트리트먼트 더 프리미엄 패키지  파란눈2(210ml 7+50ml 2+5ml 2)',
        88000,
        74800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '66',
    '1746131306&ver')
INSERT INTO items VALUES('1668008997&ver',
        '[입큰]스킨 피니쉬 팩트 본품+리필/2세트구매시증정',
        19800,
        9900,
        0,
        '입큰')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '67',
    '1668008997&ver')
INSERT INTO items VALUES('1722514956&ver',
        '[뉴트로지나]뉴트로지나 데일리 바디 로션 450ml 2개',
        30400,
        17900,
        0,
        '뉴트로지나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '68',
    '1722514956&ver')
INSERT INTO items VALUES('1751191014&ver',
        '[라벨영]쇼킹 죽음의필링젤  /허연각질+묵은때 제거/3초필링',
        17800,
        8900,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '69',
    '1751191014&ver')
INSERT INTO items VALUES('1524089559&ver',
        '[헤라]헤라 블랙 쿠션 15gx2 (본품+리필)',
        35900,
        35720,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '70',
    '1524089559&ver')
INSERT INTO items VALUES('1512841882&ver',
        '[설화수]설화수 자음 2종 기획세트 +쇼핑백 {SH0907}',
        165800,
        82900,
        0,
        '설화수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '71',
    '1512841882&ver')
INSERT INTO items VALUES('1171316168&ver',
        '[티에스]골드플러스TS샴푸 500ml + 500ml + 샘플2장',
        35900,
        32310,
        0,
        'TS')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '72',
    '1171316168&ver')
INSERT INTO items VALUES('1482449872&ver',
        '[헤드앤숄더]헤드앤숄더 가려운두피 샴푸 850ml 2개',
        31000,
        15500,
        0,
        '헤드앤숄더')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '73',
    '1482449872&ver')
INSERT INTO items VALUES('1600150728&ver',
        '태극제약 TG도미나스 기미크림 50g',
        32400,
        29160,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '74',
    '1600150728&ver')
INSERT INTO items VALUES('1807958962&ver',
        '스와니브 올인원 스킨 로션 에센스 남성 화장품 1000ml',
        39800,
        39800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '75',
    '1807958962&ver')

INSERT INTO items VALUES('2006226626&ver',
        '[숨37](신세계강남점)[SSG]시크릿 에센스 45ml',
        45000,
        38250,
        0,
        '숨37˚')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '76',
    '2006226626&ver')
INSERT INTO items VALUES('1686066496&ver',
        '[프레쥬]프레쥬 자연약쑥 진정수분크림 100ml 1+1',
        16900,
        12900,
        0,
        '프레쥬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '77',
    '1686066496&ver')
INSERT INTO items VALUES('2044162552&ver',
        '바이탈 캡슐앰플 6입+ 워터젯 마스크팩 (한정수량)',
        15000,
        4890,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '78',
    '2044162552&ver')
INSERT INTO items VALUES('2026632380&ver',
        'KAHI 가히 링클 바운스 멀티밤 9g',
        27700,
        27500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '79',
    '2026632380&ver')
INSERT INTO items VALUES('1793138229&ver',
        '[어퓨]어퓨 기초/색조 최대 60% 신학기 메이크업',
        26600,
        13300,
        0,
        '어퓨')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '80',
    '1793138229&ver')
INSERT INTO items VALUES('2007115279&ver',
        '[세타필]세타필 카카오프렌즈 500개한정판(로션+크림+굿즈3종)',
        26900,
        26770,
        0,
        '세타필')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '81',
    '2007115279&ver')
INSERT INTO items VALUES('1686003895&ver',
        '[미쟝센]미쟝센 퍼펙트세럼 오리지널 80mlx3개',
        20900,
        20900,
        0,
        '미쟝센')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '82',
    '1686003895&ver')
INSERT INTO items VALUES('572726361&ver',
        '[본트리]백탁 끈적임NO 썬크림/수분 선크림 1+1+1 50만개 돌파',
        19000,
        17900,
        0,
        '본트리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '83',
    '572726361&ver')
INSERT INTO items VALUES('1884553078&ver',
        '[바닐라코]미스 플라워 앤 미스터 허니 토너 로션 세트',
        59900,
        29900,
        0,
        '바닐라코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '84',
    '1884553078&ver')
INSERT INTO items VALUES('1163118472&ver',
        '[온더바디]온더바디 더내추럴 코코넛 바디워시 900g 3개 +증정',
        23900,
        12900,
        0,
        '온더바디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '85',
    '1163118472&ver')
INSERT INTO items VALUES('127767547&ver',
        '[토소웅]남성2종세트 맨즈부스터 스킨+로션+여행용세트',
        29800,
        29800,
        0,
        '토소웅')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '86',
    '127767547&ver')
INSERT INTO items VALUES('875121923&ver',
        '클럽클리오 클리어런스 9900 균일가 外 ~79%',
        22000,
        9900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '87',
    '875121923&ver')
INSERT INTO items VALUES('1868241973&ver',
        'TS 염색제 / 샴푸 / 트리트먼트 세트 균일가 총출동',
        47700,
        47470,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '88',
    '1868241973&ver')
INSERT INTO items VALUES('2044188235&ver',
        '[시타(뷰티)]시타 인텐시브 포뮬러 페이셜 수분크림 4개 기획세트',
        29800,
        24660,
        0,
        '시타(뷰티)')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '89',
    '2044188235&ver')
INSERT INTO items VALUES('1543564283&ver',
        '퀸즈헤나 정품 천연 염색약 레드 뉴브라운 내추럴',
        20000,
        18000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '90',
    '1543564283&ver')
INSERT INTO items VALUES('830373720&ver',
        '(라입) 아르간오일 100ml 1+1+1/헤어에센스/헤어오일',
        9900,
        8910,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '91',
    '830373720&ver')
INSERT INTO items VALUES('1505743733&ver',
        '[세타필]세타필 대용량1+1(로션 473ml+로션 473ml)',
        25900,
        25770,
        0,
        '세타필')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '92',
    '1505743733&ver')
INSERT INTO items VALUES('549246914&ver',
        '[우르오스]스킨 워시 500ml x 2개/ 우르오스',
        34580,
        31650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '93',
    '549246914&ver')
INSERT INTO items VALUES('1926386107&ver',
        '[아벤느](공식판매) 시칼파트 S.O.S크림 40ml(1+1) 구버전',
        19000,
        19000,
        0,
        '아벤느')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '94',
    '1926386107&ver')
INSERT INTO items VALUES('1948001225&ver',
        '[도브]16개 Dove 미국 직구 센서티브바 센스티브 뷰티바 스킨 올인원 비누 솝 샴푸 바디워시 106 g 빠른직구',
        29100,
        26190,
        0,
        '도브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '95',
    '1948001225&ver')
INSERT INTO items VALUES('1527653312&ver',
        '[미쟝센]미쟝센 펄 스무스 실키 모이스처샴푸 900ml 4개',
        33000,
        22000,
        0,
        '미쟝센')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '96',
    '1527653312&ver')
INSERT INTO items VALUES('2052268112&ver',
        '[해피바스]해피바스 두보레 후리지아 에센스비누 20개',
        29900,
        12900,
        0,
        '해피바스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '97',
    '2052268112&ver')
INSERT INTO items VALUES('1946988574&ver',
        '[온더바디]발을씻자 코튼 풋샴푸 쿨링 385ml 3개+사은품',
        23900,
        13500,
        0,
        '온더바디')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '98',
    '1946988574&ver')
INSERT INTO items VALUES('2052357697&ver',
        '[프리메라]페이셜 마일드 필링 대용량 250ml+망사파우치(3월한정)',
        42000,
        31500,
        0,
        '프리메라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '99',
    '2052357697&ver')
INSERT INTO items VALUES('1705902371&ver',
        '[아모스프로페셔널]리페어포스 키토 트리트먼트 750ml',
        36250,
        32630,
        0,
        '아모스프로페셔널')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    'ALL',
    '100',
    '1705902371&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '1',
    '1914140738&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '2',
    '705589608&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '3',
    '1807235725&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '4',
    '965932187&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '5',
    '1911383377&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '6',
    '1926116893&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '7',
    '1107177865&ver')

INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '8',
    '767423273&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '9',
    '667938939&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '10',
    '549071355&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '11',
    '1472697362&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '12',
    '1919705239&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '13',
    '462942360&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '14',
    '1728108083&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '15',
    '2036689384&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '16',
    '818391700&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '17',
    '1604484944&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '18',
    '848957621&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '19',
    '1571468785&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '20',
    '1579205773&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '21',
    '985661688&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '22',
    '2052301789&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '23',
    '2060477732&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '24',
    '1807191272&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '25',
    '1714457661&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '26',
    '990366637&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '27',
    '2057775139&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '28',
    '769284968&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '29',
    '822286652&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '30',
    '2008049033&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '31',
    '1953448028&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '32',
    '2020824017&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '33',
    '2052349696&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '34',
    '1976906260&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '35',
    '2050152528&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '36',
    '1958345657&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '37',
    '542263037&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '38',
    '2005594409&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '39',
    '1859652880&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '40',
    '1668008997&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '41',
    '1751191014&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '42',
    '1524089559&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '43',
    '1512841882&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '44',
    '1600150728&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '45',
    '2006226626&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '46',
    '1686066496&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '47',
    '2044162552&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '48',
    '2026632380&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '49',
    '1793138229&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '50',
    '572726361&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '51',
    '1884553078&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '52',
    '2044188235&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '53',
    '1926386107&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '54',
    '2052268112&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '55',
    '2052357697&ver')
INSERT INTO items VALUES('1574191696&ver',
        '[헤라]헤라 선 메이트 프로텍터 50ml NEW {HE0097}',
        24800,
        22320,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '56',
    '1574191696&ver')
INSERT INTO items VALUES('1779547142&ver',
        '[헤라]헤라 선 메이트 데일리 70ml 2020년 신상품',
        22100,
        19890,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '57',
    '1779547142&ver')
INSERT INTO items VALUES('1868670735&ver',
        '(델리뷰티) 젤네일 런칭기념 SALE + 사은품까지',
        29000,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '58',
    '1868670735&ver')
INSERT INTO items VALUES('1889702312&ver',
        '[달바]화이트 트러플 미스트 세럼 180ml+180ml 대용량 1+1',
        42000,
        41790,
        0,
        '달바')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '59',
    '1889702312&ver')
INSERT INTO items VALUES('1778758280&ver',
        '[라벨영]쇼킹사과초클렌저 1+1+1/개기름+피지+블랙헤드 제거',
        39800,
        19900,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '60',
    '1778758280&ver')

INSERT INTO items VALUES('1577540011&ver',
        '[바이오더마]바이오더마 아토덤 크림 500ml x 2개',
        30760,
        30610,
        0,
        '바이오더마')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '61',
    '1577540011&ver')
INSERT INTO items VALUES('1976910566&ver',
        '가히 링클바운스 멀티밤 9g x1박스 /HY',
        30000,
        29850,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '62',
    '1976910566&ver')
INSERT INTO items VALUES('2002067620&ver',
        '[ahc]AHC 리얼 아이크림 포 페이스 시즌9 30ml 4개',
        26900,
        24210,
        0,
        'AHC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '63',
    '2002067620&ver')
INSERT INTO items VALUES('1678643774&ver',
        '[롬앤]롬앤 인기상품 선물세트 기획전~78%off',
        24000,
        14900,
        0,
        '롬앤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '64',
    '1678643774&ver')
INSERT INTO items VALUES('1545205660&ver',
        '[설화수]설화수 인기세트+신세계상품권증정',
        120000,
        108000,
        0,
        '설화수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '65',
    '1545205660&ver')
INSERT INTO items VALUES('1119049865&ver',
        '맥퀸뉴욕 워터프루프 젤 아이라이너 1+1+1 (+샤프너)',
        29600,
        8900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '66',
    '1119049865&ver')
INSERT INTO items VALUES('1619260538&ver',
        '[홍샷]홍샷 파워래스팅 파운데이션  1+1 홍진영메이크업',
        65000,
        19500,
        0,
        '홍샷')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '67',
    '1619260538&ver')
INSERT INTO items VALUES('1833217083&ver',
        '엠시피 번짐없는 시크 펜 아이라이너 1+1 한정특가',
        33000,
        9740,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '68',
    '1833217083&ver')
INSERT INTO items VALUES('1918568595&ver',
        '[바닐라코]클린잇제로 클렌징밤 유니콘에디션 대용량 2개 +증정',
        50000,
        37500,
        0,
        '바닐라코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '69',
    '1918568595&ver')
INSERT INTO items VALUES('718620767&ver',
        '[넬라판타지아]달팽이크림1+1대용량특가/수분+영양+탄력+피부개선',
        24900,
        19780,
        0,
        '넬라판타지아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '70',
    '718620767&ver')
INSERT INTO items VALUES('973390624&ver',
        '[치노시오야]치노시오야 내추럴포어 클렌징 오일',
        32700,
        28780,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '71',
    '973390624&ver')
INSERT INTO items VALUES('1887286570&ver',
        '[달바]워터풀 에센스 선크림 50ml (1+1)',
        32000,
        32000,
        0,
        '달바')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '72',
    '1887286570&ver')
INSERT INTO items VALUES('2063852217&ver',
        '[리코셀]병풀+약쑥 슈퍼 진정 크림 500g/대용량 열+붉은기 개선',
        35000,
        35000,
        0,
        '리코셀')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '73',
    '2063852217&ver')
INSERT INTO items VALUES('1932468414&ver',
        '[한국화장품]쥬단학 천삼 기초세트 완벽더블구성',
        69000,
        67660,
        0,
        '한국화장품')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '74',
    '1932468414&ver')
INSERT INTO items VALUES('1895809355&ver',
        '[참존]참존  초대박구성  최대용량크림 트리플 패키지',
        42900,
        42690,
        0,
        '참존')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '75',
    '1895809355&ver')
INSERT INTO items VALUES('1958069957&ver',
        '[라벨영]쇼킹허니타이거크림 /속건조+예민 피부진정/병풀추출물',
        39600,
        11900,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '76',
    '1958069957&ver')
INSERT INTO items VALUES('2063845224&ver',
        '[리코셀]비타민 슈퍼 미백 크림 500g/대용량 주름+탄력+톤업',
        35000,
        35000,
        0,
        '리코셀')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '77',
    '2063845224&ver')
INSERT INTO items VALUES('1821454727&ver',
        '닥터큐비누 정품 N바',
        38900,
        35010,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '78',
    '1821454727&ver')
INSERT INTO items VALUES('1180543415&ver',
        '[뉴트로지나]딥클린 클렌징오일 200ml 3개+사은품',
        44750,
        26900,
        0,
        '뉴트로지나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '79',
    '1180543415&ver')
INSERT INTO items VALUES('1976794757&ver',
        '가히 링클바운스 멀티밤 9g x1박스 /An',
        27300,
        27170,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '80',
    '1976794757&ver')
INSERT INTO items VALUES('2023050702&ver',
        '[아이오페]아이오페 슈퍼바이탈 2종 단품 세트 (소프너+에멀젼)',
        88700,
        88700,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '81',
    '2023050702&ver')
INSERT INTO items VALUES('808946882&ver',
        '[블랙아웃]뷰티영 블랙아웃미백크림/기미',
        67000,
        67000,
        0,
        '블랙아웃')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '82',
    '808946882&ver')
INSERT INTO items VALUES('1352303814&ver',
        '[미바]정동원모델 미바 비비크림/왕쿠션 外 메이크업',
        36000,
        18000,
        0,
        '미바')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '83',
    '1352303814&ver')
INSERT INTO items VALUES('1758130320&ver',
        '리리코스 에이지오버 마린 앰플 단품세트/4종기초세트',
        55000,
        49500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '84',
    '1758130320&ver')
INSERT INTO items VALUES('1946006300&ver',
        '[디올]디올 어딕트 립글로우 핑크/코랄/라일락/베리',
        32900,
        32740,
        0,
        '디올')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '85',
    '1946006300&ver')
INSERT INTO items VALUES('2002116088&ver',
        '가히 멀티밤 주름케어 김고은 KAHI 링클바운스 9g',
        37900,
        34110,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '86',
    '2002116088&ver')
INSERT INTO items VALUES('1653023975&ver',
        '[에이지투웨니스]핑크다이아팩트 기획세트 21호',
        41900,
        37900,
        0,
        '에이지투웨니스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '87',
    '1653023975&ver')
INSERT INTO items VALUES('1776018412&ver',
        '[뉴트로지나]딥클린 폼클렌져 220g 리미티드에디션 3개',
        42530,
        25600,
        0,
        '뉴트로지나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '88',
    '1776018412&ver')
INSERT INTO items VALUES('1590959801&ver',
        '한스킨으로 준비해봄 스프링세일 기념 최대 83% 할인',
        54000,
        16900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '89',
    '1590959801&ver')

INSERT INTO items VALUES('1782756250&ver',
        '동국제약 센텔리안24 마데카크림 시즌5 50ml x2',
        21900,
        19710,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '90',
    '1782756250&ver')
INSERT INTO items VALUES('2016744933&ver',
        '[더마토리]더마토리 프로히알샷 물광앰플 더블에디션 기획세트',
        52000,
        26000,
        0,
        '더마토리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '91',
    '2016744933&ver')
INSERT INTO items VALUES('1547437558&ver',
        '[설화수]설화수 탄력에센셜 3종 기획세트 +쇼핑백 {SH2809}',
        115000,
        103500,
        0,
        '설화수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '92',
    '1547437558&ver')
INSERT INTO items VALUES('2060477769&ver',
        '[SK II](신세계강남점)(MI3)  R.N.A. 파워 크림 80g 세트 (택1)',
        199000,
        199000,
        0,
        'SK-II')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '93',
    '2060477769&ver')
INSERT INTO items VALUES('1884551400&ver',
        '[바닐라코]미스 플라워 앤 미스터 허니 미스트크림 세트',
        69900,
        39900,
        0,
        '바닐라코')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '94',
    '1884551400&ver')
INSERT INTO items VALUES('1592984484&ver',
        '[셀퓨전씨][셀퓨전씨] 트리악 클리어 썬스크린 50ml+50ml(+스킨비비 10ml + 인텐시브 비비 파우치 2매)',
        39000,
        30230,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '95',
    '1592984484&ver')
INSERT INTO items VALUES('2053545625&ver',
        '[케라셀]케라셀네일 손톱 발톱 영양제 강화제 독일 정품',
        24900,
        24900,
        0,
        '케라셀')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '96',
    '2053545625&ver')
INSERT INTO items VALUES('1911490329&ver',
        '[닥터지]브라이트닝 필링 젤 120g +60g',
        19000,
        17510,
        0,
        '닥터지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '97',
    '1911490329&ver')
INSERT INTO items VALUES('2052768537&ver',
        '[이니스프리]톤업 노세범 선스크린 50mL 톤업선크림 무기자차',
        13000,
        10400,
        0,
        '이니스프리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '98',
    '2052768537&ver')
INSERT INTO items VALUES('1721617179&ver',
        '인셀덤 발라또 오일 미스트',
        23800,
        23690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '99',
    '1721617179&ver')
INSERT INTO items VALUES('1790974456&ver',
        '[닥터브로너스]닥터 브로너스  퓨어 캐스틸 솝 950ml+펌프',
        24800,
        24680,
        0,
        '닥터브로너스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장품',
    '100',
    '1790974456&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G03&subGroupCode=S011 화장품
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '1',
    '848957621&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '2',
    '1755755844&ver')
INSERT INTO items VALUES('2011056895&ver',
        '[더블유드레스룸]웹툰 여신강림과 콜라보 여신 퍼퓸 핸드크림 3종 세트',
        41700,
        13900,
        0,
        '더블유드레스룸')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '3',
    '2011056895&ver')
INSERT INTO items VALUES('1756873531&ver',
        '[이솝]갤러리아  레저렉션 아로마틱 핸드 워시 500mL',
        50000,
        45000,
        0,
        '이솝')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '4',
    '1756873531&ver')
INSERT INTO items VALUES('2042197604&ver',
        '[최신상 220매] 니슬 리프팅 패치 메인 구성',
        188000,
        178600,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '5',
    '2042197604&ver')
INSERT INTO items VALUES('2060472842&ver',
        '[SK II](신세계강남점)(3MR) 마스크 10매 세트 (택1)',
        154000,
        154000,
        0,
        'SK-II')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '6',
    '2060472842&ver')
INSERT INTO items VALUES('1942684291&ver',
        '[리코셀]1일1팩 촉촉순한 마스크팩 10종x10장 총100장 2번세트',
        31800,
        15900,
        0,
        '리코셀')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '7',
    '1942684291&ver')
INSERT INTO items VALUES('1183011756&ver',
        '[뉴트로지나]뉴트로지나 인텐스 리페어 핸드크림 56g 3개',
        16900,
        11900,
        0,
        '뉴트로지나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '8',
    '1183011756&ver')
INSERT INTO items VALUES('995579128&ver',
        '[과일나라]제주 자연 마스크팩 100매/녹차 알로에 유채꿀 화산재',
        21800,
        21800,
        0,
        '과일나라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '9',
    '995579128&ver')
INSERT INTO items VALUES('1183007188&ver',
        '[뉴트로지나]뉴트로지나 인텐스 리페어 풋크림 56g 3개',
        23500,
        15800,
        0,
        '뉴트로지나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '10',
    '1183007188&ver')
INSERT INTO items VALUES('1943070212&ver',
        '[라벨영]홈케어 죽여버리기 /생기+피부 진정/기초케어+마스크팩',
        46300,
        13900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '11',
    '1943070212&ver')
INSERT INTO items VALUES('1196441401&ver',
        '[안나홀츠]1일1팩 천연 순면 에센스 겔 마스크팩 시트 4종 100매',
        68000,
        34000,
        0,
        '안나홀츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '12',
    '1196441401&ver')
INSERT INTO items VALUES('1852088322&ver',
        '[라벨영]쇼킹미백크림팩 /검버섯+기미+색소침착 제거/즉각톤업',
        39000,
        11900,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '13',
    '1852088322&ver')
INSERT INTO items VALUES('1810467864&ver',
        '라비오뜨 풀업 콜라겐마스크1(70매)',
        47900,
        47900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '14',
    '1810467864&ver')
INSERT INTO items VALUES('2042170694&ver',
        '[최신상 110매] 니슬 리프팅 패치 싱글 구성',
        99000,
        94050,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '15',
    '2042170694&ver')
INSERT INTO items VALUES('1723607636&ver',
        '끌레드벨 리프트 페이스 리프트 프로그램 최다패키지 ',
        99000,
        74250,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '16',
    '1723607636&ver')
INSERT INTO items VALUES('846282242&ver',
        '[화해1위/린제이] 프리미엄 쿨 티트리 모델링팩 1kg',
        13900,
        13900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '17',
    '846282242&ver')
INSERT INTO items VALUES('1540050861&ver',
        '[다자연]자연의벗 다자연 어성초 마스크팩 30매',
        27000,
        27000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '18',
    '1540050861&ver')
INSERT INTO items VALUES('1720027088&ver',
        '[JHP]20%쿠폰/콜라겐 탄력 미백 139뽑아쓰는 마스크팩30매',
        15900,
        15900,
        0,
        'JHP')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '19',
    '1720027088&ver')

INSERT INTO items VALUES('120414687&ver',
        '[청정미인]청정미인 에센스 마스크팩 100매 2세트구매시+10매증정',
        21800,
        21800,
        0,
        '청정미인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '20',
    '120414687&ver')
INSERT INTO items VALUES('795889245&ver',
        '[푸드어홀릭](100매+무배)1일1팩 푸드어홀릭 네이처스킨 마스크팩',
        15700,
        14130,
        0,
        '푸드어홀릭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '21',
    '795889245&ver')
INSERT INTO items VALUES('219786402&ver',
        '[린제이]화해 1위 린제이 모델링팩 1kg (외22종)',
        14900,
        14900,
        0,
        '린제이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '22',
    '219786402&ver')
INSERT INTO items VALUES('1732114969&ver',
        '메디힐/닥터자르트/바노바기 인기 마스크팩 38종 모음',
        9800,
        8820,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '23',
    '1732114969&ver')
INSERT INTO items VALUES('986498513&ver',
        '[네이처리퍼블릭]10+10 리얼 네이처 에센스 마스크팩/팩 오이+알로에',
        10000,
        10000,
        0,
        '네이처리퍼블릭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '24',
    '986498513&ver')
INSERT INTO items VALUES('703803762&ver',
        '미팩토리 3단 돼지코팩 10매/블랙헤드/모공팩',
        20000,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '25',
    '703803762&ver')
INSERT INTO items VALUES('1336603695&ver',
        '[메디힐]10+10 메디힐 마스크팩 티트리 콜라겐 NMF 레몬',
        13000,
        11700,
        0,
        '메디힐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '26',
    '1336603695&ver')
INSERT INTO items VALUES('294701721&ver',
        '[바세린]바세린 핸드크림 대용량 핸드로션 500mlX2개',
        10900,
        10900,
        0,
        '바세린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '27',
    '294701721&ver')
INSERT INTO items VALUES('999321772&ver',
        '[과일나라]과일나라 바세린 핸드크림/핸드로션 대용량 500ml 1+1',
        10900,
        10900,
        0,
        '과일나라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '28',
    '999321772&ver')
INSERT INTO items VALUES('2021588263&ver',
        '[메디앤서]메디앤서 콜라겐 마스크팩 더블세트',
        179000,
        179000,
        0,
        '메디앤서')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '29',
    '2021588263&ver')
INSERT INTO items VALUES('1314128202&ver',
        '[록시땅][록시땅] 시어 드라이 스킨 핸드 크림 150ml',
        38000,
        31160,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '30',
    '1314128202&ver')
INSERT INTO items VALUES('585855501&ver',
        '[메디플라워]시크릿 가든 5종 핸드크림 세트/선물세트 1+1/5+1덤',
        10500,
        9450,
        0,
        '메디플라워')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '31',
    '585855501&ver')
INSERT INTO items VALUES('816518354&ver',
        '[휴족시간]쿨링시트 6매입 x10개+젤시트4매입x1개/휴가필수품',
        27900,
        27760,
        0,
        '휴족시간')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '32',
    '816518354&ver')
INSERT INTO items VALUES('1776926615&ver',
        '[파파레서피]리뉴얼 가지 클리어링 머드 크림 마스크 100ml',
        15000,
        11930,
        0,
        '파파레서피')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '33',
    '1776926615&ver')
INSERT INTO items VALUES('311337576&ver',
        '비단발크림 6종 리뷰20000개 풋케어 발각질제거제',
        39900,
        35910,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '34',
    '311337576&ver')
INSERT INTO items VALUES('2052752411&ver',
        '[니슬]시즌2 니슬 더마 필름 리프팅 패치 넥1박스+아이1박스',
        26400,
        26400,
        0,
        '니슬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '35',
    '2052752411&ver')
INSERT INTO items VALUES('1499856764&ver',
        '[휴족시간]휴족시간 쿨링시트 6매입 x5개/총 30매/ 지퍼백포장',
        13900,
        13900,
        0,
        '휴족시간')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '36',
    '1499856764&ver')
INSERT INTO items VALUES('370925283&ver',
        '[아트릭스]아트릭스 핸드앤네일 모이스춰 400mlx2개 핸드크림',
        15900,
        14310,
        0,
        '아트릭스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '37',
    '370925283&ver')
INSERT INTO items VALUES('1454736297&ver',
        '약손명가 리프팅 프로그램 밴드 +마스크팩 2매 증정',
        27400,
        24000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '38',
    '1454736297&ver')
INSERT INTO items VALUES('1931292402&ver',
        '[ahc][최신상 1일 1팩] AHC 진정/탄력/브라이트닝 순면 마스크팩 114매',
        69900,
        66410,
        0,
        'AHC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '39',
    '1931292402&ver')
INSERT INTO items VALUES('1566923300&ver',
        '[아트릭스]아트릭스 핸드앤네일로션 400ml 2개',
        12900,
        11610,
        0,
        '아트릭스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '40',
    '1566923300&ver')
INSERT INTO items VALUES('1248448686&ver',
        '[샤샤]1+1+1 밀크 앤 허니 대용량 3종 핸드크림 500ml /로션',
        16000,
        14300,
        0,
        '샤샤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '41',
    '1248448686&ver')
INSERT INTO items VALUES('1473563631&ver',
        '[더에스유]더에스유 골드 아이패치 프리미엄하이드로겔 44%초특가',
        34000,
        19000,
        0,
        '더에스유')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '42',
    '1473563631&ver')
INSERT INTO items VALUES('1836222410&ver',
        '[록시땅]갤러리아   기프트 록시땅 클래식 핸드 크림 트리오',
        42000,
        35700,
        0,
        '록시땅')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '43',
    '1836222410&ver')
INSERT INTO items VALUES('312187501&ver',
        '[바세린]바세린 핸드크림 대용량 핸드로션 500mlX2개 24h보습감',
        10900,
        10900,
        0,
        '바세린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '44',
    '312187501&ver')
INSERT INTO items VALUES('1752115761&ver',
        '[에스앤피]SNP 스킨케어 맛집 UP TO 91%/아이패치/마스크 外',
        32000,
        9700,
        0,
        'SNP')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '45',
    '1752115761&ver')
INSERT INTO items VALUES('2056666645&ver',
        '[닥터자르트]세라마이딘 핸드크림 50ml 1+1 /CMA0157G0/',
        24000,
        12000,
        0,
        '닥터자르트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '46',
    '2056666645&ver')
INSERT INTO items VALUES('1674105758&ver',
        '[BRTC]비타민 수면팩 화이트닝 슬리핑 팩 100mlX2ea /G175904',
        24200,
        18780,
        0,
        'Brtc')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '47',
    '1674105758&ver')
INSERT INTO items VALUES('1785728278&ver',
        '[네이처바이(건강식품)]플러스 마스크팩 혼합100매 네이처바이 텐셀시트',
        23000,
        23000,
        0,
        '네이처바이(건강식품)')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '48',
    '1785728278&ver')

INSERT INTO items VALUES('1802960646&ver',
        '[Cocopharm]알로에 에센스 마스크팩 100매 네이처바이 대용량팩',
        18500,
        18410,
        0,
        '코코팜')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '49',
    '1802960646&ver')
INSERT INTO items VALUES('2023145943&ver',
        '[ahc]AHC 에센셜 내추럴 시트 마스크 124장 패키지(딥 모이스트 마스크)',
        73000,
        72640,
        0,
        'AHC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '50',
    '2023145943&ver')
INSERT INTO items VALUES('1744130931&ver',
        '[아비브]아비브 껌딱지 어성초 ph시트 마스크팩 10p',
        20000,
        20000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '51',
    '1744130931&ver')
INSERT INTO items VALUES('1880113101&ver',
        '(홈쇼핑완판템) 바이탈 캡슐앰플 30입 + 캡슐앰플6입 + 마스크팩 2매입/ 닥터자르트',
        29800,
        23700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '52',
    '1880113101&ver')
INSERT INTO items VALUES('1340570880&ver',
        '블랙 물광 마스크 30매 (2021.7 까지)(T)',
        19900,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '53',
    '1340570880&ver')
INSERT INTO items VALUES('1845792791&ver',
        'Abib 아비브 약산성 pH 시트 마스크 어성초 핏 30ml 10',
        16400,
        16320,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '54',
    '1845792791&ver')
INSERT INTO items VALUES('1817268769&ver',
        '네이처바이 에센스 마스크팩 A타입 /10종x10매 총100매',
        18500,
        18500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '55',
    '1817268769&ver')
INSERT INTO items VALUES('1608843865&ver',
        '[일리윤]일리윤 연꽃 수분 마스크팩 50매',
        19900,
        19900,
        0,
        '일리윤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '56',
    '1608843865&ver')
INSERT INTO items VALUES('190857438&ver',
        '[루벨리]뷰티페이스 프리미엄 리프팅밴드 1개 마스크팩 7매',
        29000,
        28900,
        0,
        '루벨리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '57',
    '190857438&ver')
INSERT INTO items VALUES('1898138067&ver',
        '[설화수]설화수 옥용팩 150ml {SH3044}',
        29800,
        26820,
        0,
        '설화수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '58',
    '1898138067&ver')
INSERT INTO items VALUES('2050947966&ver',
        '[라벨영]홈케어죽여버리기 1+1/생기+진정/기초케어+마스크팩',
        25900,
        25900,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '59',
    '2050947966&ver')
INSERT INTO items VALUES('2005063405&ver',
        '메디앤서/Medianswer  콜라겐 퍼밍업 탄력마스크 싱글세트',
        69900,
        68550,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '60',
    '2005063405&ver')
INSERT INTO items VALUES('1441642727&ver',
        '[라벨영]쇼킹 허브약초팩 /여x름균+흉l터 진정/효과보장/진정팩',
        39000,
        11900,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '61',
    '1441642727&ver')
INSERT INTO items VALUES('1402022407&ver',
        '[더마토리]하이포알러제닉 시카 레스큐 거즈 패드 60매',
        12400,
        11060,
        0,
        '더마토리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '62',
    '1402022407&ver')
INSERT INTO items VALUES('989202292&ver',
        '[네이처리퍼블릭]리얼 네이처 마스크시트 14종 30매 특가 / 마스크팩',
        15800,
        14220,
        0,
        '네이처리퍼블릭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '63',
    '989202292&ver')
INSERT INTO items VALUES('1548283658&ver',
        '[메이베나]메이베나 1일 1팩 뽑아쓰는 마스크 팩 수분팩 30매',
        19800,
        19800,
        0,
        '메이베나')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '64',
    '1548283658&ver')
INSERT INTO items VALUES('1577847133&ver',
        '[나이팅게일]나이팅게일 타코팩 노즈 5매입 + 사은품 증정',
        18000,
        8900,
        0,
        '나이팅게일')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '65',
    '1577847133&ver')
INSERT INTO items VALUES('1530571694&ver',
        '[바세린]대용량 고보습 바세린 핸드크림  500mlX2개 / 핸드로션',
        10900,
        10900,
        0,
        '바세린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '66',
    '1530571694&ver')
INSERT INTO items VALUES('1932920716&ver',
        '[러쉬]마스크 오브 매그너민티 125g - 페이스 앤 보디 마스크',
        20000,
        20000,
        0,
        '러쉬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '67',
    '1932920716&ver')
INSERT INTO items VALUES('1905493413&ver',
        '[더마픽스]퍼펙트 리얼 매트릭스 콜라겐 100 마스크팩 12매+증정',
        37200,
        37020,
        0,
        '더마픽스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '68',
    '1905493413&ver')
INSERT INTO items VALUES('1101028448&ver',
        '[프레티]1+1 쏘 굿 3스텝 발각질제거 마스크팩 /공룡발팩',
        20000,
        9900,
        0,
        '프레티')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '69',
    '1101028448&ver')
INSERT INTO items VALUES('1962234584&ver',
        '[Cocopharm]네이처바이 화이트닝 에센스 마스크팩 40매 기획전',
        17500,
        17420,
        0,
        '코코팜')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '70',
    '1962234584&ver')
INSERT INTO items VALUES('2001160668&ver',
        '[마몽드]레드 세럼 슬리핑마스크 30ml 기획세트',
        35000,
        29750,
        0,
        '마몽드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '71',
    '2001160668&ver')
INSERT INTO items VALUES('2052750151&ver',
        '[니슬]시즌2 니슬 더마 필름 리프팅 패치 넥1박스+아이1박스',
        23900,
        23900,
        0,
        '니슬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '72',
    '2052750151&ver')
INSERT INTO items VALUES('1581924308&ver',
        '[스킨푸드]1+1스킨푸드 블랙슈가 마스크 워시오프/라이스 마스크',
        14600,
        13140,
        0,
        '스킨푸드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '73',
    '1581924308&ver')
INSERT INTO items VALUES('1650579665&ver',
        '[아크로패스]아크로패스 트러블큐어 22패치/트러블패치',
        25300,
        22770,
        0,
        '아크로패스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '74',
    '1650579665&ver')
INSERT INTO items VALUES('2031064244&ver',
        '아이디 페이스핏 플러스 마이너스 케어 방송패키지',
        139000,
        132050,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '75',
    '2031064244&ver')
INSERT INTO items VALUES('1689140813&ver',
        '[아트릭스]무료배송/아트릭스 스트롱 프로텍션 크림 75ml 5개',
        15300,
        15230,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '76',
    '1689140813&ver')
INSERT INTO items VALUES('235134952&ver',
        '[과일나라]바세린 핸드크림 대용량 핸드로션 500mlX3개 파우더향',
        15400,
        15400,
        0,
        '과일나라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '77',
    '235134952&ver')

INSERT INTO items VALUES('1972570578&ver',
        '[바세린]바세린 핸드크림 대용량 핸드로션 5개 24시간 보습',
        7900,
        7900,
        0,
        '바세린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '78',
    '1972570578&ver')
INSERT INTO items VALUES('1890340469&ver',
        '[아비브]Abib 아비브 껌딱지 시트 마스크 어성초스티커 10매',
        14200,
        14130,
        0,
        '아비브')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '79',
    '1890340469&ver')
INSERT INTO items VALUES('2052743793&ver',
        '[니슬]시즌2 니슬 더마 필름 리프팅 패치 넥1박스+아이1박스',
        26400,
        26400,
        0,
        '니슬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '80',
    '2052743793&ver')
INSERT INTO items VALUES('1861663343&ver',
        '[록시땅]시어버터 드라이 스킨 핸드크림 150ml x2개 당일출고',
        63000,
        62590,
        0,
        '록시땅')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '81',
    '1861663343&ver')
INSERT INTO items VALUES('1940967728&ver',
        '아임프롬 허니마스크 현대 단독 방송 패키지',
        67000,
        56950,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '82',
    '1940967728&ver')
INSERT INTO items VALUES('1802955783&ver',
        '[네이처바이(건강식품)]콜라겐 에센스 마스크팩 100매 네이처바이 대용량팩',
        18500,
        18500,
        0,
        '네이처바이(건강식품)')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '83',
    '1802955783&ver')
INSERT INTO items VALUES('2024360712&ver',
        '[ahc][AHC] [아이크림마스크12매] 최신상  아이크림 시즌9 아이크림마스크 특별패키지',
        99000,
        89100,
        0,
        'AHC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '84',
    '2024360712&ver')
INSERT INTO items VALUES('2042197821&ver',
        '[최신상 110매] 니슬 리프팅 패치 싱글 구성',
        99000,
        92070,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '85',
    '2042197821&ver')
INSERT INTO items VALUES('492654291&ver',
        '마리에 에센스 마스크팩 100매 /2세트구매시+10매추가',
        17900,
        16110,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '86',
    '492654291&ver')
INSERT INTO items VALUES('1566961530&ver',
        '[아트릭스]아트릭스 핸드로션 스트롱 75ml 4개',
        12900,
        11610,
        0,
        '아트릭스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '87',
    '1566961530&ver')
INSERT INTO items VALUES('1663099769&ver',
        '[과일나라]5+5 센트드리머 퍼퓸 핸드크림 생일 선물 80g 10개',
        12800,
        11520,
        0,
        '과일나라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '88',
    '1663099769&ver')
INSERT INTO items VALUES('605282451&ver',
        '[퓨어덤]1일1팩/짐승용량 콜라겐마스크팩 50매+아이패치30매',
        9900,
        9900,
        0,
        '퓨어덤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '89',
    '605282451&ver')
INSERT INTO items VALUES('1101188878&ver',
        '[메디힐]티트리 케어 솔루션 마스크팩 10매',
        7900,
        7900,
        0,
        '메디힐')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '90',
    '1101188878&ver')
INSERT INTO items VALUES('708523382&ver',
        '[푸드어홀릭]푸드어홀릭 네이처스킨 마스크팩 16종 택1/골라담기',
        160,
        150,
        0,
        '푸드어홀릭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '91',
    '708523382&ver')
INSERT INTO items VALUES('886280366&ver',
        '[쁘띠페]드라이 에센스 손팩 20개',
        21900,
        21790,
        0,
        '쁘띠페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '92',
    '886280366&ver')
INSERT INTO items VALUES('333995896&ver',
        '[바세린]바세린 핸드크림 휴대용 핸드로션 대용량 60MLX6개',
        8900,
        8900,
        0,
        '바세린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '93',
    '333995896&ver')
INSERT INTO items VALUES('1420063715&ver',
        '태미스 센텔라 마스크팩II 주름관리/미백/보습 (61장)',
        39500,
        38520,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '94',
    '1420063715&ver')
INSERT INTO items VALUES('1825862344&ver',
        '[아크로패스]아크로패스 트러블큐어 22패치 x 2개/트러블패치',
        48600,
        43740,
        0,
        '아크로패스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '95',
    '1825862344&ver')
INSERT INTO items VALUES('1843925901&ver',
        '[설화수]설화수 여윤팩 120ml',
        30000,
        27000,
        0,
        '설화수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '96',
    '1843925901&ver')
INSERT INTO items VALUES('1462777649&ver',
        '[미진화장품]엠제이케어 콜라겐 마스크팩100매 주름개선 투명 보습',
        35000,
        33250,
        0,
        '미진화장품')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '97',
    '1462777649&ver')
INSERT INTO items VALUES('1455012863&ver',
        '[홀리카홀리카]퓨어 에센스 마스크시트 20매+막걸리마스크시트 5매증정',
        10000,
        8840,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '98',
    '1455012863&ver')
INSERT INTO items VALUES('1738401786&ver',
        '시크릿 미네랄리치 클라리파잉 머드마스크 100 ml',
        38700,
        34830,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '99',
    '1738401786&ver')
INSERT INTO items VALUES('2064186264&ver',
        '[이솝](현대백화점)이솝 레져렉션 아로마틱 핸드 밤(75mL)',
        31000,
        29450,
        0,
        '이솝')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '보습제품',
    '100',
    '2064186264&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G03&subGroupCode=S081 보습제품
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '1',
    '898903185&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '2',
    '1512720976&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '3',
    '702421364&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '4',
    '1807958962&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '5',
    '127767547&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '6',
    '549246914&ver')
INSERT INTO items VALUES('169990517&ver',
        '[던롭]엑스퍼트 프로텍션 올인원 200ml 1+1 남성 스킨 로션',
        19800,
        9900,
        0,
        '던롭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '7',
    '169990517&ver')
INSERT INTO items VALUES('1788181572&ver',
        '[니베아]니베아 맨 센서티브 원샷 올인원 로션 125ml 2개',
        19900,
        19800,
        0,
        '니베아')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '8',
    '1788181572&ver')
INSERT INTO items VALUES('1924020323&ver',
        '[그레이그라운드]올인원 듀얼 로션 남성 옴므 스킨+로션+에센스',
        27900,
        12760,
        0,
        '그레이그라운드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '9',
    '1924020323&ver')

INSERT INTO items VALUES('898921090&ver',
        '[우르오스]우르오스 올인원 스킨밀크/스킨로션 200ml 택1',
        26530,
        24410,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '10',
    '898921090&ver')
INSERT INTO items VALUES('1815356534&ver',
        '[ahc]AHC 온리포맨 올인원 에센스 120ml 2개/남성올인원',
        26000,
        26000,
        0,
        'AHC')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '11',
    '1815356534&ver')
INSERT INTO items VALUES('1262981096&ver',
        '블랙 2종 세트/ 오딧세이',
        75000,
        42380,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '12',
    '1262981096&ver')
INSERT INTO items VALUES('1870654209&ver',
        '[던롭]엑스퍼트 프로텍션 남성 스킨 로션 2+2 스페셜기획세트',
        29800,
        14900,
        0,
        '던롭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '13',
    '1870654209&ver')
INSERT INTO items VALUES('1521471802&ver',
        '[설화수]설화수 맨 본윤 2종 기획세트 {SH2026}',
        83800,
        75420,
        0,
        '설화수')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '14',
    '1521471802&ver')
INSERT INTO items VALUES('1927014270&ver',
        '[아이오페]아이오페 맨 스페셜 2종 기획세트',
        39600,
        39410,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '15',
    '1927014270&ver')
INSERT INTO items VALUES('895691464&ver',
        '[오딧세이]오딧세이(비치용) 스킨:로션 2종/로맨틱 2종세트 택1',
        27400,
        24660,
        0,
        '오딧세이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '16',
    '895691464&ver')
INSERT INTO items VALUES('1582603695&ver',
        '[에스까다 옴므]남성화장품 파워 모이스춰 올인원 Ex 150ml  1+1',
        29900,
        26910,
        0,
        '에스까다옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '17',
    '1582603695&ver')
INSERT INTO items VALUES('163916971&ver',
        '[퍼스트픽]{베스트셀러}입소문 남성화장품 미백 스킨+로션+로션+',
        24600,
        24600,
        0,
        '퍼스트픽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '18',
    '163916971&ver')
INSERT INTO items VALUES('1770910207&ver',
        '[랩 시리즈](신세계강남점)[3][정품증정] 레스큐 워터로션 기획 세트 (+올인원 39 000원 상당 정품 증정)',
        52000,
        43940,
        0,
        '랩시리즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '19',
    '1770910207&ver')
INSERT INTO items VALUES('462881552&ver',
        '[헤라]헤라옴므 2종세트 / 블랙 퍼펙트 / 세트 / 남자 스킨',
        51500,
        46350,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '20',
    '462881552&ver')
INSERT INTO items VALUES('1757756267&ver',
        '[마몽드M]맨 리차징 올인원 플루이드 180ml /올인원_공식몰',
        24000,
        14880,
        0,
        '마몽드M')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '21',
    '1757756267&ver')
INSERT INTO items VALUES('724896694&ver',
        '[브리올옴므]남성 폼클렌징 500ml대용량/천연/각질제거/남성화장품',
        19500,
        19500,
        0,
        '브리올옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '22',
    '724896694&ver')
INSERT INTO items VALUES('1805822733&ver',
        '[마리끌레르]남성화장품 올인원 남자 스킨 로션 5in1 150ml 2개',
        27900,
        27900,
        0,
        '마리끌레르')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '23',
    '1805822733&ver')
INSERT INTO items VALUES('1185627451&ver',
        '[오휘]오휘 포맨 네오필 2종/기획/숨 디어 옴므',
        28600,
        25740,
        0,
        '오휘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '24',
    '1185627451&ver')
INSERT INTO items VALUES('212487749&ver',
        '[오딧세이]오딧세이 비치용 알병 2종/스킨/로션/로맨틱2종/택1',
        27400,
        27170,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '25',
    '212487749&ver')
INSERT INTO items VALUES('914140312&ver',
        '[헤라 옴므]헤라옴므 에센스 인 스킨 125ml',
        20180,
        20080,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '26',
    '914140312&ver')
INSERT INTO items VALUES('1741416664&ver',
        '[아이오페]맨 안티에이징 에멀젼 120ml 탄력 남성 스킨케어',
        36000,
        22320,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '27',
    '1741416664&ver')
INSERT INTO items VALUES('2027587851&ver',
        '[헤라 옴므]헤라  옴므 에센스 인 에멀젼 110ml',
        19100,
        19010,
        0,
        '헤라옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '28',
    '2027587851&ver')
INSERT INTO items VALUES('1986933300&ver',
        '[닥터지](1+1) 레드 블레미쉬 포 맨 올인원 플루이드 150ml',
        58000,
        42610,
        0,
        '닥터지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '29',
    '1986933300&ver')
INSERT INTO items VALUES('1870734174&ver',
        '[헤라 옴므]헤라 옴므 올인원 드링크 75ml +옴므 미니어처 6종',
        49900,
        34900,
        0,
        '헤라옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '30',
    '1870734174&ver')
INSERT INTO items VALUES('415072654&ver',
        '[퓨플]참존nc1/퓨플 스킨업올인원/스킨+에센스/남성화장품',
        21000,
        18800,
        0,
        '퓨플')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '31',
    '415072654&ver')
INSERT INTO items VALUES('162634553&ver',
        '[보닌](무료배송)보닌 더 스타일 2종 기획세트',
        26500,
        23850,
        0,
        '보닌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '32',
    '162634553&ver')
INSERT INTO items VALUES('1665523153&ver',
        '[아이오페]맨 2종 세트 /안티에이징/남성스킨로션세트 남성화장품',
        78000,
        48360,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '33',
    '1665523153&ver')
INSERT INTO items VALUES('129055214&ver',
        '[엠도씨]화이트닝 스킨 플러스 로션/올인원/남성미백 스킨로션',
        23000,
        20700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '34',
    '129055214&ver')
INSERT INTO items VALUES('321904276&ver',
        'POLO 퓨어 남성용 3종(스킨+스킨+로션) 생일 선물세트',
        24800,
        22320,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '35',
    '321904276&ver')
INSERT INTO items VALUES('1158896501&ver',
        '[큘라엠]큘라M 남자 미백 올인원 로션 150ml (피부트러블케어)',
        34900,
        34730,
        0,
        '큘라엠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '36',
    '1158896501&ver')
INSERT INTO items VALUES('2000505646&ver',
        '[미샤포맨]미샤 포맨 익스트림 리뉴 2종 세트 /남성 스킨로션',
        25000,
        25000,
        0,
        '미샤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '37',
    '2000505646&ver')
INSERT INTO items VALUES('1797172893&ver',
        '[네이처카인드]4GF 파워올인원 120ml/남자올인원로션/미백/주름개선',
        20900,
        20900,
        0,
        '네이처카인드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '38',
    '1797172893&ver')

INSERT INTO items VALUES('1910372887&ver',
        '[닥터지]레드 블레미쉬 포맨 올인원 플루이드150ml',
        29000,
        24060,
        0,
        '닥터지')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '39',
    '1910372887&ver')
INSERT INTO items VALUES('1121135296&ver',
        '[던롭]1+1 다이나믹블랙 올인원 지성용 남성화장품',
        21900,
        21900,
        0,
        '던롭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '40',
    '1121135296&ver')
INSERT INTO items VALUES('899265182&ver',
        '[비오템옴므]비오템 옴므 아쿠아틱 로션 애프터 쉐이브 200ml',
        45500,
        40950,
        0,
        '비오템옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '41',
    '899265182&ver')
INSERT INTO items VALUES('1105146337&ver',
        '[비버리힐스폴로클럽]1+1 프라임옴므 남성용 스킨로션 2종세트(세트+세트)',
        24800,
        22320,
        0,
        '비버리힐스폴로클럽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '42',
    '1105146337&ver')
INSERT INTO items VALUES('1199757937&ver',
        '[올드스파이스]올드스파이스 애프터쉐이브 클래식 남성스킨 188ml2개',
        24500,
        22050,
        0,
        '올드스파이스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '43',
    '1199757937&ver')
INSERT INTO items VALUES('1173226759&ver',
        '[헤라 옴므]옴므 블랙 퍼펙트 2종 세트 고급선물포장가능',
        62900,
        62590,
        0,
        '헤라옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '44',
    '1173226759&ver')
INSERT INTO items VALUES('1998620971&ver',
        '[헤라]헤라 옴므 블랙 퍼펙트 플루이드 120ml {HE4166}',
        40800,
        36720,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '45',
    '1998620971&ver')
INSERT INTO items VALUES('2024186384&ver',
        '[더페이스샵]더페이스샵 네오클래식 옴므 블랙에센셜 2종세트',
        29000,
        26100,
        0,
        '더페이스샵')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '46',
    '2024186384&ver')
INSERT INTO items VALUES('1598579500&ver',
        '[아이오페]맨 올데이 퍼펙트 올인원 최신제조',
        22000,
        19800,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '47',
    '1598579500&ver')
INSERT INTO items VALUES('820840259&ver',
        '[아이오페]아이오페 맨 올데이 퍼펙트 올인원 - 120ml',
        24700,
        24580,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '48',
    '820840259&ver')
INSERT INTO items VALUES('335479699&ver',
        '[비욘드]비욘드 옴므 밸런스/피트니스 2종 기획 남성화장품',
        26400,
        26400,
        0,
        '비욘드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '49',
    '335479699&ver')
INSERT INTO items VALUES('1742029795&ver',
        '[헤라]헤라 옴므 블랙 퍼펙트 2종세트+선물포장/20.09월제조',
        66000,
        59200,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '50',
    '1742029795&ver')
INSERT INTO items VALUES('1591601939&ver',
        '[이니스프리]포레스트 포맨 올인원 에센스/포어/트러블/안티에이징',
        15900,
        14310,
        0,
        '이니스프리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '51',
    '1591601939&ver')
INSERT INTO items VALUES('2059806538&ver',
        '[SK II](신세계강남점)(MI3) 맨 피테라 에센스 230ml 세트',
        238000,
        238000,
        0,
        'SK-II')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '52',
    '2059806538&ver')
INSERT INTO items VALUES('1847847155&ver',
        '[에스까다]옴므 블루 이엑스 2종 세트 은은한 향 촉촉시원함 강추',
        25900,
        23310,
        0,
        '에스까다')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '53',
    '1847847155&ver')
INSERT INTO items VALUES('1463129276&ver',
        '[엔뜨라다]남성스킨로션SET 촉촉한피부/미백+주름+모공+피부개선',
        28900,
        26010,
        0,
        '엔뜨라다')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '54',
    '1463129276&ver')
INSERT INTO items VALUES('126794597&ver',
        '[홀츠포맨]남자 남성 화장품 콜라겐 올인원 스킨로션 1000ml',
        35000,
        35000,
        0,
        '안나홀츠')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '55',
    '126794597&ver')
INSERT INTO items VALUES('1825316301&ver',
        '스와니브 올인원 스킨에센스 남자 화장품세트 1000ml',
        39800,
        39800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '56',
    '1825316301&ver')
INSERT INTO items VALUES('1485188425&ver',
        '[비버리힐스폴로클럽](1+1)비버리힐스 폴로클럽 멀티이펙트 올인원모이스쳐',
        9900,
        8910,
        0,
        '비버리힐스폴로클럽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '57',
    '1485188425&ver')
INSERT INTO items VALUES('2049631671&ver',
        '[랩 시리즈]갤러리아   3  특별  레스큐 워터로션 Size up 세트 (+60ml 추가 증정)',
        52000,
        43160,
        0,
        '랩시리즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '58',
    '2049631671&ver')
INSERT INTO items VALUES('1790642353&ver',
        '[아이오페]아이오페 맨 올데이 퍼펙트 올인원 120ml',
        24000,
        21600,
        0,
        '아이오페')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '59',
    '1790642353&ver')
INSERT INTO items VALUES('970448627&ver',
        '[우르오스]우르오스 모이스처라이저 200ml [택1]',
        26200,
        24620,
        0,
        '우르오스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '60',
    '970448627&ver')
INSERT INTO items VALUES('1701337738&ver',
        '[미샤]포맨 아쿠아브레스 2종 세트',
        37600,
        11280,
        0,
        '미샤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '61',
    '1701337738&ver')
INSERT INTO items VALUES('1964440139&ver',
        '올데이 퍼펙트 포 옴므 100ml  롯데백화점 입점 남성용',
        45000,
        19800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '62',
    '1964440139&ver')
INSERT INTO items VALUES('2001031412&ver',
        '[프리메라]맨 오가니언스 2종 기획세트+상품권증정(3월)',
        60000,
        51000,
        0,
        '프리메라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '63',
    '2001031412&ver')
INSERT INTO items VALUES('925716760&ver',
        '[우르오스][우르오스] 스킨워시 500ml x 2개',
        34580,
        33980,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '64',
    '925716760&ver')
INSERT INTO items VALUES('2061558672&ver',
        '[랩 시리즈]레스큐 워터 로션 200ml 정품 큐브',
        33800,
        33640,
        0,
        '랩시리즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '65',
    '2061558672&ver')
INSERT INTO items VALUES('334157203&ver',
        '[엔프라니]남성화장품 스킨 로션 세트 3개 /남성화장품 세트',
        22900,
        22900,
        0,
        '엔프라니')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '66',
    '334157203&ver')
INSERT INTO items VALUES('1267115407&ver',
        '[라네즈옴므]블루 에너지 2종 세트',
        62000,
        43400,
        0,
        '라네즈옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '67',
    '1267115407&ver')

INSERT INTO items VALUES('1894122631&ver',
        '[랩 시리즈](신세계강남점)[2][SSG단독] 레스큐 워터로션 기획 세트 (24 000원 상당 멀티워시 샘플+스프레이 펌프 ...',
        52000,
        43940,
        0,
        '랩시리즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '68',
    '1894122631&ver')
INSERT INTO items VALUES('321909303&ver',
        '[비버리힐즈폴로클럽]퓨어 2종 (스킨+로션+여행용2종) 남성화장품 선물세트',
        21800,
        19620,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '69',
    '321909303&ver')
INSERT INTO items VALUES('1835393535&ver',
        '[브리올옴므]더 이지 화이트닝 남자 올인원 로션 미백/주름 개선',
        29500,
        29500,
        0,
        '브리올옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '70',
    '1835393535&ver')
INSERT INTO items VALUES('1215636834&ver',
        '[이니스프리]이니스프리 포레스트 포맨 프레쉬 2종 세트',
        26900,
        24210,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '71',
    '1215636834&ver')
INSERT INTO items VALUES('1217907852&ver',
        '[오딧세이]오딧세이(비치용) 스킨+로션+미니어쳐 2종(스킨+로션)',
        29500,
        26550,
        0,
        '오딧세이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '72',
    '1217907852&ver')
INSERT INTO items VALUES('1721593478&ver',
        '[무슈제이]굿페이스 올인원 2종 세트 /정우성 화장품',
        19900,
        17910,
        0,
        '무슈제이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '73',
    '1721593478&ver')
INSERT INTO items VALUES('2030184987&ver',
        '[이니스프리]포레스트 안티에이징 올인원 에센스 100mL 남성화장품',
        25000,
        20000,
        0,
        '이니스프리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '74',
    '2030184987&ver')
INSERT INTO items VALUES('1710325381&ver',
        '[무칸]무칸 내츄럴커버 비비크림 50ml x2개 /남자/bb크림',
        20900,
        20800,
        0,
        '무칸')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '75',
    '1710325381&ver')
INSERT INTO items VALUES('785215279&ver',
        '[랩 시리즈]레스큐 워터로션 200ml',
        36000,
        32300,
        0,
        '랩시리즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '76',
    '785215279&ver')
INSERT INTO items VALUES('1151999856&ver',
        '[보닌]보닌 올인원 150ml+80ml - 모이스처 / 하이드레이트',
        31000,
        27800,
        0,
        '보닌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '77',
    '1151999856&ver')
INSERT INTO items VALUES('993906526&ver',
        '[헤라 옴므]옴므 2종 세트 고급선물포장가능',
        45900,
        41310,
        0,
        '헤라옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '78',
    '993906526&ver')
INSERT INTO items VALUES('1753703110&ver',
        '[프라막]남성화장품 올인원 에센스 1+1 탄력+잡티+주름+미백',
        19700,
        19610,
        0,
        '프라막')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '79',
    '1753703110&ver')
INSERT INTO items VALUES('1512720190&ver',
        '[프리메라]프리메라 맨 오가니언스 2종 기획세트 {PM0307}',
        40900,
        36810,
        0,
        '프리메라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '80',
    '1512720190&ver')
INSERT INTO items VALUES('1663855993&ver',
        '[보닌]보닌 더 캐릭터 블랙 시그니처 2종세트/스킨로션선물',
        18400,
        16560,
        0,
        '보닌')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '81',
    '1663855993&ver')
INSERT INTO items VALUES('2035989562&ver',
        '[헤라]헤라 옴므 스폐셜 2종 세트 +선물포장+쇼핑백/20.11월',
        47000,
        41800,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '82',
    '2035989562&ver')
INSERT INTO items VALUES('1639519593&ver',
        '[헤라 옴므]옴므 매니시모 인텐시브 2종 세트 고급선물포장가능',
        77900,
        70110,
        0,
        '헤라옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '83',
    '1639519593&ver')
INSERT INTO items VALUES('1527711696&ver',
        '[헤라]헤라 옴므 블랙 퍼펙트 2종 기획세트 {HE4925}',
        71800,
        64620,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '84',
    '1527711696&ver')
INSERT INTO items VALUES('169408339&ver',
        '[보닌](무료배송)보닌 더 캐릭터 2종 기획세트',
        16900,
        15210,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '85',
    '169408339&ver')
INSERT INTO items VALUES('2004993591&ver',
        '[비오템옴므]비오템 포스 수프림 모이스춰라이저 점보 100ml',
        94000,
        84600,
        0,
        '비오템옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '86',
    '2004993591&ver')
INSERT INTO items VALUES('322261914&ver',
        '[비버리힐스폴로클럽]POLO 퓨어 남성용 3종(스킨+로션+로션) 생일 선물세트',
        24800,
        22320,
        0,
        '비버리힐스폴로클럽')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '87',
    '322261914&ver')
INSERT INTO items VALUES('842175464&ver',
        '[우르오스]우르오스 올인원 200ml 스킨밀크 스킨로션 남성화장품',
        25890,
        25890,
        0,
        '우르오스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '88',
    '842175464&ver')
INSERT INTO items VALUES('1467205618&ver',
        '[미프]MIP공식 미프 비타맥스 올인원 로션 세트 200ml+150ml',
        38000,
        29400,
        0,
        '미프')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '89',
    '1467205618&ver')
INSERT INTO items VALUES('1887679952&ver',
        '[네이처리퍼블릭]아프리카 버드 옴므 올인원 프레시 컨트롤러 150ml',
        12000,
        11940,
        0,
        '네이처리퍼블릭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '90',
    '1887679952&ver')
INSERT INTO items VALUES('1887745803&ver',
        '[네이처리퍼블릭]아프리카 버드 옴므 올인원 모이스처라이저 150ml',
        12100,
        12040,
        0,
        '네이처리퍼블릭')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '91',
    '1887745803&ver')
INSERT INTO items VALUES('1960359145&ver',
        '[피토메스]안티포어 리파이닝 스킨 로션 2종세트 -클렌징폼 증정',
        43800,
        43590,
        0,
        '피토메스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '92',
    '1960359145&ver')
INSERT INTO items VALUES('2031148713&ver',
        '[헤라 옴므]헤라  옴므 에센스 인 스킨 125ml  2개',
        44800,
        44580,
        0,
        '헤라옴므')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '93',
    '2031148713&ver')
INSERT INTO items VALUES('1728549801&ver',
        '[브로앤팁스]네버 오일리 올인원 120ml/ 브로앤팁스',
        32000,
        22240,
        0,
        '브로앤팁스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '94',
    '1728549801&ver')
INSERT INTO items VALUES('353985165&ver',
        '[이자녹스](무료배송)이자녹스 옴므 2종 기획세트 (125ml+125ml)',
        23500,
        21150,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '95',
    '353985165&ver')

INSERT INTO items VALUES('164230421&ver',
        '헤라옴므 블랙 퍼펙트 스킨 120ml/피부에너지충전/택',
        25500,
        25500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '96',
    '164230421&ver')
INSERT INTO items VALUES('1597905476&ver',
        '최신정품 1+1 미래파 프레쉬 스킨 마일드 로션 125ml',
        14400,
        12960,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '97',
    '1597905476&ver')
INSERT INTO items VALUES('1255900765&ver',
        '[캘빈클라인]ck one 스킨 모이스처 라이저 250ml 스킨로션겸용',
        22000,
        19800,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '98',
    '1255900765&ver')
INSERT INTO items VALUES('1879053761&ver',
        '[오딧세이]오딧세이 로맨틱 스페셜 2종 세트 남성화장품',
        29500,
        29360,
        0,
        '오딧세이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '99',
    '1879053761&ver')
INSERT INTO items VALUES('846345504&ver',
        '[오휘]오휘 포맨 네오필 2종/기획//',
        28000,
        25200,
        0,
        '오휘')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '남성화장품',
    '100',
    '846345504&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G03&subGroupCode=S055 남성화장품
INSERT INTO items VALUES('158111175&ver',
        '[랑방]랑방 에끌라 드 아르페쥬 EDP 100ml',
        37400,
        37400,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '1',
    '158111175&ver')
INSERT INTO items VALUES('1751667834&ver',
        '[메종프란시스커정]갤러리아  바카라 루쥬 540 엑스트레 드 퍼퓸 70ml 세트 (미니어처2종+바디50ml',
        469000,
        398650,
        0,
        '메종프란시스커정')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '2',
    '1751667834&ver')
INSERT INTO items VALUES('1707873203&ver',
        '[피오라]본사몰/피오라 러브포이즌/페로몬향수/남성 페로몬함유',
        54000,
        48600,
        0,
        '피오라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '3',
    '1707873203&ver')
INSERT INTO items VALUES('2007188606&ver',
        'BTS향수 VT x BTS 라뜰리에 모음전 (방탄소년단 멤버전원 친필사인포토카드)',
        29000,
        25960,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '4',
    '2007188606&ver')
INSERT INTO items VALUES('150277943&ver',
        '[불가리]불가리 옴니아 아메시스트 EDT 65ml /오드뚜왈렛',
        59700,
        53730,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '5',
    '150277943&ver')
INSERT INTO items VALUES('150282631&ver',
        '[불가리]불가리 블루 뿌르옴므 EDT 100ml',
        59700,
        59410,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '6',
    '150282631&ver')
INSERT INTO items VALUES('1496862496&ver',
        '[페라리]스쿠데리아 페라리 라이트 에센스 EDT 125ml (BH)/포장',
        27200,
        24480,
        0,
        '페라리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '7',
    '1496862496&ver')
INSERT INTO items VALUES('2036601669&ver',
        '[불가리]불가리 블루 옴므 EDT 100ml (실속형) 당일발송',
        60000,
        54000,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '8',
    '2036601669&ver')
INSERT INTO items VALUES('1478146690&ver',
        '존바바토스/클린/아리아나그란데 외 인기향수 SALE',
        29500,
        29500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '9',
    '1478146690&ver')
INSERT INTO items VALUES('1173914267&ver',
        '백화점 여자향수 할인전 랑방 버버리 불가리 ck 외',
        38900,
        38900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '10',
    '1173914267&ver')
INSERT INTO items VALUES('2019940944&ver',
        '[클린]웜 코튼 우먼 오드퍼퓸 30ml',
        26800,
        26800,
        0,
        '클린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '11',
    '2019940944&ver')
INSERT INTO items VALUES('1574494883&ver',
        '[랑방]싸다 남여백화점 명품향수 90종 초특가할인상품',
        46000,
        41400,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '12',
    '1574494883&ver')
INSERT INTO items VALUES('2036601908&ver',
        '[불가리]뿌르옴므 익스트림 EDT 100ml (실속형) 당일발송',
        60000,
        54000,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '13',
    '2036601908&ver')
INSERT INTO items VALUES('349027432&ver',
        '3+1 명품향을 담은 향수득템G',
        11900,
        11840,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '14',
    '349027432&ver')
INSERT INTO items VALUES('794175768&ver',
        '[버버리]정품인증 남자향수 ck 존바바토스 페라리 불가리외',
        46000,
        41400,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '15',
    '794175768&ver')
INSERT INTO items VALUES('1496845428&ver',
        '[엘리자베스아덴]엘리자베스아덴 5번가 EDP 125ml',
        28900,
        26010,
        0,
        '엘리자베스아덴')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '16',
    '1496845428&ver')
INSERT INTO items VALUES('2059456297&ver',
        '[크리드]갤러리아  어벤투스 100ml',
        443000,
        376550,
        0,
        '크리드')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '17',
    '2059456297&ver')
INSERT INTO items VALUES('1173895846&ver',
        '백화점 남자향수 할인전 불가리 몽블랑 ck 페라리 외',
        36900,
        36900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '18',
    '1173895846&ver')
INSERT INTO items VALUES('991136148&ver',
        '[랑방](랑방 (향수)) 랑방 루머2로즈 오 드 퍼퓸 100ml ',
        30900,
        29830,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '19',
    '991136148&ver')
INSERT INTO items VALUES('1766141317&ver',
        '[더페이스샵](1+1) 더페이스샵 소울 시크릿 블라썸 30ml (당일발송)',
        22400,
        20060,
        0,
        '더페이스샵')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '20',
    '1766141317&ver')
INSERT INTO items VALUES('176114427&ver',
        '[캘빈클라인]CK향수-CK ONE/CK BE 50ml/100ml/200ml 특가판매',
        33900,
        30510,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '21',
    '176114427&ver')
INSERT INTO items VALUES('1512322572&ver',
        'USA 미국직수입 여자향수 남자향수 여성 남성 향수',
        17800,
        9820,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '22',
    '1512322572&ver')
INSERT INTO items VALUES('1787911965&ver',
        '[캘빈클라인]ck one 테스터 200ml',
        29800,
        26820,
        0,
        '캘빈클라인')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '23',
    '1787911965&ver')
INSERT INTO items VALUES('877610305&ver',
        '섬백리향 향수 50ml 2개 구입시 1개더',
        30000,
        24650,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '24',
    '877610305&ver')

INSERT INTO items VALUES('1641250208&ver',
        '[포맨트]포맨트 포맨 시그니처 퍼퓸 코튼블랙 50ml 코튼허그',
        44900,
        40410,
        0,
        '포맨트')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '25',
    '1641250208&ver')
INSERT INTO items VALUES('1575670067&ver',
        '[랑방][랑방 지미추 코치] 백화점 여성향수 6종 택1+쇼핑백 증정',
        30000,
        24450,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '26',
    '1575670067&ver')
INSERT INTO items VALUES('1199400228&ver',
        '[아프리모]본사직영/살냄새향수/아프리모/오리지널/남성/여성',
        58000,
        58000,
        0,
        '아프리모')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '27',
    '1199400228&ver')
INSERT INTO items VALUES('1907532112&ver',
        '2+1 룩백 어벤투스 블랙베리앤베이 패뷸러스 100ml',
        63800,
        63800,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '28',
    '1907532112&ver')
INSERT INTO items VALUES('1527708372&ver',
        '[헤라]헤라 지일 오 데 퍼퓸 40ml {HE4153}',
        29400,
        26460,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '29',
    '1527708372&ver')
INSERT INTO items VALUES('1892475164&ver',
        '[엘리자베스아덴]엘리자베스아덴 5번가 EDP 125ml',
        28000,
        27860,
        0,
        '엘리자베스아덴')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '30',
    '1892475164&ver')
INSERT INTO items VALUES('1757132785&ver',
        '[산타마리아노벨라]갤러리아  아쿠아 디 콜로니아 - 엔젤 디 피렌체 100ml',
        218000,
        196200,
        0,
        '산타마리아노벨라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '31',
    '1757132785&ver')
INSERT INTO items VALUES('1741143083&ver',
        '랑방 에끌라 드 아르페쥬 100ml',
        39900,
        39700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '32',
    '1741143083&ver')
INSERT INTO items VALUES('1980217924&ver',
        '[엘보라리오]흰백합 향수 50ml 이탈리안 파빌리온',
        45000,
        40280,
        0,
        '엘보라리오')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '33',
    '1980217924&ver')
INSERT INTO items VALUES('1925911560&ver',
        '온퍼퓸 아이젠틀맨 아쿠아 블랙 EDP50ml',
        31200,
        31050,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '34',
    '1925911560&ver')
INSERT INTO items VALUES('531645590&ver',
        '[헤라]헤라 지일 오 데 퍼퓸 40ml / 헤라향수 / 지일향수',
        28500,
        25650,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '35',
    '531645590&ver')
INSERT INTO items VALUES('1789902291&ver',
        '[피오라]본사몰/피오라 로맨스/페로몬향수/남성 페로몬함유',
        58000,
        52200,
        0,
        '피오라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '36',
    '1789902291&ver')
INSERT INTO items VALUES('1637099609&ver',
        '[겐조]겐조 플라워 바이 겐조 EDT 100ml+선물포장',
        65000,
        64680,
        0,
        '겐조')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '37',
    '1637099609&ver')
INSERT INTO items VALUES('1172265598&ver',
        '아이젠틀맨 섬유향수 (남자섬유향수)',
        13900,
        13900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '38',
    '1172265598&ver')
INSERT INTO items VALUES('1931442706&ver',
        '조마드 옴므 블루밍나잇 남성 오드 퍼퓸 향수 50ml',
        63000,
        62690,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '39',
    '1931442706&ver')
INSERT INTO items VALUES('2041243285&ver',
        '[지방시](강다니엘 향수 사인각인)랑떼르디 오 드 퍼 퓸 50ML 세트 (예약상품 2021.03.25',
        143000,
        121550,
        0,
        '지방시')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '40',
    '2041243285&ver')
INSERT INTO items VALUES('342290667&ver',
        '[베르사체]브라이트 크리스탈 30ml/ 베르사체',
        26900,
        26900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '41',
    '342290667&ver')
INSERT INTO items VALUES('2040904086&ver',
        '쿤달 퍼퓸 디퓨저 200ml 2구 x 2개 (총 4개)',
        27800,
        23630,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '42',
    '2040904086&ver')
INSERT INTO items VALUES('1693231273&ver',
        '다비도프 쿨 워터 맨 125ml',
        26900,
        26770,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '43',
    '1693231273&ver')
INSERT INTO items VALUES('176483412&ver',
        '[페라리]페라리블랙/라이트에센스125ml 대용량특가/당일발송',
        22900,
        18510,
        0,
        '페라리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '44',
    '176483412&ver')
INSERT INTO items VALUES('411331310&ver',
        '[헤라]헤라 지일 오데 퍼퓸 40ml/팜므파탈의매혹',
        23610,
        21250,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '45',
    '411331310&ver')
INSERT INTO items VALUES('641350267&ver',
        '[불가리](正品딜) 불가리 여성/남성향수18종 대용량 할인',
        56900,
        51210,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '46',
    '641350267&ver')
INSERT INTO items VALUES('152617663&ver',
        '[랑방]랑방 루머 2 로즈 EDP 100ml',
        30600,
        27540,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '47',
    '152617663&ver')
INSERT INTO items VALUES('1751664963&ver',
        '[산타마리아노벨라]갤러리아  산타마리아노벨라 아쿠아 디 콜로니아 - 프리지아',
        178000,
        160200,
        0,
        '산타마리아노벨라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '48',
    '1751664963&ver')
INSERT INTO items VALUES('1958197330&ver',
        '[랑방]모던 프린세스 EDP 60ml',
        31900,
        31740,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '49',
    '1958197330&ver')
INSERT INTO items VALUES('1757618561&ver',
        '[메종프란시스커정]갤러리아  바카라 루쥬 540 EDP 35ml',
        183000,
        146400,
        0,
        '메종프란시스커정')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '50',
    '1757618561&ver')
INSERT INTO items VALUES('1743182503&ver',
        '[랑콤]랑콤 트레조 우먼 오드퍼퓸 EDP 100ml',
        103000,
        92700,
        0,
        '랑콤')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '51',
    '1743182503&ver')
INSERT INTO items VALUES('1817180307&ver',
        '[불가리][불가리 향수] 불가리 옴니아 크리스탈린 65ml',
        62900,
        60080,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '52',
    '1817180307&ver')
INSERT INTO items VALUES('1799228013&ver',
        '[피오라]본사몰/피오라 더럭스/페로몬향수/여성 페로몬 2배함유',
        78000,
        65200,
        0,
        '피오라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '53',
    '1799228013&ver')

INSERT INTO items VALUES('906347115&ver',
        '[다비도프]다비도프 쿨워터 우먼 오 드 뚜왈렛 100ml ',
        27900,
        26930,
        0,
        '다비도프')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '54',
    '906347115&ver')
INSERT INTO items VALUES('433389765&ver',
        '[시에라샤통]2021년 남자페로몬향수1위/이성유혹향수/LED시계증정',
        20000,
        20000,
        0,
        '시에라샤통')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '55',
    '433389765&ver')
INSERT INTO items VALUES('749643700&ver',
        '[랑방]싸다 여자향수 정품인증 불가리 버버리 랑방 겐조',
        46000,
        41400,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '56',
    '749643700&ver')
INSERT INTO items VALUES('1677840207&ver',
        '[존바바토스]존 바바토스 아티산 EDT 75ml',
        31800,
        28620,
        0,
        '존바바토스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '57',
    '1677840207&ver')
INSERT INTO items VALUES('1601816789&ver',
        '[존바바토스]마스크팩 + 존 바바토스 아티산 테스터 125ml(뚜껑O)',
        40800,
        36720,
        0,
        '존바바토스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '58',
    '1601816789&ver')
INSERT INTO items VALUES('1776591074&ver',
        '인사이드향수 화이트 살냄새 고체향수 컴인사이드미',
        34000,
        34000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '59',
    '1776591074&ver')
INSERT INTO items VALUES('1345038735&ver',
        '(명품향수)아덴外 버버리/불가리/페라가모 향수특가',
        13900,
        12510,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '60',
    '1345038735&ver')
INSERT INTO items VALUES('1503892578&ver',
        '(병행)존바바토스 아티산 125ml',
        47400,
        42660,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '61',
    '1503892578&ver')
INSERT INTO items VALUES('1925906524&ver',
        '온퍼퓸 아이젠틀맨 화이트 레인 EDP50ml',
        31200,
        31050,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '62',
    '1925906524&ver')
INSERT INTO items VALUES('118229211&ver',
        '[샤넬]샤넬 알뤼르 옴므 스포츠 100ml',
        164000,
        147600,
        0,
        '샤넬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '63',
    '118229211&ver')
INSERT INTO items VALUES('1935463738&ver',
        '[크리스찬디올]미스디올 퍼퓸 헤어미스트 30ml 백화점상품 특별가',
        57900,
        52110,
        0,
        '크리스찬디올')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '64',
    '1935463738&ver')
INSERT INTO items VALUES('1708179794&ver',
        '[피오라]본사몰/피오라 러브포이즌/페로몬향수/여성 페로몬함유',
        54000,
        48600,
        0,
        '피오라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '65',
    '1708179794&ver')
INSERT INTO items VALUES('1864145676&ver',
        'CK ONE 향수 200ml / 무지박스 / 쇼핑백 증정',
        27900,
        27760,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '66',
    '1864145676&ver')
INSERT INTO items VALUES('2029904995&ver',
        '[불가리]불가리 뿌르옴므 EDT 100ml',
        72900,
        65610,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '67',
    '2029904995&ver')
INSERT INTO items VALUES('2046002423&ver',
        '[존바바토스][공식] 존바바토스 아티산 EDT 125ml (공병+쇼핑백증정/기획) [선물포장가능]',
        50790,
        49800,
        0,
        '존바바토스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '68',
    '2046002423&ver')
INSERT INTO items VALUES('1496845531&ver',
        '엘리자베스아덴 그린티 100ml',
        14900,
        13410,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '69',
    '1496845531&ver')
INSERT INTO items VALUES('1428495402&ver',
        '영국제조 러쉬 바디 스프레이 더티 200ml',
        39300,
        39110,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '70',
    '1428495402&ver')
INSERT INTO items VALUES('1642100005&ver',
        '[존바바토스]존 바바토스 아티산 EDT 125ml',
        45300,
        45300,
        0,
        '존바바토스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '71',
    '1642100005&ver')
INSERT INTO items VALUES('352501456&ver',
        '[불가리]불가리남자향수 블루/뿌르옴므/아쿠아/익스트림100ml',
        66500,
        66500,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '72',
    '352501456&ver')
INSERT INTO items VALUES('1659420362&ver',
        '[더페이스샵]1+1 소울 향수 / 프로미스링 / 올오버 퍼퓸 미스트',
        22800,
        20520,
        0,
        '더페이스샵')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '73',
    '1659420362&ver')
INSERT INTO items VALUES('1669411144&ver',
        '[버버리]버버리 클래식 우먼 EDP 100ml',
        42700,
        38430,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '74',
    '1669411144&ver')
INSERT INTO items VALUES('1695861686&ver',
        '[랑방]랑방 에끌라 드 아르페쥬 EDP 100ml (BH)/선물포장가능',
        44300,
        39870,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '75',
    '1695861686&ver')
INSERT INTO items VALUES('994679325&ver',
        '[엘리자베스아덴][공식정품] 그린티 EDT 100ml (선물포장가능)/ 엘리자베스아덴',
        17900,
        16290,
        0,
        '엘리자베스아덴')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '76',
    '994679325&ver')
INSERT INTO items VALUES('1780733232&ver',
        '[버버리]파우치(블루)+버버리 위크앤드 포 맨EDT 100ml테스터',
        31900,
        28710,
        0,
        '버버리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '77',
    '1780733232&ver')
INSERT INTO items VALUES('1601738014&ver',
        '[존바바토스]아티산 EDT 125ml 무지박스 뚜껑 X',
        37900,
        37900,
        0,
        '존바바토스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '78',
    '1601738014&ver')
INSERT INTO items VALUES('632164058&ver',
        '[존바바토스]존바바토스 향수모음전 아티산 블루 퓨어 EDT 75ml',
        36900,
        36900,
        0,
        '존바바토스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '79',
    '632164058&ver')
INSERT INTO items VALUES('697203698&ver',
        '[클린](正品딜) 클린 향수 기획전/웜코튼/쿨코튼/블러썸60ml',
        36900,
        36900,
        0,
        '클린')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '80',
    '697203698&ver')
INSERT INTO items VALUES('2046099937&ver',
        '페라가모 인칸토 참 EDT 100ml [BH] [선물포장가능]',
        25400,
        24900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '81',
    '2046099937&ver')
INSERT INTO items VALUES('1814812176&ver',
        '[딥티크]오 드 퍼퓸 탐다오 75ml',
        220000,
        196900,
        0,
        '딥티크')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '82',
    '1814812176&ver')

INSERT INTO items VALUES('1833618441&ver',
        '(조말론향수) 조말론 라임 바질 앤 만다린 코롱 100ml 리본포장',
        159000,
        158210,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '83',
    '1833618441&ver')
INSERT INTO items VALUES('1858483379&ver',
        '[입생로랑]몽 파리 헤어 미스트 30ml',
        60000,
        56700,
        0,
        '입생로랑')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '84',
    '1858483379&ver')
INSERT INTO items VALUES('1884673652&ver',
        '[불가리]불가리 맨 인 블랙 EDP 오드퍼퓸 100ml/포맨',
        59900,
        59900,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '85',
    '1884673652&ver')
INSERT INTO items VALUES('1585475197&ver',
        '[불가리][불가리 향수] [특별기획] 불가리 블루 옴므100ml 세트',
        89000,
        81880,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '86',
    '1585475197&ver')
INSERT INTO items VALUES('287577730&ver',
        '강력이성유혹 페로몬향수/명품 페르몬/남자 여자 선물',
        24000,
        24000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '87',
    '287577730&ver')
INSERT INTO items VALUES('1747142347&ver',
        '[랑방][랑방] 잔느 EDP 100ml [BH] [선물포장가능]',
        34500,
        33640,
        0,
        '랑방')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '88',
    '1747142347&ver')
INSERT INTO items VALUES('1477940453&ver',
        '[베르사체]베르사체 브라이트 크리스탈 테스터 90ml',
        38900,
        38900,
        0,
        '베르사체')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '89',
    '1477940453&ver')
INSERT INTO items VALUES('1799184895&ver',
        '[피오라]본사몰/피오라 더럭스/페로몬향수/남성 페로몬 2배함유',
        78000,
        65200,
        0,
        '피오라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '90',
    '1799184895&ver')
INSERT INTO items VALUES('1605132654&ver',
        '[돌리걸바이안나수이]안나수이 라비드 보헴 EDT 30ml',
        23500,
        21150,
        0,
        '안나수이')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '91',
    '1605132654&ver')
INSERT INTO items VALUES('889855773&ver',
        '[끌로에]끌로에 플레르 드 퍼퓸 EDP 50ml',
        61300,
        55170,
        0,
        '끌로에')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '92',
    '889855773&ver')
INSERT INTO items VALUES('1505162469&ver',
        '[엘리자베스아덴]엘리자베스 아덴 그린티 EDT 100ml',
        14900,
        13410,
        0,
        '엘리자베스아덴')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '93',
    '1505162469&ver')
INSERT INTO items VALUES('1598105136&ver',
        '[불가리]일반공병+불가리 블루 뿌르옴므 100ml 무지박스 증정',
        57900,
        52110,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '94',
    '1598105136&ver')
INSERT INTO items VALUES('1674565905&ver',
        '[불가리]불가리 블루 뿌르옴므 EDT 100ml',
        59700,
        59700,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '95',
    '1674565905&ver')
INSERT INTO items VALUES('1965256422&ver',
        '[입생로랑]입생로랑 리브르 오 드 빠르펭 7.5ml 미니어처',
        24200,
        21780,
        0,
        '입생로랑')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '96',
    '1965256422&ver')
INSERT INTO items VALUES('1978256198&ver',
        '[불가리]불가리 블루 뿌르옴므 EDT 100ml [BH] [선물포장가능]',
        66000,
        63690,
        0,
        '불가리')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '97',
    '1978256198&ver')
INSERT INTO items VALUES('1584507900&ver',
        '[지미 추]지미추 포 우먼 EDT 100ml 당일발송 사은품증정',
        50000,
        44900,
        0,
        '지미추')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '98',
    '1584507900&ver')
INSERT INTO items VALUES('1740245924&ver',
        '[롤리타렘피카]롤리타 렘피카 EDP100ml[BH] (선물포장가능)',
        62500,
        60630,
        0,
        '롤리타렘피카')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '99',
    '1740245924&ver')
INSERT INTO items VALUES('1528163188&ver',
        '[제니퍼로페즈]제니퍼로페즈 글로우 바이 제이로 EDT 포우먼 100ml',
        23900,
        23900,
        0,
        '제니퍼로페즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '향수',
    '100',
    '1528163188&ver')
http://corners.gmarket.co.kr//Bestsellers?viewType=G&groupCode=G03&subGroupCode=S012 향수
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '1',
    '2025178843&ver')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '2',
    '875121923&ver')
INSERT INTO items VALUES('1873498106&ver',
        '라음파크 아이브로우 쉐이버 진동눈썹정리기',
        66000,
        19900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '3',
    '1873498106&ver')
INSERT INTO items VALUES('155190891&ver',
        '[메디플라워]100%순면 엠보싱 대용량 고급화장솜 300매x3(총900매)',
        10900,
        9810,
        0,
        '메디플라워')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '4',
    '155190891&ver')
INSERT INTO items VALUES('633951987&ver',
        '고급 천연솜 면봉 특가 2000개 위생 나무 회오리 종이',
        5400,
        4860,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '5',
    '633951987&ver')
INSERT INTO items VALUES('1215738311&ver',
        '시루콧토 우루우루 화장솜 40매x5팩',
        11500,
        11500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '6',
    '1215738311&ver')
INSERT INTO items VALUES('703025059&ver',
        '[더바디샵]점보 티트리 오일 20ML(97253)/ 더바디샵',
        21000,
        18170,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '7',
    '703025059&ver')
INSERT INTO items VALUES('1757105149&ver',
        '[아베다]갤러리아  아베다 우든 패들 브러쉬',
        36000,
        28800,
        0,
        '아베다')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '8',
    '1757105149&ver')
INSERT INTO items VALUES('169617177&ver',
        '딜론 다용도 화장솜 100매 x 9개/순면/델론 코스트코',
        18420,
        16580,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '9',
    '169617177&ver')
INSERT INTO items VALUES('2010152628&ver',
        'NEW 오제끄 실크 고마주 바디필링 프리미엄 방송 특집패키지 ',
        59900,
        47930,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '10',
    '2010152628&ver')
INSERT INTO items VALUES('1531221443&ver',
        '[예다움]화장품 정리함 정리대 보관함 화장대정리함 아크릴',
        19900,
        17900,
        0,
        '예다움')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '11',
    '1531221443&ver')
INSERT INTO items VALUES('1706211505&ver',
        '[피카소브러쉬]피카소꼴레지오니 전상품 10% 브랜드 세일',
        40000,
        26100,
        0,
        '피카소브러쉬')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '12',
    '1706211505&ver')

INSERT INTO items VALUES('219350818&ver',
        '[다크니스]다크니스 속눈썹/샤몽 속눈썹/10개/쌍거풀액/접착제',
        32000,
        16000,
        0,
        '다크니스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '13',
    '219350818&ver')
INSERT INTO items VALUES('529254643&ver',
        '[아이참]이쁠라 아이참 5개 쌍꺼풀테이프 쌍커풀테이프',
        7100,
        7100,
        0,
        '아이참')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '14',
    '529254643&ver')
INSERT INTO items VALUES('883441069&ver',
        '[라벨영]쇼킹 아이글루 1+1+1/안전성분+눈쳐짐방짐/쌍커플액',
        33000,
        9900,
        0,
        '라벨영')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '15',
    '883441069&ver')
INSERT INTO items VALUES('1273156662&ver',
        '[프레티]엠보 순면100% 화장솜1000매/형광증백제NO/클렌징워터',
        30000,
        16900,
        0,
        '프레티')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '16',
    '1273156662&ver')
INSERT INTO items VALUES('1575017695&ver',
        '[오릭스]오릭스 바디오일 600ml x 12개 마사지 베이비오일',
        32900,
        29610,
        0,
        '오릭스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '17',
    '1575017695&ver')
INSERT INTO items VALUES('1853793397&ver',
        '[메디플라워]순면100% 깔끔 엠보싱 대용량 화장솜 520매x2/총1040매',
        10900,
        10900,
        0,
        '메디플라워')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '18',
    '1853793397&ver')
INSERT INTO items VALUES('165290824&ver',
        '1+1 이키루 미용가위세트(헤어+틴닝)/아기애견 앞머리',
        15800,
        11830,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '19',
    '165290824&ver')
INSERT INTO items VALUES('1709944305&ver',
        '[메디플라워]메이크 셀프패드 화장솜 닥토패드 각질패드 본품 1+1',
        10500,
        9450,
        0,
        '메디플라워')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '20',
    '1709944305&ver')
INSERT INTO items VALUES('1184373662&ver',
        '반영구색소/뉴홀릭엠보색소/번트토스트/머신겸용',
        25000,
        25000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '21',
    '1184373662&ver')
INSERT INTO items VALUES('1949079667&ver',
        'NEW 오제끄 실크 고마주 바디필링 프리미엄 방송 최다패키지',
        59900,
        50920,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '22',
    '1949079667&ver')
INSERT INTO items VALUES('1793437486&ver',
        '클리오네 속눈썹펌 리프트 파마 키트 세트 15회분',
        26500,
        26500,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '23',
    '1793437486&ver')
INSERT INTO items VALUES('724074816&ver',
        '뷰티영 퍼레스 미간패치/ 퍼레스 패치',
        45000,
        45000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '24',
    '724074816&ver')
INSERT INTO items VALUES('1616185800&ver',
        '[내츄럴플러스]내츄럴플러스 유기농 화장솜 원형 100매 3개 2세트',
        14900,
        14830,
        0,
        '내츄럴플러스')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '25',
    '1616185800&ver')
INSERT INTO items VALUES('161609129&ver',
        '[화이트래빗]발명특허 항균엠보 화장솜600매/1000매 원단설비보유',
        6900,
        6210,
        0,
        '화이트래빗')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '26',
    '161609129&ver')
INSERT INTO items VALUES('1274391867&ver',
        '사은품+무료배송(커트가위+숱가위) 2개1세트 미용가위',
        15200,
        15200,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '27',
    '1274391867&ver')
INSERT INTO items VALUES('696549087&ver',
        'Haruka 고급미용가위 이발 숱 틴닝 전문가용 앞머리',
        9900,
        9750,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '28',
    '696549087&ver')
INSERT INTO items VALUES('927866703&ver',
        '[시세이도]시세이도 속눈썹뷰러 213 / 마끼아쥬 뷰러',
        13400,
        12060,
        0,
        '시세이도')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '29',
    '927866703&ver')
INSERT INTO items VALUES('1780942733&ver',
        '[헤라]헤라 블랙쿠션 퍼프 6/10매',
        10500,
        9450,
        0,
        '헤라')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '30',
    '1780942733&ver')
INSERT INTO items VALUES('1710011863&ver',
        '[메디플라워]메이크 셀프패드 화장솜 닥토패드 각질패드 본품+리필',
        14900,
        14900,
        0,
        '메디플라워')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '31',
    '1710011863&ver')
INSERT INTO items VALUES('1172184267&ver',
        '[입큰]순면 100% 화장솜 240매(80매X3팩) 無형광 천연화장솜',
        5900,
        5310,
        0,
        '입큰')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '32',
    '1172184267&ver')
INSERT INTO items VALUES('676645335&ver',
        '[더페이스샵]더페이스샵 데일리 뷰티툴즈 면봉 300pcs x 10개',
        10000,
        8900,
        0,
        '더페이스샵')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '33',
    '676645335&ver')
INSERT INTO items VALUES('163328502&ver',
        '타투스티커1위 러브리타투/어린이/행사/할로윈',
        2000,
        1990,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '34',
    '163328502&ver')
INSERT INTO items VALUES('1473909386&ver',
        '셀프 미용가운 셀프커트 컷트보 염색가운 어린이 이발',
        2980,
        2980,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '35',
    '1473909386&ver')
INSERT INTO items VALUES('682241668&ver',
        '셀프 파마 롯드 헤어 롤 미용 재료 용품 염색 빗',
        900,
        900,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '36',
    '682241668&ver')
INSERT INTO items VALUES('702685111&ver',
        '5+2타투스티커/헤나/레터링/문신/tattoo/컬러패션타투',
        490,
        490,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '37',
    '702685111&ver')
INSERT INTO items VALUES('1556533074&ver',
        '[어반리브즈]어반리브즈 무표백 무형광 화장솜 (140매) 5개',
        24000,
        18000,
        0,
        '어반리브즈')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '38',
    '1556533074&ver')
INSERT INTO items VALUES('151098549&ver',
        '접이식눈썹칼x30개/안전커버/면도칼/수정칼/제모기/털',
        16900,
        16820,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '39',
    '151098549&ver')
INSERT INTO items VALUES('2054117019&ver',
        '화장품 정리함 보관함 수납함 대형',
        20500,
        20300,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '40',
    '2054117019&ver')
INSERT INTO items VALUES('1808900936&ver',
        'ANLAN 안란 속눈썹고데기 아이컬 매직컬 뷰러',
        20700,
        20700,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '41',
    '1808900936&ver')

INSERT INTO items VALUES('724076623&ver',
        '[뷰티영]뷰티영 퍼레스 눈가 눈밑 패치/ 퍼레스 패치',
        45000,
        45000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '42',
    '724076623&ver')
INSERT INTO items VALUES('958816919&ver',
        '(2+1)천원 종이면봉 개별포장 _100P',
        1000,
        1000,
        0,
        '')
INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    화장품/헤어',
    '화장소품',
    '43',
    '958816919&ver')

KeyboardInterrupt:

In [64]:
def get_category(category_link, category_name):
    print(category_link, category_name)
    res = requests.get(category_link)
    soup = bs(res.content, 'html.parser')
    
    get_items(soup, category_name, 'ALL')
    
    sub_categories = soup.select('div.navi.group ul li > a')
    for sub_category in sub_categories:
        res = requests.get('http://corners.gmarket.co.kr/'+sub_category['href'])
        soup = bs(res.content, 'html.parser')
        
        get_items(soup, category_name, sub_category.get_text())
        
        print('http://corners.gmarket.co.kr/'+sub_category['href'], sub_category.get_text())

### main/sub category + 상품정보 크롤링 +  판매자 크롤링

In [63]:
def get_items(html, category_name, sub_category_name):
    items_result_list=list()
    best_item = html.select('div.best-list')
    for index, item in enumerate(best_item[1].select('li')):
        data_dict = dict()
        
        ranking = index+1
        title = item.select_one('a.itemname')
        ori_price = item.select_one('div.o-price')
        dis_price = item.select_one('div.s-price strong span')
        discount_percent = item.select_one('div.s-price en')
        
        if ori_price == None or ori_price.get_text() == '':
            ori_price = dis_price
        
        if dis_price == None:
            ori_price, dis_price = 0,0
        else:
            ori_price = ori_price.get_text().replace(',','').replace('원','')
            dis_price = dis_price.get_text().replace(',','').replace('원','')
        
        if discount_percent == None or discount_percent.get_text() =='':
            discount_percent = 0
        else:
            discount_percent = discount_percent.get_text().replace('%','')
        
        product_link = item.select_one('div.thumb > a')
        item_code = product_link['href'].split('=')[1]
        
        res = requests.get(product_link.attrs['href'])
        soup = bs(res.content, 'html.parser')
        provider = soup.select_one('div.item-topinfo_headline > p > span.text__brand > span')
        if provider == None:
            provider = ''
        else:
            provider = provider.get_text()
        
        data_dict['category_name'] = category_name
        data_dict['sub_category_name'] = sub_category_name
        data_dict['ranking'] = ranking
        data_dict['title'] = title.get_text()
        data_dict['ori_price'] = ori_price
        data_dict['dis_price'] = dis_price
        data_dict['discount_percent'] = discount_percent
        data_dict['item_code'] = item_code
        data_dict['provider'] = provider 
        save_data(data_dict)
        #print(category_name, sub_category_name, ranking,item_code, provider,  title.get_text(), ori_price, dis_price, discount_percent)

### Insert sql 만들기

```
CREATE TABLE ranking (
    num INT AUTO_INCREMENT NOT NULL PRIMARY KEY,
    main_category VARCHAR(50) NOT NULL,
    sub_category VARCHAR(50) NOT NULL,
    item ranking TINYINT UNSIGNED NOT NULL,
    item_code VARCHAR(20) NOT NULL,
    FOREIGN KEY (item_code) REFERENCES items(item_code));
    ```

In [41]:
sql = """INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
""" + item_info['category_name'] + """',
'""" + item_info['sub_category_name'] + """', 
'""" + str(item_info['ranking']) + """', 
'""" + item_info['item_code'] + """')"""

NameError: name 'item_info' is not defined

```
    CREATE TABLE items (
    item_code VARCHAR(20) NOT NULL PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    ori_price INT NOT NULL,
    dis_price INT NOT NULL,
    discount_percent INT NOT NULL,
    provider VARCHAR(100)
);
```

In [45]:
sql = """INSERT INTO items VALUES('
""" + item_info['item_code'] + """',
'""" + item_info['title'] + """', 
""" + item_info['ori_price'] + """, 
""" + item_info['dis_price'] + """, 
""" + item_info['discount_percent'] + """, 
'""" + item_info['provider'] + """')"""    
sql

"INSERT INTO items VALUES('\n1164687842',\n'[오설록]프리미엄 티 컬렉션 40입 추석선물세트/쇼핑백지급', \n25000, \n18900, \n24, \n'오설록본사직영몰')"

In [43]:
item_info = {'category_name': 'ALL', 'sub_category_name': 'ALL', 'ranking': 1, 'title': '[오설록]프리미엄 티 컬렉션 40입 추석선물세트/쇼핑백지급', 'ori_price': '25000', 'dis_price': '18900', 'discount_percent': '24', 'item_code': '1164687842', 'provider': '오설록본사직영몰'}

In [62]:
def save_data(item_info):
    sql = """SELECT COUNT(*) FROM items WHERE item_code = '""" + item_info['item_code']+"""';"""
    cursor.execute(sql)
    result = cursor.fetchone() 
    if result[0] == 0:
        sql = """INSERT INTO items VALUES('""" + item_info['item_code'] + """',
        '""" + item_info['title'] + """', 
        """ + str(item_info['ori_price']) + """, 
        """ + str(item_info['dis_price']) + """, 
        """ + str(item_info['discount_percent']) + """, 
        '""" + item_info['provider'] + """')"""
        print(sql)
        cursor.execute(sql)

    sql = """INSERT INTO ranking (main_category, sub_category, item_ranking, item_code) VALUES('
    """ + item_info['category_name'] + """',
    '""" + item_info['sub_category_name'] + """', 
    '""" + str(item_info['ranking']) + """', 
    '""" + item_info['item_code'] + """')"""      
    cursor.execute(sql)
    print(sql)